{% extends "layout.html.njk" %}
{% block meta %}
  <title>Soldadura selectiva | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}es-selective-soldering
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-selective-soldering page-products i18n-es section-selective-soldering page-panels
{% endblock %}
{% block page %}
  <div class="region region-language">
    <div class="inner-region">
      <div id="block-locale-language" class="block block-locale language-menu block grid-24 first last odd" role="complementary">
        <div class="inner-block">
          <ul class="language-switcher-locale-url">
            <li class="en first">
              <a href="/en/selective-soldering" class="language-link" lang="en" title="Selective Soldering">
                <div class="flag en"></div>English</a>
            </li>
            <li class="zh-hans">
              <a href="/zh-hans/selective-soldering" class="language-link" lang="zh-hans" title="选择焊">
                <div class="flag zh-hans"></div>简体中文</a>
            </li>
            <li class="cs">
              <a href="/cs/selective-soldering" class="language-link" lang="cs" title="Selektivní pájení">
                <div class="flag cs"></div>Čeština</a>
            </li>
            <li class="de">
              <a href="/de/selective-soldering" class="language-link" lang="de" title="Selektivlöten">
                <div class="flag de"></div>Deutsch</a>
            </li>
            <li class="fr">
              <a href="/fr/selective-soldering" class="language-link" lang="fr" title="Brasage sélectif">
                <div class="flag fr"></div>Français</a>
            </li>
            <li class="it">
              <a href="/it/selective-soldering" class="language-link" lang="it" title="Saldatura selettiva">
                <div class="flag it"></div>Italiano</a>
            </li>
            <li class="id">
              <a href="/id/selective-soldering" class="language-link" lang="id" title="Penyolderan selektif">
                <div class="flag id"></div>Bahasa Indonesia</a>
            </li>
            <li class="pt-pt">
              <a href="/pt-pt/selective-soldering" class="language-link" lang="pt-pt" title="Soldagem selectiva">
                <div class="flag pt-pt"></div>Português</a>
            </li>
            <li class="ro">
              <a href="/ro/selective-soldering" class="language-link" lang="ro" title="Lipire selectiva">
                <div class="flag ro"></div>Română</a>
            </li>
            <li class="ru">
              <a href="/ru/selective-soldering" class="language-link" lang="ru" title="Селективная пайка">
                <div class="flag ru"></div>Русский</a>
            </li>
            <li class="th">
              <a href="/th/selective-soldering" class="language-link" lang="th" title="การบัดกรีเฉพาะส่วน">
                <div class="flag th"></div>ภาษาไทย</a>
            </li>
            <li class="tr">
              <a href="/tr/selective-soldering" class="language-link" lang="tr">
                <div class="flag tr"></div>Türkçe</a>
            </li>
            <li class="pl">
              <a href="/pl/selective-soldering" class="language-link" lang="pl" title="Lutowanie selektywne">
                <div class="flag pl"></div>Polski</a>
            </li>
            <li class="es active">
              <a href="/es/selective-soldering" class="language-link active" lang="es" title="Soldadura selectiva">
                <div class="flag es"></div>Español</a>
            </li>
            <li class="sv last">
              <a href="/sv/selective-soldering" class="language-link" lang="sv" title="Selektiv lödning">
                <div class="flag sv"></div>Svenska</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-header">
    <div class="inner-region">
      <div id="block-block-11" class="block block-block grid-9 first odd">
        <div class="inner-block">
          <p>
            <a href="/es/" title="Interflux Electronics" target="_self"><img src="/assets/images/interflux-electronics-logo.png" width="343" height="87" alt="Logotipo de Interflux Electronics"/></a>
          </p>
        </div>
      </div>
      <div id="block-menu-menu-interflux-menu" class="block block-menu grid-15 header-nav last even" role="navigation">
        <div class="inner-block">
          <ul class="menu">
            <li class="first expanded">
              <a href="/es" title="Buscar productos por tipos">Productos</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/es/soldering-fluxes" title="">Fluxes de soldadura</a>
                </li>
                <li class="leaf">
                  <a href="/es/solder-pastes" title="">Pasta de soldadura</a>
                </li>
                <li class="leaf">
                  <a href="/es/solder-wires" title="">Hilo de soldadura</a>
                </li>
                <li class="leaf">
                  <a href="/es/spray-fluxers" title="">Spray fluxers</a>
                </li>
                <li class="last leaf">
                  <a href="/es/auxiliaries" title="">Accesorios</a>
                </li>
              </ul>
            </li>
            <li class="expanded active-trail">
              <a href="/es" title="Buscar productos por procesos" class="active-trail">Procesos</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/es/wave-soldering" title="">Soldadura por ola</a>
                </li>
                <li class="leaf active-trail">
                  <a href="/es/selective-soldering" title="" class="active-trail active">Soldadura selectiva</a>
                </li>
                <li class="leaf">
                  <a href="/es/reflow-soldering" title="">Soldadura por re fusión</a>
                </li>
                <li class="leaf">
                  <a href="/es/rework-and-repair" title="">Reparación y reproceso</a>
                </li>
                <li class="last leaf">
                  <a href="/es/pre-tinning" title="">Pre estañado</a>
                </li>
              </ul>
            </li>
            <li class="leaf">
              <a href="/es/company" title="Aprenda sobre Interflux">Empresa</a>
            </li>
            <li class="leaf">
              <a href="/es/documents" title="Encuentre datos técnicos">Documentos</a>
            </li>
            <li class="last leaf">
              <a href="/es/contact" title="Póngase en contacto">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-highlight">
    <div class="inner-region">
      <div id="banners">
        <div class="preload"></div>
        <div class="stage">
          <article id="ipc-apex-2017">
            <a href="http://www.ipcapexexpo.org/" target="_blank" title="Visit us at IPC APEX 2018 in San Diego">
              <picture>
                <source srcset="http://www.interflux.com/sites/all/themes/zen_interflux/images/banner-ipc-apex-2018@2x.jpg 2x, http://www.interflux.com/sites/all/themes/zen_interflux/images/banner-ipc-apex-2018.jpg 1x"></source>
                <img src="http://www.interflux.com/sites/all/themes/zen_interflux/images/banner-ipc-apex-2018@2x.jpg" alt="Visit use at IPC APEX 2018 in San Diego"/>
              </picture>
            </a>
          </article>
          <article id="productronica-2017">
            <a href="http://www.productronica.com/" target="_blank" title="Visit us at Productronica 2017">
              <img src="http://www.interflux.com/sites/all/themes/zen_interflux/images/productronica-banner-2017.jpg"/>
            </a>
          </article>
          <article id="lmpa">
            <a href="https://lmpa.interflux.com" target="_blank">
              <h1>Solder
                <strong>5 times</strong>
                faster whilst maintaining
                <strong>zero defects</strong>
              </h1>
              <h1>Discover
                <mark>LMPA<span>™</span>
                </mark>
              </h1>
              <div id="video">
                <video id="movie" width="276" height="220" autoplay loop>
                  <source src="https://cdn.interflux.com/videos/LMPA-Q-30mms.mp4" type="video/mp4"></source>
                  Your browser doesn't support HTML5 video tag.
                </video>
                <script></script>
                <p>Speed: 30 mm/s</p>
              </div>
            </a>
          </article>
        </div>
        <nav>
          <div id="prev">
            <div></div>
          </div>
          <div id="next">
            <div></div>
          </div>
          <div id="timer">
            <div></div>
          </div>
          <ul></ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="panel-display panel-1col clearfix">
        <div class="panel-panel panel-col">
          <div>
            <div class="panel-pane pane-views pane-process-views-interflux">
              <h2 class="pane-title">
                <div class="fs30">Fluxes</div>
                <div class="fs18">de soldadura selectiva</div>
              </h2>
              <div class="pane-content">
                <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_6 product-row-group view-dom-id-078ae283c10e4b6ef4bcd08b4af49eb9">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/SelectIF2040-2_0.png" width="200" height="200" alt="SelectIF 2040"/></div>
                      <div class="product-name">
                        <h3>SELECTIF 2040</h3>
                      </div>
                      <div class="product-highlight">
                        <h3>NUEVO</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon12"></div>
                            <p>Flux base agua</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Para soldadura selectiva</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolutamente libre de halógenos</p>
                          </li>
                          <li>
                            <div class="icon21"></div>
                            <p>Alta potencia desoxidante</p>
                          </li>
                          <li>
                            <div class="icon22"></div>
                            <p>Resistencia a precalentamientos largos</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Alta compatibilidad con conformal coating</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Bajo residuo</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® SelectIF 2040 es un flux con base agua, no-clean para
                          <strong>soldadura selectiva</strong>
                          para cubrir una área de proceso grande con bajo residuo.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® SelectIF 2040 es un flux con base agua, de no limpieza, para soldadura selectiva. Cubre un área de proceso grande, con bajo residuo.<br/>
                          Soporta procesos elevados, tanto temperatura, como en tiempo.<br/>
                          compatible con SnPb y sin plomo<br/>
                          según normas EN y IPC es OR L0<br/>
                          Contenido sólido: 6,5% ±0,2<br/>
                          Contenido halógeno: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-SelectIF-2040-DE_0.pdf" type="application/pdf; length=429820" title="TD SelectIF 2040-DE.pdf">Technisches Datenblatt SelectIF 2040</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-SelectIF-2040-FR_0.pdf" type="application/pdf; length=458922" title="TD SelectIF 2040-FR.pdf">Fiche technique SelectIF 2040</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-SelectIF-2040.pdf" type="application/pdf; length=408961" title="TD SelectIF 2040.pdf">Technical Data Sheet SelectIF 2040</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=SELECTIF 2040" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-2 views-row-even product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_IF-2005C_7.jpg" width="200" height="200" alt="IF 2005C"/></div>
                      <div class="product-name">
                        <h3>IF 2005C</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon11"></div>
                            <p>Base de alcohol</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Para soldadura selectiva</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Para pre-estañado</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolutamente libre de halógenos
                            </p>
                          </li>
                          <li>
                            <div class="icon21"></div>
                            <p>Alta potencia desoxidante.</p>
                          </li>
                          <li>
                            <div class="icon22"></div>
                            <p>Resistencia a precalentamientos largos</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Alta compatibilidad con conformal coating</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® IF 2005C con 3,3% contenido en sólidos, es un flux de no limpieza, libre de resinas. Se puede utilizar cuando el proceso de soldadura requiere
                          <strong>más activación que el IF 2005M o el IF 2005K</strong>
                          .</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 2005C con 3,3% contenido en sólidos, es un flux de no limpieza, libre de resinas. Se puede utilizar cuando el proceso de soldadura requiere más activación que el IF 2005M o el IF 2005K .<br/>
                          compatible con SnPb y sin plomo<br/>
                          Puede ser utilizado con spray y espuma<br/>
                          según normas EN y IPC es OR L0<br/>
                          Contenido sólido: 3,3% ± 0,3<br/>
                          Contenido halógeno: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-2005C-DE_0.pdf" type="application/pdf; length=484180" title="TD IF 2005C-DE.pdf">Technisches Datenblatt IF 2005C</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/IF-2005--series-application-doc-DE_0.pdf" type="application/pdf; length=234680" title="IF 2005- series application doc-DE.pdf">IF 2005-Serie Anwendung</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-2005C-FR.pdf" type="application/pdf; length=556116" title="TD IF 2005C-FR.pdf">Fiche technique IF 2005C</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/IF-2005--series-application-doc-FR.pdf" type="application/pdf; length=233410" title="IF 2005- series application doc-FR.pdf">Document d'application de la série IF 2005</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-2005C.pdf" type="application/pdf; length=467663" title="TD IF 2005C.pdf">Technical Data Sheet IF 2005C</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/IF-2005--series-application-doc.pdf" type="application/pdf; length=229382" title="IF 2005- series application doc.pdf">IF 2005 series application document</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 2005C" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-3 views-row-odd product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_P-2009M_7.jpg" width="200" height="200" alt="PACIFIC 2009M"/></div>
                      <div class="product-name">
                        <h3>PACIFIC 2009M</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon12"></div>
                            <p>Flux base agua</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Para soldadura por ola</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Para soldadura selectiva</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Para pre-estañado</p>
                          </li>
                          <li>
                            <div class="icon06"></div>
                            <p>Utilizado por spray</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolutamente libre de halógenos</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Alta compatibilidad con conformal coating</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Bajo residuo</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® PacIFic
                          <strong></strong>2009M es un flux con base agua de no limpieza, que se utiliza principalmente, para
                          <strong>soldadura por ola  y selectiva</strong>.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® PacIFic
                          <strong></strong>2009M es un flux con base agua de no limpieza, que se utiliza principalmente, para soldadura por ola  y selectiva.<br/>
                          compatible con SnPb y sin plomo<br/>
                          según normas EN y IPC es OR L0<br/>
                          Contenido sólido: 3,7% ±0,15<br/>
                          Contenido halógeno: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-PacIFic-2009M-DE_0.pdf" type="application/pdf; length=439464">TD PacIFic 2009M-DE.pdf</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-PacIFic-2009M-FR.pdf" type="application/pdf; length=401502" title="TD PacIFic 2009M-FR.pdf">Fiche technique PacIFic 2009M</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-PacIFic-2009M_0.pdf" type="application/pdf; length=433215" title="TD PacIFic 2009M.pdf">Technical Data Sheet PacIFic 2009M</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/Kyzen_P2009M.pdf" type="application/pdf; length=62971" title="Kyzen_P2009M.pdf">Cleaning PACIFIC 2009M by KYZEN</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009M" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-4 views-row-even product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_P-2009MLF_8.jpg" width="200" height="200" alt="PACIFIC 2009MLF"/></div>
                      <div class="product-name">
                        <h3>PACIFIC 2009MLF</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon12"></div>
                            <p>Flux base agua</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Para soldadura por ola</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Para soldadura selectiva</p>
                          </li>
                          <li>
                            <div class="icon06"></div>
                            <p>Utilizado por spray</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolutamente libre de halógenos
                            </p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>Inhibe la formación de bolas en la soldadura</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>PacIFic
                          <strong></strong>es un flux con base agua, desarrollado para
                          <strong>minimizar la formación de micro bolas
                          </strong>en la soldadura.</p>
                      </div>
                      <div class="product-details">
                        <p>PacIFic 2009MLFes un flux con base agua, desarrollado para
                          <strong>minimizar la formación de micro bolas
                          </strong>
                          en la soldadura.<br/>
                          Compatible con SnPb y sin plomo<br/>
                          Puede ser utilizado con spray y espuma (piedra porosa)<br/>
                          según normas EN y IPC son OR L0<br/>
                          Contenido sólido: 3,6% ±0,2<br/>
                          Contenido halógeno: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-PacIFic-2009MLF-DE_0.pdf" type="application/pdf; length=539026" title="TD PacIFic 2009MLF-DE.pdf">Technisches Datenblatt PacIFic 2009MLF</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-PacIFic-2009MLF-FR_0.pdf" type="application/pdf; length=501536" title="TD PacIFic 2009MLF-FR.pdf">Fiche technique PacIFic 2009MLF</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-PacIFic-2009MLF.pdf" type="application/pdf; length=532571" title="TD PacIFic 2009MLF.pdf">Technical Data Sheet PacIFic 2009MLF</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009MLF" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-5 views-row-odd views-row-last product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_IF-3006_7.jpg" width="200" height="200" alt="IF 3006"/></div>
                      <div class="product-name">
                        <h3>IF 3006</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon13"></div>
                            <p>Bajo en VOC</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Para soldadura por ola</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Para soldadura selectiva</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Para pre-estañado</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolutamente libre de halógenos</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Alta compatibilidad con conformal coating</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux®
                          <strong></strong>IF 3006 es un flux base de agua de no limpieza, libre de resinas y contenido
                          <strong>VOC reducido</strong>.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 3006es un flux base de agua de no limpieza, libre de resinas y
                          <strong>contenido VOC reducido</strong>
                          .<br/>
                          compatible con SnPb y sin plomo<br/>
                          también para pre-estañado<br/>
                          según normas EN y IPC  es OR L0<br/>
                          Contenido sólido: 3,2% ±0,4<br/>
                          Contenido halógeno: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-3006-DE_0.pdf" type="application/pdf; length=441073" title="TD IF 3006-DE.pdf">Technisches Datenblatt IF 3006</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-3006-FR.pdf" type="application/pdf; length=442827" title="TD IF 3006-FR.pdf">Fiche technique IF 3006</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-3006.pdf" type="application/pdf; length=435445" title="TD IF 3006.pdf">Technical Data Sheet IF 3006</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 3006" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-process-views-interflux">
              <h2 class="pane-title">
                <div class="fs27">Accesorios</div>
                <div class="fs18">de soldadura selectiva</div>
              </h2>
              <div class="pane-content">
                <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_10 product-row-group view-dom-id-5494a4a27eaefd527c417fd7a79d3557">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/IF-930-All-in-One_3.jpg" width="200" height="200" alt="IF 930 wettable nozzle cleaner"/><img typeof="foaf:Image" src="/assets/images/IF-930kader.png" width="200" height="200" alt="IF 930 wettable nozzle cleaner"/></div>
                      <div class="product-name">
                        <h3>IF 930</h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>limpia boquillas mojables
                        </h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon02"></div>
                            <p>Para soldadura selectiva</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>Para procesos SnPb(Ag)</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Para procesos sin plomo</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolutamente libre de halógenos</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux®
                          <strong>limpia y desoxida las boquillas mojables
                          </strong>de los sistemas selectivos de soldadura.
                        </p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® limpia y desoxida las boquillas mojables de los sistemas selectivos de soldadura.<br/>
                          Seguro y fácil de limpiar<br/>
                          Reemplaza al IF 920</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-930-DE.pdf" type="application/pdf; length=522376" title="TD IF 930-DE.pdf">Technisches Datenblatt IF 930</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-930-FR.pdf" type="application/pdf; length=435025" title="TD IF 930-FR.pdf">Fiche technique IF 930</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-930_0.pdf" type="application/pdf; length=387275" title="TD IF 930.pdf">Technical Data Sheet IF 930</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 930" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-2 views-row-even product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_AOP-lead-free.jpg" width="200" height="200" alt="Anti-oxidant pellets"/><img typeof="foaf:Image" src="/assets/images/CLP_AOP-SnPb.jpg" width="200" height="200" alt=""/></div>
                      <div class="product-name">
                        <h3>PELLETS ANTI OXIDANTES</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Para soldadura por ola</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Para soldadura selectiva</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Para pre estañado</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>Para procesos SnPb(Ag)</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Para procesos sin plomo</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® Anti-oxidant pellets Pellets anti oxidantes,
                          <strong>minimizan la formación de óxidos</strong>
                          en los baños de soldadura, sin plomo y SnPb(Ag).</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® Pellets anti oxidantes, minimizan la formación de óxidos en los baños de soldadura, sin plomo y SnPb(Ag)<br/>
                          Utilizado como una aportación en un baño de soldadura<br/>
                          Para aleaciones SnPb(Ag) (rótulo azul) o sin plomo (rótulo verde)<br/>
                          Pellets anti oxidantes no son recomendados en atmosferas inertes cerrados ni para aleaciones Ni-dopadas.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Anti-oxidant-pellets-DE.pdf" type="application/pdf; length=366742" title="TD Anti-oxidant pellets-DE.pdf">Technisches Datenblatt Anti-oxidant pellets</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Anti-oxidant-pellets-FR_0.pdf" type="application/pdf; length=371501" title="TD Anti-oxidant pellets-FR.pdf">Fiche technique Anti-oxidant pellets</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Anti-oxidant-pellets.pdf" type="application/pdf; length=364659" title="TD Anti-oxidant pellets.pdf">Technical Data Sheet Anti-oxidant pellets</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PELLETS ANTI OXIDANTES" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-3 views-row-odd product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/solder-bars_0.jpg" width="200" height="200" alt="solder bars"/></div>
                      <div class="product-name">
                        <h3>SOLDADURA EN BARRA</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Para soldadura por ola</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Para soldadura selectiva</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Para pre estañado</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Para inmersión</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux®
                          <strong></strong>Soldadura en barra, están hechas con metales de
                          <strong>alta pureza, baja oxidación</strong>.
                        </p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® Soldadura en barra, están hechas con metales de alta pureza, baja oxidación.<br/>
                          En aleaciones SnPb(Ag) y sin plomo.
                        </p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Lead-free-alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-SnPbAg-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/General-info---lead-free-alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=SOLDADURA EN BARRA" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-4 views-row-even product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/plain-wire-2mm-4kg-5.png" width="200" height="200" alt="Plain Solder Wire"/></div>
                      <div class="product-name">
                        <h3>HILO DE SOLDAR SIN ALMA</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon02"></div>
                            <p>Para soldadura selectiva</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Para pre estañado</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Para inmersión</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® hilo de soldadura, sin alma,  para
                          <strong>alimentación automática</strong>
                          en sistemas selectivo de soldadura. En aleaciones SnPb(Ag) y sin plomo.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® hilo de soldadura, sin alma,  para alimentación automática en sistemas selectivo de soldadura. En aleaciones SnPb(Ag) y sin plomo.<br/>
                          Diámetro de hilo: 2mm<br/>
                          En bobinas de 4kg<br/>
                          Tamaño de la bobina: 125mm x 125mm (dia.x larg.)</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Lead-free-alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-SnPbAg-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/General-info---lead-free-alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=HILO DE SOLDAR SIN ALMA" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-5 views-row-odd views-row-last product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/grenailles_1.png" width="200" height="200" alt=""/></div>
                      <div class="product-name">
                        <h3>PELLETS DE SOLDADURA</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Para soldadura por ola</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Para soldadura selectiva</p>
                          </li>
                          <li>
                            <div class="icon04"></div>
                            <p>Para reparación y reproceso
                            </p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Para pre estañado</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Para inmersión</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® pellets de soldadura, son pequeños piezas, para el llenado fácil del baño de soldadura, en aleaciones SnPb(Ag) y sin plomo.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® pellets de soldadura, son pequeños piezas, para el llenado fácil del baño de soldadura, en aleaciones SnPb(Ag) y sin plomo.<br/>
                          Tamaño: 1cm x 1cm aprox.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Lead-free-alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-SnPbAg-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/General-info---lead-free-alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PELLETS DE SOLDADURA" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="block-block-17" class="block block-block library-reference last even">
        <div class="inner-block">
          <p>¿No encuentra el producto? Para obtener una lista completa de productos, visite nuestra
            <a href="/es/documents">biblioteca</a>
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-footer2">
    <div class="inner-region">
      <div id="block-block-18" class="block block-block first last odd">
        <div class="inner-block">
          <div class="block grid-12" id="F1">
            <div class="inner-block">
              <div class="inner-content">
                <a href="/es/contact" target="_self" title="Ir a la página de contacto para más información"><img src="/assets/images/Interflux-Electronics-headquarters-belgium.jpg" width="171" height="271" alt="Edificio de oficinas Interflux Electronics Bélgica"/></a>
                <div class="contact-title">
                  <span>CONTACTAR</span><br/>LA CENTRAL DE INTERFLUX</div>
                <div class="contact-adress">
                  <p>
                    Interflux Electronics NV<br/>
                    Gent zeehaven 3170A<br/>
                    Eddastraat 51<br/>
                    9042 Gent<br/>
                    BELGICA</p>
                  <p>Tel.: +32 9251 4959<br/>
                    Fax: +32 9251 4970<br/>
                    <a href="mailto:info@interflux.com" target="_blank">info@interflux.com</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="block grid-12" id="F2">
            <div class="inner-block">
              <div class="inner-content">
                <div class="contact-title">
                  <span>CONTACTO</span><br/>INTERFLUX MUNDIAL</div>
                <p>
                  <a href="/es/contact" target="_self" title="Ir a la página de contacto para más información"><img src="/assets/images/interflux-worldwide-map.jpg" width="446" height="196" alt="Mapa geográfico del grupo Interflux"/></a>
                </p>
              </div>
            </div>
          </div>
          <div class="block grid-24" id="F3">
            <div class="copyright">©2012 Derechos reservados por Interflux® Electronics N.V.</div>
            <div class="louder-than-words">Website por
              <a href="http://nabu.io" target="_new" title="NABU websites">NABU websites</a>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
{% endblock %}