{% extends "layout.html.njk" %}
{% block meta %}
  <title>การบัดกรีเฉพาะส่วน | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}th-selective-soldering
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-selective-soldering page-products i18n-th section-selective-soldering page-panels
{% endblock %}
{% block page %}
  {% include "partials/highlight.njk" %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-display panel-1col clearfix">
          <div class="panel-panel panel-col">
            <div>
              <div class="panel-pane pane-views pane-process-views-interflux">
                <h2 class="pane-title">
                  <div class="fs30">ฟลักซ์บัดกรีสำหรับการบัดกรีเฉพาะส่วน</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_6 product-row-group view-dom-id-29cd879b3aa1d1c6e0ba4931ce9cf680">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/SelectIF2040-2.png" width="200" height="200" alt="SelectIF 2040"/></div>
                        <div class="product-name">
                          <h3>SELECTIF 2040</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NEW</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>ฟลักซ์สูตรน้ำ</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>ใช้สำหรับการบัดกรีเฉพาะส่วน</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>ปราศจากสารเฮไลด์</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>มีความสามารถในการลดออกซิเดชั่นสูง</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>ทนต่อความร้อน ในขณะอุ่นก่อนใช้งาน ได้นาน</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>สามารถใช้งานร่วมกันได้ดีกับการเคลือบตามแบบหรือขอบเขตที่กำหนด</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>คราบตกค้างน้อย</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® SelectIF 2040 คือฟลักซ์สำหรับการบัดกรีสูตรน้ำเฉพาะ ที่ไม่ต้องทำความสะอาด ที่มีช่วงการใช้งานในขบวนการผลิตดที่กว้างและมีคราบตกค้างน้อย ทนต่ออุณหภูมิสูงของขบวนการผลิตได้ดี
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® SelectIF 2040 คือฟลักซ์สำหรับการบัดกรีสูตรน้ำเฉพาะ ที่ไม่ต้องทำความสะอาด ที่มีช่วงการใช้งานในขบวนการผลิตดที่กว้างและมีคราบตกค้างน้อย ทนต่ออุณหภูมิสูงของขบวนการผลิตได้ดี<br/>
                            และระยะเวลาที่อยู่ในขบวนการผลิตยาวนานได้<br/>
                            สำหรับกระบวนการที่ใช้ตะกั่วที่มีสาร SnPb และ ชนิดไร้สารตะกั่ว<br/>
                            OR L0 ตามมาตรฐาน EN และ IPC<br/>
                            ปริมาณของแข็ง: 6.5% ±0.2<br/>
                            ปริมาณสารเฮไลด์: 0.00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20SelectIF%202040-DE_0.pdf" type="application/pdf; length=429820" title="TD SelectIF 2040-DE.pdf">Technisches Datenblatt SelectIF 2040</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20SelectIF%202040-FR_0.pdf" type="application/pdf; length=458922" title="TD SelectIF 2040-FR.pdf">Fiche technique SelectIF 2040</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20SelectIF%202040.pdf" type="application/pdf; length=408961" title="TD SelectIF 2040.pdf">Technical Data Sheet SelectIF 2040</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=SELECTIF 2040" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-2 views-row-even product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%202005C_7.jpg" width="200" height="200" alt="IF 2005C"/></div>
                        <div class="product-name">
                          <h3>IF 2005C</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>สูตรแอลกอฮอล์เป็นองค์ประกอบหลัก</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>ใช้สำหรับการบัดกรีเฉพาะส่วน</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>สำหรับการฉาบดีบุกก่อนบัดกรี</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>ปราศจากสารเฮไลด์</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>มีความสามารถในการลดออกซิเดชั่นสูง</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>ทนต่อความร้อนในขณะอุ่นก่อนเชื่อมได้นาน</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>สามารถใช้งานร่วมกันได้ดีกับการเคลือบตามแบบหรือขอบเขตที่กำหนด</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 2005C ที่มีของแข็ง 3.3% เป็นฟลักซ์แบบไม่ต้องทำความสะอาดที่ปราศจากยางสนและชันสน เหมาะสำหรับใช้ในกระบวนการบัดกรีที่จำเป็นต้องใช้งานมากกว่าที่ IF 2005M หรือ IF 2005K สามารถทำได้</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 2005C ที่มีของแข็ง 3.3% เป็นฟลักซ์แบบไม่ต้องทำความสะอาดที่ปราศจากยางสนและชันสน เหมาะสำหรับใช้ในกระบวนการบัดกรีที่จำเป็นต้องใช้งานมากกว่าที่ IF 2005M หรือ IF 2005K สามารถทำได้<br/>
                            สามารถใช้งานกับตะกั่วที่มีสาร SnPb และ ชนิดไร้สารตะกั่ว<br/>
                            เหมาะสำหรับการใช้ฟลักซ์แบบพ่นสเปรย์และแบบโฟม<br/>
                            OR L0 ตามมาตรฐาน EN และ IPC<br/>
                            ปริมาณของแข็ง: 3.3% ± 0.3<br/>
                            ปริมาณสารเฮไลด์: 0.00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%202005C-DE_0.pdf" type="application/pdf; length=484180" title="TD IF 2005C-DE.pdf">Technisches Datenblatt IF 2005C</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/IF%202005-%20series%20application%20doc-DE_0.pdf" type="application/pdf; length=234680" title="IF 2005- series application doc-DE.pdf">IF 2005-Serie Anwendung</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%202005C-FR.pdf" type="application/pdf; length=556116" title="TD IF 2005C-FR.pdf">Fiche technique IF 2005C</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/IF%202005-%20series%20application%20doc-FR.pdf" type="application/pdf; length=233410" title="IF 2005- series application doc-FR.pdf">Document d'application de la série IF 2005</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%202005C.pdf" type="application/pdf; length=467663" title="TD IF 2005C.pdf">Technical Data Sheet IF 2005C</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/IF%202005-%20series%20application%20doc.pdf" type="application/pdf; length=229382" title="IF 2005- series application doc.pdf">IF 2005 series application document</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 2005C" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-3 views-row-odd product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_P%202009M_7.jpg" width="200" height="200" alt="PACIFIC 2009M"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2009M</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>ฟลักซ์สูตรน้ำ</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>ใช้สำหรับการบัดกรีแบบคลื่นน้ำตะกั่ว</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>สำหรับการบัดกรีเฉพาะส่วน</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>สำหรับการฉาบดีบุกก่อนบัดกรี</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>สำหรับการใช้ฟลักซ์แบบพ่นสเปรย์</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>ปราศจากสารเฮไลด์</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>สามารถใช้งานร่วมกันได้ดีกับการเคลือบตามแบบหรือขอบเขตที่กำหนด</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>มีคราบตกค้างน้อย</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® PacIFic2009M เป็นฟลักซ์สูตรน้ำที่ไม่ต้องทำความสะอาด ซึ่งใช้สำหรับการบัดกรีแบบคลื่นน้ำตะกั่ว และการบัดกรีเฉพาะส่วน</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® PacIFic2009M เป็นฟลักซ์สูตรน้ำที่ไม่ต้องทำความสะอาด ซึ่งใช้สำหรับการบัดกรีแบบคลื่นน้ำตะกั่ว และการบัดกรีเฉพาะส่วน<br/>
                            สำหรับกระบวนการที่ใช้ตะกั่วที่มีสาร SnPb และชนิดไร้สารตะกั่ว<br/>
                            OR L0 ตามมาตรฐาน EN และ IPC<br/>
                            ปริมาณของแข็ง: 3.7% ±0.2<br/>
                            ปริมาณสารเฮไลด์: 0.00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20PacIFic%202009M-DE_0.pdf" type="application/pdf; length=439464">TD PacIFic 2009M-DE.pdf</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20PacIFic%202009M-FR.pdf" type="application/pdf; length=401502" title="TD PacIFic 2009M-FR.pdf">Fiche technique PacIFic 2009M</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20PacIFic%202009M_0.pdf" type="application/pdf; length=433215" title="TD PacIFic 2009M.pdf">Technical Data Sheet PacIFic 2009M</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/Kyzen_P2009M.pdf" type="application/pdf; length=62971" title="Kyzen_P2009M.pdf">Cleaning PACIFIC 2009M by KYZEN</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009M" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-4 views-row-even product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_P%202009MLF_8.jpg" width="200" height="200" alt="PACIFIC 2009MLF"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2009MLF</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>ฟลักซ์สูตรน้ำ</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>สำหรับการบัดกรีแบบคลื่นน้ำตะกั่ว</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>สำหรับการบัดกรีเฉพาะส่วน</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>สำหรับการใช้ฟลักซ์แบบพ่นสเปรย์</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>ปราศจากสารเฮไลด์</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>
                                <strong>ป้องกันการเกิดตะกั่วเป็นเม็ด</strong>
                              </p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>PacIFic2009MLF คือฟลักซ์บัดกรีสูตรน้ำที่ไม่ต้องทำความสะอาดซึ่งพัฒนาขึ้นเพื่อลดการเกิดตะกั่วเป็นเม็ดเล็กๆ ให้น้อยลง
                          </p>
                        </div>
                        <div class="product-details">
                          <p>PacIFic2009MLF คือฟลักซ์บัดกรีสูตรน้ำที่ไม่ต้องทำความสะอาดซึ่งพัฒนาขึ้นเพื่อลดการเกิดตะกั่วเป็นเม็ดเล็กๆ ให้น้อยลง<br/>
                            สำหรับกระบวนการที่ใช้ตะกั่วที่มีสาร SnPb และชนิดไร้สารตะกั่ว<br/>
                            การใช้งานหลัก: การบัดกรีแบบคลื่นน้ำตะกั่วและการบัดกรีเฉพาะส่วน<br/>
                            OR L0 ตามมาตรฐาน EN และ IPC<br/>
                            ปริมาณของแข็ง: 3.7% ±0.2<br/>
                            ปริมาณสารเฮไลด์: 0.00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20PacIFic%202009MLF-DE_0.pdf" type="application/pdf; length=539026" title="TD PacIFic 2009MLF-DE.pdf">Technisches Datenblatt PacIFic 2009MLF</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20PacIFic%202009MLF-FR_0.pdf" type="application/pdf; length=501536" title="TD PacIFic 2009MLF-FR.pdf">Fiche technique PacIFic 2009MLF</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20PacIFic%202009MLF.pdf" type="application/pdf; length=532571" title="TD PacIFic 2009MLF.pdf">Technical Data Sheet PacIFic 2009MLF</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009MLF" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-5 views-row-odd views-row-last product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%203006_7.jpg" width="200" height="200" alt="IF 3006"/></div>
                        <div class="product-name">
                          <h3>IF 3006</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon13"></div>
                              <p>มีสาร VOC ในระดับต่ำ</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>สำหรับการบัดกรีแบบคลื่นน้ำตะกั่ว</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>สำหรับการบัดกรีเฉพาะส่วน</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>สำหรับการฉาบดีบุกก่อนบัดกรี</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>ปราศจากสารเฮไลด์</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>สามารถใช้งานร่วมกันได้ดีกับการเคลือบตามแบบหรือขอบเขตที่กำหนด</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 3006 เป็นฟลักซ์แบบไม่ต้องทำความสะอาดที่ไม่มียางสนและชันสน โดยมีปริมาณ VOC ที่ลดลง
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 3006 เป็นฟลักซ์แบบไม่ต้องทำความสะอาดที่ไม่มียางสนและชันสน โดยมีปริมาณ VOC ที่ลดลง<br/>
                            สำหรับกระบวนการที่ใช้ตะกั่วที่มีสาร SnPb และชนิดไร้สารตะกั่ว<br/>
                            สามารถใช้สำหรับการฉาบดีบุกก่อนบัดกรี<br/>
                            OR L0 ตามมาตรฐาน EN และ IPC<br/>
                            ปริมาณของแข็ง: 3.2% ±0.2<br/>
                            ปริมาณสารเฮไลด์: 0.00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%203006-DE_0.pdf" type="application/pdf; length=441073" title="TD IF 3006-DE.pdf">Technisches Datenblatt IF 3006</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%203006-FR.pdf" type="application/pdf; length=442827" title="TD IF 3006-FR.pdf">Fiche technique IF 3006</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%203006.pdf" type="application/pdf; length=435445" title="TD IF 3006.pdf">Technical Data Sheet IF 3006</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 3006" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-process-views-interflux">
                <h2 class="pane-title">
                  <div class="fs30">อุปกรณ์เสริมสำหรับการบัดกรีเฉพาะส่วน</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_10 product-row-group view-dom-id-32f189bb10374012263104191d19cc17">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/IF%20930%20All%20in%20One_4.jpg" width="200" height="200" alt="IF 930 wettable nozzle cleaner"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/IF%20930kader.png" width="200" height="200" alt="IF 930 wettable nozzle cleaner"/></div>
                        <div class="product-name">
                          <h3>IF 930</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>nozzle cleaner</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon02"></div>
                              <p>สำหรับการบัดกรีเฉพาะส่วน</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>สำหรับกระบวนการที่ใช้โลหะผสมที่มีสาร SnPb(Ag)</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>สำหรับกระบวนการที่ปราศจากสารตะกั่ว</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>ปราศจากสารเฮไลด์</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 930 ทำความสะอาดและขจัดการเกิดออกซิเดชัน ที่ปลายหัวจ่ายที่เปียก ของระบบการบัดกรีเฉพาะส่วนได้ดี</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 930 ทำความสะอาดและขจัดการเกิดออกซิเดชัน ที่ปลายหัวจ่ายที่เปียก ของระบบการบัดกรีเฉพาะส่วนได้ดี<br/>
                            ปลอดภัยและทำความสะอาดได้ง่ายๆ ในขั้นตอนเดียว<br/>
                            ทดแทน IF 920
                          </p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%20930-DE.pdf" type="application/pdf; length=522376" title="TD IF 930-DE.pdf">Technisches Datenblatt IF 930</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%20930-FR.pdf" type="application/pdf; length=435025" title="TD IF 930-FR.pdf">Fiche technique IF 930</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%20930_0.pdf" type="application/pdf; length=387275" title="TD IF 930.pdf">Technical Data Sheet IF 930</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 930" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-2 views-row-even product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_AOP%20lead-free.jpg" width="200" height="200" alt="Anti-oxidant pellets"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_AOP%20SnPb.jpg" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>ANTI-OXIDANT PELLETS</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>สารต้านอนุมูลอิสระ แบบเม็ดกลม</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>สำหรับการบัดกรีแบบคลื่นน้ำตะกั่ว</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>สำหรับการบัดกรีเฉพาะจุด</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>สำหรับการฉาบดีบุกก่อนบัดกรี</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>สำหรับกระบวนการที่ใช้ตะกั่ว ที่มีสาร SnPb(Ag)</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>สำหรับกระบวนการที่ปราศจากสารตะกั่ว</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>สารต้านอนุมูลอิสระ ชนิดเม็ด  Interflux® ช่วยลดการเกิดออกไซด์ของตะกั่ว ในอ่างน้ำตะกั่ว ทั้งชนิดไร้สารตะกั่วและ ชนิดที่มีสาร SnPb(Ag).
                          </p>
                        </div>
                        <div class="product-details">
                          <p>สารต้านอนุมูลอิสระ ชนิดเม็ด  Interflux® ช่วยลดการเกิดออกไซด์ของตะกั่ว ในอ่างน้ำตะกั่ว ทั้งชนิดไร้สารตะกั่วและ ชนิดที่มีสาร SnPb(Ag).<br/>
                            Iเป็นการใช้เสริมเพิ่มเติมในอ่างน้ำตะกั่ว<br/>
                            สำหรับโลหะผสมชนิดที่มีสาร SnPb(Ag) (ฉลากสีน้ำเงิน) หรือ ชนิดไร้สารตะกั่ว (ฉลากสีเขียว)<br/>
                            ไม่แนะนำให้ใช้ลายวงจรบัดกรีที่มีสารต้านอนุมูลอิสระภายใต้สภาวะแวดล้อมที่ปิดและมีความเฉื่อยและสำหรับอัลลอยบัดกรีแบบ Ni-doped.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Anti-oxidant%20pellets-DE.pdf" type="application/pdf; length=366742" title="TD Anti-oxidant pellets-DE.pdf">Technisches Datenblatt Anti-oxidant pellets</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Anti-oxidant%20pellets-FR_0.pdf" type="application/pdf; length=371501" title="TD Anti-oxidant pellets-FR.pdf">Fiche technique Anti-oxidant pellets</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Anti-oxidant%20pellets.pdf" type="application/pdf; length=364659" title="TD Anti-oxidant pellets.pdf">Technical Data Sheet Anti-oxidant pellets</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=ANTI-OXIDANT PELLETS" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-3 views-row-odd product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/solder%20bars_0.jpg" width="200" height="200" alt="solder bars"/></div>
                        <div class="product-name">
                          <h3>SOLDER BARS</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>แท่งตะกั่วบัดกรี</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>สำหรับการบัดกรีแบบคลื่นน้ำตะกั่ว</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>สำหรับการบัดกรีเฉพาะจุด</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>สำหรับการฉาบดีบุกก่อนบัดกรี</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>สำหรับการจุ่มชิ้นงาน</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>แท่งบัดกรี Interflux® ทำจากโลหะที่มีค่าออกซิเดชั่นต่ำและมีความบริสุทธิ์สูง ในรูปแบบโลหะผสมชนิดที่มีสาร  SnPb(Ag) และชนิดไร้สารตะกั่ว</p>
                        </div>
                        <div class="product-details">
                          <p>แท่งบัดกรี Interflux® ทำจากโลหะที่มีค่าออกซิเดชั่นต่ำและมีความบริสุทธิ์สูง ในรูปแบบโลหะผสมชนิดที่มีสาร  SnPb(Ag) และชนิดไร้สารตะกั่ว</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Lead-free%20alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20SnPb%28Ag%29-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Lead-free%20alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20SnPb%28Ag%29-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Lead-free%20alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20SnPb%28Ag%29-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/General%20info%20-%20lead%20free%20alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=SOLDER BARS" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-4 views-row-even product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/plain%20wire%202mm-4kg-5.png" width="200" height="200" alt="Plain Solder Wire"/></div>
                        <div class="product-name">
                          <h3>PLAIN SOLDER WIRE</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>ลวดบัดกรีแบบธรรมดา</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon02"></div>
                              <p>สำหรับการบัดกรีเฉพาะจุด</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>สำหรับการฉาบดีบุกก่อนบัดกรี</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>สำหรับจุ่มบัดกรี</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>ลวดบัดกรีแบบธรรมดา Interflux® สำหรับติดตั้งกับเครื่องป้อนลวดบัดกรีอัตโนมัติ เพื่อการบัดกรีเฉพาะจุด ในรูปแบบโลหะผสม ชนิดไร้สารตะกั่วและ ชนิดที่มีสาร SnPb(Ag)</p>
                        </div>
                        <div class="product-details">
                          <p>ลวดบัดกรีแบบธรรมดา Interflux® สำหรับติดตั้งกับเครื่องป้อนลวดบัดกรีอัตโนมัติ เพื่อการบัดกรีเฉพาะจุด ในรูปแบบโลหะผสม ชนิดไร้สารตะกั่วและ ชนิดที่มีสาร SnPb(Ag)<br/>
                            เส้นผ่าศูนย์กลางของลวด: 2 มม.<br/>
                            ชนิดม้วน ขนาด 4 กก.<br/>
                            ขนาดม้วน: 125 มม. x 125 มม. (เส้นผ่าศูนย์กลาง x ความยาว)
                          </p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Lead-free%20alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20SnPb%28Ag%29-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Lead-free%20alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20SnPb%28Ag%29-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Lead-free%20alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20SnPb%28Ag%29-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/General%20info%20-%20lead%20free%20alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PLAIN SOLDER WIRE" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-5 views-row-odd views-row-last product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/grenailles.png" width="200" height="200" alt="Solder Grenailles"/></div>
                        <div class="product-name">
                          <h3>SOLDER PELLETS</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>ตะกั่ว รูปแบบ เม็ดกลม</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>สำหรับการบัดกรีแบบคลื่นน้ำตะกั่ว</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>สำหรับการบัดกรีเฉพาะส่วน</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>สำหรับงานปรับปรุงและซ่อมแซม</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>สำหรับการฉาบดีบุกก่อนบัดกรี</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>สำหรับการจุ่มชิ้นงาน</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>ตะกั่วรูปแบบเม็ดกลม Interflux® คือชิ้นตะกั่วขนาดเล็กเพื่อสะดวก สำหรับเติมในอ่างตะกั่ว ในรูปแบบโลหะผสม ชนิดไร้สารตะกั่วและ ชนิดที่มีสาร SnPb(Ag)</p>
                        </div>
                        <div class="product-details">
                          <p>ตะกั่วรูปแบบเม็ดกลม Interflux® คือชิ้นตะกั่วขนาดเล็กเพื่อสะดวก สำหรับเติมในอ่างตะกั่ว ในรูปแบบโลหะผสม ชนิดไร้สารตะกั่วและ ชนิดที่มีสาร SnPb(Ag)</p>
                          <p>ขนาด: 1 ซม. x 1 ซม. โดยประมาณ</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Lead-free%20alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20SnPb%28Ag%29-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Lead-free%20alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20SnPb%28Ag%29-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Lead-free%20alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20SnPb%28Ag%29-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/General%20info%20-%20lead%20free%20alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=SOLDER PELLETS" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="block-block-17" class="block block-block library-reference last even">
          <div class="inner-block">
            <p>หาผลิตภัณฑ์ไม่พบใช่หรือไม่ หากต้องการดูรายชื่อผลิตภัณฑ์ทั้งหมด โปรดดูคลังข้อมูลของเรา -
              <a href="/th/documents">เอกสาร</a>
            </p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}