{% extends "layout.html.njk" %}
{% block meta %}
  <title>Auxiliare pentru | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}ro-auxiliaries
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-auxiliaries page-products i18n-ro section-auxiliaries page-panels
{% endblock %}
{% block page %}
  {% include "partials/highlight.njk" %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-display panel-1col clearfix">
          <div class="panel-panel panel-col">
            <div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs23">Instrumente de productie</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_18 product-row-group view-dom-id-5f5292c466a244c2d67b660ca84771d1">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_IF-710-PSM_0.jpg" width="200" height="200" alt="IF 710PSM"/></div>
                        <div class="product-name">
                          <h3>IF 710 PSM</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>peelable solder mask</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Pentru lipire in val</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Pentru procese SnPb(Ag)</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Pentru procese fara Pb</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Uscare rapida, curatare usoara</p>
                            </li>
                            <li>
                              <div class="icon28"></div>
                              <p>Conform RoHS</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong></strong>IF 710 PSM este o masca de lipire pe baza de latex cu uscare rapida.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 710 PSM este o masca de lipire pe baza de latex cu uscare rapida.<br/>
                            Pentru a proteja suprafete de pe PCB de contactul cu valul de lipire.<br/>
                            Curatare usoara, nu se rupe la indepartare.<br/>
                            Rezistenta la temperatura<br/>
                            Poate cauza decolorarea stratului de Cu daca este aplicat direct pe acesta Cu-OSP</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IF-710-DE_0.pdf" type="application/pdf; length=292541" title="TD IF 710-DE.pdf">Technisches Datenblatt IF 710 PSM</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-IF-710-FR_0.pdf" type="application/pdf; length=416162" title="TD IF 710-FR.pdf">Fiche technique IF 710 PSM</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IF-710_0.pdf" type="application/pdf; length=369316" title="TD IF 710.pdf">Technical Data Sheet IF 710 PSM</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 710 PSM" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/777" title="IF 710 PSM" class="nid">777</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs30">Curatare</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_16 product-row-group view-dom-id-17a02f3f5760674cc23f096262441199">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/IF-930-All-in-One_4.jpg" width="200" height="200" alt="IF 930 wettable nozzle cleaner"/><img typeof="foaf:Image" src="/assets/images/IF-930kader.png" width="200" height="200" alt="IF 930 wettable nozzle cleaner"/></div>
                        <div class="product-name">
                          <h3>IF 930</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>nozzle cleaner</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon02"></div>
                              <p>Pentru lipire selectiva</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Pentru procese SnPb(Ag)</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Pentru procese fara Pb</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Fara halogenuri</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 930 curata si dezoxideaza pipetele sistemului de lipire selectiva.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 930 curata si dezoxideaza pipetele sistemului de lipire selectiva.<br/>
                            Curatire usoara si sigura<br/>
                            Inlocuieste IF 920</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IF-930-DE.pdf" type="application/pdf; length=522376" title="TD IF 930-DE.pdf">Technisches Datenblatt IF 930</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-IF-930-FR.pdf" type="application/pdf; length=435025" title="TD IF 930-FR.pdf">Fiche technique IF 930</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IF-930_0.pdf" type="application/pdf; length=387275" title="TD IF 930.pdf">Technical Data Sheet IF 930</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 930" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/801" title="IF 930" class="nid">801</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_Tip-Tinner.jpg" width="200" height="200" alt="Tip Tinner"/></div>
                        <div class="product-name">
                          <h3>TIP TINNER</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon04"></div>
                              <p>Pentru rework si reparatii</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Pentru procese SnPb(Ag)</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Pentru procese fara Pb</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Fara halogenuri</p>
                            </li>
                            <li>
                              <div class="icon26"></div>
                              <p>Fara colofoniu</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Tip Tinner curata si recositoreste virfurile de lipire.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Tip Tinner curata si recositoreste virfurile de lipire.<br/>
                            Prelungeste substantial timpul de viata al varfului.<br/>
                            Fara halogenuri.<br/>
                            Neabraziv.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-Tip-Tinner-DE_0.pdf" type="application/pdf; length=381222" title="TD Tip Tinner-DE.pdf">Technisches Datenblatt Tip Tinner</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-Tip-Tinner-FR_0.pdf" type="application/pdf; length=425441" title="TD Tip Tinner-FR.pdf">Fiche technique Tip Tinner</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-Tip-Tinner_0.pdf" type="application/pdf; length=418029" title="TD Tip Tinner.pdf">Technical Data Sheet Tip Tinner</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=TIP TINNER" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/785" title="TIP TINNER" class="nid">785</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_Purgel.jpg" width="200" height="200" alt="IF Purgel"/></div>
                        <div class="product-name">
                          <h3>PURGEL</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon04"></div>
                              <p>Pentru rework si reparatii</p>
                            </li>
                            <li>
                              <div class="icon08"></div>
                              <p>Pentru dispenser</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Aprobare pentru MYDATA MY 500</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®  Purgel este un
                            <strong>curatator / balsam</strong>
                            pentru pompe si valve ale dispenserelor.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Purgel este un curatator / balsam pentru pompe si valve ale dispenserelor.<br/>
                            Pentru conservarea pieselor ce nu sunt folosite.<br/>
                            Aprobare pentru MYDATA MY 500.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-Purgel-DE_0.pdf" type="application/pdf; length=371237" title="TD Purgel-DE.pdf">Technisches Datenblatt Purgel</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-Purgel-FR_0.pdf" type="application/pdf; length=370051" title="TD Purgel-FR.pdf">Fiche technique Purgel</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-Purgel_0.pdf" type="application/pdf; length=363113" title="TD Purgel.pdf">Technical Data Sheet Purgel</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PURGEL" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/800" title="PURGEL" class="nid">800</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/Interflux-IPA-wipes-jar.jpg" width="200" height="200" alt="Interflux IPA-DI wipes"/><img typeof="foaf:Image" src="/assets/images/Interflux-IPA-wipes.jpg" width="200" height="200" alt="Interflux IPA-DI wipes"/></div>
                        <div class="product-name">
                          <h3>IPA/DI WIPES</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon30"></div>
                              <p>Protectie ESD</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>IServetelele presaturate Interflux® IPA / DI in tuburi sau pungi pentru
                            <strong>curatarea generala</strong>
                            a suprafetelor.</p>
                        </div>
                        <div class="product-details">
                          <p>Servetelele presaturate Interflux® IPA / DI in tuburi sau pungi pentru curatarea generala a suprafetelor.<br/>
                            Material fara scame si fara cusaturi<br/>
                            Dimensiunile unui servetel: 15 x 21cm<br/>
                            100 bucati/rola</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IPA-DI-wipes-DE.pdf" type="application/pdf; length=430094" title="TD IPA-DI wipes-DE.pdf">Technisches Datenblatt IPA/DI wipes</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-IPA-DI-wipes-FR.pdf" type="application/pdf; length=433271" title="TD IPA-DI wipes-FR.pdf">Fiche technique IPA/DI wipes</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IPA-DI-wipes_0.pdf" type="application/pdf; length=425179" title="TD IPA-DI wipes.pdf">Technical Data Sheet IPA/DI wipes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IPA/DI WIPES" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/784" title="IPA/DI WIPES" class="nid">784</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_Stencil-Clean-Tub_4.jpg" width="200" height="200" alt="IF Stencil Clean Wipes"/><img typeof="foaf:Image" src="/assets/images/CLP_Stencil-Clean-Bag_4.jpg" width="200" height="200" alt="IF Stencil Clean Refil bag"/></div>
                        <div class="product-name">
                          <h3>STENCIL CLEAN WIPES</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon09"></div>
                              <p>Pentru curatarea sabloanelor</p>
                            </li>
                            <li>
                              <div class="icon11"></div>
                              <p>Pe baza de alcool</p>
                            </li>
                            <li>
                              <div class="icon30"></div>
                              <p>Protectie ESD</p>
                            </li>
                            <ul></ul>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Servetele presaturate de la Interflux® pentru curatarea sabloanelor se gasesc in tuburi si in pungi de refill, se folosesc la indepartarea pastei de lipit si a adezivului SMT neintarit de pe sabloane si instrumente.</p>
                        </div>
                        <div class="product-details">
                          <p>Servetele presaturate de la Interflux® pentru curatarea sabloanelor se gasesc in tuburi si in pungi de refill, se folosesc la indepartarea pastei de lipit si a adezivului SMT neintarit de pe sabloane si instrumente.<br/>
                            Dimensiunile unui servetel: 15 x 21cm<br/>
                            100 bucati/rola<br/>
                            ISC 8020</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-Stencil-clean-wipes-DE.pdf" type="application/pdf; length=421028" title="TD Stencil clean wipes-DE.pdf">Technisches Datenblatt Stencil Clean Wipes</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-Stencil-clean-wipes-FR_0.pdf" type="application/pdf; length=427631" title="TD Stencil clean wipes-FR.pdf">Fiche technique Stencil Clean Wipes</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-Stencil-clean-wipes.pdf" type="application/pdf; length=417010" title="TD Stencil clean wipes.pdf">Technical Data Sheet Stencil Clean Wipes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=STENCIL CLEAN WIPES" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/833" title="STENCIL CLEAN WIPES" class="nid">833</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_ISC-8020_0.jpg" width="200" height="200" alt="ISC 8020"/></div>
                        <div class="product-name">
                          <h3>ISC 8020</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>stencil cleaning fluid</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon09"></div>
                              <p>Pentru sabloane de pasta</p>
                            </li>
                            <li>
                              <div class="icon11"></div>
                              <p>Pe baza de alcool</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® ISC 8020 este un lichid de curatare a sabloanelor pentru pasta.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® ISC 8020 este un lichid de curatare a sabloanelor pentru pasta<br/>
                            Pentru indepartarea pastei de lipire si a adezivilor SMT neintariti.
                          </p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-ISC-8020-DE.pdf" type="application/pdf; length=346604" title="TD ISC 8020-DE.pdf">Technisches Datenblatt ISC 8020</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-ISC-8020.pdf" type="application/pdf; length=344448" title="TD ISC 8020.pdf">Technical Data Sheet ISC 8020</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=ISC 8020" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/834" title="ISC 8020" class="nid">834</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs28">Tratament pentru lipirea in baie</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_15 product-row-group view-dom-id-1c084400803357c7cfba607897a712c0">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/IF-910_final2.png" width="200" height="200" alt="IF 910 de-oxidation oil"/></div>
                        <div class="product-name">
                          <h3>IF 910</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>de-oxidation oil</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Pentru lipire in val</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Pentru pre-cositorire</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Pentru imersiune</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Pentru aliaje SnPb(Ag)</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Pentru aliaje fara Pb</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Uleiul Interflux® IF 910 separa oxidul de aliajul de lipire in baile de cositor.</p>
                        </div>
                        <div class="product-details">
                          <p>Uleiul Interflux® IF 910 separa oxidul de aliajul de lipire in baile de cositor.<br/>
                            Reduce consumul de cositor.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IF-910-DE.pdf" type="application/pdf; length=526614" title="TD IF 910-DE.pdf">Technisches Datenblatt IF 910</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-IF-910-FR_0.pdf" type="application/pdf; length=495807" title="TD IF 910-FR.pdf">Fiche technique IF 910</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IF-910.pdf" type="application/pdf; length=484684" title="TD IF 910.pdf">Technical Data Sheet IF 910</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 910" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/804" title="IF 910" class="nid">804</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_AOP-lead-free.jpg" width="200" height="200" alt="Anti-oxidant pellets"/><img typeof="foaf:Image" src="/assets/images/CLP_AOP-SnPb.jpg" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>ANTI-OXIDANT PELLETS</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Pentru lipire in val</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Pentru lipire selectiva</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Pentru pre-cositorire</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Pentru pocese SnPb(Ag)</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Pentru pocese fara Pb</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Anti-oxidant pellets minimizeaza formarea de oxizi in baile de cositor cu aliaj SnPb(Ag) si fara Pb.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Anti-oxidant pellets minimizeaza formarea de oxizi in baile de cositor cu aliaj SnPb(Ag) si fara Pb.<br/>
                            Se adauga la baia de cositor.<br/>
                            Pentru aliaje SnPb(Ag) (eticheta albastra) sau fara Pb (eticheta verde).<br/>
                            Anti-oxidant pellets nu este recomandat în atmosfere inerte închise, nici pentru aliajele de lipire Ni-dopate.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-Anti-oxidant-pellets-DE.pdf" type="application/pdf; length=366742" title="TD Anti-oxidant pellets-DE.pdf">Technisches Datenblatt Anti-oxidant pellets</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-Anti-oxidant-pellets-FR_0.pdf" type="application/pdf; length=371501" title="TD Anti-oxidant pellets-FR.pdf">Fiche technique Anti-oxidant pellets</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-Anti-oxidant-pellets.pdf" type="application/pdf; length=364659" title="TD Anti-oxidant pellets.pdf">Technical Data Sheet Anti-oxidant pellets</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=ANTI-OXIDANT PELLETS" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/774" title="ANTI-OXIDANT PELLETS" class="nid">774</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs30">Aliaje de lipire</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_14 product-row-group view-dom-id-c73cee8b264c6773be9d611edcccb394">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/solder-bars_0.jpg" width="200" height="200" alt="solder bars"/></div>
                        <div class="product-name">
                          <h3>SOLDER BARS</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Pentru lipire in val</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Pentru lipire selectiva</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Pentru pre-cositorire</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Pentru imersiune</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Solder Bars sunt facute din metale de inalta puritate si oxidare redusa in aliaje SnPb(Ag) si fara Pb.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Solder Bars sunt facute din metale de inalta puritate si oxidare redusa in aliaje SnPb(Ag) si fara Pb.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-Lead-free-alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-SnPbAg-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/General-info---lead-free-alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=SOLDER BARS" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/773" title="SOLDER BARS" class="nid">773</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/plain-wire-2mm-4kg-5.png" width="200" height="200" alt="Plain Solder Wire"/></div>
                        <div class="product-name">
                          <h3>SIRMA DE LIPIRE UZUALA</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon02"></div>
                              <p>Pentru lipire selectiva</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Pentru pre-cositorire</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Pentru lipire selectiva</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Sirma de lipire uzuala Interflux® pentru lipire automata si selectiva in aliaje SnPb(Ag) si fara Pb.</p>
                        </div>
                        <div class="product-details">
                          <p>Sirma de lipire uzuala Interflux® pentru lipire automata si selectiva in aliaje SnPb(Ag) si fara Pb.<br/>
                            Diametrul firului: 2mm/ 3mm<br/>
                            Pe role de 4Kg<br/>
                            Dimensiunile rolei: 125mm x 125mm</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-Lead-free-alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-SnPbAg-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/General-info---lead-free-alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=SIRMA DE LIPIRE UZUALA" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/803" title="SIRMA DE LIPIRE UZUALA" class="nid">803</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/grenailles_2.png" width="200" height="200" alt="Lottabletten"/></div>
                        <div class="product-name">
                          <h3>PELETE DE LIPIRE</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Pentru lipire in val</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Pentru lipire selectiva</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Pentru rework si reparatii</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Pentru pre-cositorire</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Pentru imersiune</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Peletele de lipire Interflux® sunt mici bucati de aliaj pentru umplerea bailor de cositor.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Peletele de lipire Interflux® sunt mici bucati de aliaj pentru umplerea bailor de cositor.<br/>
                            Dimensiuni: aproximativ 1cm x 1cm</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-Lead-free-alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-SnPbAg-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/General-info---lead-free-alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PELETE DE LIPIRE" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/802" title="PELETE DE LIPIRE" class="nid">802</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="block-block-17" class="block block-block library-reference last even">
          <div class="inner-block">
            <p>Nu poti gasi un produs? Pentru lista completa a produselor, verifica
              <a href="/ro/documents">libraria</a>
              noastra</p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}