{% extends "layout.html.njk" %}
{% block meta %}
  <title>บริษัท | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}th-company
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-company i18n-th section-company page-panels
{% endblock %}
{% block page %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-flexible panels-flexible-18 clearfix">
          <div class="panel-flexible-inside panels-flexible-18-inside">
            <div class="panels-flexible-region panels-flexible-region-18-center panels-flexible-region-first panels-flexible-region-last">
              <div class="inside panels-flexible-region-inside panels-flexible-region-18-center-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
                <div class="panel-pane pane-views-panes pane-company-views-panel-pane-1">
                  <div class="pane-content">
                    <div class="view view-company-views view-id-company_views view-display-id-panel_pane_1 view-dom-id-286170b43272a0053c37ea9d941fee84">
                      <div class="view-content">
                        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                          <div class="panel-display panel-1col clearfix">
                            <div class="panel-panel panel-col">
                              <div>
                                <div class="views-field views-field-field-corpus">
                                  <div class="field-content">
                                    <div class="company-block" id="company-block-1">
                                      <div class="company-article" id="article-interflux">
                                        <div class="company-article-inner">
                                          <div class="company-bg-1"></div>
                                          <div class="img-iso company-img"></div>
                                          <div class="sub-title">
                                            กว่า 30 ปีแห่งคุณภาพที่ดี<br/>และน่าเชื่อถือสำหรับสารเคมีที่ใช้ในการบัดกรี
                                          </div>
                                          <div class="corpus">
                                            <div class="img-triangle company-img"></div>
                                            <div class="img-daniel company-img">
                                              <div>Daniel Werkhoven (แดเนียล เวอร์โคเวน )<br/>ผู้ก่อตั้งอินเตอร์ฟลักซ์</div>
                                            </div>
                                            <p>Interflux® Electronics N.V. ก่อตั้งขึ้นในปี 1980 จากประสบการณ์กว่า 30 ปีในวงการสารเคมีที่ใช้ในการบัดกรีที่มีคุณภาพดีและน่าเชื่อถือสู่ อุตสาหกรรมการประกอบอุปกรณ์อิเล็กทรอนิกส์ เราได้พุ่งความสนใจไปที่สารเคมีที่ไม่มีคราบตกค้าง (No-residueTM) เช่น เทคโนโลยีฟลักซ์ สารเคมีที่ปราศจากสารเฮไลด์ ฟลักซ์ที่ปราศจากสาร VOC สูตรที่ไม่มีชันสนและยางสน และอื่นๆ อีกมากมาย ...<br/>
                                              <br/>
                                              Interflux® Electronics N.V. ได้รับ การรับรองมาตรฐาน ISO 9001
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="company-article" id="article-pioneer">
                                        <div class="company-article-inner">
                                          <div class="sub-title">
                                            ผู้บุกเบิกที่แท้จริง
                                          </div>
                                          <div class="corpus">
                                            Interflux® Electronics N.V. อยู่แถวหน้ามาโดยตลอดเมื่อพูดถึงการพัฒนานวัตกรรมสารเคมีที่ใช้ในการบัดกรี IF2005M ฟลักซ์ที่ไม่มีคราบตกค้าง (No-residueTM) ไม่มีรูปรางชนิดแรกได้ถือกำเนิดขึ้น ซึ่งผลิตและสร้างให้เกิดความสำเร็จโดย Interflux® Group ยิ่งไปกว่านั้น อินเตอร์ฟลักซ์ยังเป็นผู้ผลิตรายแรก ที่นำเสนอกลุ่มผลิตภัณฑ์ฟลักซ์บัดกรีที่ปราศจากสาร VOC โดยสิ้นเชิง ที่ให้คุณภาพและประสิทธิภาพการทำงานสูง ซีรี่ส์ PacIFic  IF 14 อินเตอร์ฟลักซ์ได้เปิดตัวสารเคมีที่ใช้ในลวดบัดกรีที่มีคราบตกค้างที่สามารถแปรงออกได้ ซึ่งเป็นคุณสมบัติที่ยังคงความเป็นเอกลักษณ์อยู่จนทุกวันนี้
                                          </div>
                                          <div class="img-pioneer company-img"></div>
                                        </div>
                                      </div>
                                      <div class="company-article" id="article-durable">
                                        <div class="company-article-inner">
                                          <div class="sub-title">
                                            มีความรับผิดชอบและยั่งยืน
                                          </div>
                                          <div class="corpus">
                                            ด้วยการติดตั้งแผงพลังงานไฟฟ้าแสงอาทิตย์และการทำน้ำอุ่นด้วยพลังงานแสงอาทิตย์ในเมืองGhent ,  Interflux® Electronics N.V. ได้ให้คำมั่นสัญญาที่จะทำให้บริษัทกลายเป็นโรงงานที่มีการปล่อยก๊าซคาร์บอนต่ำให้จงได้ ในวันนี้การปล่อยก๊าซ CO2 ต่อปีลดลงมากกว่า 50% แล้ว  Interflux Electronics N.V. มีระบบการบำบัดน้ำเสียด้วยชีวภาพซึ่งทำให้โรงงานของเราได้รับฉลาก ‘zero discharge’ (การปล่อยมลพิษเป็นศูนย์) จากรัฐบาลเบลเยียมในเรื่องน้ำเน่าเสีย
                                          </div>
                                          <div class="img-durable company-img"></div>
                                        </div>
                                      </div>
                                      <div class="company-article" id="article-support">
                                        <div class="company-article-inner">
                                          <div class="sub-title">
                                            มีการรองรับและสนับสนุนทั่วโลก
                                          </div>
                                          <div class="corpus">
                                            ด้วยบริษัทลูกในต่างประเทศ 12 บริษัทและโรงงานผลิตที่สำคัญ 3 แห่งภายใต้ชื่อ Interflux® และเครือข่ายตัวแทนและผู้แทนจำหน่ายระดับโลก Interflux® Electronics N.V. จึงมีเครือข่ายรองรับที่ใหญ่โต โดยมีการสนับสนุนด้านเทคนิค โลจิสติก งานขายและงานดูแลลูกค้าสำหรับผลิตภัณฑ์ Interflux® ที่ไซต์คุณภาพสูงให้อย่างกว้างขวาง
                                          </div>
                                          <div class="img-support company-img"></div>
                                        </div>
                                      </div>
                                      <div class="clear"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}