{% extends "layout.html.njk" %}
{% block meta %}
  <title>Lipire selectiva | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}ro-selective-soldering
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-selective-soldering page-products i18n-ro section-selective-soldering page-panels
{% endblock %}
{% block page %}
  {% include "partials/highlight.njk" %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-display panel-1col clearfix">
          <div class="panel-panel panel-col">
            <div>
              <div class="panel-pane pane-views pane-process-views-interflux">
                <h2 class="pane-title">
                  <div class="fs30">Fluxuri pentru</div>
                  <div class="fs18">lipirea selectiva</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_6 product-row-group view-dom-id-26edbf9c0e4342b752b6820a687822a1">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/SelectIF2040-2.png" width="200" height="200" alt="SelectIF 2040"/></div>
                        <div class="product-name">
                          <h3>SELECTIF 2040</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NEW</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Flux pe baza de apa</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Pentru lipire selectiva</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Fara halogenuri</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Putere mare de dezoxidare</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Rezistent la preincalzire</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Compatibilitate ridicată cu straturilor de protecție</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Reziduuri reduse</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>SelectIF 2040 de la Interflux® este un flux pe baza de apa, fara curatare pentru
                            <strong>lipirea selectiva
                            </strong>intr-o gama larga de procese si cu reziduri reduse.</p>
                        </div>
                        <div class="product-details">
                          <p>SelectIF 2040 de la Interflux® este un flux pe baza de apa, fara curatare pentru lipirea selectiva intr-o gama larga de procese si cu reziduri reduse. Rezista la temperaturi ridicate si perioade lungi de proces.<br/>
                            Compatibil SnPb si lead-free<br/>
                            Standarde OR L0 conform EN si IPC<br/>
                            Continut de solide: 6,5% ±0,2<br/>
                            Continut halogenuri: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20SelectIF%202040-DE_0.pdf" type="application/pdf; length=429820" title="TD SelectIF 2040-DE.pdf">Technisches Datenblatt SelectIF 2040</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20SelectIF%202040-FR_0.pdf" type="application/pdf; length=458922" title="TD SelectIF 2040-FR.pdf">Fiche technique SelectIF 2040</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20SelectIF%202040.pdf" type="application/pdf; length=408961" title="TD SelectIF 2040.pdf">Technical Data Sheet SelectIF 2040</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=SELECTIF 2040" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-2 views-row-even product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%202005C_7.jpg" width="200" height="200" alt="IF 2005C"/></div>
                        <div class="product-name">
                          <h3>IF 2005C</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Pe baza de alcool</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Pentru lipire selectiva</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Pentru pre-cositorire</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Fara halogenuri</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Putere mare de dezoxidare</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Rezistent la preincalzire</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Compatibilitate ridicată cu straturilor de protecție</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 2005C cu 3,3% solide este un flux ce nu contine rasina sau colofoniu. Poate fi folosit cand procesul de productie necesita
                            <strong>mai multa activare decat ofera IF 2005M sau IF 2005K</strong>.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 2005C cu 3,3% solide este un flux ce nu contine rasina sau colofoniu. Poate fi folosit cand procesul de productie necesita mai multa activare decat ofera IF 2005M sau IF 2005K.<br/>
                            Compatibil SnPb si lead-free<br/>
                            Potrivit pentru spray si spuma<br/>
                            Standarde OR L0 conform EN si IPC<br/>
                            Continut de solide: 3,3% ±0,3<br/>
                            Continut halogenuri: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%202005C-DE_0.pdf" type="application/pdf; length=484180" title="TD IF 2005C-DE.pdf">Technisches Datenblatt IF 2005C</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/IF%202005-%20series%20application%20doc-DE_0.pdf" type="application/pdf; length=234680" title="IF 2005- series application doc-DE.pdf">IF 2005-Serie Anwendung</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%202005C-FR.pdf" type="application/pdf; length=556116" title="TD IF 2005C-FR.pdf">Fiche technique IF 2005C</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/IF%202005-%20series%20application%20doc-FR.pdf" type="application/pdf; length=233410" title="IF 2005- series application doc-FR.pdf">Document d'application de la série IF 2005</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%202005C.pdf" type="application/pdf; length=467663" title="TD IF 2005C.pdf">Technical Data Sheet IF 2005C</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/IF%202005-%20series%20application%20doc.pdf" type="application/pdf; length=229382" title="IF 2005- series application doc.pdf">IF 2005 series application document</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 2005C" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-3 views-row-odd product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_P%202009M_7.jpg" width="200" height="200" alt="PACIFIC 2009M"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2009M</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Flux pe baza de apa</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Pentru lipire in val</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Pentru lipire selectiva</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Pentru pre-cositorire</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Pentru folosire ca spray</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Fara halogenuri</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Compatibilitate ridicată cu straturilor de protecție</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Reziduuri reduse</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® PacIFic
                            <strong></strong>este un flux pe baza de apa folosit in mod uzual pentru lipire in val si lipire selectiva.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® PacIFic
                            <strong></strong>2009M este un flux pe baza de apa folosit in mod uzual pentru lipire in val si lipire selectiva.<br/>
                            Compatibil SnPb si lead-free<br/>
                            Standarde OR L0 conform EN si IPC<br/>
                            Continut de solide: 3,7% ±0,15<br/>
                            Continut halogenuri: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20PacIFic%202009M-DE_0.pdf" type="application/pdf; length=439464">TD PacIFic 2009M-DE.pdf</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20PacIFic%202009M-FR.pdf" type="application/pdf; length=401502" title="TD PacIFic 2009M-FR.pdf">Fiche technique PacIFic 2009M</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20PacIFic%202009M_0.pdf" type="application/pdf; length=433215" title="TD PacIFic 2009M.pdf">Technical Data Sheet PacIFic 2009M</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/Kyzen_P2009M.pdf" type="application/pdf; length=62971" title="Kyzen_P2009M.pdf">Cleaning PACIFIC 2009M by KYZEN</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009M" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-4 views-row-even product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_P%202009MLF_8.jpg" width="200" height="200" alt="PACIFIC 2009MLF"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2009MLF</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Flux pe baza de apa</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Pentru lipire in val</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Pentru lipire selectiva</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Pentru folosire ca spray</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Fara halogenuri</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>
                                <strong>Impotriva formarii stropilor de cositor</strong>
                              </p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>PacIFic
                            <strong></strong>2009MLF este un flux pe baza de apa devoltat pentru a minimiza formarea de stropi de cositor.</p>
                        </div>
                        <div class="product-details">
                          <p>PacIFic 2009MLFeste un flux pe baza de apa devoltat pentru a minimiza formarea de stropi de cositor.<br/>
                            Compatibil SnPb si lead-free<br/>
                            Principalul mod de folosire: lipire in val si lipire selectiva<br/>
                            Standarde OR L0 conform EN si IPC<br/>
                            Continut de solide: 3,6% ±0,2<br/>
                            Continut halogenuri: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20PacIFic%202009MLF-DE_0.pdf" type="application/pdf; length=539026" title="TD PacIFic 2009MLF-DE.pdf">Technisches Datenblatt PacIFic 2009MLF</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20PacIFic%202009MLF-FR_0.pdf" type="application/pdf; length=501536" title="TD PacIFic 2009MLF-FR.pdf">Fiche technique PacIFic 2009MLF</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20PacIFic%202009MLF.pdf" type="application/pdf; length=532571" title="TD PacIFic 2009MLF.pdf">Technical Data Sheet PacIFic 2009MLF</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009MLF" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-5 views-row-odd views-row-last product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%203006_7.jpg" width="200" height="200" alt="IF 3006"/></div>
                        <div class="product-name">
                          <h3>IF 3006</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon13"></div>
                              <p>Nivel redus de compusi organici volatili</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Pentru lipire in val</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Pentru lipire selectiva</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Pentru pre-cositorire</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Fara halogenuri</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Compatibilitate ridicată cu straturilor de protecție</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong></strong>IF 3006 este un flux de lipire ce nu contine rasina sau colofoniu si are un nivel redus de compusi organici volatili.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 3006 este un flux de lipire ce nu contine rasina sau colofoniu si are un nivel redus de compusi organici volatili.<br/>
                            Compatibil SnPb si lead-free<br/>
                            Pentru pre-cositorire<br/>
                            Standarde OR L0 conform EN si IPC<br/>
                            Continut de solide: 3,2% ±0,2<br/>
                            Continut halogenuri: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%203006-DE_0.pdf" type="application/pdf; length=441073" title="TD IF 3006-DE.pdf">Technisches Datenblatt IF 3006</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%203006-FR.pdf" type="application/pdf; length=442827" title="TD IF 3006-FR.pdf">Fiche technique IF 3006</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%203006.pdf" type="application/pdf; length=435445" title="TD IF 3006.pdf">Technical Data Sheet IF 3006</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 3006" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-process-views-interflux">
                <h2 class="pane-title">
                  <div class="fs30">Auxiliare pentru</div>
                  <div class="fs18">lipirea selectiva</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_10 product-row-group view-dom-id-6367e344291e1540574f25518f4b4d5c">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/IF%20930%20All%20in%20One_4.jpg" width="200" height="200" alt="IF 930 wettable nozzle cleaner"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/IF%20930kader.png" width="200" height="200" alt="IF 930 wettable nozzle cleaner"/></div>
                        <div class="product-name">
                          <h3>IF 930</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>nozzle cleaner</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon02"></div>
                              <p>Pentru lipire selectiva</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Pentru procese SnPb(Ag)</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Pentru procese fara Pb</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Fara halogenuri</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 930 curata si dezoxideaza pipetele sistemului de lipire selectiva.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 930 curata si dezoxideaza pipetele sistemului de lipire selectiva.<br/>
                            Curatire usoara si sigura<br/>
                            Inlocuieste IF 920</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%20930-DE.pdf" type="application/pdf; length=522376" title="TD IF 930-DE.pdf">Technisches Datenblatt IF 930</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%20930-FR.pdf" type="application/pdf; length=435025" title="TD IF 930-FR.pdf">Fiche technique IF 930</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%20930_0.pdf" type="application/pdf; length=387275" title="TD IF 930.pdf">Technical Data Sheet IF 930</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 930" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-2 views-row-even product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_AOP%20lead-free.jpg" width="200" height="200" alt="Anti-oxidant pellets"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_AOP%20SnPb.jpg" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>ANTI-OXIDANT PELLETS</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Pentru lipire in val</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Pentru lipire selectiva</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Pentru pre-cositorire</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Pentru pocese SnPb(Ag)</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Pentru pocese fara Pb</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Anti-oxidant pellets minimizeaza formarea de oxizi in baile de cositor cu aliaj SnPb(Ag) si fara Pb.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Anti-oxidant pellets minimizeaza formarea de oxizi in baile de cositor cu aliaj SnPb(Ag) si fara Pb.<br/>
                            Se adauga la baia de cositor.<br/>
                            Pentru aliaje SnPb(Ag) (eticheta albastra) sau fara Pb (eticheta verde).<br/>
                            Anti-oxidant pellets nu este recomandat în atmosfere inerte închise, nici pentru aliajele de lipire Ni-dopate.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Anti-oxidant%20pellets-DE.pdf" type="application/pdf; length=366742" title="TD Anti-oxidant pellets-DE.pdf">Technisches Datenblatt Anti-oxidant pellets</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Anti-oxidant%20pellets-FR_0.pdf" type="application/pdf; length=371501" title="TD Anti-oxidant pellets-FR.pdf">Fiche technique Anti-oxidant pellets</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Anti-oxidant%20pellets.pdf" type="application/pdf; length=364659" title="TD Anti-oxidant pellets.pdf">Technical Data Sheet Anti-oxidant pellets</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=ANTI-OXIDANT PELLETS" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-3 views-row-odd product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/solder%20bars_0.jpg" width="200" height="200" alt="solder bars"/></div>
                        <div class="product-name">
                          <h3>SOLDER BARS</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Pentru lipire in val</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Pentru lipire selectiva</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Pentru pre-cositorire</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Pentru imersiune</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Solder Bars sunt facute din metale de inalta puritate si oxidare redusa in aliaje SnPb(Ag) si fara Pb.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Solder Bars sunt facute din metale de inalta puritate si oxidare redusa in aliaje SnPb(Ag) si fara Pb.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Lead-free%20alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20SnPb%28Ag%29-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Lead-free%20alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20SnPb%28Ag%29-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Lead-free%20alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20SnPb%28Ag%29-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/General%20info%20-%20lead%20free%20alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=SOLDER BARS" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-4 views-row-even product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/plain%20wire%202mm-4kg-5.png" width="200" height="200" alt="Plain Solder Wire"/></div>
                        <div class="product-name">
                          <h3>SIRMA DE LIPIRE UZUALA</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon02"></div>
                              <p>Pentru lipire selectiva</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Pentru pre-cositorire</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Pentru lipire selectiva</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Sirma de lipire uzuala Interflux® pentru lipire automata si selectiva in aliaje SnPb(Ag) si fara Pb.</p>
                        </div>
                        <div class="product-details">
                          <p>Sirma de lipire uzuala Interflux® pentru lipire automata si selectiva in aliaje SnPb(Ag) si fara Pb.<br/>
                            Diametrul firului: 2mm/ 3mm<br/>
                            Pe role de 4Kg<br/>
                            Dimensiunile rolei: 125mm x 125mm</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Lead-free%20alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20SnPb%28Ag%29-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Lead-free%20alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20SnPb%28Ag%29-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Lead-free%20alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20SnPb%28Ag%29-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/General%20info%20-%20lead%20free%20alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=SIRMA DE LIPIRE UZUALA" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-5 views-row-odd views-row-last product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/grenailles_2.png" width="200" height="200" alt="Lottabletten"/></div>
                        <div class="product-name">
                          <h3>PELETE DE LIPIRE</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Pentru lipire in val</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Pentru lipire selectiva</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Pentru rework si reparatii</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Pentru pre-cositorire</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Pentru imersiune</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Peletele de lipire Interflux® sunt mici bucati de aliaj pentru umplerea bailor de cositor.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Peletele de lipire Interflux® sunt mici bucati de aliaj pentru umplerea bailor de cositor.<br/>
                            Dimensiuni: aproximativ 1cm x 1cm</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Lead-free%20alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20SnPb%28Ag%29-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Lead-free%20alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20SnPb%28Ag%29-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Lead-free%20alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20SnPb%28Ag%29-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/General%20info%20-%20lead%20free%20alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PELETE DE LIPIRE" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="block-block-17" class="block block-block library-reference last even">
          <div class="inner-block">
            <p>Nu poti gasi un produs? Pentru lista completa a produselor, verifica
              <a href="/ro/documents">libraria</a>
              noastra</p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}