{% extends "layout.html.njk" %}
{% block meta %}
  <title>Cynowanie wstępne | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}pl-pre-tinning
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-pre-tinning page-products i18n-pl section-pre-tinning page-panels
{% endblock %}
{% block page %}
  {% include "partials/highlight.njk" %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-display panel-1col clearfix">
          <div class="panel-panel panel-col">
            <div>
              <div class="panel-pane pane-views pane-process-views-interflux">
                <h2 class="pane-title">
                  <div class="fs26">Topniki<br/>lutownicze</div>
                  <div class="fs18">do wstępnego cynowania</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_21 product-row-group view-dom-id-cf915ae174cfcfe7214c7f8678acd518">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_IF-2005C_7.jpg" width="200" height="200" alt="IF 2005C"/></div>
                        <div class="product-name">
                          <h3>IF 2005C</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Topnik na bazie alkoholu</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Do lutowania selektywnego</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Do cynowania</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>100% pozbawiony halogenków</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Duża siła deoksydacji</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Odporny na długie podgrzewanie</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Kompatybilny z powłokami konformalnymi</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 2005C z zaw. ciał stałych 3,3% jest a wolnym od żywic naturalnych i syntetycznych, nie wymagający czyszczenia topnik. Używany gdy proces lutowania wymaga<strong>
                              więcej aktywacji niż zapewniają IF 2005M lub IF 2005K</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 2005C z zaw. ciał stałych 3,3% jest a wolnym od żywic naturalnych i syntetycznych, nie wymagający czyszczenia topnik. Używany gdy proces lutowania wymaga więcej aktywacji niż zapewniają IF 2005M lub IF 2005K.<br/>
                            Kompatybilny z technologią SnPb i bezołowiową<br/>
                            Aplikacja spray (natrysk) lub pianowa<br/>
                            OR L0 według oznaczeń IPC i EN<br/>
                            Zawartość ciał stałych: 3,4% ± 0,2<br/>
                            Zawartość halogenków: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IF-2005C-DE_0.pdf" type="application/pdf; length=484180" title="TD IF 2005C-DE.pdf">Technisches Datenblatt IF 2005C</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/IF-2005--series-application-doc-DE_0.pdf" type="application/pdf; length=234680" title="IF 2005- series application doc-DE.pdf">IF 2005-Serie Anwendung</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-IF-2005C-FR.pdf" type="application/pdf; length=556116" title="TD IF 2005C-FR.pdf">Fiche technique IF 2005C</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/IF-2005--series-application-doc-FR.pdf" type="application/pdf; length=233410" title="IF 2005- series application doc-FR.pdf">Document d'application de la série IF 2005</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IF-2005C.pdf" type="application/pdf; length=467663" title="TD IF 2005C.pdf">Technical Data Sheet IF 2005C</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/IF-2005--series-application-doc.pdf" type="application/pdf; length=229382" title="IF 2005- series application doc.pdf">IF 2005 series application document</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 2005C" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-2 views-row-even product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_P-2009M_7.jpg" width="200" height="200" alt="PACIFIC 2009M"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2009M</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Topnik na bazie wody</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Do lutowania na fali</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Do lutowania selektywnego</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Do cynowania</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Aplikacja spray (natrysk)</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>100% pozbawiony halogenków</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Kompatybilny z powłokami konformalnymi</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Małe pozostałości</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® PacIFic
                            <strong></strong>2009M nie wymagający czyszczenia topnik uzywany do lutowania na fali I selektywnego.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® PacIFic
                            <strong></strong>2009M nie wymagający czyszczenia topnik uzywany do lutowania na fali I selektywnego.<br/>
                            Kompatybilny z technologią SnPb i bezołowiową<br/>
                            OR L0 according według oznaczeń IPC i EN<br/>
                            Zawartość ciał stałych: 3,7% ±0,15<br/>
                            Zawartość halogenków: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-PacIFic-2009M-DE_0.pdf" type="application/pdf; length=439464">TD PacIFic 2009M-DE.pdf</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-PacIFic-2009M-FR.pdf" type="application/pdf; length=401502" title="TD PacIFic 2009M-FR.pdf">Fiche technique PacIFic 2009M</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-PacIFic-2009M_0.pdf" type="application/pdf; length=433215" title="TD PacIFic 2009M.pdf">Technical Data Sheet PacIFic 2009M</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/Kyzen_P2009M.pdf" type="application/pdf; length=62971" title="Kyzen_P2009M.pdf">Cleaning PACIFIC 2009M by KYZEN</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009M" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-3 views-row-odd views-row-last product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_IF-3006_7.jpg" width="200" height="200" alt="IF 3006"/></div>
                        <div class="product-name">
                          <h3>IF 3006</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon13"></div>
                              <p>Niskie VOC</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Do lutowania na fali</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Do lutowania selektywnego</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Również do cynowania</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>100% pozbawiony halogenków</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Kompatybilny z powłokami konformalnymi</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong></strong>IF 3006 bez zawartości żywic naturalnych i syntetycznych, nie wymagający czyszczenia topnik ze zminimalizowaną zawartością substancji lotnych.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 3006 bez zawartości żywic naturalnych i syntetycznych, nie wymagający czyszczenia topnik ze zminimalizowaną zawartością substancji lotnych.<br/>
                            kompatybilny z technologią SnPb i bezołowiową<br/>
                            również do cynowania<br/>
                            OR L0 według oznaczeń IPC i EN<br/>
                            Zawartość ciał stałych: 3,2% ±0,2<br/>
                            Zawartość halogenków: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IF-3006-DE_0.pdf" type="application/pdf; length=441073" title="TD IF 3006-DE.pdf">Technisches Datenblatt IF 3006</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-IF-3006-FR.pdf" type="application/pdf; length=442827" title="TD IF 3006-FR.pdf">Fiche technique IF 3006</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IF-3006.pdf" type="application/pdf; length=435445" title="TD IF 3006.pdf">Technical Data Sheet IF 3006</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 3006" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-process-views-interflux">
                <h2 class="pane-title">
                  <div class="fs28">Produkty wspoma-<br/>gające</div>
                  <div class="fs18">cynowania wstępnego</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_25 product-row-group view-dom-id-046f8fc9671cf97971309c4e9f971236">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/IF-910_final2.png" width="200" height="200" alt="IF 910 de-oxidation oil"/></div>
                        <div class="product-name">
                          <h3>IF 910</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>de-oxidation oil</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>For wave soldering</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>For pre-tinning</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>For dip soldering</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>For SnPb(Ag) alloys</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>For lead-free alloys</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 910 de-oxidation oil separates oxides from good solder in a solder bath.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux®  IF 910 de-oxidation oil separates oxides from good solder in a solder bath.<br/>
                            Reduces solder consumption.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IF-910-DE.pdf" type="application/pdf; length=526614" title="TD IF 910-DE.pdf">Technisches Datenblatt IF 910</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-IF-910-FR_0.pdf" type="application/pdf; length=495807" title="TD IF 910-FR.pdf">Fiche technique IF 910</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IF-910.pdf" type="application/pdf; length=484684" title="TD IF 910.pdf">Technical Data Sheet IF 910</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 910" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-2 views-row-even product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_AOP-lead-free.jpg" width="200" height="200" alt="Anti-oxidant pellets"/><img typeof="foaf:Image" src="/assets/images/CLP_AOP-SnPb.jpg" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>ANTI-OXIDANT PELLETS</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>Peletki antyoksydacyjne</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Do lutowania na fali</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Do lutowania selektywnego</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Do cynowania</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Do procesu SnPb(Ag)
                              </p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Do procesu bezołowiowego
                              </p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Peletki antyoksydacyjne minimalizuje powstawanie tlenków w kapielach bezołowiowych i SnPb(Ag).</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Peletki antyoksydacyjne minimalizuje powstawanie tlenków w kapielach bezołowiowych i SnPb(Ag).<br/>
                            Dodatek do kąpieli<br/>
                            Do SnPb(Ag) (niebieska etykieta) lub bezołowiowych (zielona etykieta)<br/>
                            Peletki antyoksydacyjne nie zalecane do systemów azotowych lub stopów z dodatkiem Ni</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-Anti-oxidant-pellets-DE.pdf" type="application/pdf; length=366742" title="TD Anti-oxidant pellets-DE.pdf">Technisches Datenblatt Anti-oxidant pellets</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-Anti-oxidant-pellets-FR_0.pdf" type="application/pdf; length=371501" title="TD Anti-oxidant pellets-FR.pdf">Fiche technique Anti-oxidant pellets</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-Anti-oxidant-pellets.pdf" type="application/pdf; length=364659" title="TD Anti-oxidant pellets.pdf">Technical Data Sheet Anti-oxidant pellets</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=ANTI-OXIDANT PELLETS" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-3 views-row-odd product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/solder-bars_0.jpg" width="200" height="200" alt="solder bars"/></div>
                        <div class="product-name">
                          <h3>SOLDER BARS</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>sztabki lutownicze</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Do lutowania na fali</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Do lutowania selektywnego</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Do cynowania</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Do zanurzenia</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® sztabki lutownicze są formowane z wysokiej czystości, nisko-utlenialnych metali bazowych w mieszankach SnPb(Ag) i bezołowiowych.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® sztabki lutownicze są formowane z wysokiej czystości, nisko-utlenialnych metali bazowych w mieszankach SnPb(Ag) i bezołowiowych.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-Lead-free-alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-SnPbAg-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/General-info---lead-free-alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=SOLDER BARS" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-4 views-row-even product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/plain-wire-2mm-4kg-5.png" width="200" height="200" alt="Plain Solder Wire"/></div>
                        <div class="product-name">
                          <h3>PLAIN SOLDER WIRE</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>Czysty drut lutowniczy ( bez topnika )</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon02"></div>
                              <p>Do lutowania selektywnego</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Do cynowania</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Do zanurzenia</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® drut lutowniczy do systemów automatycznego dozowania w falach selektywnych w mieszankach bezołowiowych i SnPb(Ag).</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® drut lutowniczy do systemów automatycznego dozowania w falach selektywnych w mieszankach bezołowiowych i SnPb(Ag).<br/>
                            średnica drutu: 2mm<br/>
                            4kg szpula<br/>
                            szpula wym.: 125mm x 125mm (śr.x dł.)
                          </p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-Lead-free-alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-SnPbAg-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/General-info---lead-free-alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PLAIN SOLDER WIRE" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-5 views-row-odd views-row-last product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/grenailles.png" width="200" height="200" alt="Solder Grenailles"/></div>
                        <div class="product-name">
                          <h3>SOLDER PELLETS</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>Peletki lutownicze</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Do lutowania na fali</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Do lutowania selektywnego</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Do reworku i napraw</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Do cynowania</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Do zanurzenia</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Peletki lutownicze są niewielkimi kawałkami lutowia do łatwego uzupełniania niewielkich kapieli lutowniczych bezołowiowe i SnPb(Ag).</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux®  Peletki lutownicze są niewielkimi kawałkami lutowia do łatwego uzupełniania niewielkich kapieli lutowniczych bezołowiowe i SnPb(Ag).</p>
                          <p>Rozmiar: 1cm x 1cm (około).</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-Lead-free-alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-SnPbAg-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/General-info---lead-free-alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=SOLDER PELLETS" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="block-block-17" class="block block-block library-reference last even">
          <div class="inner-block">
            <p>Nie możesz znaleźć produktu? Kompletna lista produktów w
              <a href="/pl/documents">bibliotece</a>
            </p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}