{% extends "layout.html.njk" %}
{% block meta %}
  <title>Empresa | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}pt-pt-company
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-company i18n-pt-pt section-company page-panels
{% endblock %}
{% block page %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-flexible panels-flexible-18 clearfix">
          <div class="panel-flexible-inside panels-flexible-18-inside">
            <div class="panels-flexible-region panels-flexible-region-18-center panels-flexible-region-first panels-flexible-region-last">
              <div class="inside panels-flexible-region-inside panels-flexible-region-18-center-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
                <div class="panel-pane pane-views-panes pane-company-views-panel-pane-1">
                  <div class="pane-content">
                    <div class="view view-company-views view-id-company_views view-display-id-panel_pane_1 view-dom-id-0a0a7a027d6124d4fb958bbd0f137b72">
                      <div class="view-content">
                        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                          <div class="panel-display panel-1col clearfix">
                            <div class="panel-panel panel-col">
                              <div>
                                <div class="views-field views-field-field-corpus">
                                  <div class="field-content">
                                    <div class="company-block" id="company-block-1">
                                      <div class="company-article" id="article-interflux">
                                        <div class="company-article-inner">
                                          <div class="company-bg-1"></div>
                                          <div class="img-iso company-img"></div>
                                          <div class="sub-title">
                                            Mais que 30 anos em química de soldagem<br/>de alta qualidade e alta confiabilidade
                                          </div>
                                          <div class="corpus">
                                            <div class="img-triangle company-img"></div>
                                            <div class="img-daniel company-img">
                                              <div>Daniel Werkhoven<br/>Fundador da Interflux</div>
                                            </div>
                                            <p>Fundada em 1980, Interflux® Electronics NV representa para a indústria de montagem de eletrônicos mais de 30 anos de experiência na química de soldagem de alta qualidade e confiabilidade. Os nossos pontos focais são: fluxos de tecnologia No-residue, química absolutamente isento de halogênio, fluxos à base de água, as formulações livres de resina e muito mais.<br/>
                                              <br/>
                                              Interflux® Electronics NV é
                                              <strong>certificado a ISO 9001</strong>.
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="company-article" id="article-pioneer">
                                        <div class="company-article-inner">
                                          <div class="sub-title">
                                            Um verdadeiro pioneiro
                                          </div>
                                          <div class="corpus">
                                            Interflux® Electronics NV sempre tem estado na vanguarda quando se trata de desenvolvimento inovador de química de soldagem.
                                            <strong>IF2005M</strong>, o primeiro do  tipo  fluxo livre de corpo
                                            <strong>No-residue™
                                            </strong>
                                            foi concebido, produzido e tornado num sucesso pelo grupo Interflux®. Além disso, Interflux foi uma das primeiras empresas oferecendo uma linha de fluxos de soldagem à base de água de alto desempenho e alta qualidade: a
                                            <strong>série PacIFic</strong>. Com
                                            <strong>IF 14</strong>, Interflux introduziu uma química para fio de solda com resíduos escováveis, uma qualidade única ainda hoje em dia.
                                          </div>
                                          <div class="img-pioneer company-img"></div>
                                        </div>
                                      </div>
                                      <div class="company-article" id="article-durable">
                                        <div class="company-article-inner">
                                          <div class="sub-title">
                                            Responsável e durável
                                          </div>
                                          <div class="corpus">
                                            Instalando painéis fotovoltaicos e aquecimento solar de água em Ghent, Interflux® Electronics NV comprometeu-se a tornar-se num
                                            <strong>centro de baixa emissão de carbono</strong>.  Hoje em dia, a emissão anual de CO2  foi reduzida com mais de 50%. Interflux® Electronics NV tem um
                                            <strong>sistema de tratamento biológico de resíduos da água</strong>
                                            que concedeu à nossa unidade o rótulo de "descarga zero" do Governo flamengo para a água de esgoto.
                                          </div>
                                          <div class="img-durable company-img"></div>
                                        </div>
                                      </div>
                                      <div class="company-article" id="article-support">
                                        <div class="company-article-inner">
                                          <div class="sub-title">
                                            Apoio mundial
                                          </div>
                                          <div class="corpus">
                                            Interflux® Electronics NV fornece uma vasta rede de apoio com 12 empresas filiais internacionais e 3 plantas de produção estratégicas  com o nome âmbito de Interflux® , assim como uma rede global de agentes e distribuidores . O
                                            <strong>suporte</strong>
                                            de alta qualidade, de técnica, logística e de vendas e o apoio local aos clientes com produtos Interflux® é
                                            <strong>amplamente disponível</strong>.
                                          </div>
                                          <div class="img-support company-img"></div>
                                        </div>
                                      </div>
                                      <div class="clear"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}