{% extends "layout.html.njk" %}
{% block meta %}
  <title>锡线 | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}zh-hans-solder-wires
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-solder-wires page-products i18n-zh-hans section-solder-wires page-panels
{% endblock %}
{% block page %}
  {% include "partials/highlight.njk" %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-display panel-1col clearfix">
          <div class="panel-panel panel-col">
            <div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs30">无铅锡线</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_1 product-row-group view-dom-id-3ef5223ae8dc7fc9a3d56c04e1f8ae4b">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_QF70%20Pb-free.jpg" width="200" height="200" alt="QF 70 Pb-free"/></div>
                        <div class="product-name">
                          <h3>QF 70</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NEW</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon32"></div>
                              <p>Increased wetting speed</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Transparent residue</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutely halide-free</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong>QF 70</strong>
                            is an absolutely halide-free, rosin based no-clean solder wire with
                            <strong>fast wetting for fast soldering</strong>
                            operations in lead-free alloys.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® QF 70 is an absolutely halide-free, rosin based no-clean solder wire with fast wetting for fast soldering operations in lead-free alloys.<br/>
                            QF 70 can be used in both hand soldering and auto-mated soldering processes<br/>
                            RO L0 to IPC and EN standards.<br/>
                            Halide content 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20QF%2070-DE.pdf" type="application/pdf; length=577835" title="TD QF 70-DE.pdf">Technisches Datenblatt QF70</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20QF%2070.pdf" type="application/pdf; length=567824" title="TD QF 70.pdf">Technical Data Sheet QF 70</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=QF 70" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/zh-hans/1402" title="QF 70" class="nid">1402</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/NH1%20SAC387.png" width="200" height="200" alt="NH1 lead-free solder wire"/></div>
                        <div class="product-name">
                          <h3>NH 1</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NEW</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon21"></div>
                              <p>Increased wetting ability, increased wetting speed</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Low spattering</p>
                            </li>
                            <li>
                              <div class="icon26"></div>
                              <p>Colophony free</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Low transparent residue</p>
                            </li>
                            <li>
                              <div class="icon35"></div>
                              <p>High repeatability</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Perfect for laser soldering</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong>NH 1</strong>
                            is a no-clean
                            <strong>colophony free activated solder wire</strong>
                            that gives fast and repeatable soldering results on a wide range of surfaces including brass, in lead-free alloys.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® NH 1 is a no-clean colophony free activated solder wire that gives fast and repeatable soldering results on a wide range of surfaces including brass, in lead-free alloys.<br/>
                            NH 1 can be used in both hand soldering and auto-mated soldering processes<br/>
                            RE L1 to IPC and EN standards.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20NH%201-DE.pdf" type="application/pdf; length=553998" title="TD NH 1-DE.pdf">Technical Data Sheet NH1</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20NH%201.pdf" type="application/pdf; length=562600" title="TD NH 1.pdf">Technical Data Sheet NH 1</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=NH 1" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/zh-hans/1390" title="NH 1" class="nid">1390</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/RosIX%20705%20SAC.png" width="200" height="200" alt="RosIX 705"/></div>
                        <div class="product-name">
                          <h3>RosIX 705</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NEW</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon21"></div>
                              <p>Increased wetting ability</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Non disturbing smell</p>
                            </li>
                            <li>
                              <div class="icon35"></div>
                              <p>High repeatability</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Smooth transparent residue</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Suitable for robot soldering</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong>RosIX 705</strong>
                            is an activated rosin based, no-clean solder wire with
                            <strong>increased wetting ability
                            </strong>on surfaces that are difficult to solder in lead-free alloys.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® RosIX 705 is an activated rosin based, no-clean solder wire with increased wetting ability on surfaces that are difficult to solder in lead-free alloys.<br/>
                            RosIX 705 can be used on surfaces that are difficult<br/>
                            to solder, e.g. OSP, Ni, Zn, brass, German silver, etc.. as well<br/>
                            as on degraded and oxidized surfaces.<br/>
                            RO L1 to IPC and EN standards.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20RosIX%20705-DE.pdf" type="application/pdf; length=1781865" title="TD RosIX 705-DE.pdf">Technisches Datenblatt RosIX 705</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Rosix%20705-FR_0.pdf" type="application/pdf; length=1850021" title="TD Rosix 705-FR.pdf">Fiche Technique RosIX 705</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20RosIX%20705.pdf" type="application/pdf; length=1845843" title="TD RosIX 705.pdf">Technical Data Sheet RosIX 705</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=RosIX 705" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/zh-hans/1426" title="RosIX 705" class="nid">1426</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Interflux-IF14-series-lead-free_0.jpg" width="200" height="200" alt="Interflux IF14 series lead-free solder wire"/></div>
                        <div class="product-name">
                          <h3>IF 14 系列</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon16"></div>
                              <p>适用于返修</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>不含卤素</p>
                            </li>
                            <li>
                              <div class="icon27"></div>
                              <p>残留可以手工用刷子清除</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>不含松香</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>低残留</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®  IF 14 不含松香，不含卤素，是一款低残留并且残留极易清楚的的免清洗锡线，有有铅和无铅两种类型</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 14 不含松香，不含卤素，是一款低残留并且残留极易清楚的的免清洗锡线，有有铅和无铅两种类型<br/>
                            残留可以手工用刷子清除<br/>
                            RE/L0<br/>
                            无铅：IF14-16;IF14-22(焊剂含量1.6%,2.2%)<br/>
                            有铅：SnPb(Ag) 焊剂含量0.6%,0.9%,1.0%,1.4%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%2014-16-DE_0.pdf" type="application/pdf; length=1726634" title="TD IF 14-16-DE.pdf">Technisches Datenblatt IF 14-16</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%2014-22-DE_0.pdf" type="application/pdf; length=1799161" title="TD IF 14-22-DE.pdf">Technisches Datenblatt IF 14-22</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%2014-16-FR.pdf" type="application/pdf; length=1797018" title="TD IF 14-16-FR.pdf">Fiche technique IF 14-16</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%2014-22-FR.pdf" type="application/pdf; length=1847498" title="TD IF 14-22-FR.pdf">Fiche technique IF 14-22</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%2014-16_0.pdf" type="application/pdf; length=1740737" title="TD IF 14-16.pdf">Technical Data Sheet IF 14-16</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%2014-22_0.pdf" type="application/pdf; length=1804579" title="TD IF 14-22.pdf">Technical Data Sheet IF 14-22</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 14 系列" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/zh-hans/1234" title="IF 14 系列" class="nid">1234</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Interflux-Flexsol-903.jpg" width="200" height="200" alt="Interflux Flexsol 903 solder wire"/></div>
                        <div class="product-name">
                          <h3>FLEXSOL 903</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon16"></div>
                              <p>无铅锡线</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>适用于返修</p>
                            </li>
                            <li>
                              <div class="icon14"></div>
                              <p>含松香</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>不含卤素</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>低飞溅</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Flexsol 903 是一款极少飞溅的无卤免清洗无铅锡线</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Flexsol 903是一款极少飞溅的无卤免清洗无铅锡线<br/>
                            RO/L0<br/>
                            焊剂含量：2.2%,2.5%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Flexsol%20903-DE.pdf" type="application/pdf; length=467002" title="TD Flexsol 903-DE.pdf">Technisches Datenblatt Flexsol 903</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Flexsol%20903-FR_0.pdf" type="application/pdf; length=470317" title="TD Flexsol 903-FR.pdf">Fiche technique Flexsol 903</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Flexsol%20903.pdf" type="application/pdf; length=463843" title="TD Flexsol 903.pdf">Technical Data Sheet Flexsol 903</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=FLEXSOL 903" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/zh-hans/1229" title="FLEXSOL 903" class="nid">1229</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs30">有铅锡线</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_2 product-row-group view-dom-id-60fe3172a8d21cab2ebee5d957146d71">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/RosIX%20705%20SnPb%28Ag%29.png" width="200" height="200" alt="RosIX 705 SnPb(Ag)"/></div>
                        <div class="product-name">
                          <h3>RosIX 705 SnPb(Ag)</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NEW</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon21"></div>
                              <p>Increased wetting ability</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Non disturbing smell</p>
                            </li>
                            <li>
                              <div class="icon35"></div>
                              <p>High repeatability</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Smooth transparent residue</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Suitable for robot soldering</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong>RosIX 705 SnPb(Ag)</strong>
                            is an
                            <strong>activated rosin based</strong>, no-clean solder wire with increased wetting ability on surfaces that are difficult to solder in SnPb(Ag) alloys.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® RosIX 705 SnPb(Ag) is an activated rosin based, no-clean solder wire with increased wetting ability on surfaces that are difficult to solder in SnPb(Ag) alloys.<br/>
                            RosIX 705 SnPb(Ag) can be used on surfaces that are difficult to solder, e.g. OSP, Ni, Zn, brass, German silver,... as well as on degraded and oxidized surfaces.<br/>
                            RO L1 to IPC and EN standards.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20RosIX%20705%20SnPb%28Ag%29-DE.pdf" type="application/pdf; length=1786789" title="TD RosIX 705 SnPb(Ag)-DE.pdf">Technisches Datenblatt RosIX 705 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Rosix%20705%20SnPb%28Ag%29-FR.pdf" type="application/pdf; length=1851648" title="TD Rosix 705 SnPb(Ag)-FR.pdf">Fiche technique RosIX 705 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Rosix%20705%20SnPb%28Ag%29.pdf" type="application/pdf; length=1904997" title="TD Rosix 705 SnPb(Ag).pdf">Technical Data Sheet RosIX 705 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=RosIX 705 SnPb(Ag)" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/zh-hans/1414" title="RosIX 705 SnPb(Ag)" class="nid">1414</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Interflux-IF14-series-leaded.jpg" width="200" height="200" alt="Interflux IF14 series leaded solder wire"/></div>
                        <div class="product-name">
                          <h3>IF14 系列锡铅（银）</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon15"></div>
                              <p>锡铅（银）锡线</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>用于返修</p>
                            </li>
                            <li>
                              <div class="icon27"></div>
                              <p>完全无卤</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>完全不含松香</p>
                            </li>
                            <li>
                              <div class="icon26"></div>
                              <p>低残留e</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>低残留</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®  IF 14 系列是一款不含松香，完全无卤，免清洗锡线。锡铅（银）、无铅合金成分锡线产生的残留非常容易去除。</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux®  IF 14 系列是一款不含松香，完全无卤，免清洗锡线。锡铅（银）、无铅合金成分锡线产生的残留非常容易去除。<br/>
                            残留可手动刷除<br/>
                            符合RE L0 to EN 和 IPC标准<br/>
                            锡铅（银）：焊剂含量IF14-06，IF14-09，IF14-10，IF14-14（0.6%，0.9%，1.0%，1.4%）<br/>
                            无铅：焊剂含量1.6%，2.2%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%2014-06-09-14-DE_0.pdf" type="application/pdf; length=1839549" title="TD IF 14-06-09-14-DE.pdf">Technisches Datenblatt IF 14-06-09-14 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%2014-06-09-14-FR.pdf" type="application/pdf; length=1812757" title="TD IF 14-06-09-14-FR.pdf">Fiche technique IF 14-06-09-14 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%2014-06-09-14_0.pdf" type="application/pdf; length=1811232" title="TD IF 14-06-09-14.pdf">Technical Data Sheet IF 14-06-09-14 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF14 系列锡铅（银）" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/zh-hans/1248" title="IF14 系列锡铅（银）" class="nid">1248</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="block-block-17" class="block block-block library-reference last even">
          <div class="inner-block">
            <p>找不到所需的产品？请所搜文库中的详细产品列表 -
              <a href="/zh-hans/documents">资料</a>
            </p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}