{% extends "layout.html.njk" %}
{% block meta %}
  <title>Empresa | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}es-company
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-company i18n-es section-company page-panels
{% endblock %}
{% block page %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-flexible panels-flexible-18 clearfix">
          <div class="panel-flexible-inside panels-flexible-18-inside">
            <div class="panels-flexible-region panels-flexible-region-18-center panels-flexible-region-first panels-flexible-region-last">
              <div class="inside panels-flexible-region-inside panels-flexible-region-18-center-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
                <div class="panel-pane pane-views-panes pane-company-views-panel-pane-1">
                  <div class="pane-content">
                    <div class="view view-company-views view-id-company_views view-display-id-panel_pane_1 view-dom-id-45cb9879c4a07a6bef941a6c891f5c33">
                      <div class="view-content">
                        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                          <div class="panel-display panel-1col clearfix">
                            <div class="panel-panel panel-col">
                              <div>
                                <div class="views-field views-field-field-corpus">
                                  <div class="field-content">
                                    <div class="company-block" id="company-block-1">
                                      <div class="company-article" id="article-interflux">
                                        <div class="company-article-inner">
                                          <div class="company-bg-1"></div>
                                          <div class="img-iso company-img"></div>
                                          <div class="sub-title">
                                            30+ años, en la química de soldadura<br/>
                                            de alta calidad y fiabilidad
                                          </div>
                                          <div class="corpus">
                                            <div class="img-triangle company-img"></div>
                                            <div class="img-daniel company-img">
                                              <div>Daniel Werkhoven<br/>Fundador de Interflux</div>
                                            </div>
                                            <p>Fundada en 1980, Interflux® Electronics NV proporciona más de 30 años de experiencia en la química de soldadura de alta calidad y fiabilidad para la industria de ensamblaje de productos electrónicos. Interflux® se centra en la tecnología de fluxes No residuo™, química absolutamente libre de halógenos, los fluxes a base de agua, las formulaciones libres de resina y mucho más ...<br/>
                                              <br/>
                                              Interflux® Electronics N.V. está
                                              <strong>
                                                certificada con la norma ISO 9001</strong>.
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="company-article" id="article-pioneer">
                                        <div class="company-article-inner">
                                          <div class="sub-title">
                                            Un verdadero pionero
                                          </div>
                                          <div class="corpus">
                                            Interflux® Electronics N.V. ha estado siempre a la vanguardia cuando se trata de innovar y desarrollar química para la soldadura.
                                            <strong>IF2005M</strong>, el primero de su tipo libre de cuerpos,
                                            <strong>No residuo™</strong>. Este  flux fue concebido, producido y se convirtió para el Grupo Interflux®, siendo un éxito. Por otra parte, Interflux® era uno de los primeros en ofrecer una línea de fluxes de soldadura, a base de agua, de alto rendimiento y calidad,
                                            <strong>la serie PacIFic</strong>. Con el
                                            <strong>IF 14</strong>, Interflux® introdujo un hilo con una química capaz de limpiarse su residuo con un cepillado, una propiedad que sigue siendo única hoy.
                                          </div>
                                          <div class="img-pioneer company-img"></div>
                                        </div>
                                      </div>
                                      <div class="company-article" id="article-durable">
                                        <div class="company-article-inner">
                                          <div class="sub-title">
                                            Responsable y sostenible
                                          </div>
                                          <div class="corpus">
                                            Con la instalación de paneles fotovoltaicos y calentadores solares de agua en Gante, Interflux® Electronics N.V., se ha comprometido a convertirse en
                                            <strong>un centro de bajas emisiones de carbono</strong>. Hoy en día, la tasa de emisión de CO2 se redujo más del  50%.<br/>
                                            Interflux® Electronics N.V. cuenta con un sistema de
                                            <strong>tratamiento biológico</strong>
                                            de aguas residuales que da a nuestras instalaciones la etiqueta de "vertido cero" del Gobierno flamenco de las aguas residuales.
                                          </div>
                                          <div class="img-durable company-img"></div>
                                        </div>
                                      </div>
                                      <div class="company-article" id="article-support">
                                        <div class="company-article-inner">
                                          <div class="sub-title">
                                            Soporte a nivel mundial
                                          </div>
                                          <div class="corpus">
                                            Con 12 filiales y 3 plantas de producción internacionales estratégicas y la red global de agentes y distribuidores, Interflux® Electronics NV, ofrece una amplia red de apoyo. Soporte de alta calidad técnica, logística, ventas y soporte local a los clientes,  para los productos Interflux®
                                            <strong>disponible completamente en todo el mundo</strong>.
                                          </div>
                                          <div class="img-support company-img"></div>
                                        </div>
                                      </div>
                                      <div class="clear"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}