<!DOCTYPE HTML>
<html lang="{{language}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="Copyright 2019 all rights reserved by Floatplane Dev Pty. Ltd."/>
    <meta name="built-by" content="Jan Werkhoven <jw@floatplane.dev>"/>
    <meta name="built-by" content="Richard Verheyen <rv@floatplane.dev>"/>
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="{{themeColour}}">
    <meta name="google-site-verification" content="{{googleSiteVerification}}"/>

    {% block meta %}{% endblock %}

    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css">

    <script src="/assets/js/vendor.min.js"></script>
    <script src="/assets/js/app.min.js"></script>

    {% include "partials/favicons.njk" %}

    {# <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
    <script src="http://www.interflux.com/sites/all/modules/jquery_update/replace/jquery/1.5/jquery.min.js?v=1.5.2"></script>
    <script src="http://www.interflux.com/misc/jquery.once.js?v=1.2"></script>
    <script src="http://www.interflux.com/misc/drupal.js?pa0273"></script>
    <script src="http://www.interflux.com/sites/all/modules/panels/js/panels.js?pa0273"></script>
    <script src="http://www.interflux.com/sites/all/modules/google_analytics/googleanalytics.js?pa0273"></script>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-34474019-4"]);
      _gaq.push(["_trackPageview"]);
      (function () {
        var ga = document.createElement("script");
        ga.type = "text/javascript";
        ga.async = true;
        ga.src = (
          "https:" == document.location.protocol
          ? "https://ssl"
          : "http://www") + ".google-analytics.com/ga.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script src="http://www.interflux.com/sites/all/themes/zen_interflux/js/jquery.js?pa0273"></script>
    <script src="http://www.interflux.com/sites/all/themes/zen_interflux/js/jquery.easing.js?pa0273"></script>
    <script src="http://www.interflux.com/sites/all/themes/zen_interflux/js/jquery.transform2d.js?pa0273"></script>
    <script src="http://www.interflux.com/sites/all/themes/zen_interflux/js/jquery.imagesloaded.js?pa0273"></script>
    <script src="http://www.interflux.com/sites/all/themes/zen_interflux/js/nabu.functions.js?pa0273"></script>
    <script src="http://www.interflux.com/sites/all/themes/zen_interflux/js/nabu.init.js?pa0273"></script> #}

  </head>

  <body id="{% block bodyId %}{% endblock %}" class="{% block bodyClass %}{% endblock %}">
    <div id="page">
      {% include "partials/languages.njk" %}
      {% include "partials/header.njk" %}
      {% include "partials/highlight.njk" %}
      <div class="region region-corpus">
        <div class="inner-region">
          {% block main %}{% endblock %}
        </div>
      </div>
      {% include "partials/footer.njk" %}
      {% include "partials/outdated-browsers.njk" %}
    </div>
  </body>
</html>