{% extends "layout.html.njk" %}
{% block meta %}
  <title>Società | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}it-company
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-company i18n-it section-company page-panels
{% endblock %}
{% block page %}
  <div class="region region-language">
    <div class="inner-region">
      <div id="block-locale-language" class="block block-locale language-menu block grid-24 first last odd" role="complementary">
        <div class="inner-block">
          <ul class="language-switcher-locale-url">
            <li class="en first">
              <a href="/en/company" class="language-link" lang="en" title="Company">
                <div class="flag en"></div>English</a>
            </li>
            <li class="zh-hans">
              <a href="/zh-hans/company" class="language-link" lang="zh-hans" title="公司">
                <div class="flag zh-hans"></div>简体中文</a>
            </li>
            <li class="cs">
              <a href="/cs/company" class="language-link" lang="cs" title="Společnost">
                <div class="flag cs"></div>Čeština</a>
            </li>
            <li class="de">
              <a href="/de/company" class="language-link" lang="de" title="Unternehmen">
                <div class="flag de"></div>Deutsch</a>
            </li>
            <li class="fr">
              <a href="/fr/company" class="language-link" lang="fr" title="Entreprise">
                <div class="flag fr"></div>Français</a>
            </li>
            <li class="it active">
              <a href="/it/company" class="language-link active" lang="it" title="Società">
                <div class="flag it"></div>Italiano</a>
            </li>
            <li class="id">
              <a href="/id/company" class="language-link" lang="id" title="Perusahaan">
                <div class="flag id"></div>Bahasa Indonesia</a>
            </li>
            <li class="pt-pt">
              <a href="/pt-pt/company" class="language-link" lang="pt-pt" title="Empresa">
                <div class="flag pt-pt"></div>Português</a>
            </li>
            <li class="ro">
              <a href="/ro/company" class="language-link" lang="ro" title="Companie">
                <div class="flag ro"></div>Română</a>
            </li>
            <li class="ru">
              <a href="/ru/company" class="language-link" lang="ru" title="О компании">
                <div class="flag ru"></div>Русский</a>
            </li>
            <li class="th">
              <a href="/th/company" class="language-link" lang="th" title="บริษัท">
                <div class="flag th"></div>ภาษาไทย</a>
            </li>
            <li class="tr">
              <a href="/tr/company" class="language-link" lang="tr">
                <div class="flag tr"></div>Türkçe</a>
            </li>
            <li class="pl">
              <a href="/pl/company" class="language-link" lang="pl" title="Firma">
                <div class="flag pl"></div>Polski</a>
            </li>
            <li class="es">
              <a href="/es/company" class="language-link" lang="es" title="Empresa">
                <div class="flag es"></div>Español</a>
            </li>
            <li class="sv last">
              <a href="/sv/company" class="language-link" lang="sv" title="Företag">
                <div class="flag sv"></div>Svenska</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-header">
    <div class="inner-region">
      <div id="block-block-11" class="block block-block grid-9 first odd">
        <div class="inner-block">
          <p>
            <a href="/it/" title="Interflux Electronics" target="_self"><img src="/assets/images/interflux-electronics-logo.png" width="343" height="87" alt="Logo di Interflux Electronics&lt;br /&gt;&#10;"/></a>
          </p>
        </div>
      </div>
      <div id="block-menu-menu-interflux-menu" class="block block-menu grid-15 header-nav last even" role="navigation">
        <div class="inner-block">
          <ul class="menu">
            <li class="first expanded">
              <a href="/it" title="Selezionare tipo di documento">Prodotti</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/it/soldering-fluxes" title="">Flussanti per saldatura</a>
                </li>
                <li class="leaf">
                  <a href="/it/solder-pastes" title="">Paste saldanti</a>
                </li>
                <li class="leaf">
                  <a href="/it/solder-wires" title="">Fili per saldatura</a>
                </li>
                <li class="leaf">
                  <a href="/it/spray-fluxers" title="">Unità spray</a>
                </li>
                <li class="last leaf">
                  <a href="/it/auxiliaries" title="">Prodotti ausiliari</a>
                </li>
              </ul>
            </li>
            <li class="expanded">
              <a href="/it" title="Ricerca prodotti per processo">Processi</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/it/wave-soldering" title="">Saldatura a onda</a>
                </li>
                <li class="leaf">
                  <a href="/it/selective-soldering" title="">Saldatura selettiva</a>
                </li>
                <li class="leaf">
                  <a href="/it/reflow-soldering" title="">Saldatura di rifusione</a>
                </li>
                <li class="leaf">
                  <a href="/it/rework-and-repair" title="">Rilavorazione & Riparazione</a>
                </li>
                <li class="last leaf">
                  <a href="/it/pre-tinning" title="">Pre-stagnatura</a>
                </li>
              </ul>
            </li>
            <li class="leaf active-trail">
              <a href="/it/company" title="Informazioni circa Interflux" class="active-trail active">Società</a>
            </li>
            <li class="leaf">
              <a href="/it/documents" title="Ricerca dati tecnici">Documenti</a>
            </li>
            <li class="last leaf">
              <a href="/it/contact" title="Contattaci">Contatto</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="panel-flexible panels-flexible-18 clearfix">
        <div class="panel-flexible-inside panels-flexible-18-inside">
          <div class="panels-flexible-region panels-flexible-region-18-center panels-flexible-region-first panels-flexible-region-last">
            <div class="inside panels-flexible-region-inside panels-flexible-region-18-center-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
              <div class="panel-pane pane-views-panes pane-company-views-panel-pane-1">
                <div class="pane-content">
                  <div class="view view-company-views view-id-company_views view-display-id-panel_pane_1 view-dom-id-20d6c826f9853c652914719ed1faadb6">
                    <div class="view-content">
                      <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                        <div class="panel-display panel-1col clearfix">
                          <div class="panel-panel panel-col">
                            <div>
                              <div class="views-field views-field-field-corpus">
                                <div class="field-content">
                                  <div class="company-block" id="company-block-1">
                                    <div class="company-article" id="article-interflux">
                                      <div class="company-article-inner">
                                        <div class="company-bg-1"></div>
                                        <div class="img-iso company-img"></div>
                                        <div class="sub-title">
                                          Oltre 30 anni di alta qualità,<br/>elevata affidabilità della saldatura chimica
                                        </div>
                                        <div class="corpus">
                                          <div class="img-triangle company-img"></div>
                                          <div class="img-daniel company-img">
                                            <div>Daniel Werkhoven<br/>Fondatore di Inteflux</div>
                                          </div>
                                          <p>Fondata nel 1980, Interflux® Electronics N.V. fornisce da oltre 30 anni esperienza di elevata qualità, alta affidabilità della saladatura nelle industrie elettroniche di assemblaggio. I nostri punti di forza sono No-residuo TN; Tecnologia dei flussanti, assolutamente senza alogenuri, flussanti VOC free, formulazione senza colofonia e resine e altro ancora ...<br/>
                                            <br/>
                                            Interflux® Electronics N.V. è
                                            <strong>certificata ISO 9001</strong>.
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="company-article" id="article-pioneer">
                                      <div class="company-article-inner">
                                        <div class="sub-title">
                                          Un vero Pioniere
                                        </div>
                                        <div class="corpus">
                                          Interflux® Electronics N.V. è sempre stata in prima linea nello sviluppare  e innovare la chimica della saldatura.
                                          <strong>IF2005M</strong>, fu il primo flussante perfetto, concepito senza colofonia,
                                          <strong>No-residueTM</strong>, prodotto e confezionato con pieno succeso da Interflux® Group. Inoltre, Interflux® fu una delle prime a offrire alta prestazione, alta qualità della linea dei flussanti di saldatura completamente VOC-free: la serie
                                          <strong>PacIFic</strong>. Con
                                          <strong>IF 14</strong>, Interflux®  ha introdotto un chimica del filo di saldatura con residui spazzolabili, un proprietà che è ancora unica oggi.
                                        </div>
                                        <div class="img-pioneer company-img"></div>
                                      </div>
                                    </div>
                                    <div class="company-article" id="article-durable">
                                      <div class="company-article-inner">
                                        <div class="sub-title">
                                          Responsabile & durevole
                                        </div>
                                        <div class="corpus">
                                          Per l’installazione di pannelli fotovoltaici e il riscaldamento solare dell’acqua in Ghent, Interflux® Electronics N.V. ha impegnato se stessa a diventare uno stabilimento a
                                          <strong>basse emissioni di carbonio</strong>. Oggi l’annuale scarico di CO2 è stata ridotta di oltre il 50%. Interflux® Electronics N.V. ha un sistema di
                                          <strong>trattamento biologico delle acque</strong>
                                          di scarico tanto che il dipartimento delle acque reflue del Governo Fiammingo ha assegnato al nostro stabilimento la classifica di ‘azienda a scarico zero’.
                                        </div>
                                        <div class="img-durable company-img"></div>
                                      </div>
                                    </div>
                                    <div class="company-article" id="article-support">
                                      <div class="company-article-inner">
                                        <div class="sub-title">
                                          Supporto nel mondo
                                        </div>
                                        <div class="corpus">
                                          Con 12 compagnie internazionali sorelle e 3 impianti strategici di produzione con il nome Interflux® e una rete gobale di agenti e ditributori, Interflux® Electronics N.V. fornisce un’estesa rete di supporto. Alta qualità, tecnica, logistica, vendite e il
                                          <strong>supporto</strong>
                                          presso il cliente per i prodotti Interflux® è
                                          <strong>largamente disponibile</strong>.
                                        </div>
                                        <div class="img-support company-img"></div>
                                      </div>
                                    </div>
                                    <div class="clear"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-footer2">
    <div class="inner-region">
      <div id="block-block-18" class="block block-block first last odd">
        <div class="inner-block">
          <div class="block grid-12" id="F1">
            <div class="inner-block">
              <div class="inner-content">
                <a href="/it/contact" target="_self" title="Vai alla pagina dei contatti per ulteriori informazioni"><img src="/assets/images/Interflux-Electronics-headquarters-belgium.jpg" width="171" height="271" alt="Interflux Electronics Belgio immobile uffici"/></a>
                <div class="contact-title">
                  <span>CONTATTI</span><br/>INTERFLUX<br/>HEADQUARTER</div>
                <div class="contact-adress">
                  <p>
                    Interflux Electronics NV<br/>
                    Gent zeehaven 3170A<br/>
                    Eddastraat 51<br/>
                    9042 Gent<br/>
                    BELGIO</p>
                  <p>Tel.: +32 9251 4959<br/>
                    Fax: +32 9251 4970<br/>
                    <a href="mailto:info@interflux.com" target="_blank">info@interflux.com</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="block grid-12" id="F2">
            <div class="inner-block">
              <div class="inner-content">
                <div class="contact-title">
                  <span>CONTATTI</span><br/>INTERFLUX MONDO</div>
                <p>
                  <a href="/it/contact" target="_self" title="Vai alla pagina dei contatti per ulteriori informazioni"><img src="/assets/images/interflux-worldwide-map.jpg" width="446" height="196" alt="Carta geografica del gruppo Interflux"/></a>
                </p>
              </div>
            </div>
          </div>
          <div class="block grid-24" id="F3">
            <div class="copyright">©2012 Tutti i diritti riservati da Interflux® Electronics N.V.</div>
            <div class="louder-than-words">Sito web da
              <a href="http://nabu.io" target="_new" title="NABU websites">NABU websites</a>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="messages error">
    <h2 class="element-invisible">Messaggio di errore</h2>
    <ul>
      <li>Non è stato possibile creare il file.</li>
      <li>Non è stato possibile creare il file.</li>
    </ul>
  </div>
{% endblock %}