{% extends "layout.html.njk" %}
{% block meta %}
  <title>Společnost | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}cs-company
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-company i18n-cs section-company page-panels
{% endblock %}
{% block page %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-flexible panels-flexible-18 clearfix">
          <div class="panel-flexible-inside panels-flexible-18-inside">
            <div class="panels-flexible-region panels-flexible-region-18-center panels-flexible-region-first panels-flexible-region-last">
              <div class="inside panels-flexible-region-inside panels-flexible-region-18-center-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
                <div class="panel-pane pane-views-panes pane-company-views-panel-pane-1">
                  <div class="pane-content">
                    <div class="view view-company-views view-id-company_views view-display-id-panel_pane_1 view-dom-id-5396a99dd697d33506996323f8b65f7e">
                      <div class="view-content">
                        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                          <div class="panel-display panel-1col clearfix">
                            <div class="panel-panel panel-col">
                              <div>
                                <div class="views-field views-field-field-corpus">
                                  <div class="field-content">
                                    <div class="company-block" id="company-block-1">
                                      <div class="company-article" id="article-interflux">
                                        <div class="company-article-inner">
                                          <div class="company-bg-1"></div>
                                          <div class="img-iso company-img"></div>
                                          <div class="sub-title">
                                            30+ let vysoké kvality,<br/>vysoká spolehlivost pájecí chemie
                                          </div>
                                          <div class="corpus">
                                            <div class="img-triangle company-img"></div>
                                            <div class="img-daniel company-img">
                                              <div>Daniel Werkhoven<br/>zakladatel společnosti Interflux</div>
                                            </div>
                                            <p>Společnost Interflux® Electronics N.V. byla založena v roce 1980 má více jak 30 let zkušeností s vysokou kvalitou a vysokou spolehlivostí pájecí chemie v elektronickém průmyslu. Naše hlavní body jsou No-residueTM (beze zbytkovost); Technologie tavidel, zcela bez halogenidová chemie, „VOC-free“ tavidla (tavidla bez obsahu těkavých organických látek), bez kalafunové a bez pryskyřicové formy tavidel a mnoho dalšího ...<br/>
                                              <br/>
                                              Společnost Interflux® Electronics N.V. je
                                              <strong>certifikována normou ISO 9001.</strong>.
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="company-article" id="article-pioneer">
                                        <div class="company-article-inner">
                                          <div class="sub-title">
                                            Skutečný průkopník
                                          </div>
                                          <div class="corpus">
                                            Společnost Interflux® Electronics N.V. byla vždy v popředí, pokud šlo o inovativní vývoj pájecí chemie.
                                            <strong>IF2005M</strong>
                                            je tavidlo první svého druhu, které bylo koncipováno jako zcela beze zbytkové a které je vyráběno a úspěšně zavedeno skupinou Interflux®. Kromě toho, byla společnost Interflux® jedna z prvních, která nabídla vysoký výkon, vysokou kvalitu s řadou VOC-free pájecích tavidel, konkrétně
                                            <strong>série PacIFic</strong>. Ze
                                            <strong>série IF 14</strong>
                                            představila Interflux® chemii pájecího drátu se zbytky, které lze odstranit pouhým kartáčováním, dodnes je toto jedinečná vlastnost.
                                          </div>
                                          <div class="img-pioneer company-img"></div>
                                        </div>
                                      </div>
                                      <div class="company-article" id="article-durable">
                                        <div class="company-article-inner">
                                          <div class="sub-title">
                                            Odpovědnost & udržitelnost
                                          </div>
                                          <div class="corpus">
                                            Po nainstalování fotovoltaických panelů a solárního ohřevu vody v Gentu, se společnost Interflux® Electronics N.V. zavázala ke
                                            <strong>snížení emisí uhlíku</strong>
                                            do ovzduší. V současné době bylo vypouštění CO2 sníženo  o více než 50%. nterflux® Electronics N.V. má
                                            <strong>biologický systém čištění odpadních vod</strong>, který našemu objektu přiděluje od vlámské vlády štítek „nulové vypouštění“.
                                          </div>
                                          <div class="img-durable company-img"></div>
                                        </div>
                                      </div>
                                      <div class="company-article" id="article-support">
                                        <div class="company-article-inner">
                                          <div class="sub-title">
                                            Celosvětová podpora
                                          </div>
                                          <div class="corpus">
                                            S našimi 12 mezinárodními dceřinými společnostmi, 3 strategickými výrobními závody pod jménem Interflux® a celosvětovou sítí agentů a distributorů, poskytuje Interflux® Electronics N.V. rozsáhlou síť podpory. Široce dostupná vysoká kvalita, technické, logistické, prodejní a lokální zákaznické podpory pro produkty Interflux ®.
                                          </div>
                                          <div class="img-support company-img"></div>
                                        </div>
                                      </div>
                                      <div class="clear"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}