{% from "macros/product.njk" import product %}
{% extends "layout.html.njk" %}
{% block meta %}
  <title>Reflowlöten | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}de-reflow-soldering
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-reflow-soldering page-products i18n-de section-reflow-soldering page-panels
{% endblock %}
{% block page %}
  <div class="region region-language">
    <div class="inner-region">
      <div id="block-locale-language" class="block block-locale language-menu block grid-24 first last odd" role="complementary">
        <div class="inner-block">
          <ul class="language-switcher-locale-url">
            <li class="en first">
              <a href="/en/reflow-soldering" class="language-link" lang="en" title="Reflow Soldering">
                <div class="flag en"></div>English</a>
            </li>
            <li class="zh-hans">
              <a href="/zh-hans/reflow-soldering" class="language-link" lang="zh-hans" title="回流焊">
                <div class="flag zh-hans"></div>简体中文</a>
            </li>
            <li class="cs">
              <a href="/cs/reflow-soldering" class="language-link" lang="cs" title="Reflow pájení">
                <div class="flag cs"></div>Čeština</a>
            </li>
            <li class="de active">
              <a href="/de/reflow-soldering" class="language-link active" lang="de" title="Reflowlöten">
                <div class="flag de"></div>Deutsch</a>
            </li>
            <li class="fr">
              <a href="/fr/reflow-soldering" class="language-link" lang="fr" title="Brasage en refusion">
                <div class="flag fr"></div>Français</a>
            </li>
            <li class="it">
              <a href="/it/reflow-soldering" class="language-link" lang="it" title="Saldatura di rifusione">
                <div class="flag it"></div>Italiano</a>
            </li>
            <li class="id">
              <a href="/id/reflow-soldering" class="language-link" lang="id" title="Penyolderan reflow">
                <div class="flag id"></div>Bahasa Indonesia</a>
            </li>
            <li class="pt-pt">
              <a href="/pt-pt/reflow-soldering" class="language-link" lang="pt-pt" title="Soldadura refusão">
                <div class="flag pt-pt"></div>Português</a>
            </li>
            <li class="ro">
              <a href="/ro/reflow-soldering" class="language-link" lang="ro" title="Lipire in reflow">
                <div class="flag ro"></div>Română</a>
            </li>
            <li class="ru">
              <a href="/ru/reflow-soldering" class="language-link" lang="ru" title="Пайка оплавлением">
                <div class="flag ru"></div>Русский</a>
            </li>
            <li class="th">
              <a href="/th/reflow-soldering" class="language-link" lang="th" title="การบัดกรีแบบรีโฟลว์">
                <div class="flag th"></div>ภาษาไทย</a>
            </li>
            <li class="tr">
              <a href="/tr/reflow-soldering" class="language-link" lang="tr">
                <div class="flag tr"></div>Türkçe</a>
            </li>
            <li class="pl">
              <a href="/pl/reflow-soldering" class="language-link" lang="pl" title="Lutowanie rozpływowe">
                <div class="flag pl"></div>Polski</a>
            </li>
            <li class="es">
              <a href="/es/reflow-soldering" class="language-link" lang="es" title="Soldadura por re fusión">
                <div class="flag es"></div>Español</a>
            </li>
            <li class="sv last">
              <a href="/sv/reflow-soldering" class="language-link" lang="sv" title="Reflow lödning">
                <div class="flag sv"></div>Svenska</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-header">
    <div class="inner-region">
      <div id="block-block-11" class="block block-block grid-9 first odd">
        <div class="inner-block">
          <p>
            <a href="/de/" title="Interflux Electronics"><img src="/assets/images/interflux-electronics-logo.png" width="343" height="87" alt="Interflux Electronics logo"/></a>
          </p>
        </div>
      </div>
      <div id="block-menu-menu-interflux-menu" class="block block-menu grid-15 header-nav last even" role="navigation">
        <div class="inner-block">
          <ul class="menu">
            <li class="first expanded">
              <a href="/de" title="Produktsuche über Typ">Produkte</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/de/soldering-fluxes" title="">Flussmittel</a>
                </li>
                <li class="leaf">
                  <a href="/de/solder-pastes" title="">Lotpaste</a>
                </li>
                <li class="leaf">
                  <a href="/de/solder-wires" title="">Lötdraht</a>
                </li>
                <li class="leaf">
                  <a href="/de/spray-fluxers" title="">Sprühfluxer</a>
                </li>
                <li class="last leaf">
                  <a href="/de/auxiliaries" title="">Hilfsmittel</a>
                </li>
              </ul>
            </li>
            <li class="expanded active-trail">
              <a href="/de" title="Produktsuche über Prozess" class="active-trail">Prozesse</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/de/wave-soldering" title="">Wellenlöten</a>
                </li>
                <li class="leaf">
                  <a href="/de/selective-soldering" title="">Selektivlöten</a>
                </li>
                <li class="leaf active-trail">
                  <a href="/de/reflow-soldering" title="" class="active-trail active">Reflowlöten</a>
                </li>
                <li class="leaf">
                  <a href="/de/rework-and-repair" title="">Nacharbeit und Reparatur</a>
                </li>
                <li class="last leaf">
                  <a href="/de/pre-tinning" title="">Vorverzinnen</a>
                </li>
              </ul>
            </li>
            <li class="leaf">
              <a href="/de/company" title="Mehr über Interflux">Unternehmen</a>
            </li>
            <li class="leaf">
              <a href="/de/documents" title="Technische Daten">Dokumente</a>
            </li>
            <li class="last leaf">
              <a href="/de/contact" title="Kontaktsuche">Kontakt</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-highlight">
    <div class="inner-region">
      <div id="banners">
        <div class="preload"></div>
        <div class="stage">
          <article id="ipc-apex-2017">
            <a href="https://www.ipcapexexpo.org/" target="_blank" title="Visit us at IPC APEX 2018 in San Diego">
              <picture>

                <img src="" alt="Visit use at IPC APEX 2018 in San Diego"/>
              </picture>
            </a>
          </article>
          <article id="productronica-2017">
            <a href="https://www.productronica.com/" target="_blank" title="Visit us at Productronica 2017">
              <img src=""/>
            </a>
          </article>
          <article id="lmpa">
            <a href="https://lmpa.interflux.com" target="_blank">
              <h1>Solder
                <strong>5 times</strong>
                faster whilst maintaining
                <strong>zero defects</strong>
              </h1>
              <h1>Discover
                <mark>LMPA<span>™</span>
                </mark>
              </h1>
              <div id="video">
                <video id="movie" width="276" height="220" autoplay="autoplay" loop="loop">
                  <source src="{{cdnHost}}/videos/LMPA-Q-30mms.mp4" type="video/mp4"></source>
                  Your browser doesn't support HTML5 video tag.
                </video>
                <script></script>
                <p>Speed: 30 mm/s</p>
              </div>
            </a>
          </article>
        </div>
        <nav>
          <div id="prev">
            <div></div>
          </div>
          <div id="next">
            <div></div>
          </div>
          <div id="timer">
            <div></div>
          </div>
          <ul></ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="panel-display panel-1col clearfix">
        <div class="panel-panel panel-col">
          <div>
            <div class="panel-pane pane-views pane-process-views-interflux">
              <h2 class="pane-title">
                <div class="fs30">Lotpaste</div>
                <div class="fs18 nc">fürs Reflowlöten</div>
              </h2>
              <div class="pane-content">
                <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_12 product-row-group view-dom-id-4c7e3acafb7238965ba82bd15ce537da">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                      <div class="product-images"><img src="/assets/images/CLP_LMPA-Q6.jpg" width="200" height="200" alt="LMPA™-Q6 solder paste"/></div>
                      <div class="product-name">
                        <h3>LMPA™-Q6</h3>
                      </div>
                      <div class="product-highlight">
                        <h3>NEU</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon23"></div>
                            <p>Optimierte niedrigschmelzende Lotpaste</p>
                          </li>
                          <li>
                            <div class="icon09"></div>
                            <p>Hohe Stabilität auf der Schablone</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolut halogenfrei</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Gleichmäßiger transparenter Rückstand</p>
                          </li>
                          <li>
                            <div class="icon33"></div>
                            <p>Extrem wenig Voiding</p>
                          </li>
                          <li>
                            <div class="icon31"></div>
                            <p>Reduzierte Fertigungskosten</p>
                          </li>
                          <li>
                            <div class="icon32"></div>
                            <p>Verbesserte mechanische Zuverlässigkeit</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux®<strong>
                            LMPA™-Q6
                          </strong>ist eine no-clean Lotpaste mit dem niedrigschmelzenden LMPA™-Q Legierung mit hoher Zuverlässigkeit</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® LMPA™-Q6 ist eine no-clean Lotpaste mit dem niedrigschmelzenden LMPA™-Q Legierung mit hoher Zuverlässigkeit.<br/>
                          LMPA™ - Q6 hat eine optimierte Druckstabilität und Schablonenstandzeit, und einen transparenteren Rückstand im Vergleich zu der DP 5600 LMPA™- Q.<br/>
                          RO L0 gemäß IPC und EN Standards<br/>
                          Halogengehalt 0,00%</p>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=LMPA™-Q6" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-2 views-row-even product-row">
                      <div class="product-images"><img src="/assets/images/CLP_DP-5600-2.jpg" width="200" height="200" alt="DP 5600"/></div>
                      <div class="product-name">
                        <h3>DP 5600
                        </h3>
                      </div>
                      <div class="product-highlight">
                        <h3>BELIEBT</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon03"></div>
                            <p>Für das Reflowlöten</p>
                          </li>
                          <li>
                            <div class="icon09"></div>
                            <p>Für Schablonendruck</p>
                          </li>
                          <li>
                            <div class="icon08"></div>
                            <p>Für Dosieren</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolut halogenfrei</p>
                          </li>
                          <li>
                            <div class="icon23"></div>
                            <p>Niedrige Schmelztemperatur</p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>Wenig Lunkerbildung (Voiding)</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® DP 5600 ist eine no-clean Lotpaste für
                          <strong>SnBi(Ag)</strong>-Legierungen mit
                          <strong>niedrigem Schmelzpunkt</strong>.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® DP 5600 ist eine no-clean Lotpaste für SnBi(Ag)-Legierungen mit niedrigem Schmelzpunkt.<br/>
                          RO L0 gemäß EN und IPC-Standards<br/>
                          Halogengehalt: 0,00%<br/>
                          Sn42Bi57Ag1 (Schmelzpunkt: 139°C ~ 282°F)</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-DP-5600-DE.pdf">Technisches Datenblatt DP 5600</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/DP5600-2015-DE-web.pdf">A4 flyer DP 5600-DE</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-DP-5600-FR.pdf">Fiche technique DP 5600</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/DP5600-2015-FR-web.pdf">A4 flyer DP 5600-FR</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-DP-5600.pdf">Technical Data Sheet DP 5600</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/DP5600-2015-Eng-web.pdf">A4 flyer DP 5600</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=DP 5600 " target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>

                    {{
                      product(
                        name='IF 9057',
                        highlight='NEU',
                        features=[
                          ['icon09', 'Hohe Schablonenstandzeit'],
                          ['icon18', 'Absolut halogenfrei'],
                          ['icon15', 'Für SnPb(Ag) Legierungen'],
                          ['icon16', 'Für bleifreie Legierungen'],
                          ['icon20', 'Transparenter Rückstand nach Reflow']
                        ],
                        summary='Interflux® <strong>IF 9057</strong> ist eine no-clean Lotpaste mit <strong>optimierter Druckstabilität</strong> und transparentem Rückstand nach Reflow, in bleifreien und SnPb(Ag) Legierungen.',
                        details='Interflux® IF 9057 ist eine no-clean Lotpaste mit optimierter Druckstabilität und transparentem Rückstand nach Reflow, in bleifreien und SnPb(Ag) Legierungen. <br/>IF 9057 ist der Nachfolger von der DP 5505. <br/>RO L0 gemäß IPC und EN Standards <br/>Halogengehalt 0,00%',
                        images=[
                          [cdnHost + '/images/products/IF-9057/IF-9057-1@400x400.jpg', 'IF-9057 solder wire SnAgCu 500g'],
                          [cdnHost + '/images/products/IF-9057/IF-9057-SnPbAg-1@400x400.jpg', 'IF-9057 solder wire SnPbAg 500g']
                        ],
                        documents=[
                          ['en', cdnHost + '/documents/products/IF-9057/TD-IF-9057-EN.pdf', 'Technical Data Sheet IF 9057'],
                          ['en', cdnHost + '/documents/products/IF-9057/TD-IF-9057-SnPbAg-EN.pdf', 'Technical Data Sheet IF 9057 SnPbAg'],
                          ['de', cdnHost + '/documents/products/IF-9057/TD-IF-9057-DE.pdf', 'Technisches Datenblatt IF 9057'],
                          ['de', cdnHost + '/documents/products/IF-9057/TD-IF-9057-SnPbAg-DE.pdf', 'Technisches Datenblatt IF 9057 SnPbAg'],
                          ['fr', cdnHost + '/documents/products/IF-9057/TD-IF-9057-FR.pdf', 'Fiche technique IF 9057'],
                          ['fr', cdnHost + '/documents/products/IF-9057/TD-IF-9057-SnPbAg-FR.pdf', 'Fiche technique IF 9057 SnPbAg']
                        ]
                      )
                    }}

                    <div class="views-row views-row-4 views-row-even product-row">
                      <div class="product-images"><img src="/assets/images/CLP_DP-5505-Pb-free.jpg" width="200" height="200" alt="DP 5505 Pb-free"/><img src="/assets/images/CLP_DP-5505-SnPb.jpg" width="200" height="200" alt="DP 5505 SnPb"/></div>
                      <div class="product-name">
                        <h3>DP 5505</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon03"></div>
                            <p>Für das Reflowlöten</p>
                          </li>
                          <li>
                            <div class="icon09"></div>
                            <p>Für Schablonendruck</p>
                          </li>
                          <li>
                            <div class="icon08"></div>
                            <p>Für Dosieren</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolut halogenfrei</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Bleifreie Legierungen</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>SnPb-Legierungen</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® DP 5505 ist eine
                          <strong>universelle</strong>
                          no-clean Lotpaste mit hoher Stabilität in
                          <strong>SnPb(Ag)- und bleifreien</strong>
                          Legierungen.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® DP 5505 ist eine universelle no-clean Lotpaste mit hoher Stabilität in SnPb(Ag)- und bleifreien Legierungen.<br/>
                          Wenig Lunkerbildung (Voiding)<br/>
                          Reduzierte "head-in-pillow“-Fehler<br/>
                          Hohe Druckgeschwindigkeiten<br/>
                          Geeignet für Pin-in-Paste<br/>
                          RO L0 gemäß EN und IPC-Standards<br/>
                          Halogengehalt: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-DP-5505-DE.pdf">
                            Technisches Datenblatt DP 5505</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-DP-5505-SnPbAg-DE.pdf">Technisches Datenblatt DP 5505 SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/DP5505-Properties-DE.pdf">DP 5505 Gesamtübersicht</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-DP-5505-FR.pdf">Fiche technique DP 5505</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-DP-5505-SnPbAg-FR.pdf">Fiche technique DP 5505 SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/DP5505-Properties-FR.pdf">DP 5505 aperçu complet</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-DP-5505.pdf">Technical Data Sheet DP 5505</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-DP-5505-SnPbAg.pdf">Technical Data Sheet DP 5505 SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/DP5505-Properties.pdf">DP 5505 complete overview</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=DP 5505" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-5 views-row-odd product-row">
                      <div class="product-images"><img src="/assets/images/micro-dife7-web3.png" width="200" height="200" alt=""/></div>
                      <div class="product-name">
                        <h3>µ-DIFE 7</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon03"></div>
                            <p>Für das Reflowlöten</p>
                          </li>
                          <li>
                            <div class="icon04"></div>
                            <p>Für die Nacharbeit und Reparatur</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Für das Dippen</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolut halogenfrei</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® µ-dIFe 7 ist eine no-clean bleifreie Lotpaste für
                          <strong>Dip-Anwendungen</strong>.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® µ-dIFe 7 ist eine no-clean bleifreie Lotpaste für Dip-Anwendungen.<br/>
                          Wiederholbares und selektives Pastenvolumen<br/>
                          Schneller und einfacher Auftrag<br/>
                          Geringeres Risiko auf Brückenbildung bei μ-BGAs<br/>
                          Geeignet für die ERSA Dip&Print Station<br/>
                          Für Bauteile mit "Ball Grid Arrays", "J-Leads" und "Gull Wing"- Füße.<br/>
                          RO L0 gemäß EN und IPC-Standards<br/>
                          Halogengehalt: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-micro-dIFe-7-DE.pdf">Technisches Datenblatt µ-dIFe 7</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-micro-dIFe-7-FR.pdf">Fiche technique µ-dIFe 7</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-micro-dIFe-7.pdf">Technical Data Sheet µ-dIFe 7</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=µ-DIFE 7" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-6 views-row-even views-row-last product-row">
                      <div class="product-images"><img src="/assets/images/CLP_IF-9009lt-Pb-free.jpg" width="200" height="200" alt="IF 9009lt Pb-free"/><img src="/assets/images/CLP_IF-9009lt-SnPb.jpg" width="200" height="200" alt="IF 9009lt SnPb"/></div>
                      <div class="product-name">
                        <h3>IF 9009LT</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon03"></div>
                            <p>Für das Reflowlöten</p>
                          </li>
                          <li>
                            <div class="icon09"></div>
                            <p>Für Schablonendruck</p>
                          </li>
                          <li>
                            <div class="icon08"></div>
                            <p>Für Dosieren</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Bleifreie Legierungen</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>SnPb-Legierungen</p>
                          </li>
                          <li>
                            <div class="icon21"></div>
                            <p>Erhöhte Aktivierung</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® IF 9009LT ist eine no-clean Lotpaste mit
                          <strong>erhöhter Aktivierung</strong>
                          in SnPb(Ag) und bleifreien Legierungen.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 9009LT ist eine no-clean Lotpaste mit erhöhter Aktivierung in SnPb(Ag) und bleifreien Legierungen.<br/>
                          Für degradierte und schlecht lötbare Oberflächen<br/>
                          RE L1 gemäß EN und IPC-Standards
                        </p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-9009lt-DE.pdf">Technisches Datenblatt IF 9009LT</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-9009lt-FR.pdf">Fiche technique IF 9009LT</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-9009lt.pdf">Technical Data Sheet IF 9009LT</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 9009LT" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-process-views-interflux">
              <h2 class="pane-title">
                <div class="fs28">Hilfsmittel</div>
                <div class="fs18 nc">fürs Reflowlöten</div>
              </h2>
              <div class="pane-content">
                <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_15 product-row-group view-dom-id-f00ed8c995defd6696738df9a0ef778e">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                      <div class="product-images"><img src="/assets/images/CLP_Purgel.jpg" width="200" height="200" alt="IF Purgel"/></div>
                      <div class="product-name">
                        <h3>PURGEL</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon04"></div>
                            <p>Für die Nacharbeit und Reparatur</p>
                          </li>
                          <li>
                            <div class="icon08"></div>
                            <p>Für das Dosieren</p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>Homologiert für MYDATA MY 500</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® Purgel ist ein neutraler Reiniger/<strong>Pfleger</strong>
                          für Pumpen und Ventile von
                          <strong>Dosiersystemen</strong>.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® Purgel ist ein neutraler Reiniger/Pfleger für Pumpen und Ventile von Dosiersystemen.<br/>
                          Um Teile eines Dosiersystems zu konservieren wenn nicht im Gebrauch.<br/>
                          Homologiert für Mydata MY 500</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Purgel-DE.pdf">Technisches Datenblatt Purgel</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Purgel-FR.pdf">Fiche technique Purgel</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Purgel.pdf">Technical Data Sheet Purgel</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PURGEL" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-2 views-row-even product-row">
                      <div class="product-images"><img src="/assets/images/Interflux-IPA-wipes-jar.jpg" width="200" height="200" alt="Interflux IPA-DI wipes"/><img src="/assets/images/Interflux-IPA-wipes.jpg" width="200" height="200" alt="Interflux IPA-DI wipes"/></div>
                      <div class="product-name">
                        <h3>IPA/DI TÜCHER</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon30"></div>
                            <p>ESD-Sicher</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® vorgetränkte IPA/DI Tücher in Flip-Top Dosen und Nachfüllbeutel für die
                          <strong>allgemeine Reinigung</strong>
                          von Oberflächen.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® vorgetränkte IPA/DI Tücher in Flip-Top Dosen und Nachfüllbeutel für die allgemeine Reinigung von Oberflächen.<br/>
                          Ungewobenes Material, flusenfrei<br/>
                          Größe eines Tuches : 15 x 21 cm<br/>
                          100 St./Rolle</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IPA-DI-wipes-DE.pdf">Technisches Datenblatt IPA/DI wipes</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IPA-DI-wipes-FR.pdf">Fiche technique IPA/DI wipes</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IPA-DI-wipes.pdf">Technical Data Sheet IPA/DI wipes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IPA/DI TÜCHER" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-3 views-row-odd product-row">
                      <div class="product-images"><img src="/assets/images/CLP_Stencil-Clean-Tub_0.jpg" width="200" height="200" alt="IF Stencil Clean Wipes"/><img src="/assets/images/CLP_Stencil-Clean-Bag_0.jpg" width="200" height="200" alt="IF Stencil Clean Refil bag"/></div>
                      <div class="product-name">
                        <h3>SCHABLONENREINIGUNGSTÜCHER</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon09"></div>
                            <p>Für die Schablonenreinigung</p>
                          </li>
                          <li>
                            <div class="icon11"></div>
                            <p>Alkoholbasiert</p>
                          </li>
                          <li>
                            <div class="icon30"></div>
                            <p>ESD-sicher</p>
                          </li>
                          <ul></ul>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® vorgetränkte Schablonenreinigungstücher in Flip-Top Dosen und Nachfüllbeutel für die Reinigung von
                          <strong>Lotpaste</strong>
                          und nicht ausgehärtetem
                          <strong>SMT-Kleber</strong>
                          von Schablonen und Werkzeugen.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® vorgetränkte Schablonenreinigungstücher in Flip-Top Dosen und Nachfüllbeutel für die Reinigung von Lotpaste und nicht ausgehärtetem SMT-Kleber von Schablonen und Werkzeugen.<br/>
                          Ungewobenes Material, flusenfrei<br/>
                          Größe eines Tuches : 15 x 21 cm<br/>
                          100 St./Rolle</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Stencil-clean-wipes-DE.pdf">Technisches Datenblatt Stencil Clean Wipes</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Stencil-clean-wipes-FR.pdf">Fiche technique Stencil Clean Wipes</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Stencil-clean-wipes.pdf">Technical Data Sheet Stencil Clean Wipes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=SCHABLONENREINIGUNGSTÜCHER" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-4 views-row-even views-row-last product-row">
                      <div class="product-images"><img src="/assets/images/CLP_ISC-8020_0.jpg" width="200" height="200" alt="ISC 8020"/></div>
                      <div class="product-name">
                        <h3>ISC 8020</h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>Schablonenreinigungsflüssigkeit</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon09"></div>
                            <p>Für Schablonendruck</p>
                          </li>
                          <li>
                            <div class="icon11"></div>
                            <p>Alkoholbasiert</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® ISC 8020 ist eine Schablonenreinigungsflüssigkeit für Schablonendrucker.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® ISC 8020 ist eine Schablonenreinigungsflüssigkeit für Schablonendrucker.<br/>
                          Für die entfernung von Lotpasten und nicht ausgehärtetem SMT-Kleber.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-ISC-8020-DE.pdf">Technisches Datenblatt ISC 8020</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-ISC-8020.pdf">Technical Data Sheet ISC 8020</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=ISC 8020" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="block-block-17" class="block block-block library-reference last even">
        <div class="inner-block">
          <p>Produkt nicht gefunden? Für eine komplette Liste, konsultieren Sie unsere
            <a href="/de/documents">Bibliothek</a>
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-footer2">
    <div class="inner-region">
      <div id="block-block-18" class="block block-block first last odd">
        <div class="inner-block">
          <div class="block grid-12" id="F1">
            <div class="inner-block">
              <div class="inner-content">
                <a href="/de/contact" title="Gehen Sie zur Kontaktseite für mehr Info"><img src="/assets/images/Interflux-Electronics-headquarters-belgium.jpg" width="171" height="271" alt="Interflux Electronics Belgien Bürogebäude"/></a>
                <div class="contact-title">
                  <span>KONTAKT</span><br/>INTERFLUX<br/>HAUPTSITZ</div>
                <div class="contact-adress">
                  <p>
                    Interflux Electronics NV<br/>
                    Gent zeehaven 3170A<br/>
                    Eddastraat 51<br/>
                    9042 Gent<br/>
                    BELGIEN</p>
                  <p>Tel.: +32 9251 4959<br/>
                    Fax: +32 9251 4970<br/>
                    <a href="mailto:info@interflux.com" target="_blank">info@interflux.com</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="block grid-12" id="F2">
            <div class="inner-block">
              <div class="inner-content">
                <div class="contact-title">
                  <span>KONTAKT</span><br/>INTERFLUX WELTWEIT</div>
                <p>
                  <a href="/de/contact" title="Alle Rechte vorbehalten für Interflux® Electronics N.V."><img src="/assets/images/interflux-worldwide-map.jpg" width="446" height="196" alt="Geographische Karte von der Interflux Gruppe"/></a>
                </p>
              </div>
            </div>
          </div>
          <div class="block grid-24" id="F3">
            <div class="copyright">©2012 Alle Rechte vorbehalten für Interflux® Electronics N.V.</div>
            <div class="louder-than-words">Webseite durch
              <a href="https://nabu.io" target="_new" title="NABU websites">NABU websites</a>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
{% endblock %}