{% extends "layout.html.njk" %}
{% block meta %}
  <title>Perusahaan | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}id-company
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-company i18n-id section-company page-panels
{% endblock %}
{% block page %}
  <div class="region region-language">
    <div class="inner-region">
      <div id="block-locale-language" class="block block-locale language-menu block grid-24 first last odd" role="complementary">
        <div class="inner-block">
          <ul class="language-switcher-locale-url">
            <li class="en first">
              <a href="/en/company" class="language-link" lang="en" title="Company">
                <div class="flag en"></div>English</a>
            </li>
            <li class="zh-hans">
              <a href="/zh-hans/company" class="language-link" lang="zh-hans" title="公司">
                <div class="flag zh-hans"></div>简体中文</a>
            </li>
            <li class="cs">
              <a href="/cs/company" class="language-link" lang="cs" title="Společnost">
                <div class="flag cs"></div>Čeština</a>
            </li>
            <li class="de">
              <a href="/de/company" class="language-link" lang="de" title="Unternehmen">
                <div class="flag de"></div>Deutsch</a>
            </li>
            <li class="fr">
              <a href="/fr/company" class="language-link" lang="fr" title="Entreprise">
                <div class="flag fr"></div>Français</a>
            </li>
            <li class="it">
              <a href="/it/company" class="language-link" lang="it" title="Società">
                <div class="flag it"></div>Italiano</a>
            </li>
            <li class="id active">
              <a href="/id/company" class="language-link active" lang="id" title="Perusahaan">
                <div class="flag id"></div>Bahasa Indonesia</a>
            </li>
            <li class="pt-pt">
              <a href="/pt-pt/company" class="language-link" lang="pt-pt" title="Empresa">
                <div class="flag pt-pt"></div>Português</a>
            </li>
            <li class="ro">
              <a href="/ro/company" class="language-link" lang="ro" title="Companie">
                <div class="flag ro"></div>Română</a>
            </li>
            <li class="ru">
              <a href="/ru/company" class="language-link" lang="ru" title="О компании">
                <div class="flag ru"></div>Русский</a>
            </li>
            <li class="th">
              <a href="/th/company" class="language-link" lang="th" title="บริษัท">
                <div class="flag th"></div>ภาษาไทย</a>
            </li>
            <li class="tr">
              <a href="/tr/company" class="language-link" lang="tr">
                <div class="flag tr"></div>Türkçe</a>
            </li>
            <li class="pl">
              <a href="/pl/company" class="language-link" lang="pl" title="Firma">
                <div class="flag pl"></div>Polski</a>
            </li>
            <li class="es">
              <a href="/es/company" class="language-link" lang="es" title="Empresa">
                <div class="flag es"></div>Español</a>
            </li>
            <li class="sv last">
              <a href="/sv/company" class="language-link" lang="sv" title="Företag">
                <div class="flag sv"></div>Svenska</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-header">
    <div class="inner-region">
      <div id="block-block-11" class="block block-block grid-9 first odd">
        <div class="inner-block">
          <p>
            <a href="/" title="Interflux Electronics" target="_self"><img src="/assets/images/interflux-electronics-logo.png" width="343" height="87" alt="Interflux Electronics logo"/></a>
          </p>
        </div>
      </div>
      <div id="block-menu-menu-interflux-menu" class="block block-menu grid-15 header-nav last even" role="navigation">
        <div class="inner-block">
          <ul class="menu">
            <li class="first expanded">
              <a href="/id" title="Temukan produk berdasarkan jenis">Produk</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/id/soldering-fluxes" title="">Flux penyolderan</a>
                </li>
                <li class="leaf">
                  <a href="/id/solder-pastes" title="">Pasta solder</a>
                </li>
                <li class="leaf">
                  <a href="/id/solder-wires" title="">Timah solder</a>
                </li>
                <li class="leaf">
                  <a href="/id/spray-fluxers" title="">Penyemprot flux</a>
                </li>
                <li class="last leaf">
                  <a href="/id/auxiliaries" title="">Alat pembantu</a>
                </li>
              </ul>
            </li>
            <li class="expanded">
              <a href="/id" title="Temukan produk berdasarkan proses">Proses</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/id/wave-soldering" title="">Penyolderan gelombang</a>
                </li>
                <li class="leaf">
                  <a href="/id/selective-soldering" title="">Penyolderan selektif</a>
                </li>
                <li class="leaf">
                  <a href="/id/reflow-soldering" title="">Penyolderan reflow</a>
                </li>
                <li class="leaf">
                  <a href="/id/rework-and-repair" title="">Pengerjaan ulang & Perbaikan</a>
                </li>
                <li class="last leaf">
                  <a href="/id/pre-tinning" title="">Pra-pelapisan timah</a>
                </li>
              </ul>
            </li>
            <li class="leaf active-trail">
              <a href="/id/company" title="Pelajari tentang Interflux" class="active-trail active">Perusahaan</a>
            </li>
            <li class="leaf">
              <a href="/id/documents" title="Temukan data teknis">Dokumen</a>
            </li>
            <li class="last leaf">
              <a href="/id/contact" title="Hubungi kami">Kontak</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="panel-flexible panels-flexible-18 clearfix">
        <div class="panel-flexible-inside panels-flexible-18-inside">
          <div class="panels-flexible-region panels-flexible-region-18-center panels-flexible-region-first panels-flexible-region-last">
            <div class="inside panels-flexible-region-inside panels-flexible-region-18-center-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
              <div class="panel-pane pane-views-panes pane-company-views-panel-pane-1">
                <div class="pane-content">
                  <div class="view view-company-views view-id-company_views view-display-id-panel_pane_1 view-dom-id-41c9ca91a5ba6aba06a081eaa64af386">
                    <div class="view-content">
                      <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                        <div class="panel-display panel-1col clearfix">
                          <div class="panel-panel panel-col">
                            <div>
                              <div class="views-field views-field-field-corpus">
                                <div class="field-content">
                                  <div class="company-block" id="company-block-1">
                                    <div class="company-article" id="article-interflux">
                                      <div class="company-article-inner">
                                        <div class="company-bg-1"></div>
                                        <div class="img-iso company-img"></div>
                                        <div class="sub-title">
                                          kualitas tinggi selama 30 tahun lebih,<br/>bahan kimia penyolderan yang dapat diandalkan
                                        </div>
                                        <div class="corpus">
                                          <div class="img-triangle company-img"></div>
                                          <div class="img-daniel company-img">
                                            <div>Daniel Werkhoven<br/>Pendiri Interflux</div>
                                          </div>
                                          <p>Didirikan tahun 1980, Interflux® Electronics N.V. memberikan lebih dari 30 tahun pengalaman mengenai bahan kimia untuk proses solder berkualitas tinggi dan dapat diandalkan untuk industri perakitan elektronik. Poin andalan kami adalah No-residueTM (Bebas residu); Technology fluxes (Flux teknologi), bahan kimia bebas halida, flux bebas VOC, formulasi bebas rosin dan resin dan banyak masih lagi ...<br/>
                                            <br/>
                                            Interflux® Electronics N.V.
                                            <strong>tersertifikasi ISO 9001</strong>.
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="company-article" id="article-pioneer">
                                      <div class="company-article-inner">
                                        <div class="sub-title">
                                          Pionir sejati
                                        </div>
                                        <div class="corpus">
                                          Interflux® Electronics N.V. selalu menjadi yang terdepan dalam pengembangan inovatif bahan kimia penyolderan.<strong>IF 2005M</strong>, yang pertama dari jenisnya, flux
                                          <strong>No-residueTM
                                          </strong>(Bebas residu), dibuat dan disukseskan oleh Interflux® Group. Lebih jauh lagi, Interflux adalah yang pertama yang menawarkan produk flux penyolderan dengan performa dan kualitas tinggi yang sepenuhnya bebas VOC:
                                          <strong>seri PacIFic</strong>. Dengan
                                          <strong>IF 14</strong>, Interflux memperkenalkan bahan kimia timah solder dengan residu yang dapat dibersihkan, bahan yang saat ini masih sangat langka.
                                        </div>
                                        <div class="img-pioneer company-img"></div>
                                      </div>
                                    </div>
                                    <div class="company-article" id="article-durable">
                                      <div class="company-article-inner">
                                        <div class="sub-title">
                                          Bertanggung jawab & tahan lama
                                        </div>
                                        <div class="corpus">
                                          Dengan memasang panel photovoltaic dan sistem pemanasan air dengan matahari di Ghent, Interflux® Electronics N.V. telah berkomitmen untuk menjadi<strong>
                                            fasilitas dengan emisi karbon rendah</strong>. Saat ini pembuangan CO2 tahunan telah berkurang lebih dari 50%. Interflux® Electronics N.V.
                                          <strong>memiliki sistem penanganan air limbah biologis</strong>
                                          yang menjamin fasilitas kita berlabel 'nol pembuangan' dari Pemerintah Flemish untuk air limbah.
                                        </div>
                                        <div class="img-durable company-img"></div>
                                      </div>
                                    </div>
                                    <div class="company-article" id="article-support">
                                      <div class="company-article-inner">
                                        <div class="sub-title">
                                          Dukungan di seluruh dunia
                                        </div>
                                        <div class="corpus">
                                          Dengan 12 anak perusahaan internasional dan 3 pabrik produksi strategis di bawah nama Interflux® dan jaringan global dari agen dan distributor, Interflux® Electronics N.V. memberikan jaringan dukungan yang luas. Dukungan pelanggan kualitas tinggi, teknis, logistik, penjualan dan on site untuk produk Interflux® tersedia secara luas.
                                        </div>
                                        <div class="img-support company-img"></div>
                                      </div>
                                    </div>
                                    <div class="clear"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-footer2">
    <div class="inner-region">
      <div id="block-block-18" class="block block-block first last odd">
        <div class="inner-block">
          <div class="block grid-12" id="F1">
            <div class="inner-block">
              <div class="inner-content">
                <a href="/en/contact" target="_self" title="Go to the contact page for more information"><img src="/assets/images/Interflux-Electronics-headquarters-belgium.jpg" width="171" height="271" alt="Interflux Electronics Belgium office building"/></a>
                <div class="contact-title">
                  <span>Kontak Kantor Pusat Interflux</span>
                </div>
                <div class="contact-adress">
                  <p>
                    Interflux Electronics NV<br/>
                    Gent zeehaven 3170A<br/>
                    Eddastraat 51<br/>
                    9042 Gent<br/>
                    BELGIUM</p>
                  <p>Tel.: +32 9251 4959<br/>
                    Fax: +32 9251 4970<br/>
                    <a href="mailto:info@interflux.com" target="_blank">info@interflux.com</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="block grid-12" id="F2">
            <div class="inner-block">
              <div class="inner-content">
                <div class="contact-title">
                  <span>Kontak Interflux di Seluruh Dunia</span>
                </div>
                <p>
                  <a href="/en/contact" target="_self" title="Go to the contact page for more information"><img src="/assets/images/interflux-worldwide-map.jpg" width="446" height="196" alt="Geographical map of the Interflux group"/></a>
                </p>
              </div>
            </div>
          </div>
          <div class="block grid-24" id="F3">
            <div class="copyright">©2012 Hak cipta oleh Interflux</div>
            <div class="louder-than-words">Website oleh
              <a href="http://nabu.io" target="_new" title="NABU websites">NABU websites</a>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="messages error">
    <h2 class="element-invisible">Error message</h2>
    <ul>
      <li>The file could not be created.</li>
      <li>The file could not be created.</li>
    </ul>
  </div>
{% endblock %}