{% extends "layout.html.njk" %}
{% block meta %}
  <title>Perusahaan | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}id-company
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-company i18n-id section-company page-panels
{% endblock %}
{% block page %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-flexible panels-flexible-18 clearfix">
          <div class="panel-flexible-inside panels-flexible-18-inside">
            <div class="panels-flexible-region panels-flexible-region-18-center panels-flexible-region-first panels-flexible-region-last">
              <div class="inside panels-flexible-region-inside panels-flexible-region-18-center-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
                <div class="panel-pane pane-views-panes pane-company-views-panel-pane-1">
                  <div class="pane-content">
                    <div class="view view-company-views view-id-company_views view-display-id-panel_pane_1 view-dom-id-bdb3682875fec6cc9f19f62c9582483a">
                      <div class="view-content">
                        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                          <div class="panel-display panel-1col clearfix">
                            <div class="panel-panel panel-col">
                              <div>
                                <div class="views-field views-field-field-corpus">
                                  <div class="field-content">
                                    <div class="company-block" id="company-block-1">
                                      <div class="company-article" id="article-interflux">
                                        <div class="company-article-inner">
                                          <div class="company-bg-1"></div>
                                          <div class="img-iso company-img"></div>
                                          <div class="sub-title">
                                            kualitas tinggi selama 30 tahun lebih,<br/>bahan kimia penyolderan yang dapat diandalkan
                                          </div>
                                          <div class="corpus">
                                            <div class="img-triangle company-img"></div>
                                            <div class="img-daniel company-img">
                                              <div>Daniel Werkhoven<br/>Pendiri Interflux</div>
                                            </div>
                                            <p>Didirikan tahun 1980, Interflux® Electronics N.V. memberikan lebih dari 30 tahun pengalaman mengenai bahan kimia untuk proses solder berkualitas tinggi dan dapat diandalkan untuk industri perakitan elektronik. Poin andalan kami adalah No-residueTM (Bebas residu); Technology fluxes (Flux teknologi), bahan kimia bebas halida, flux bebas VOC, formulasi bebas rosin dan resin dan banyak masih lagi ...<br/>
                                              <br/>
                                              Interflux® Electronics N.V.
                                              <strong>tersertifikasi ISO 9001</strong>.
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="company-article" id="article-pioneer">
                                        <div class="company-article-inner">
                                          <div class="sub-title">
                                            Pionir sejati
                                          </div>
                                          <div class="corpus">
                                            Interflux® Electronics N.V. selalu menjadi yang terdepan dalam pengembangan inovatif bahan kimia penyolderan.<strong>IF 2005M</strong>, yang pertama dari jenisnya, flux
                                            <strong>No-residueTM
                                            </strong>(Bebas residu), dibuat dan disukseskan oleh Interflux® Group. Lebih jauh lagi, Interflux adalah yang pertama yang menawarkan produk flux penyolderan dengan performa dan kualitas tinggi yang sepenuhnya bebas VOC:
                                            <strong>seri PacIFic</strong>. Dengan
                                            <strong>IF 14</strong>, Interflux memperkenalkan bahan kimia timah solder dengan residu yang dapat dibersihkan, bahan yang saat ini masih sangat langka.
                                          </div>
                                          <div class="img-pioneer company-img"></div>
                                        </div>
                                      </div>
                                      <div class="company-article" id="article-durable">
                                        <div class="company-article-inner">
                                          <div class="sub-title">
                                            Bertanggung jawab & tahan lama
                                          </div>
                                          <div class="corpus">
                                            Dengan memasang panel photovoltaic dan sistem pemanasan air dengan matahari di Ghent, Interflux® Electronics N.V. telah berkomitmen untuk menjadi<strong>
                                              fasilitas dengan emisi karbon rendah</strong>. Saat ini pembuangan CO2 tahunan telah berkurang lebih dari 50%. Interflux® Electronics N.V.
                                            <strong>memiliki sistem penanganan air limbah biologis</strong>
                                            yang menjamin fasilitas kita berlabel 'nol pembuangan' dari Pemerintah Flemish untuk air limbah.
                                          </div>
                                          <div class="img-durable company-img"></div>
                                        </div>
                                      </div>
                                      <div class="company-article" id="article-support">
                                        <div class="company-article-inner">
                                          <div class="sub-title">
                                            Dukungan di seluruh dunia
                                          </div>
                                          <div class="corpus">
                                            Dengan 12 anak perusahaan internasional dan 3 pabrik produksi strategis di bawah nama Interflux® dan jaringan global dari agen dan distributor, Interflux® Electronics N.V. memberikan jaringan dukungan yang luas. Dukungan pelanggan kualitas tinggi, teknis, logistik, penjualan dan on site untuk produk Interflux® tersedia secara luas.
                                          </div>
                                          <div class="img-support company-img"></div>
                                        </div>
                                      </div>
                                      <div class="clear"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}