{% extends "layout.html.njk" %}
{% block meta %}
  <title>Soldadura por ola | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}es-wave-soldering
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-wave-soldering page-products i18n-es section-wave-soldering page-panels
{% endblock %}
{% block page %}
  {% include "partials/highlight.njk" %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-display panel-1col clearfix" id="panel-soldering-wire">
          <div class="panel-panel panel-col">
            <div>
              <div class="panel-pane pane-views pane-process-views-interflux">
                <h2 class="pane-title">
                  <div class="fs30">Fluxes</div>
                  <div class="fs18">de soldadura<br/>por ola</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_5 product-row-group view-dom-id-661486090938bc5f0345876ed7294266">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_OSPI%203311M_10.jpg" width="200" height="200" alt="OSPI 3311M soldering flux"/></div>
                        <div class="product-name">
                          <h3>OSPI 3311M</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NUEVO</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Base alcohol</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Para soldadura por ola</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Alta potencia desoxidante</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Para la soldadura en OSP</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® OSPI 3311M es un flux de no limpieza a base alcohol para
                            <strong>soldar em OSP</strong>
                            con múltiples ciclos de refusión.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® OSPI 3311M es un flux de no limpieza a base alcohol para
                            <strong>soldar em OSP</strong>
                            con múltiples ciclos de refusión.<br/>
                            Para soldadura por ola SnPb y sin plomo<br/>
                            según normas EN y IPC es OR L0<br/>
                            Contenido halógeno: 0,00%</p>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=OSPI 3311M" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-2 views-row-even product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%202005M_3.jpg" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>IF 2005M</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Base alcohol</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Para soldadura por ola</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Alta compatibilidad con conformal coating</p>
                            </li>
                            <li>
                              <div class="icon19"></div>
                              <p>No-residue™</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 2005M es el
                            <strong>internacionalmente reconocido estándar
                            </strong>en  resina libre, no-clean / No-residue ™ fluxes.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 2005M es el internacionalmente reconocido estándar en  resina libre, no-clean / No-residue ™ fluxes.<br/>
                            Interflux ® IF 2005M es QPL-listado (aprobado por MIL-F-14256F).<br/>
                            compatible con, SnPb y sin plomo<br/>
                            Puede ser utilizado con, spray y espuma<br/>
                            según normas EN y IPC, es OR L0<br/>
                            Contenido sólido: 1,85% ±0,15<br/>
                            Contenido halógeno: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%202005M-DE.pdf" type="application/pdf; length=466453" title="TD IF 2005M-DE.pdf">Technisches Datenblatt IF 2005M</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/IF%202005-%20series%20application%20doc-DE_0.pdf" type="application/pdf; length=234680" title="IF 2005- series application doc-DE.pdf">IF 2005-Serie Anwendung</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%202005M-FR.pdf" type="application/pdf; length=467989" title="TD IF 2005M-FR.pdf">Fiche technique IF 2005M</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/IF%202005-%20series%20application%20doc-FR.pdf" type="application/pdf; length=233410" title="IF 2005- series application doc-FR.pdf">Document d'application de la série IF 2005</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%202005M_0.pdf" type="application/pdf; length=462008" title="TD IF 2005M.pdf">Technical Data Sheet IF 2005M</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/IF%202005-%20series%20application%20doc.pdf" type="application/pdf; length=229382" title="IF 2005- series application doc.pdf">IF 2005 series application document</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 2005M" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-3 views-row-odd product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%202005K_7.jpg" width="200" height="200" alt="IF 2005K"/></div>
                        <div class="product-name">
                          <h3>IF 2005K</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Base de alcohol</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Para soldadura por ola</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos
                              </p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Alta compatibilidad con conformal coating</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Bajo residuo</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 2005K con 2,5% de sólidos es un flux de no limpieza. Libre de resinas. Se puede utilizar cuando el proceso de soldadura requiere
                            <strong>más activación, que con el IF 2005M</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 2005K con 2,5% de sólidos es un flux de no limpieza. Libre de resinas. Se puede utilizar cuando el proceso de soldadura requiere más activación, que con el IF 2005M.<br/>
                            compatible con, SnPb y sin plomo<br/>
                            Puede ser utilizado con spray y espuma<br/>
                            según normas EN y IPC, son OR L0<br/>
                            Contenido sólido: 2,5% ±0,3<br/>
                            Contenido halógeno: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%202005K-DE.pdf" type="application/pdf; length=480696" title="TD IF 2005K-DE.pdf">Technisches Datenblatt IF 2005K</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/IF%202005-%20series%20application%20doc-DE_0.pdf" type="application/pdf; length=234680" title="IF 2005- series application doc-DE.pdf">IF 2005-Serie Anwendung</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%202005K-FR_0.pdf" type="application/pdf; length=586896" title="TD IF 2005K-FR.pdf">Fiche technique IF 2005K</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/IF%202005-%20series%20application%20doc-FR.pdf" type="application/pdf; length=233410" title="IF 2005- series application doc-FR.pdf">Document d'application de la série IF 2005</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%202005K_0.pdf" type="application/pdf; length=463692" title="TD IF 2005K.pdf">Technical Data Sheet IF 2005K</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/IF%202005-%20series%20application%20doc.pdf" type="application/pdf; length=229382" title="IF 2005- series application doc.pdf">IF 2005 series application document</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 2005K" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-4 views-row-even product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_P%202009M_7.jpg" width="200" height="200" alt="PACIFIC 2009M"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2009M</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Flux base agua</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Para soldadura por ola</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Para soldadura selectiva</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Para pre-estañado</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Utilizado por spray</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Alta compatibilidad con conformal coating</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Bajo residuo</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® PacIFic
                            <strong></strong>2009M es un flux con base agua de no limpieza, que se utiliza principalmente, para
                            <strong>soldadura por ola  y selectiva</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® PacIFic
                            <strong></strong>2009M es un flux con base agua de no limpieza, que se utiliza principalmente, para soldadura por ola  y selectiva.<br/>
                            compatible con SnPb y sin plomo<br/>
                            según normas EN y IPC es OR L0<br/>
                            Contenido sólido: 3,7% ±0,15<br/>
                            Contenido halógeno: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20PacIFic%202009M-DE_0.pdf" type="application/pdf; length=439464">TD PacIFic 2009M-DE.pdf</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20PacIFic%202009M-FR.pdf" type="application/pdf; length=401502" title="TD PacIFic 2009M-FR.pdf">Fiche technique PacIFic 2009M</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20PacIFic%202009M_0.pdf" type="application/pdf; length=433215" title="TD PacIFic 2009M.pdf">Technical Data Sheet PacIFic 2009M</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/Kyzen_P2009M.pdf" type="application/pdf; length=62971" title="Kyzen_P2009M.pdf">Cleaning PACIFIC 2009M by KYZEN</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009M" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-5 views-row-odd product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_P%202009MLF_8.jpg" width="200" height="200" alt="PACIFIC 2009MLF"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2009MLF</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Flux base agua</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Para soldadura por ola</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Para soldadura selectiva</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Utilizado por spray</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos
                              </p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Inhibe la formación de bolas en la soldadura</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>PacIFic
                            <strong></strong>es un flux con base agua, desarrollado para
                            <strong>minimizar la formación de micro bolas
                            </strong>en la soldadura.</p>
                        </div>
                        <div class="product-details">
                          <p>PacIFic 2009MLFes un flux con base agua, desarrollado para
                            <strong>minimizar la formación de micro bolas
                            </strong>
                            en la soldadura.<br/>
                            Compatible con SnPb y sin plomo<br/>
                            Puede ser utilizado con spray y espuma (piedra porosa)<br/>
                            según normas EN y IPC son OR L0<br/>
                            Contenido sólido: 3,6% ±0,2<br/>
                            Contenido halógeno: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20PacIFic%202009MLF-DE_0.pdf" type="application/pdf; length=539026" title="TD PacIFic 2009MLF-DE.pdf">Technisches Datenblatt PacIFic 2009MLF</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20PacIFic%202009MLF-FR_0.pdf" type="application/pdf; length=501536" title="TD PacIFic 2009MLF-FR.pdf">Fiche technique PacIFic 2009MLF</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20PacIFic%202009MLF.pdf" type="application/pdf; length=532571" title="TD PacIFic 2009MLF.pdf">Technical Data Sheet PacIFic 2009MLF</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009MLF" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-6 views-row-even product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_P%202009MLF-E_6.jpg" width="200" height="200" alt="PACIFIC 2009MLF-E"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2009MLF-E</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Flux base agua</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Para soldadura por ola</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Utilizado por spray</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos
                              </p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Residuo reducido</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Reducción de la formación de bolas en la soldadura</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>PacIFic
                            <strong></strong>es un flux base agua de no limpieza, que combina el
                            <strong>bajo residuo
                            </strong>y la
                            <strong>formación reducida de bolas
                            </strong>en la soldadura.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>PacIFic 2009MLF-E es un flux base agua de no limpieza, que combina el
                            <strong>bajo residuo y la formación reducida de bolas</strong>
                            en la soldadura.<br/>
                            compatible con SnPb y sin plomo<br/>
                            Área principal de aplicación: soldadura por ola<br/>
                            según normas EN y IPC es OR L0<br/>
                            Contenido sólido: 3,6% ±0,25<br/>
                            Contenido halógeno: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20PacIFic%202009MLF-E-DE.pdf" type="application/pdf; length=452230" title="TD PacIFic 2009MLF-E-DE.pdf">Technisches Datenblatt PacIFic 2009MLF-E</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20PacIFic%202009MLF-E-DE.pdf" type="application/pdf; length=452230" title="TD PacIFic 2009MLF-E-DE.pdf">Fiche technique PacIFic 2009MLF-E</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20PacIFic%202009MLF-E.pdf" type="application/pdf; length=446221" title="TD PacIFic 2009MLF-E.pdf">Technical Data Sheet PacIFic 2009MLF-E</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009MLF-E" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-7 views-row-odd product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_P%202010F_7.jpg" width="200" height="200" alt="PACIFIC 2010F"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2010F</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Flux a base agua</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Para soldadura por ola</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Utilizado por spray</p>
                            </li>
                            <li>
                              <div class="icon07"></div>
                              <p>Utilizado para espuma</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Alta compatibilidad con conformal coating</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Bajo residuo</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>PacIFic
                            <strong></strong>2010F es un flux base agua de no limpieza, para aplicaciones con
                            <strong>espuma</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>PacIFic
                            <strong></strong>
                            2010Fes un flux base agua de no limpieza, para aplicaciones con espuma.<br/>
                            compatible con SnPb y sin plomo<br/>
                            según normas EN y IPC  es OR L0<br/>
                            Contenido sólido: 2,5% ±0,15<br/>
                            Contenido halógeno: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20PacIFic%202010F-DE_0.pdf" type="application/pdf; length=504163" title="TD PacIFic 2010F-DE.pdf">Technisches Datenblatt PacIFic 2010F</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20PacIFic%202010F-FR.pdf" type="application/pdf; length=536531" title="TD PacIFic 2010F-FR.pdf">Fiche technique PacIFic 2010F</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20PacIFic%202010F_0.pdf" type="application/pdf; length=448654" title="TD PacIFic 2010F.pdf">Technical Data Sheet PacIFic 2010F</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2010F" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-8 views-row-even product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%203006_7.jpg" width="200" height="200" alt="IF 3006"/></div>
                        <div class="product-name">
                          <h3>IF 3006</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon13"></div>
                              <p>Bajo en VOC</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Para soldadura por ola</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Para soldadura selectiva</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Para pre-estañado</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Alta compatibilidad con conformal coating</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong></strong>IF 3006 es un flux base de agua de no limpieza, libre de resinas y contenido
                            <strong>VOC reducido</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 3006es un flux base de agua de no limpieza, libre de resinas y
                            <strong>contenido VOC reducido</strong>
                            .<br/>
                            compatible con SnPb y sin plomo<br/>
                            también para pre-estañado<br/>
                            según normas EN y IPC  es OR L0<br/>
                            Contenido sólido: 3,2% ±0,4<br/>
                            Contenido halógeno: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%203006-DE_0.pdf" type="application/pdf; length=441073" title="TD IF 3006-DE.pdf">Technisches Datenblatt IF 3006</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%203006-FR.pdf" type="application/pdf; length=442827" title="TD IF 3006-FR.pdf">Fiche technique IF 3006</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%203006.pdf" type="application/pdf; length=435445" title="TD IF 3006.pdf">Technical Data Sheet IF 3006</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 3006" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-9 views-row-odd product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_AF%204818PbF_rechtsom.jpg" width="200" height="200" alt="AF 4818PbF"/></div>
                        <div class="product-name">
                          <h3>AF 4818 PBF</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon14"></div>
                              <p>Flux resinoso</p>
                            </li>
                            <li>
                              <div class="icon11"></div>
                              <p>Base alcohol</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Para soldadura por ola</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Utilizado por spray</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Alta potencia desoxidante
                              </p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Resistencia a precalentamientos largos</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®<strong></strong>AF 4818 PbF es un flux de no limpieza, resinoso base alcohol con un mayor contenido en sólidos para cubrir una área de proceso grande.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux®
                            <strong></strong>AF 4818 PbF es un flux de no limpieza, resinoso base alcohol con un mayor contenido en sólidos para cubrir una área de proceso grande.<br/>
                            para soldadura por ola SnPb y sin plomo<br/>
                            según normas EN y IPC  es RO L0<br/>
                            Contenido sólido: 5%<br/>
                            Contenido halógeno: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20AF%204818%20PbF-DE_1.pdf" type="application/pdf; length=537990" title="TD AF 4818 PbF-DE.pdf">Technisches Datenblatt AF 4818PbF</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20AF%204818%20PbF_1.pdf" type="application/pdf; length=535028" title="TD AF 4818 PbF.pdf">Technical Data Sheet AF 4818PbF</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=AF 4818 PBF" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-10 views-row-even views-row-last product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_T%202005M_5.jpg" width="200" height="200" alt="Interflux T 2005M thinner"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Interflux-T2005M.jpg" width="200" height="200" alt="Interflux T 2005M thinner"/></div>
                        <div class="product-name">
                          <h3>T 2005M</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Base de alcohol</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Para fluxes de la serie IF 2005</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong>T 2005M</strong>
                            es el diluyente /
                            <strong>acondicionador</strong>, para los fluxes de la
                            <strong>serie IF 2005</strong>.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® T 2005M es el diluyente / acondicionador, para los fluxes de la serie IF 2005. Cuando son usados en espuma y otras aplicaciones de flux abierto.</p>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=T 2005M" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-process-views-interflux">
                <h2 class="pane-title">
                  <div class="fs27">Accesorios</div>
                  <div class="fs18">de soldadura<br/>por ola</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_4 product-row-group view-dom-id-a70cec1d10439e1d725be558dfe2ac00">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%20710%20PSM_0.jpg" width="200" height="200" alt="IF 710PSM"/></div>
                        <div class="product-name">
                          <h3>IF 710 PSM</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>mascara pelable</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Para soldadura por ola</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Para procesos SnPb(Ag)</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Para procesos Sin plomo</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Secado rápido, fácilmente extraíble</p>
                            </li>
                            <li>
                              <div class="icon28"></div>
                              <p>RoHS compliant</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 710 PSM es una látex natural, de
                            <strong>secado rápido
                            </strong>y fácilmente extraíble.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 710 PSM es una látex natural, de secado rápido y fácilmente extraíble, utilizado como mascara para el proceso de soldadura.<br/>
                            Para proteger áreas en un PCB en contacto con el flux y la ola.<br/>
                            Fácil extracción, no es fácil de romper.<br/>
                            Resistente al calor.<br/>
                            Puede dar un descoloramiento en Cu, cuando es aplicado en Cu desnudo o Cu-OSP.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%20710-DE_0.pdf" type="application/pdf; length=292541" title="TD IF 710-DE.pdf">Technisches Datenblatt IF 710 PSM</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%20710-FR_0.pdf" type="application/pdf; length=416162" title="TD IF 710-FR.pdf">Fiche technique IF 710 PSM</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%20710_0.pdf" type="application/pdf; length=369316" title="TD IF 710.pdf">Technical Data Sheet IF 710 PSM</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 710 PSM" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-2 views-row-even product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/IF%20910_final2.png" width="200" height="200" alt="IF 910 de-oxidation oil"/></div>
                        <div class="product-name">
                          <h3>IF 910</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>aceite de desoxidación
                          </h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Para soldadura por ola</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Para pre estañado</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Para inmersión</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Para aleaciones SnPb(Ag)</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Para aleaciones sin plomo</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 910 aceite desoxidante,
                            <strong>separa los residuos de óxido</strong>, del estaño en los baño de soldadura. Reduce así, el consumo de estaño.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 910 aceite desoxidante, separa los residuos de óxido, del estaño en los baño de soldadura.<br/>
                            Reduce así, el consumo de estaño.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%20910-DE.pdf" type="application/pdf; length=526614" title="TD IF 910-DE.pdf">Technisches Datenblatt IF 910</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%20910-FR_0.pdf" type="application/pdf; length=495807" title="TD IF 910-FR.pdf">Fiche technique IF 910</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%20910.pdf" type="application/pdf; length=484684" title="TD IF 910.pdf">Technical Data Sheet IF 910</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 910" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-3 views-row-odd product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_AOP%20lead-free.jpg" width="200" height="200" alt="Anti-oxidant pellets"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_AOP%20SnPb.jpg" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>PELLETS ANTI OXIDANTES</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Para soldadura por ola</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Para soldadura selectiva</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Para pre estañado</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Para procesos SnPb(Ag)</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Para procesos sin plomo</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Anti-oxidant pellets Pellets anti oxidantes,
                            <strong>minimizan la formación de óxidos</strong>
                            en los baños de soldadura, sin plomo y SnPb(Ag).</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Pellets anti oxidantes, minimizan la formación de óxidos en los baños de soldadura, sin plomo y SnPb(Ag)<br/>
                            Utilizado como una aportación en un baño de soldadura<br/>
                            Para aleaciones SnPb(Ag) (rótulo azul) o sin plomo (rótulo verde)<br/>
                            Pellets anti oxidantes no son recomendados en atmosferas inertes cerrados ni para aleaciones Ni-dopadas.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Anti-oxidant%20pellets-DE.pdf" type="application/pdf; length=366742" title="TD Anti-oxidant pellets-DE.pdf">Technisches Datenblatt Anti-oxidant pellets</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Anti-oxidant%20pellets-FR_0.pdf" type="application/pdf; length=371501" title="TD Anti-oxidant pellets-FR.pdf">Fiche technique Anti-oxidant pellets</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Anti-oxidant%20pellets.pdf" type="application/pdf; length=364659" title="TD Anti-oxidant pellets.pdf">Technical Data Sheet Anti-oxidant pellets</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PELLETS ANTI OXIDANTES" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-4 views-row-even product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/solder%20bars_0.jpg" width="200" height="200" alt="solder bars"/></div>
                        <div class="product-name">
                          <h3>SOLDADURA EN BARRA</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Para soldadura por ola</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Para soldadura selectiva</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Para pre estañado</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Para inmersión</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong></strong>Soldadura en barra, están hechas con metales de
                            <strong>alta pureza, baja oxidación</strong>.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Soldadura en barra, están hechas con metales de alta pureza, baja oxidación.<br/>
                            En aleaciones SnPb(Ag) y sin plomo.
                          </p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Lead-free%20alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20SnPb%28Ag%29-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Lead-free%20alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20SnPb%28Ag%29-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Lead-free%20alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20SnPb%28Ag%29-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/General%20info%20-%20lead%20free%20alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=SOLDADURA EN BARRA" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-5 views-row-odd product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/grenailles_1.png" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>PELLETS DE SOLDADURA</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Para soldadura por ola</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Para soldadura selectiva</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Para reparación y reproceso
                              </p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Para pre estañado</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Para inmersión</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® pellets de soldadura, son pequeños piezas, para el llenado fácil del baño de soldadura, en aleaciones SnPb(Ag) y sin plomo.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® pellets de soldadura, son pequeños piezas, para el llenado fácil del baño de soldadura, en aleaciones SnPb(Ag) y sin plomo.<br/>
                            Tamaño: 1cm x 1cm aprox.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Lead-free%20alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20SnPb%28Ag%29-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Lead-free%20alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20SnPb%28Ag%29-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Lead-free%20alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20SnPb%28Ag%29-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/General%20info%20-%20lead%20free%20alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PELLETS DE SOLDADURA" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-6 views-row-even views-row-last product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Interflux-IPA-wipes-jar.jpg" width="200" height="200" alt="Interflux IPA-DI wipes"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Interflux-IPA-wipes.jpg" width="200" height="200" alt="Interflux IPA-DI wipes"/></div>
                        <div class="product-name">
                          <h3>TOALLITAS IPA/ DI</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon30"></div>
                              <p>ESD-seguro</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®  toallitas pre saturadas
                            <strong>IPA / DI
                            </strong>en flip-top y sacos de recarga para limpieza general de superficies.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® toallitas pre saturadas IPA / DI en flip-top y sacos de recarga para limpieza general de superficies.<br/>
                            sin hilos, no tejidos<br/>
                            Tamaño toallita único: 15 x 21cm<br/>
                            100 unid / rollo</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IPA-DI%20wipes-DE.pdf" type="application/pdf; length=430094" title="TD IPA-DI wipes-DE.pdf">Technisches Datenblatt IPA/DI wipes</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IPA-DI%20wipes-FR.pdf" type="application/pdf; length=433271" title="TD IPA-DI wipes-FR.pdf">Fiche technique IPA/DI wipes</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IPA-DI%20wipes_0.pdf" type="application/pdf; length=425179" title="TD IPA-DI wipes.pdf">Technical Data Sheet IPA/DI wipes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=TOALLITAS IPA/ DI" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-process-views-interflux">
                <h2 class="pane-title">
                  <div class="fs30">Spray fluxers</div>
                  <div class="fs18">de soldadura<br/>por ola</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_3 product-row-group view-dom-id-73b8ca869bc96c2aa1f410eda6f85bdb">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/ICSF%20Curve.jpg" width="200" height="200" alt="ICSF Curve"/></div>
                        <div class="product-name">
                          <h3>ICSF CURVE</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>
                                For wave soldering</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>
                                For spray fluxing</p>
                            </li>
                            <li>
                              <div class="icon11"></div>
                              <p>
                                For Alcohol based fluxes</p>
                            </li>
                            <li>
                              <div class="icon17"></div>
                              <p>
                                For water based fluxes</p>
                            </li>
                            <li>
                              <div class="icon14"></div>
                              <p>
                                For rosin based fluxes</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>The InterSpray Curve series are designed to
                            <strong>retrofit all existing soldering machines</strong>
                            with a reliable spray fluxer which offers excellent results.</p>
                        </div>
                        <div class="product-details">
                          <p>The InterSpray Curve series are designed to retrofit all existing soldering machines with a reliable spray fluxer which offers excellent results.<br/>
                            √ Venturi, clog-free spray nozzle<br/>
                            √ Touch screen programming<br/>
                            √ Clean, ergonomic design<br/>
                            √ Special flux pump<br/>
                            √ Encoder calibration function<br/>
                            √ Low level flux alarm</p>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=ICSF CURVE" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-2 views-row-even views-row-last product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/ICSFcurve2.png" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>ICSF CURVE 2</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>
                                For wave soldering</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>
                                For spray fluxing</p>
                            </li>
                            <li>
                              <div class="icon11"></div>
                              <p>
                                For Alcohol based fluxes</p>
                            </li>
                            <li>
                              <div class="icon17"></div>
                              <p>
                                For water based fluxes</p>
                            </li>
                            <li>
                              <div class="icon14"></div>
                              <p>
                                For rosin based fluxes</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>The InterSpray Curve 2 double nozzle series are designed to
                            <strong>use 2 different types of fluxes
                            </strong>in 1 reliable spray fluxer system.</p>
                        </div>
                        <div class="product-details">
                          <p>The InterSpray Curve 2 double nozzle series are designed to use 2 different types of fluxes in 1 reliable system.<br/>
                            √ Double Venturi, clog-free spray nozzle<br/>
                            √ Touch screen programming<br/>
                            √ 2 Flux supply modules<br/>
                            √ Clean, ergonomic design<br/>
                            √ Special flux pump<br/>
                            √ Encoder calibration function<br/>
                            √ Low level flux alarm</p>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=ICSF CURVE 2" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="block-block-17" class="block block-block library-reference last even">
          <div class="inner-block">
            <p>¿No encuentra el producto? Para obtener una lista completa de productos, visite nuestra
              <a href="/es/documents">biblioteca</a>
            </p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}