{% extends "layout.html.njk" %}
{% block meta %}
  <title>Produkty wspomagające | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}pl-auxiliaries
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-auxiliaries page-products i18n-pl section-auxiliaries page-panels
{% endblock %}
{% block page %}
  <div class="region region-language">
    <div class="inner-region">
      <div id="block-locale-language" class="block block-locale language-menu block grid-24 first last odd" role="complementary">
        <div class="inner-block">
          <ul class="language-switcher-locale-url">
            <li class="en first">
              <a href="/en/auxiliaries" class="language-link" lang="en" title="Auxiliaries">
                <div class="flag en"></div>English</a>
            </li>
            <li class="zh-hans">
              <a href="/zh-hans/auxiliaries" class="language-link" lang="zh-hans" title="其他">
                <div class="flag zh-hans"></div>简体中文</a>
            </li>
            <li class="cs">
              <a href="/cs/auxiliaries" class="language-link" lang="cs" title="Doplňky">
                <div class="flag cs"></div>Čeština</a>
            </li>
            <li class="de">
              <a href="/de/auxiliaries" class="language-link" lang="de" title="Hilfsmittel">
                <div class="flag de"></div>Deutsch</a>
            </li>
            <li class="fr">
              <a href="/fr/auxiliaries" class="language-link" lang="fr" title="Auxiliaires">
                <div class="flag fr"></div>Français</a>
            </li>
            <li class="it">
              <a href="/it/auxiliaries" class="language-link" lang="it" title="Prodotti ausiliari">
                <div class="flag it"></div>Italiano</a>
            </li>
            <li class="id">
              <a href="/id/auxiliaries" class="language-link" lang="id" title="Alat pembantu">
                <div class="flag id"></div>Bahasa Indonesia</a>
            </li>
            <li class="pt-pt">
              <a href="/pt-pt/auxiliaries" class="language-link" lang="pt-pt" title="Acessórios">
                <div class="flag pt-pt"></div>Português</a>
            </li>
            <li class="ro">
              <a href="/ro/auxiliaries" class="language-link" lang="ro" title="Auxiliare pentru">
                <div class="flag ro"></div>Română</a>
            </li>
            <li class="ru">
              <a href="/ru/auxiliaries" class="language-link" lang="ru" title="Вспомогательные материалы">
                <div class="flag ru"></div>Русский</a>
            </li>
            <li class="th">
              <a href="/th/auxiliaries" class="language-link" lang="th" title="อุปกรณ์เสริม">
                <div class="flag th"></div>ภาษาไทย</a>
            </li>
            <li class="tr">
              <a href="/tr/auxiliaries" class="language-link" lang="tr">
                <div class="flag tr"></div>Türkçe</a>
            </li>
            <li class="pl active">
              <a href="/pl/auxiliaries" class="language-link active" lang="pl" title="Produkty wspomagające">
                <div class="flag pl"></div>Polski</a>
            </li>
            <li class="es">
              <a href="/es/auxiliaries" class="language-link" lang="es" title="Accesorios">
                <div class="flag es"></div>Español</a>
            </li>
            <li class="sv last">
              <a href="/sv/auxiliaries" class="language-link" lang="sv" title="Ytterligare produkter">
                <div class="flag sv"></div>Svenska</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-header">
    <div class="inner-region">
      <div id="block-block-11" class="block block-block grid-9 first odd">
        <div class="inner-block">
          <p>
            <a href="/pl/" title="Interflux Electronics"><img src="/assets/images/interflux-electronics-logo.png" width="343" height="87" alt="Interflux Electronics logo"/></a>
          </p>
        </div>
      </div>
      <div id="block-menu-menu-interflux-menu" class="block block-menu grid-15 header-nav last even" role="navigation">
        <div class="inner-block">
          <ul class="menu">
            <li class="first expanded active-trail">
              <a href="/pl" title="Znajdź produkty wg typu" class="active-trail">Produkty</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/pl/soldering-fluxes" title="">Topniki lutownicze</a>
                </li>
                <li class="leaf">
                  <a href="/pl/solder-pastes" title="">Pasty lutownicze</a>
                </li>
                <li class="leaf">
                  <a href="/pl/solder-wires" title="">Druty lutownicze</a>
                </li>
                <li class="leaf">
                  <a href="/pl/spray-fluxers" title="">Fluksery</a>
                </li>
                <li class="last leaf active-trail">
                  <a href="/pl/auxiliaries" title="" class="active-trail active">Produkty wspomagające</a>
                </li>
              </ul>
            </li>
            <li class="expanded">
              <a href="/pl" title="Znajdź produkty wg procesu">Procesy</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/pl/wave-soldering" title="">Lutowanie na fali</a>
                </li>
                <li class="leaf">
                  <a href="/pl/selective-soldering" title="">Lutowanie selektywne</a>
                </li>
                <li class="leaf">
                  <a href="/pl/reflow-soldering" title="">Lutowanie rozpływowe</a>
                </li>
                <li class="leaf">
                  <a href="/pl/rework-and-repair" title="">Rework & Repair</a>
                </li>
                <li class="last leaf">
                  <a href="/pl/pre-tinning" title="">Cynowanie wstępne</a>
                </li>
              </ul>
            </li>
            <li class="leaf">
              <a href="/pl/company" title="Dowiedz się więcej o Interflux">Firma</a>
            </li>
            <li class="leaf">
              <a href="/pl/documents" title="Znajdź dane techniczne">Dokumenty</a>
            </li>
            <li class="last leaf">
              <a href="/pl/contact" title="Skontaktuj się z nami">Kontakt</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-highlight">
    <div class="inner-region">
      <div id="banners">
        <div class="preload"></div>
        <div class="stage">
          <article id="ipc-apex-2017">
            <a href="https://www.ipcapexexpo.org/" target="_blank" title="Visit us at IPC APEX 2018 in San Diego">
              <picture>
                
                <img src="" alt="Visit use at IPC APEX 2018 in San Diego"/>
              </picture>
            </a>
          </article>
          <article id="productronica-2017">
            <a href="https://www.productronica.com/" target="_blank" title="Visit us at Productronica 2017">
              <img src=""/>
            </a>
          </article>
          <article id="lmpa">
            <a href="https://lmpa.interflux.com" target="_blank">
              <h1>Solder
                <strong>5 times</strong>
                faster whilst maintaining
                <strong>zero defects</strong>
              </h1>
              <h1>Discover
                <mark>LMPA<span>™</span>
                </mark>
              </h1>
              <div id="video">
                <video id="movie" width="276" height="220" autoplay loop>
                  <source src="{{cdnHost}}/videos/LMPA-Q-30mms.mp4" type="video/mp4"></source>
                  Your browser doesn't support HTML5 video tag.
                </video>
                <script></script>
                <p>Speed: 30 mm/s</p>
              </div>
            </a>
          </article>
        </div>
        <nav>
          <div id="prev">
            <div></div>
          </div>
          <div id="next">
            <div></div>
          </div>
          <div id="timer">
            <div></div>
          </div>
          <ul></ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="panel-display panel-1col clearfix">
        <div class="panel-panel panel-col">
          <div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs30">Narzędzia do procesu</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_18 product-row-group view-dom-id-429bc2d5f3d504e6c44da8dc8486d5f6">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_IF-710-PSM_0.jpg" width="200" height="200" alt="IF 710PSM"/></div>
                      <div class="product-name">
                        <h3>IF 710 PSM</h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>peelable solder mask</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Do lutowania na fali</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>Do procesu SnPb(Ag)
                            </p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Do procesu bezołowiowego</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Śzybkoschnąca, łatwa w aplikacji maska zrywalna</p>
                          </li>
                          <li>
                            <div class="icon28"></div>
                            <p>RoHS zgodna</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux®
                          <strong></strong>IF 710 PSM  to maska zrywalna na bazie naturalnego latexu chroni obszary wrażliwe na wysoką temperaturę przed topnikiem oraz lutowiem.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 710 PSM to maska zrywalna na bazie naturalnego latexu chroni obszary wrażliwe na wysoką temperaturę przed topnikiem oraz lutowiem.<br/>
                          Łatwo zrywalna<br/>
                          Odporna na wysoką temperaturę<br/>
                          Może powodować dekoloryzację Cu kiedy aplikowana na gołe Cu lub Cu-OSP</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-710-DE.pdf">Technisches Datenblatt IF 710 PSM</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-710-FR.pdf">Fiche technique IF 710 PSM</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-710.pdf">Technical Data Sheet IF 710 PSM</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 710 PSM" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/pl/1017" title="IF 710 PSM" class="nid">1017</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs26">Czyszczenie</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_16 product-row-group view-dom-id-8b66cb72798cb21396a19efe36d7b2c0">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/IF-930-All-in-One_4.jpg" width="200" height="200" alt="IF 930 wettable nozzle cleaner"/><img src="/assets/images/IF-930kader.png" width="200" height="200" alt="IF 930 wettable nozzle cleaner"/></div>
                      <div class="product-name">
                        <h3>IF 930</h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>nozzle cleaner</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon02"></div>
                            <p>Do lutowania selektywnego</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>Do procesu SnPb(Ag)
                            </p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Do procesu bezołowiowego</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>100% pozbawiony halogenków</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® IF 930 czyści i usuwa tlenki z nozzli używanych w falach selektywnych.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 930 czyści i usuwa tlenki z nozzli używanych w falach selektywnych.<br/>
                          Prosty w użyciu<br/>
                          Zastępuje IF 920
                        </p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-930-DE.pdf">Technisches Datenblatt IF 930</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-930-FR.pdf">Fiche technique IF 930</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-930.pdf">Technical Data Sheet IF 930</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 930" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/pl/1036" title="IF 930" class="nid">1036</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_Tip-Tinner.jpg" width="200" height="200" alt="Tip Tinner"/></div>
                      <div class="product-name">
                        <h3>TIP TINNER</h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>do cynowania grotów lutowniczych</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon04"></div>
                            <p>Do reworku i napraw</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>Do procesu SnPb(Ag)
                            </p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Do procesu bezołowiowego</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>100% pozbawiony halogenków</p>
                          </li>
                          <li>
                            <div class="icon26"></div>
                            <p>Bez kalafonii</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® Tip Tinner czyści i cynuje groty lutownicze przyczyniając się do ich dłuższego uzytkowania.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® Tip Tinner czyści i cynuje groty lutownicze przyczyniając się do ich dłuższego uzytkowania.<br/>
                          Podwyższa znacznie czas uzyteczności końcówki<br/>
                          100% pozbawiony halogenków<br/>
                          Nieścieralny</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Tip-Tinner-DE.pdf">Technisches Datenblatt Tip Tinner</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Tip-Tinner-FR.pdf">Fiche technique Tip Tinner</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Tip-Tinner.pdf">Technical Data Sheet Tip Tinner</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=TIP TINNER" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/pl/1027" title="TIP TINNER" class="nid">1027</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_Purgel.jpg" width="200" height="200" alt="IF Purgel"/></div>
                      <div class="product-name">
                        <h3>PURGEL</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon04"></div>
                            <p>Do reworku i napraw</p>
                          </li>
                          <li>
                            <div class="icon08"></div>
                            <p>Do dozowania</p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>Zatwierdzony dla MYDATA MY 500</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux®
                          <strong></strong>
                          Purgel to neutralny środek do czyszczenia pomp i zaworów w systemach dozowania.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® Purgel to neutralny środek do czyszczenia pomp i zaworów w systemach dozowania.<br/>
                          Dla konserwacji części, które czasowo są nieużywane.<br/>
                          zatwierdzone dla MYDATA MY 500.
                        </p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Purgel-DE.pdf">Technisches Datenblatt Purgel</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Purgel-FR.pdf">Fiche technique Purgel</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Purgel.pdf">Technical Data Sheet Purgel</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PURGEL" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/pl/1037" title="PURGEL" class="nid">1037</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/Interflux-IPA-wipes-jar.jpg" width="200" height="200" alt="Interflux IPA-DI wipes"/><img src="/assets/images/Interflux-IPA-wipes.jpg" width="200" height="200" alt="Interflux IPA-DI wipes"/></div>
                      <div class="product-name">
                        <h3>IPA/DI WIPES</h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>chusteczki</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon30"></div>
                            <p>Antystatyczne</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® nasączone IPA / DI ściereczki w ergonomicznym pojemniku lub torebkach do szerokiego stosowania w strefach produkcji elektronicznej.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® nasączone IPA / DI ściereczki w ergonomicznym pojemniku lub torebkach do szerokiego stosowania w strefach produkcji elektronicznej.<br/>
                          Bezpyłowe, o idealnej fakturze<br/>
                          rozmiar chusteczki: 15 x 21cm<br/>
                          100 szt/opak
                        </p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IPA-DI-wipes-DE.pdf">Technisches Datenblatt IPA/DI wipes</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IPA-DI-wipes-FR.pdf">Fiche technique IPA/DI wipes</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IPA-DI-wipes.pdf">Technical Data Sheet IPA/DI wipes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IPA/DI WIPES" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/pl/1038" title="IPA/DI WIPES" class="nid">1038</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_Stencil-Clean-Tub.jpg" width="200" height="200" alt="IF Stencil Clean Wipes"/><img src="/assets/images/CLP_Stencil-Clean-Bag.jpg" width="200" height="200" alt="IF Stencil Clean Refil bag"/></div>
                      <div class="product-name">
                        <h3>STENCIL CLEAN WIPES</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon09"></div>
                            <p>Nasączone roztworem</p>
                          </li>
                          <li>
                            <div class="icon11"></div>
                            <p>Na bazie alkoholu</p>
                          </li>
                          <li>
                            <div class="icon30"></div>
                            <p>Antystatyczne
                            </p>
                          </li>
                          <ul></ul>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Sciereczki Interflux® do szablonów w pojemniku typu flip-top oraz opakowaniach uzupełniających do usuwania pasty lutowniczej oraz nieutwardzonych klejów SMT.</p>
                      </div>
                      <div class="product-details">
                        <p>Sciereczki Interflux® do szablonów w pojemniku typu flip-top oraz opakowaniach uzupełniających do usuwania pasty lutowniczej oraz nieutwardzonych klejów SMT.<br/>
                          Bezpyłowe, o idealnej fakturze<br/>
                          rozmiar chusteczki: 15 x 21cm<br/>
                          100 szt/opak
                        </p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Stencil-clean-wipes-DE.pdf">Technisches Datenblatt Stencil Clean Wipes</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Stencil-clean-wipes-FR.pdf">Fiche technique Stencil Clean Wipes</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Stencil-clean-wipes.pdf">Technical Data Sheet Stencil Clean Wipes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=STENCIL CLEAN WIPES" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/pl/1044" title="STENCIL CLEAN WIPES" class="nid">1044</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_ISC-8020_0.jpg" width="200" height="200" alt="ISC 8020"/></div>
                      <div class="product-name">
                        <h3>ISC 8020</h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>stencil cleaning fluid</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon09"></div>
                            <p>Do drukowania szablonowego</p>
                          </li>
                          <li>
                            <div class="icon11"></div>
                            <p>Na bazie alkoholu</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® ISC 8020 jest płynem do automatycznych drukarek szablonowych z systemem czyszczenia szablonów do do usuwania pasty lutowniczej oraz nieutwardzonych klejów SMT.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® ISC 8020 jest płynem do automatycznych drukarek szablonowych z systemem czyszczenia szablonów do do usuwania pasty lutowniczej oraz nieutwardzonych klejów SMT.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-ISC-8020-DE.pdf">Technisches Datenblatt ISC 8020</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-ISC-8020.pdf">Technical Data Sheet ISC 8020</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=ISC 8020" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/pl/1039" title="ISC 8020" class="nid">1039</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs25">Ochrona kąpieli lutowniczej</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_15 product-row-group view-dom-id-a9b4a5a199f84b2862728d6286ed54de">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/IF-910_final2.png" width="200" height="200" alt="IF 910 de-oxidation oil"/></div>
                      <div class="product-name">
                        <h3>IF 910</h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>de-oxidation oil</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>For wave soldering</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>For pre-tinning</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>For dip soldering</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>For SnPb(Ag) alloys</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>For lead-free alloys</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® IF 910 de-oxidation oil separates oxides from good solder in a solder bath.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux®  IF 910 de-oxidation oil separates oxides from good solder in a solder bath.<br/>
                          Reduces solder consumption.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-910-DE.pdf">Technisches Datenblatt IF 910</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-910-FR.pdf">Fiche technique IF 910</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-910.pdf">Technical Data Sheet IF 910</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 910" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/pl/1061" title="IF 910" class="nid">1061</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_AOP-lead-free.jpg" width="200" height="200" alt="Anti-oxidant pellets"/><img src="/assets/images/CLP_AOP-SnPb.jpg" width="200" height="200" alt=""/></div>
                      <div class="product-name">
                        <h3>ANTI-OXIDANT PELLETS</h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>Peletki antyoksydacyjne</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Do lutowania na fali</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Do lutowania selektywnego</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Do cynowania</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>Do procesu SnPb(Ag)
                            </p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Do procesu bezołowiowego
                            </p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® Peletki antyoksydacyjne minimalizuje powstawanie tlenków w kapielach bezołowiowych i SnPb(Ag).</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® Peletki antyoksydacyjne minimalizuje powstawanie tlenków w kapielach bezołowiowych i SnPb(Ag).<br/>
                          Dodatek do kąpieli<br/>
                          Do SnPb(Ag) (niebieska etykieta) lub bezołowiowych (zielona etykieta)<br/>
                          Peletki antyoksydacyjne nie zalecane do systemów azotowych lub stopów z dodatkiem Ni</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Anti-oxidant-pellets-DE.pdf">Technisches Datenblatt Anti-oxidant pellets</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Anti-oxidant-pellets-FR.pdf">Fiche technique Anti-oxidant pellets</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Anti-oxidant-pellets.pdf">Technical Data Sheet Anti-oxidant pellets</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=ANTI-OXIDANT PELLETS" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/pl/997" title="ANTI-OXIDANT PELLETS" class="nid">997</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs26">Stopy lutownicze</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_14 product-row-group view-dom-id-6cb7a6571cddd03e40f1b5b19a5aaab2">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/solder-bars_0.jpg" width="200" height="200" alt="solder bars"/></div>
                      <div class="product-name">
                        <h3>SOLDER BARS</h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>sztabki lutownicze</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Do lutowania na fali</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Do lutowania selektywnego</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Do cynowania</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Do zanurzenia</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® sztabki lutownicze są formowane z wysokiej czystości, nisko-utlenialnych metali bazowych w mieszankach SnPb(Ag) i bezołowiowych.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® sztabki lutownicze są formowane z wysokiej czystości, nisko-utlenialnych metali bazowych w mieszankach SnPb(Ag) i bezołowiowych.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Lead-free-alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-SnPbAg-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/General-info-lead-free-alloys.pdf">Short properties overview</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=SOLDER BARS" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/pl/1043" title="SOLDER BARS" class="nid">1043</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/plain-wire-2mm-4kg-5.png" width="200" height="200" alt="Plain Solder Wire"/></div>
                      <div class="product-name">
                        <h3>PLAIN SOLDER WIRE</h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>Czysty drut lutowniczy ( bez topnika )</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon02"></div>
                            <p>Do lutowania selektywnego</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Do cynowania</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Do zanurzenia</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® drut lutowniczy do systemów automatycznego dozowania w falach selektywnych w mieszankach bezołowiowych i SnPb(Ag).</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® drut lutowniczy do systemów automatycznego dozowania w falach selektywnych w mieszankach bezołowiowych i SnPb(Ag).<br/>
                          średnica drutu: 2mm<br/>
                          4kg szpula<br/>
                          szpula wym.: 125mm x 125mm (śr.x dł.)
                        </p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Lead-free-alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-SnPbAg-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/General-info-lead-free-alloys.pdf">Short properties overview</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PLAIN SOLDER WIRE" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/pl/1042" title="PLAIN SOLDER WIRE" class="nid">1042</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/grenailles.png" width="200" height="200" alt="Solder Grenailles"/></div>
                      <div class="product-name">
                        <h3>SOLDER PELLETS</h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>Peletki lutownicze</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Do lutowania na fali</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Do lutowania selektywnego</p>
                          </li>
                          <li>
                            <div class="icon04"></div>
                            <p>Do reworku i napraw</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Do cynowania</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Do zanurzenia</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® Peletki lutownicze są niewielkimi kawałkami lutowia do łatwego uzupełniania niewielkich kapieli lutowniczych bezołowiowe i SnPb(Ag).</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux®  Peletki lutownicze są niewielkimi kawałkami lutowia do łatwego uzupełniania niewielkich kapieli lutowniczych bezołowiowe i SnPb(Ag).</p>
                        <p>Rozmiar: 1cm x 1cm (około).</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Lead-free-alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-SnPbAg-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/General-info-lead-free-alloys.pdf">Short properties overview</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=SOLDER PELLETS" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/pl/1025" title="SOLDER PELLETS" class="nid">1025</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="block-block-17" class="block block-block library-reference last even">
        <div class="inner-block">
          <p>Nie możesz znaleźć produktu? Kompletna lista produktów w
            <a href="/pl/documents">bibliotece</a>
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-footer2">
    <div class="inner-region">
      <div id="block-block-18" class="block block-block first last odd">
        <div class="inner-block">
          <div class="block grid-12" id="F1">
            <div class="inner-block">
              <div class="inner-content">
                <a href="/pl/contact"><img src="/assets/images/Interflux-Electronics-headquarters-belgium.jpg" width="171" height="271" alt="Interflux Electronics Belgium office building"/></a>
                <div class="contact-title">
                  <span>KONTAKT Z</span><br/>CENTRALĄ<br/>INTERFLUX</div>
                <div class="contact-adress">
                  <p>
                    Interflux Electronics NV<br/>
                    Gent zeehaven 3170A<br/>
                    Eddastraat 51<br/>
                    9042 Gent<br/>
                    BELGIA</p>
                  <p>Tel.: +32 9251 4959<br/>
                    Fax: +32 9251 4970<br/>
                    <a href="mailto:info@interflux.com" target="_blank">info@interflux.com</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="block grid-12" id="F2">
            <div class="inner-block">
              <div class="inner-content">
                <div class="contact-title">
                  <span>KONTAKTY</span><br/>LOKALNE INTERFLUX</div>
                <p>
                  <a href="/pl/contact"><img src="/assets/images/interflux-worldwide-map.jpg" width="446" height="196" alt="Geographical map of the Interflux group"/></a>
                </p>
              </div>
            </div>
          </div>
          <div class="block grid-24" id="F3">
            <div class="copyright">©2012 Wszystkie prawa zastrzeżone przez Interflux® Electronics N.V.</div>
            <div class="louder-than-words">Website by
              <a href="https://nabu.io" target="_new" title="NABU websites">NABU websites</a>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
{% endblock %}