{% extends "layout.html.njk" %}
{% block meta %}
  <title>Companie | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}ro-company
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-company i18n-ro section-company page-panels
{% endblock %}
{% block page %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-flexible panels-flexible-18 clearfix">
          <div class="panel-flexible-inside panels-flexible-18-inside">
            <div class="panels-flexible-region panels-flexible-region-18-center panels-flexible-region-first panels-flexible-region-last">
              <div class="inside panels-flexible-region-inside panels-flexible-region-18-center-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
                <div class="panel-pane pane-views-panes pane-company-views-panel-pane-1">
                  <div class="pane-content">
                    <div class="view view-company-views view-id-company_views view-display-id-panel_pane_1 view-dom-id-7b83a8255b4412bf9216007983af4fb9">
                      <div class="view-content">
                        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                          <div class="panel-display panel-1col clearfix">
                            <div class="panel-panel panel-col">
                              <div>
                                <div class="views-field views-field-field-corpus">
                                  <div class="field-content">
                                    <div class="company-block" id="company-block-1">
                                      <div class="company-article" id="article-interflux">
                                        <div class="company-article-inner">
                                          <div class="company-bg-1"></div>
                                          <div class="img-iso company-img"></div>
                                          <div class="sub-title">
                                            Peste 30 ani de inalta calitate,
                                            <br/>de înaltă chimie lipit fiabilitate
                                          </div>
                                          <div class="corpus">
                                            <div class="img-triangle company-img"></div>
                                            <div class="img-daniel company-img">
                                              <div>Daniel Werkhoven<br/>Fondatorul Interflux</div>
                                            </div>
                                            <p>Infiintata in 1980, Interflux® Electronics N.V. ofera mai mult de 30 de ani de experienta in produsele chimice pentru lipire de inalta calitate, necesare in industria de asamblare in electronica. Punctele noastre prioritare sunt tehnologia fluxurilor; No-residueTM,  chimia fara halogenuri, fluxuri fara compusi organici volatili, fara colofoniu si fara rasina<br/>
                                              formulari si multe altele …<br/>
                                              <br/>
                                              Interflux® Electronics N.V. este
                                              <strong>certificat ISO9001</strong>.
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="company-article" id="article-pioneer">
                                        <div class="company-article-inner">
                                          <div class="sub-title">
                                            Un adevarat pionier
                                          </div>
                                          <div class="corpus">
                                            Interflux® Electronics N.V. a fost intotdeauna in prima linie atunci cand vine vorba despre dezvoltarea inovatoare a produselor chimice pentru lipire.
                                            <strong>IF2005M</strong>, primul de acest fel,
                                            <strong>No-residueTM</strong>, a fost conceput, produs si facut cu succes de grupul Interflux®.<br/>
                                            In plus, Interflux a fost unul dintre primii care ofera o inalta performanta, calitate ridicata a liniei complete de fluxuri  compusi organici volatili :
                                            <strong>seria PacIFic</strong>. Cu
                                            <strong>IF14</strong>, Interflux introduce o sarma de lipire cu compozitie chimica care genereaza reziduuri ce se indeparteaza prin periere, proprietate care este unica in prezent.
                                          </div>
                                          <div class="img-pioneer company-img"></div>
                                        </div>
                                      </div>
                                      <div class="company-article" id="article-durable">
                                        <div class="company-article-inner">
                                          <div class="sub-title">
                                            Responsabil si durabil
                                          </div>
                                          <div class="corpus">
                                            Prin instalarea in Gent a panourilor fotovoltaice si de incalzire a apei, Interflux® Electronics N.V. s-a angajat sa devina o
                                            <strong>fabrica cu emisie redusa de carbon</strong>. In prezent emisia de CO2 a fost redusa cu mai mult de 50%. Interflux® Electronics N.V.  are un
                                            <strong>sistem de tratare biologica a apelor reziduale</strong>
                                            care acorda fabricii noastre eticheta “descarcare zero” din partea Guvernului Flamand pentru apa de canalizare.
                                          </div>
                                          <div class="img-durable company-img"></div>
                                        </div>
                                      </div>
                                      <div class="company-article" id="article-support">
                                        <div class="company-article-inner">
                                          <div class="sub-title">
                                            Suport in intreaga lume
                                          </div>
                                          <div class="corpus">
                                            Cu 12 sucursale in intreaga lume si 3 fabrici de productie sub numele Interflux® si o retea globala de agenti si distribuitori, Interflux® Electronics N.V. ofera o vasta retea de suport. Calitatea ridicata, tehnica, logistica, vanzarile si
                                            <strong>suportul
                                            </strong>tehnic la sediul clientului pentru produsele Interflux® sunt
                                            <strong>disponibile pe scara larga</strong>.
                                          </div>
                                          <div class="img-support company-img"></div>
                                        </div>
                                      </div>
                                      <div class="clear"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}