{% extends "layout.html.njk" %}
{% block meta %}
  <title>Лужение | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}ru-pre-tinning
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-pre-tinning page-products i18n-ru section-pre-tinning page-panels
{% endblock %}
{% block page %}
  <div class="region region-language">
    <div class="inner-region">
      <div id="block-locale-language" class="block block-locale language-menu block grid-24 first last odd" role="complementary">
        <div class="inner-block">
          <ul class="language-switcher-locale-url">
            <li class="en first">
              <a href="/en/pre-tinning" class="language-link" lang="en" title="Pre-tinning">
                <div class="flag en"></div>English</a>
            </li>
            <li class="zh-hans">
              <a href="/zh-hans/pre-tinning" class="language-link" lang="zh-hans" title="预镀锡">
                <div class="flag zh-hans"></div>简体中文</a>
            </li>
            <li class="cs">
              <a href="/cs/pre-tinning" class="language-link" lang="cs" title="Cínování">
                <div class="flag cs"></div>Čeština</a>
            </li>
            <li class="de">
              <a href="/de/pre-tinning" class="language-link" lang="de" title="Vorverzinnen">
                <div class="flag de"></div>Deutsch</a>
            </li>
            <li class="fr">
              <a href="/fr/pre-tinning" class="language-link" lang="fr" title="Étamage">
                <div class="flag fr"></div>Français</a>
            </li>
            <li class="it">
              <a href="/it/pre-tinning" class="language-link" lang="it" title="Pre-stagnatura">
                <div class="flag it"></div>Italiano</a>
            </li>
            <li class="id">
              <a href="/id/pre-tinning" class="language-link" lang="id" title="Pra-pelapisan timah">
                <div class="flag id"></div>Bahasa Indonesia</a>
            </li>
            <li class="pt-pt">
              <a href="/pt-pt/pre-tinning" class="language-link" lang="pt-pt" title="Pré-estanhagem">
                <div class="flag pt-pt"></div>Português</a>
            </li>
            <li class="ro">
              <a href="/ro/pre-tinning" class="language-link" lang="ro" title="Pre-cositorire">
                <div class="flag ro"></div>Română</a>
            </li>
            <li class="ru active">
              <a href="/ru/pre-tinning" class="language-link active" lang="ru" title="Лужение">
                <div class="flag ru"></div>Русский</a>
            </li>
            <li class="th">
              <a href="/th/pre-tinning" class="language-link" lang="th" title="การฉาบดีบุกก่อนบัดกรี">
                <div class="flag th"></div>ภาษาไทย</a>
            </li>
            <li class="tr">
              <a href="/tr/pre-tinning" class="language-link" lang="tr">
                <div class="flag tr"></div>Türkçe</a>
            </li>
            <li class="pl">
              <a href="/pl/pre-tinning" class="language-link" lang="pl" title="Cynowanie wstępne">
                <div class="flag pl"></div>Polski</a>
            </li>
            <li class="es">
              <a href="/es/pre-tinning" class="language-link" lang="es" title="Pre estañado">
                <div class="flag es"></div>Español</a>
            </li>
            <li class="sv last">
              <a href="/sv/pre-tinning" class="language-link" lang="sv" title="Pre-tinning">
                <div class="flag sv"></div>Svenska</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-header">
    <div class="inner-region">
      <div id="block-block-11" class="block block-block grid-9 first odd">
        <div class="inner-block">
          <p>
            <a href="/ru/" title="Interflux Electronics"><img src="/assets/images/interflux-electronics-logo.png" width="343" height="87" alt="Interflux Electronics logo"/></a>
          </p>
        </div>
      </div>
      <div id="block-menu-menu-interflux-menu" class="block block-menu grid-15 header-nav last even" role="navigation">
        <div class="inner-block">
          <ul class="menu">
            <li class="first expanded">
              <a href="/ru" title="Поиск продуктов по типу">Продукты</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/ru/soldering-fluxes" title="">Паяльные флюсы</a>
                </li>
                <li class="leaf">
                  <a href="/ru/solder-pastes" title="">Паяльные пасты</a>
                </li>
                <li class="leaf">
                  <a href="/ru/solder-wires" title="">Проволочный припой</a>
                </li>
                <li class="leaf">
                  <a href="/ru/spray-fluxers" title="">Распыление флюса</a>
                </li>
                <li class="last leaf">
                  <a href="/ru/auxiliaries" title="">Вспомогательные материалы</a>
                </li>
              </ul>
            </li>
            <li class="expanded active-trail">
              <a href="/ru" title="Поиск продуктов по процессам" class="active-trail">Процессы</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/ru/wave-soldering" title="">Волновая пайка</a>
                </li>
                <li class="leaf">
                  <a href="/ru/selective-soldering" title="">Селективная пайка</a>
                </li>
                <li class="leaf">
                  <a href="/ru/reflow-soldering" title="">Пайка оплавлением</a>
                </li>
                <li class="leaf">
                  <a href="/ru/rework-and-repair" title="">Ремонт</a>
                </li>
                <li class="last leaf active-trail">
                  <a href="/ru/pre-tinning" title="" class="active-trail active">Лужение</a>
                </li>
              </ul>
            </li>
            <li class="leaf">
              <a href="/ru/company" title="Подробнее об Interflux">О компании</a>
            </li>
            <li class="leaf">
              <a href="/ru/documents" title="Поиск технической информации">Документы</a>
            </li>
            <li class="last leaf">
              <a href="/ru/contact" title="Свяжитесь с нами">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-highlight">
    <div class="inner-region">
      <div id="banners">
        <div class="preload"></div>
        <div class="stage">
          <article id="ipc-apex-2017">
            <a href="https://www.ipcapexexpo.org/" target="_blank" title="Visit us at IPC APEX 2018 in San Diego">
              <picture>
                
                <img src="" alt="Visit use at IPC APEX 2018 in San Diego"/>
              </picture>
            </a>
          </article>
          <article id="productronica-2017">
            <a href="https://www.productronica.com/" target="_blank" title="Visit us at Productronica 2017">
              <img src=""/>
            </a>
          </article>
          <article id="lmpa">
            <a href="https://lmpa.interflux.com" target="_blank">
              <h1>Solder
                <strong>5 times</strong>
                faster whilst maintaining
                <strong>zero defects</strong>
              </h1>
              <h1>Discover
                <mark>LMPA<span>™</span>
                </mark>
              </h1>
              <div id="video">
                <video id="movie" width="276" height="220" autoplay loop>
                  <source src="https://cdn.interflux.com/videos/LMPA-Q-30mms.mp4" type="video/mp4"></source>
                  Your browser doesn't support HTML5 video tag.
                </video>
                <script></script>
                <p>Speed: 30 mm/s</p>
              </div>
            </a>
          </article>
        </div>
        <nav>
          <div id="prev">
            <div></div>
          </div>
          <div id="next">
            <div></div>
          </div>
          <div id="timer">
            <div></div>
          </div>
          <ul></ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="panel-display panel-1col clearfix">
        <div class="panel-panel panel-col">
          <div>
            <div class="panel-pane pane-views pane-process-views-interflux">
              <h2 class="pane-title">
                <div class="fs28">Паяльные флюсы</div>
                <div class="fs18">для лужения</div>
              </h2>
              <div class="pane-content">
                <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_21 product-row-group view-dom-id-26fc26da9c12d18a4c3191009e7e1b54">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                      <div class="product-images"><img src="https://cdn.interflux.com/images/products/IF-2005C/IF-2005C-10L-angle@400x400.jpg" width="200" height="200" alt="IF 2005C"/></div>
                      <div class="product-name">
                        <h3>IF 2005C</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon11"></div>
                            <p>Спиртовой</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Для селективной пайки</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Для лужения</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Совершенно не содержит галогены</p>
                          </li>
                          <li>
                            <div class="icon21"></div>
                            <p>Высокая способность снятия окислов</p>
                          </li>
                          <li>
                            <div class="icon22"></div>
                            <p>Устойчив к длительному предварительному разогреву</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Высокая совместимость с конформным покрытием</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® IF 2005C с 3,3% твердых веществ представляет собой не содержащий смолы и канифоли и не требующий отмывки флюс. Его можно использовать, когда процесс пайки требует
                          <strong>больше активации, чем обеспечивают IF 2005M или IF 2005K</strong>.
                        </p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 2005C с 3,3% содержания твердых веществ представляет собой не содержащий смолы и канифоли и не требующий отмывки флюс. Его можно использовать для процесса пайки, при котором требуется больше активации, чем может обеспечить IF 2005M или IF 2005K.<br/>
                          Совместим с бессвинцовыми процессами и процессами с SnPb<br/>
                          Подходит для нанесения флюса спреем или пеной<br/>
                          OR L0 согласно стандартам EN и IPC<br/>
                          Содержание твердых веществ: 3,3% ± 0,3<br/>
                          Содержание галогенов: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="https://cdn.interflux.com/documents/products/IF-2005C/TD-IF-2005C-DE.pdf">Technisches Datenblatt IF 2005C</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/IF-2005-series-application-doc-DE.pdf">IF 2005-Serie Anwendung</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="https://cdn.interflux.com/documents/products/IF-2005C/TD-IF-2005C-FR.pdf">Fiche technique IF 2005C</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/IF-2005-series-application-doc-FR.pdf">Document d'application de la série IF 2005</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="https://cdn.interflux.com/documents/products/IF-2005C/TD-IF-2005C-EN.pdf">Technical Data Sheet IF 2005C</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/IF-2005-series-application-doc.pdf">IF 2005 series application document</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 2005C" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-2 views-row-even product-row">
                      <div class="product-images"><img src="/assets/images/CLP_P-2009M_7.jpg" width="200" height="200" alt="PACIFIC 2009M"/></div>
                      <div class="product-name">
                        <h3>PACIFIC 2009M</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon12"></div>
                            <p>Водорастворимый флюс</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Для пайки волной</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Для ручной пайки</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Для лужения</p>
                          </li>
                          <li>
                            <div class="icon06"></div>
                            <p>Для нанесения распылением</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Совершенно не содержит галогены</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Высокая совместимость с конформным покрытием</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Небольшое количество остатка</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® PacIFic 2009M представляет собой водорастворимый не требующий отмывки флюс, который в
                          <strong>основном применяется для волновой и ручной
                          </strong>пайки.
                        </p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® PacIFic 2009M представляет собой водорастворимый не требующий отмывки флюс, который в основном применяется для волновой и ручной пайки.<br/>
                          Совместим с не содержащими свинца и SnPb процессами<br/>
                          OR L0 согласно стандартам EN и IPC<br/>
                          Содержание твердых веществ: 3,7% ±0,15<br/>
                          Содержание галогенов: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="https://cdn.interflux.com/documents/products/PacIFic-2009M/TD-PacIFic-2009M-DE.pdf">TD PacIFic 2009M-DE.pdf</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="https://cdn.interflux.com/documents/products/PacIFic-2009M/TD-PacIFic-2009M-FR.pdf">Fiche technique PacIFic 2009M</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="https://cdn.interflux.com/documents/products/PacIFic-2009M/TD-PacIFic-2009M-EN.pdf">Technical Data Sheet PacIFic 2009M</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/Kyzen-P2009M.pdf">Cleaning PACIFIC 2009M by KYZEN</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009M" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-3 views-row-odd views-row-last product-row">
                      <div class="product-images"><img src="/assets/images/CLP_IF-3006_7.jpg" width="200" height="200" alt="IF 3006"/></div>
                      <div class="product-name">
                        <h3>IF 3006</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon13"></div>
                            <p>Низкое содержание летучих органических компонентов</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Для пайки волной</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Для ручной пайки</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Для лужения</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Совершенно не содержит галогены</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Высокая совместимость с конформным покрытием</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux®
                          <strong></strong>IF 3006 представляет собой не содержащий смолы и канифоли и не требующий отмывки флюс, с низким содержанием летучих органических компонентов.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 3006 представляет собой не содержащий смолы и канифоли и не требующий отмывки флюс, с низким содержанием летучих органических компонентов.<br/>
                          Для процессов без SnPb и свинца<br/>
                          Также подходит для лужения<br/>
                          OR L0 согласно стандартам EN и IPC<br/>
                          Содержание твердых веществ: 3,2% ±0,4<br/>
                          Содержание галогенов: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="https://cdn.interflux.com/documents/products/IF-3006/TD-IF-3006-DE.pdf">Technisches Datenblatt IF 3006</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="https://cdn.interflux.com/documents/products/IF-3006/TD-IF-3006-FR.pdf">Fiche technique IF 3006</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="https://cdn.interflux.com/documents/products/IF-3006/TD-IF-3006-EN.pdf">Technical Data Sheet IF 3006</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 3006" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-process-views-interflux">
              <h2 class="pane-title">
                <div class="fs26">Вспомога-<br/>тельные материалы</div>
                <div class="fs18">для лужения</div>
              </h2>
              <div class="pane-content">
                <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_25 product-row-group view-dom-id-414160182ddae8f46ddd9aaedea6d3ed">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                      <div class="product-images"><img src="/assets/images/IF-910_final2.png" width="200" height="200" alt="IF 910 de-oxidation oil"/></div>
                      <div class="product-name">
                        <h3>IF 910</h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>масло деоксидант</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Для пайки волной</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Для лужения</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Для пайки окунанием</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>Для процессов SnPb(Ag)</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Для сплавов без свинца</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Масло -деоксидант Interflux® IF 910 отделяет окись от хорошего припоя в ванне для пайки.
                        </p>
                      </div>
                      <div class="product-details">
                        <p>Масло деоксидант  Interflux® IF 910 отделяет окись от хорошего припоя в ванне для пайки.<br/>
                          Сниженное потребление припоя.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-910-DE.pdf">Technisches Datenblatt IF 910</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-910-FR.pdf">Fiche technique IF 910</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-910.pdf">Technical Data Sheet IF 910</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 910" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-2 views-row-even product-row">
                      <div class="product-images"><img src="/assets/images/CLP_AOP-lead-free.jpg" width="200" height="200" alt="Anti-oxidant pellets"/><img src="/assets/images/CLP_AOP-SnPb.jpg" width="200" height="200" alt=""/></div>
                      <div class="product-name">
                        <h3>ПРОТИВООКИСЛИТЕЛЬНЫЕ ГРАНУЛЫ</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Для пайки волной</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Для избирательной пайки</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Для лужения</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>Для процессов SnPb(Ag)</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Для процессов без использования свинца</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Противоокислительные гранулы Interflux® снижают до минимума формирование окисей в ваннах для пайки без свинца и ваннах для пайки с SnPb(Ag).
                        </p>
                      </div>
                      <div class="product-details">
                        <p>Противоокислительные гранулы Interflux® снижают до минимума формирование окисей в ваннах для пайки без свинца и ваннах для пайки с SnPb(Ag).<br/>
                          Используется в качестве добавки к ваннам для пайки<br/>
                          Для сплавов с SnPb(Ag) (голубой ярлык) или без свинца (зеленый ярлык)<br/>
                          Противоокислительные гранулы не рекомендуются к использованию в закрытых инертных средах и для припойных сплавов с Ni.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Anti-oxidant-pellets-DE.pdf">Technisches Datenblatt Anti-oxidant pellets</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Anti-oxidant-pellets-FR.pdf">Fiche technique Anti-oxidant pellets</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Anti-oxidant-pellets.pdf">Technical Data Sheet Anti-oxidant pellets</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=ПРОТИВООКИСЛИТЕЛЬНЫЕ ГРАНУЛЫ" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-3 views-row-odd product-row">
                      <div class="product-images"><img src="/assets/images/solder-bars_0.jpg" width="200" height="200" alt="solder bars"/></div>
                      <div class="product-name">
                        <h3>ПРИПОЙ В СЛИТКАХ</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Для пайки волной</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Для избирательной пайки</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Для лужения</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Для пайки окунанием</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>СЛИТКИ Припоя Interflux® изготовлены  из металлов с высоким уровнем очистки и низким окислением в сплавах с SnPb(Ag) и без свинца.
                        </p>
                      </div>
                      <div class="product-details">
                        <p>СЛИТКИ Припоя Interflux® изготовлены из металлов с высоким уровнем очистки и низким окислением в сплавах SnPb(Ag) и без свинца.
                        </p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Lead-free-alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-SnPbAg-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/General-info-lead-free-alloys.pdf">Short properties overview</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=ПРИПОЙ В СЛИТКАХ" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-4 views-row-even product-row">
                      <div class="product-images"><img src="/assets/images/plain-wire-2mm-4kg-5.png" width="200" height="200" alt="Plain Solder Wire"/></div>
                      <div class="product-name">
                        <h3>ПРОВОЛОЧНЫЙ ПРИПОЙ БЕЗ ФЛЮСА</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon02"></div>
                            <p>Для избирательной пайки</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Для лужения</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Для пайки окунанием</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Проволочный припой Interflux® для автоматической подачи припоя в системы избирательной пайки при использовании сплавов без содержания свинца и сплавов  SnPb(Ag).
                        </p>
                      </div>
                      <div class="product-details">
                        <p>Проволочный припой Interflux® для автоматической подачи припоя в системы избирательной пайки при использовании сплавов без содержания свинца и сплавов  SnPb(Ag).<br/>
                          Диаметр проволоки: 2мм/ 3мм<br/>
                          В катушках весом 4кг/1кг<br/>
                          Размер катушки весом 4кг: 125мм x 125мм (диаметр x длина)
                        </p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Lead-free-alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-SnPbAg-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/General-info-lead-free-alloys.pdf">Short properties overview</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=ПРОВОЛОЧНЫЙ ПРИПОЙ БЕЗ ФЛЮСА" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-5 views-row-odd views-row-last product-row">
                      <div class="product-images"><img src="/assets/images/grenailles.png" width="200" height="200" alt="Solder Grenailles"/></div>
                      <div class="product-name">
                        <h3>ГРАНУЛЫ ПРИПОЯ</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Для пайки волной</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Для избирательной пайки</p>
                          </li>
                          <li>
                            <div class="icon04"></div>
                            <p>Для ремонта</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Для луженияg</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Для пайки окунанием</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Гранулы Припоя Interflux® представляют собой небольшие таблетки припоя, которые удобно использовать в ваннах для припоя в сплавах без содержания свинца и сплавах SnPb(Ag).
                        </p>
                      </div>
                      <div class="product-details">
                        <p>Гранулы Припоя Interflux® представляют собой небольшие таблетки припоя, которые удобно использовать в ваннах для припоя в сплавах без содержания свинца и сплавах SnPb(Ag).
                        </p>
                        <p>Размер: примерно 1см x 1см.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Lead-free-alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-SnPbAg-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/General-info-lead-free-alloys.pdf">Short properties overview</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=ГРАНУЛЫ ПРИПОЯ" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="block-block-17" class="block block-block library-reference last even">
        <div class="inner-block">
          <p>Не можете найти продукт? Для получения полного списка продуктов, проверьте нашу
            <a href="/ru/documents">библиотеку</a>
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-footer2">
    <div class="inner-region">
      <div id="block-block-18" class="block block-block first last odd">
        <div class="inner-block">
          <div class="block grid-12" id="F1">
            <div class="inner-block">
              <div class="inner-content">
                <a href="/ru/contact"><img src="/assets/images/Interflux-Electronics-headquarters-belgium.jpg" width="171" height="271" alt="Interflux Electronics Belgium office building"/></a>
                <div class="contact-title">
                  <span>Контактная</span><br/>информация</div>
                <div class="contact-adress">
                  <p>
                    Interflux Electronics NV<br/>
                    Gent zeehaven 3170A<br/>
                    Eddastraat 51<br/>
                    9042 Gent<br/>
                    Бельгия</p>
                  <p>Tel.: +32 9251 4959<br/>
                    Fax: +32 9251 4970<br/>
                    <a href="mailto:info@interflux.com" target="_blank">info@interflux.com</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="block grid-12" id="F2">
            <div class="inner-block">
              <div class="inner-content">
                <div class="contact-title">
                  <span>INTERFLUX</span><br/>В МИРЕ</div>
                <p>
                  <a href="/ru/contact"><img src="/assets/images/interflux-worldwide-map.jpg" width="446" height="196" alt="Geographical map of the Interflux group"/></a>
                </p>
              </div>
            </div>
          </div>
          <div class="block grid-24" id="F3">
            <div class="copyright">©2012 Все права защищены компанией Interflux® Electronics N.V.</div>
            <div class="louder-than-words">Дизайн сайта -
              <a href="https://nabu.io" target="_new" title="NABU websites">NABU websites</a>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
{% endblock %}