<li class="views-row views-row-16 views-row-even">
  <div class="views-row-inner">
    <div class="contact-company-name">
      <div class="field">
        <h3 class="if">ABAN ELECTRONICS LLP</h3>
      </div>
    </div>
    <div class="contact-description">
      <div class="field">
        <h4 class="if"></h4>
      </div>
    </div>
    <div class="contact-person">
      <div class="field">Mr. Ajay Gupta</div>
    </div>
    <div class="contact-address">
      <div class="field">
        <p>E-981, 4th Floor,<br/>
          Saraswati Vihar,<br/>
          New Delhi - 110 034.</p>
      </div>
    </div>
    <div class="contact-country">
      <div class="field">India</div>
    </div>
    <div class="contact-telephone-numbers">
      <div class="label">T:</div>
      <div class="field">
        <div class="item-list">
          <ul>
            <li class="first last">+91 881 024 9539</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="contact-email-addresses">
      <div class="field">
        <div class="item-list">
          <ul>
            <li class="first last">
              <a href="mailto:info@abanelectronics.com" target="_blank">info@abanelectronics.com</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="contact-website-addresses">
      <div class="field">
        <div class="item-list">
          <ul>
            <li class="first last">
              <a href="http://www.abanelectronics.com/" target="_blank">www.abanelectronics.com/</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="contact-countries-coverage">
      <div class="field">India</div>
    </div>
    <div class="contact-map-x">
      <div class="field">628</div>
    </div>
    <div class="contact-map-y">
      <div class="field">264</div>
    </div>
    <div class="contact-type">
      <div class="field">
        <div class="interflux partner border"></div>
        <div class="interflux partner image"></div>
      </div>
    </div>
    <div class="contact-country-big">
      <div class="field">India</div>
    </div>
  </div>
</li>

<li class="views-row views-row-16 views-row-even">
  <div class="views-row-inner">
    <div class="contact-company-name">
      <div class="field">
        <h3 class="if">Advance Tech Services Pvt. Ltd.</h3>
      </div>
    </div>
    <div class="contact-description">
      <div class="field">
        <h4 class="if"></h4>
      </div>
    </div>
    <div class="contact-person">
      <div class="field">Mr. Ajay Gupta</div>
    </div>
    <div class="contact-address">
      <div class="field">
        <p>E-981, Saraswati Vihar<br/>
          Pitampura, Delhi - 110034</p>
      </div>
    </div>
    <div class="contact-country">
      <div class="field">India</div>
    </div>
    <div class="contact-telephone-numbers">
      <div class="label">T:</div>
      <div class="field">
        <div class="item-list">
          <ul>
            <li class="first last">+91 959 959 2691</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="contact-telephone-numbers">
      <div class="label">T:</div>
      <div class="field">
        <div class="item-list">
          <ul>
            <li class="first last">+91 959 959 2692</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="contact-email-addresses">
      <div class="field">
        <div class="item-list">
          <ul>
            <li class="first last">
              <a href="mailto:info@advancetech.co.in" target="_blank">info@advancetech.co.in</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="contact-website-addresses">
      <div class="field">
        <div class="item-list">
          <ul>
            <li class="first last">
              <a href="https://www.advancetech.co.in" target="_blank">www.advancetech.co.in</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="contact-countries-coverage">
      <div class="field">India</div>
    </div>
    <div class="contact-map-x">
      <div class="field">628</div>
    </div>
    <div class="contact-map-y">
      <div class="field">264</div>
    </div>
    <div class="contact-type">
      <div class="field">
        <div class="interflux partner border"></div>
        <div class="interflux partner image"></div>
      </div>
    </div>
    <div class="contact-country-big">
      <div class="field">India</div>
    </div>
  </div>
</li>