<li class="views-row views-row-42 views-row-even">
  <div class="views-row-inner">
    <div class="contact-company-name">
      <div class="field">
        <h3 class="if">PT. Citra Baru Perkasa</h3>
      </div>
    </div>
    <div class="contact-description">
      <div class="field">
        <h4 class="if"></h4>
      </div>
    </div>
    <div class="contact-person">
      <div class="field">Mr. Bambang H. Djayaputra</div>
    </div>
    <div class="contact-address">
      <div class="field">
        <p>Komplek Ruko Citra Business Park Blok B No 9<br/>
          Jl. Peta Barat RT 1/ RW 7 Kelurahan Kalideres<br/>
          Jakarta Barat 11830</p>
      </div>
    </div>
    <div class="contact-country">
      <div class="field">Indonesia</div>
    </div>
    <div class="contact-telephone-numbers">
      <div class="label">T:</div>
      <div class="field">
        <div class="item-list">
          <ul>
            <li class="first last">+62-21 5433 4461</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="contact-telephone-numbers">
      <div class="label">T:</div>
      <div class="field">
        <div class="item-list">
          <ul>
            <li class="first last">+62-21 5433 2431</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="contact-telephone-numbers">
      <div class="label">T:</div>
      <div class="field">
        <div class="item-list">
          <ul>
            <li class="first last">+62-21 5433 5486</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="contact-fax-numbers">
      <div class="label">F:</div>
      <div class="field">
        <div class="item-list">
          <ul>
            <li class="first last">+62-21 2986 3178
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="contact-email-addresses">
      <div class="field">
        <div class="item-list">
          <ul>
            <li class="first last">
              <a href="mailto:sales@citrabaruperkasa.co.id" target="_blank">sales@citrabaruperkasa.co.id</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="contact-website-addresses">
      <div class="field">
        <div class="item-list">
          <ul>
            <li class="first last">
              <a href="https://www.citrabaruperkasa.co.id" target="_blank">www.citrabaruperkasa.co.id</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="contact-countries-coverage">
      <div class="field">Indonesia</div>
    </div>
    <div class="contact-map-x">
      <div class="field">705</div>
    </div>
    <div class="contact-map-y">
      <div class="field">347</div>
    </div>
    <div class="contact-type">
      <div class="field">
        <div class="interflux partner border"></div>
        <div class="interflux partner image"></div>
      </div>
    </div>
    <div class="contact-country-big">
      <div class="field">Indonesia</div>
    </div>
  </div>
</li>