<div class="region region-header">
  <div class="inner-region">
    <div id="block-block-11" class="block block-block grid-9 first odd">

      <div class="inner-block">
        <p>
          <a href="/" title="Interflux Electronics" target="_self"><img src="/sites/all/themes/zen_interflux/images/interflux-electronics-logo.png" width="343" height="87" alt="Interflux Electronics logo"></a>
        </p>
      </div>

    </div>
    <!-- /.block -->
    <div id="block-menu-menu-interflux-menu" class="block block-menu grid-15 header-nav last even" role="navigation">

      <div class="inner-block">
        <ul class="menu" id="nav">
          <li class="first expanded active-trail">
            <a href="/en" title="Find products by type" class="active-trail">Products</a>
            <ul class="menu">
              <li class="first leaf active-trail">
                <a href="/en/soldering-fluxes" title="" class="active-trail active">Soldering fluxes</a>
              </li>
              <li class="leaf">
                <a href="/en/solder-pastes" title="">Solder pastes</a>
              </li>
              <li class="leaf">
                <a href="/en/solder-wires" title="">Solder wires</a>
              </li>
              <li class="leaf">
                <a href="/en/spray-fluxers" title="">Spray Fluxers</a>
              </li>
              <li class="last leaf">
                <a href="/en/auxiliaries" title="">Auxiliaries</a>
              </li>
            </ul>
          </li>
          <li class="expanded">
            <a href="/en" title="Find products by process">Processes</a>
            <ul class="menu">
              <li class="first leaf">
                <a href="/en/wave-soldering" title="">Wave Soldering</a>
              </li>
              <li class="leaf">
                <a href="/en/selective-soldering" title="">Selective Soldering</a>
              </li>
              <li class="leaf">
                <a href="/en/reflow-soldering" title="">Reflow Soldering</a>
              </li>
              <li class="leaf">
                <a href="/en/rework-and-repair" title="">Rework &amp; Repair</a>
              </li>
              <li class="last leaf">
                <a href="/en/pre-tinning" title="">Pre-tinning</a>
              </li>
            </ul>
          </li>
          <li class="leaf">
            <a href="/en/company" title="Learn about Interflux">Company</a>
          </li>
          <li class="leaf">
            <a href="/en/documents" title="Find technical data">Documents</a>
          </li>
          <li class="last leaf">
            <a href="/en/contact" title="Get in touch">Contact</a>
          </li>
          <div class="slogan">Interflux, bringing chemistry to electronics for over 39 years</div>
        </ul>
      </div>

    </div>
    <!-- /.block -->
    <div class="clear"></div>
  </div>
</div>