<div class="region region-highlight">
  <div class="inner-region">
    <div id="banners">
      <div class="preload"></div>
      <div class="stage">
        <article id="ipc-apex-2017">
          <a href="http://www.ipcapexexpo.org/" target="_blank" title="Visit us at IPC APEX 2018 in San Diego">
            <picture>
              <source srcset="http://www.interflux.com/assets/images/legacy/banner-ipc-apex-2018@2x.jpg 2x, http://www.interflux.com/assets/images/legacy/banner-ipc-apex-2018.jpg 1x">
              <img src="http://www.interflux.com/assets/images/legacy/banner-ipc-apex-2018@2x.jpg" alt="Visit use at IPC APEX 2018 in San Diego">
            </picture>
          </a>
          <a href="/en/solder-pastes" class"read-more"="">
            Read more ...</a>
        </article>
        <article id="productronica-2017">
          <a href="http://www.productronica.com/" target="_blank" title="Visit us at Productronica 2017">
            <img src="http://www.interflux.com/assets/images/legacy/productronica-banner-2017.jpg">
          </a>
          <a href="/en/solder-pastes" class"read-more"="">
            Read more ...</a>
        </article>
        <article id="lmpa" class="visible">
          <a href="https://lmpa.interflux.com" target="_blank">
            <h1>Solder
              <strong>5 times</strong>
              faster whilst maintaining
              <strong>zero defects</strong>
            </h1>
            <h1>Discover
              <mark>LMPA<span>™</span></mark>
            </h1>
            <div id="video">
              <video id="movie" width="276" height="220" autoplay="" loop="">
                <source src="https://cdn.interflux.com/videos/LMPA-Q-30mms.mp4" type="video/mp4">
                Your browser doesn't support HTML5 video tag.
              </video>
              <script>
                var v = document.getElementById("movie");
                v.onclick = function () {
                  if (v.paused) {
                    v.play();
                  } else {
                    v.pause();
                  }
                };
                banners = ['lmpa'];
                var random = banners[Math.floor(Math.random() * banners.length)];
                document.getElementById(random).classList.add("visible");
              </script>
              <p>Speed: 30 mm/s</p>
            </div>
          </a>
          <a href="/en/solder-pastes" class"read-more"="">
            Read more ...</a>
        </article>
      </div>
      <nav>
        <div id="prev">
          <div></div>
        </div>
        <div id="next">
          <div></div>
        </div>
        <div id="timer">
          <div></div>
        </div>
        <ul></ul>
      </nav>
    </div>
  </div>
</div>