<div class="region region-highlight">
  <div class="inner-region">
    <div id="banners">
      <a href="https://smta.org/" target="_blank" rel="nofollow noreferrer" id="smta">
        <p>Watch us live on SMTA</p>
      </a>
    </div>
  </div>
</div>