<div class="region region-highlight">
  <div class="inner-region">
    <ul id="banners">
      <li id="smta">
        <img src="{{cdnHost}}/images/legacy/banner-SMTA.jpg" alt="SMTA" width="2134" height="534">
        <div class="overlay">
          <h2>Watch us on SMTA</h2>
          <p>
            <span>
              <a href="https://smta.org/mpage/smtai" target="_blank" rel="nofollow noreferrer">Register here</a>
              &#32;to see our
              <strong>research</strong>
              on:
            </span>
            <span>
              The effect of a ductile, low melting point alloys on the hot tear defect on lead-free ball grid arrays
            </span>
          </p>
        </div>
      </li>

      <li id="webinars">
        <img src="{{cdnHost}}/images/legacy/circuit-2.jpg" width="1496" height="348">
        <div class="content">
          <h2>Master class: Wave Soldering</h2>
          <p>Interflux is organising 9 free webinars to share our know-how.</p>
          <div class="row">
            <p class="orange">Limited availability!</p>
            <a href="/">Book a seat</a>
            <a href="/">More information</a>
          </div>
        </div>
      </button>
    </li>

    <li id="lmpa">
      <div class="left">
        <h1>Solder
          <strong>5 times</strong>
          faster with
          <strong>zero defects</strong>
        </h1>
        <p>Learn more about
          <mark>LMPA<sup>™</sup>
          </mark>
          on
          <a href="https://lmpa.interflux.com" target="_blank" rel="nofollow noreferrer">lmpa.interflux.com</a>
        </p>
      </div>

      <div class="right">
        <div id="video">
          <video id="movie" width="276" height="220" autoplay="autoplay" loop="loop">
            <source src="{{cdnHost}}/videos/LMPA-Q-30mms.mp4" type="video/mp4"></source>
            Your browser doesn't support HTML5 video tag.
          </video>
          <script></script>
          <p>Speed: 30 mm/s</p>
        </div>
      </div>
    </li>
  </div>
</div>