<div class="region region-language">
  <div class="inner-region">
    <div id="block-locale-language" class="block block-locale language-menu block grid-24 first last odd" role="complementary">

      <div class="inner-block" style="width: 103px;">
        <ul class="language-switcher-locale-url">
          <li class="en first active">Language:
            <a href="/en/soldering-fluxes" class="language-link active" lang="en" title="Soldering fluxes">
              <div class="flag en"></div>English</a>
            <div class="arrow-1"></div>
          </li>
          <li class="zh-hans">
            <a href="/zh-hans/soldering-fluxes" class="language-link" lang="zh-hans" title="助焊剂">
              <div class="flag zh-hans"></div>简体中文</a>
          </li>
          <li class="cs">
            <a href="/cs/soldering-fluxes" class="language-link" lang="cs" title="Pájecí tavidla">
              <div class="flag cs"></div>Čeština</a>
          </li>
          <li class="de">
            <a href="/de/soldering-fluxes" class="language-link" lang="de" title="Flussmittel">
              <div class="flag de"></div>Deutsch</a>
          </li>
          <li class="fr">
            <a href="/fr/soldering-fluxes" class="language-link" lang="fr" title="Flux de brasage">
              <div class="flag fr"></div>Français</a>
          </li>
          <li class="it">
            <a href="/it/soldering-fluxes" class="language-link" lang="it" title="Flussanti per saldatura">
              <div class="flag it"></div>Italiano</a>
          </li>
          <li class="id">
            <a href="/id/soldering-fluxes" class="language-link" lang="id" title="Flux penyolderan">
              <div class="flag id"></div>Bahasa Indonesia</a>
          </li>
          <li class="pt-pt">
            <a href="/pt-pt/soldering-fluxes" class="language-link" lang="pt-pt" title="Fluxos de soldadura">
              <div class="flag pt-pt"></div>Português</a>
          </li>
          <li class="ro">
            <a href="/ro/soldering-fluxes" class="language-link" lang="ro" title="Fluxuri">
              <div class="flag ro"></div>Română</a>
          </li>
          <li class="ru">
            <a href="/ru/soldering-fluxes" class="language-link" lang="ru" title="Паяльные флюсы">
              <div class="flag ru"></div>Русский</a>
          </li>
          <li class="th">
            <a href="/th/soldering-fluxes" class="language-link" lang="th" title="ฟลักซ์บัดกรี">
              <div class="flag th"></div>ภาษาไทย</a>
          </li>
          <li class="tr">
            <a href="/tr/soldering-fluxes" class="language-link" lang="tr">
              <div class="flag tr"></div>Türkçe</a>
          </li>
          <li class="pl">
            <a href="/pl/soldering-fluxes" class="language-link" lang="pl" title="Topniki lutownicze">
              <div class="flag pl"></div>Polski</a>
          </li>
          <li class="es">
            <a href="/es/soldering-fluxes" class="language-link" lang="es" title="Fluxes de soldadura">
              <div class="flag es"></div>Español</a>
          </li>
          <li class="sv last">
            <a href="/sv/soldering-fluxes" class="language-link" lang="sv" title="Flussmedel">
              <div class="flag sv"></div>Svenska</a>
          </li>
          <div class="bg-lang"></div>
          <div class="bg-lang-left"></div>
        </ul>
      </div>

      <div class="bg-lang-right"></div>
    </div>
    <!-- /.block -->
    <div class="clear"></div>
  </div>
</div>