<div id="modal">
  <div class="overlay"></div>
  <div class="content">
    <section>
      <h1>
        <span>Wave soldering webinars</span>
      </h1>
      <p>Should attend: process and product engineers, machine operators, quality control, product managers</p>
      <hr>
      <h2>
        <span>1. Spray Fluxing</span></h2>
      <p>The
        <mark>most underestimated</mark>
        step in the wave soldering process. Without a good flux application, good soldering results are impossible.</p>
      <p>Duration: ~25min + Q&A</p>
      <p>Session 1:
        <time>Monday Nov 16th 14.00H CET</time>
      </p>
      <a href="https://attendee.gotowebinar.com/register/2845531005583755535" target="_blank" rel="nofollow noreferrer" class="button">
        Register
      </a>
      <p>Session 2:
        <time>Tuesday Nov 17th 10.00H CET</time>
      </p>
      <a href="https://attendee.gotowebinar.com/register/3308191204900786703" target="_blank" rel="nofollow noreferrer" class="button">
        Register
      </a>
      <p>Duration: ~25min + Q&A</p>
      <hr>
      <h2>
        <span>2. Preheating</span></h2>
      <p>The
        <mark>most scientific and misunderstood</mark>
        step in the wave soldering process. The key words are thermal mass and temperature sensitivity of used materials.</p>
      <p>Duration: ~30min + Q&A</p>
      <p>Session 1:
        <time>Tuesday Nov 17th 14.00H CET</time>
      </p>
      <a href="https://attendee.gotowebinar.com/register/7653284136499496463" target="_blank" rel="nofollow noreferrer" class="button">
        Register
      </a>
      <p>Session 2:
        <time>Wednesday Nov 18th 10.00H CET</time>
      </p>
      <a href="https://attendee.gotowebinar.com/register/3382105874078082831" target="_blank" rel="nofollow noreferrer" class="button">
        Register
      </a>
      <hr>
      <h2>
        <span>3. Soldering</span></h2>
      <p>The
        <mark>most difficult</mark>
        step in the wave soldering process. Many parameters that can interact have an influence on the final soldering result.</p>
      <p>Duration: ~30min + Q&A</p>
      <p>Session 1:
        <time>Wednesday Nov 18th 14.00H CET</time>
      </p>
      <a href="https://attendee.gotowebinar.com/register/4162975733589820687" target="_blank" rel="nofollow noreferrer" class="button">
        Register
      </a>
      <p>Session 2:
        <time>Thursday Nov 19th 10.00H CET</time>
      </p>
      <a href="https://attendee.gotowebinar.com/register/890377230049465871" target="_blank" rel="nofollow noreferrer" class="button">
        Register
      </a>
      <hr>
      <p>Note: Session 1 and 2 are the same webinar at different moments in time</p>
      <p>CET: Central European Time = UTC+1 (Brussels, Paris, Madrid, Berlin, Rome, ...)</p>
    </section>
  </div>
</div>