<div id="modal">
  <div class="overlay"></div>
  <div class="content">
    <section>
      <h1>
        <span>Wave soldering webinars</span>
      </h1>
      <hr>
      <h2>
        <span>1. Spray Fluxing</span></h2>
      <p>The
        <mark>most underestimated</mark>
        step in the wave soldering process. Without a good flux application, good soldering results are impossible.</p>
      <p>Duration: ~25min + Q&A</p>
      <p>Session 1:
        <time>Monday Oct 12th 14.00H CEST</time>
      </p>
      <a href="https://register.gotowebinar.com/register/3408763532409320207" target="_blank" rel="nofollow noreferrer" class="button">
        Register
      </a>
      <p>Session 2:
        <time>Monday Oct 13th 10.00H CEST</time>
      </p>
      <a href="https://register.gotowebinar.com/register/5826260847912360207" target="_blank" rel="nofollow noreferrer" class="button">
        Register
      </a>
      <p>Duration: ~25min + Q&A</p>
      <hr>
      <h2>
        <span>2. Preheating</span></h2>
      <p>The
        <mark>most scientific and misunderstood</mark>
        step in the wave soldering process. The key words are thermal mass and temperature sensitivity of used materials.</p>
      <p>Duration: ~30min + Q&A</p>
      <p>Session 1:
        <time>Tuesday Oct 13th 14.00H CEST</time>
      </p>
      <a href="https://register.gotowebinar.com/register/4606104207267150863" target="_blank" rel="nofollow noreferrer" class="button">
        Register
      </a>
      <p>Session 2:
        <time>Wednesday Oct 14th 10.00H CEST</time>
      </p>
      <a href="https://register.gotowebinar.com/register/7009479395423160589" target="_blank" rel="nofollow noreferrer" class="button">
        Register
      </a>
      <hr>
      <h2>
        <span>3. Soldering</span></h2>
      <p>The
        <mark>most difficult</mark>
        step in the wave soldering process. Many parameters that can interact have an influence on the final soldering result.</p>
      <p>Duration: ~30min + Q&A</p>
      <p>Session 1:
        <time>Tuesday Oct 14th 14.00H CEST</time>
      </p>
      <a href="https://register.gotowebinar.com/register/5316774647392309261" target="_blank" rel="nofollow noreferrer" class="button">
        Register
      </a>
      <p>Session 2:
        <time>Wednesday Oct 15th 10.00H CEST</time>
      </p>
      <a href="https://register.gotowebinar.com/register/5171272975154086925" target="_blank" rel="nofollow noreferrer" class="button">
        Register
      </a>
      <hr>
      <p>CEST = Central European Summer Time (Brussels, Paris, Madrid, Berlin, Rome, ...)</p>
      <p>For more info:
        <a href="https://smta.org/mpage/smtai">SMTA International</a>
      </p>
    </section>
  </div>
</div>