{% extends "layout.html.njk" %}
{% block meta %}
  <title>Reflow pájení | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}cs-reflow-soldering
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-reflow-soldering page-products i18n-cs section-reflow-soldering page-panels
{% endblock %}
{% block page %}
  <div class="region region-language">
    <div class="inner-region">
      <div id="block-locale-language" class="block block-locale language-menu block grid-24 first last odd" role="complementary">
        <div class="inner-block">
          <ul class="language-switcher-locale-url">
            <li class="en first">
              <a href="/en/reflow-soldering" class="language-link" lang="en" title="Reflow Soldering">
                <div class="flag en"></div>English</a>
            </li>
            <li class="zh-hans">
              <a href="/zh-hans/reflow-soldering" class="language-link" lang="zh-hans" title="回流焊">
                <div class="flag zh-hans"></div>简体中文</a>
            </li>
            <li class="cs active">
              <a href="/cs/reflow-soldering" class="language-link active" lang="cs" title="Reflow pájení">
                <div class="flag cs"></div>Čeština</a>
            </li>
            <li class="de">
              <a href="/de/reflow-soldering" class="language-link" lang="de" title="Reflowlöten">
                <div class="flag de"></div>Deutsch</a>
            </li>
            <li class="fr">
              <a href="/fr/reflow-soldering" class="language-link" lang="fr" title="Brasage en refusion">
                <div class="flag fr"></div>Français</a>
            </li>
            <li class="it">
              <a href="/it/reflow-soldering" class="language-link" lang="it" title="Saldatura di rifusione">
                <div class="flag it"></div>Italiano</a>
            </li>
            <li class="id">
              <a href="/id/reflow-soldering" class="language-link" lang="id" title="Penyolderan reflow">
                <div class="flag id"></div>Bahasa Indonesia</a>
            </li>
            <li class="pt-pt">
              <a href="/pt-pt/reflow-soldering" class="language-link" lang="pt-pt" title="Soldadura refusão">
                <div class="flag pt-pt"></div>Português</a>
            </li>
            <li class="ro">
              <a href="/ro/reflow-soldering" class="language-link" lang="ro" title="Lipire in reflow">
                <div class="flag ro"></div>Română</a>
            </li>
            <li class="ru">
              <a href="/ru/reflow-soldering" class="language-link" lang="ru" title="Пайка оплавлением">
                <div class="flag ru"></div>Русский</a>
            </li>
            <li class="th">
              <a href="/th/reflow-soldering" class="language-link" lang="th" title="การบัดกรีแบบรีโฟลว์">
                <div class="flag th"></div>ภาษาไทย</a>
            </li>
            <li class="tr">
              <a href="/tr/reflow-soldering" class="language-link" lang="tr">
                <div class="flag tr"></div>Türkçe</a>
            </li>
            <li class="pl">
              <a href="/pl/reflow-soldering" class="language-link" lang="pl" title="Lutowanie rozpływowe">
                <div class="flag pl"></div>Polski</a>
            </li>
            <li class="es">
              <a href="/es/reflow-soldering" class="language-link" lang="es" title="Soldadura por re fusión">
                <div class="flag es"></div>Español</a>
            </li>
            <li class="sv last">
              <a href="/sv/reflow-soldering" class="language-link" lang="sv" title="Reflow lödning">
                <div class="flag sv"></div>Svenska</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-header">
    <div class="inner-region">
      <div id="block-block-11" class="block block-block grid-9 first odd">
        <div class="inner-block">
          <p>
            <a href="/cs/" title="Interflux Electronics"><img src="/assets/images/interflux-electronics-logo.png" width="343" height="87" alt="Interflux Electronics logo"/></a>
          </p>
        </div>
      </div>
      <div id="block-menu-menu-interflux-menu" class="block block-menu grid-15 header-nav last even" role="navigation">
        <div class="inner-block">
          <ul class="menu">
            <li class="first expanded">
              <a href="/cs" title="Vyhledat produkty podle typu">Produkty</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/cs/soldering-fluxes" title="">Pájecí tavidla</a>
                </li>
                <li class="leaf">
                  <a href="/cs/solder-pastes" title="">Pájecí pasty</a>
                </li>
                <li class="leaf">
                  <a href="/cs/solder-wires" title="">Pájecí dráty</a>
                </li>
                <li class="leaf">
                  <a href="/cs/spray-fluxers" title="">Sprejová tavidla</a>
                </li>
                <li class="last leaf">
                  <a href="/cs/auxiliaries" title="">Doplňky</a>
                </li>
              </ul>
            </li>
            <li class="expanded active-trail">
              <a href="/cs" title="Vyhledat produkty podle procesu" class="active-trail">Procesy</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/cs/wave-soldering" title="">Pájení vlnou</a>
                </li>
                <li class="leaf">
                  <a href="/cs/selective-soldering" title="">Selektivní pájení</a>
                </li>
                <li class="leaf active-trail">
                  <a href="/cs/reflow-soldering" title="" class="active-trail active">Reflow pájení</a>
                </li>
                <li class="leaf">
                  <a href="/cs/rework-and-repair" title="">Přepracování & Opravy</a>
                </li>
                <li class="last leaf">
                  <a href="/cs/pre-tinning" title="">Cínování</a>
                </li>
              </ul>
            </li>
            <li class="leaf">
              <a href="/cs/company" title="Dozvědět se o Interflux">Společnost</a>
            </li>
            <li class="leaf">
              <a href="/cs/documents" title="Vyhledat technická data">Dokumenty</a>
            </li>
            <li class="last leaf">
              <a href="/cs/contact" title="Buďte v kontaktu">Kontakt</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  {% include "partials/highlight.njk"%}
<div class="region region-highlight hidden">
    <div class="inner-region">
      <div id="banners">
        <div class="preload"></div>
        <div class="stage">
          <article id="lmpa">
            <a href="https://lmpa.interflux.com" target="_blank">
              <h1>Solder
                <strong>5 times</strong>
                faster whilst maintaining
                <strong>zero defects</strong>
              </h1>
              <h1>Discover
                <mark>LMPA<span>™</span>
                </mark>
              </h1>
              <div id="video">
                <video id="movie" width="276" height="220" autoplay="autoplay" loop="loop">
                  <source src="{{cdnHost}}/videos/LMPA-Q-30mms.mp4" type="video/mp4"></source>
                  Your browser doesn't support HTML5 video tag.
                </video>
                <script></script>
                <p>Speed: 30 mm/s</p>
              </div>
            </a>
          </article>
        </div>
        <nav>
          <div id="prev">
            <div></div>
          </div>
          <div id="next">
            <div></div>
          </div>
          <div id="timer">
            <div></div>
          </div>
          <ul></ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="panel-display panel-1col clearfix">
        <div class="panel-panel panel-col">
          <div>
            <div class="panel-pane pane-views pane-process-views-interflux">
              <h2 class="pane-title">
                <div class="fs30">Pájecí pasty</div>
                <div class="fs18">pro reflow pájení</div>
              </h2>
              <div class="pane-content">
                <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_12 product-row-group view-dom-id-acac966e7b9c2e706e1ea87d418c841c">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                      <div class="product-images"><img src="/assets/images/CLP_LMPA-Q6.jpg" width="200" height="200" alt="LMPA™-Q6 solder paste"/></div>
                      <div class="product-name">
                        <h3>LMPA™-Q6</h3>
                      </div>
                      <div class="product-highlight">
                        <h3>NEW</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon23"></div>
                            <p>Enhanced low melting point solder paste</p>
                          </li>
                          <li>
                            <div class="icon09"></div>
                            <p>High stability on the stencil</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolutely halide-free</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Smooth, clear and transparent residue</p>
                          </li>
                          <li>
                            <div class="icon33"></div>
                            <p>Low voiding</p>
                          </li>
                          <li>
                            <div class="icon31"></div>
                            <p>Reduced cost of production.</p>
                          </li>
                          <li>
                            <div class="icon32"></div>
                            <p>Increased mechanical reliability</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux®<strong>
                            LMPA™-Q6
                          </strong>is a no-clean solder paste with the high reliability LMPA™-Q low melting point alloy.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux®<strong>
                            LMPA™-Q6
                          </strong>is a no-clean solder paste with the high reliability LMPA™-Q low melting point alloy.<br/>
                          LMPA™ -Q6 solder paste has improved printing stability, stencil life and more transparent residue compared to DP 5600.<br/>
                          RO L0 to IPC and EN standards.<br/>
                          Halide content 0,00%
                        </p>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=LMPA™-Q6" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-2 views-row-even product-row">
                      <div class="product-images"><img src="/assets/images/CLP_DP-5600-2.jpg" width="200" height="200" alt="DP 5600"/></div>
                      <div class="product-name">
                        <h3>DP 5600</h3>
                      </div>
                      <div class="product-highlight">
                        <h3>populární</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon03"></div>
                            <p>Pro reflow pájení</p>
                          </li>
                          <li>
                            <div class="icon09"></div>
                            <p>Pro šablonový tisk</p>
                          </li>
                          <li>
                            <div class="icon08"></div>
                            <p>Pro dispenzi</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Zcela bez halogenidů</p>
                          </li>
                          <li>
                            <div class="icon23"></div>
                            <p>Nízká tavná teplota</p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>Nízká tvorba voidů</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® DP 5600 je bezoplachová pájecí pasta pro nízkoteplotní slitiny SnBi(Ag).</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® DP 5600 je bezoplachová pájecí pasta pro nízkoteplotní slitiny SnBi(Ag).<br/>
                          RO L0 podle EN a IPC norem<br/>
                          Obsah halogenidů: 0,00%<br/>
                          Sn42Bi57Ag1 (tavící bod 139°C ~ 282°F)</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-DP-5600-DE.pdf">Technisches Datenblatt DP 5600</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/DP5600-2015-DE-web.pdf">A4 flyer DP 5600-DE</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-DP-5600-FR.pdf">Fiche technique DP 5600</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/DP5600-2015-FR-web.pdf">A4 flyer DP 5600-FR</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-DP-5600.pdf">Technical Data Sheet DP 5600</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/DP5600-2015-Eng-web.pdf">A4 flyer DP 5600</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=DP 5600" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-3 views-row-odd product-row">
                      <div class="product-images"><img src="/assets/images/CLP_LP-5720-Pb-free.jpg" width="200" height="200" alt="LP 5720 Pb-free"/><img src="/assets/images/CLP_LP-5720-SnPb.jpg" width="200" height="200" alt="LP 5720 SnPb(Ag)"/></div>
                      <div class="product-name">
                        <h3>LP 5720</h3>
                      </div>
                      <div class="product-highlight">
                        <h3>NEW</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon09"></div>
                            <p>High stability on the stencil</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolutely halide-free</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>For SnPb(Ag) alloys</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>For Lead-free alloys</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Transparent post reflow residue</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux®
                          <strong>LP 5720</strong>
                          is a no-clean solder paste with
                          <strong>optimized printing stability</strong>
                          and transparent residue after reflow, in lead-free and SnPb(Ag) alloys.
                        </p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® LP 5720 is a no-clean solder paste with optimized printing stability and transparent residue after reflow, in lead-free and SnPb(Ag) alloys.<br/>
                          LP 5720 is the successor of DP 5505.<br/>
                          RO L0 to IPC and EN standards.<br/>
                          Halide content 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-LP-5720-DE.pdf">Technisches Datenblatt LP 5720-DE</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-LP-5720-SnPbAg-DE.pdf">Technisches Datenblatt LP 5720 SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-LP-5720-FR.pdf">Fiche Technique LP 5720</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-LP-5720-SnPbAg-FR.pdf">Fiche technique LP 5720 SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-LP-5720.pdf">Technical Data Sheet TD LP 5720 Pb-free</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-LP-5720-SnPbAg.pdf">Technical Data Sheet LP 5720 SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=LP 5720" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-4 views-row-even product-row">
                      <div class="product-images"><img src="/assets/images/CLP_DP-5505-Pb-free.jpg" width="200" height="200" alt="DP 5505 Pb-free"/><img src="/assets/images/CLP_DP-5505-SnPb.jpg" width="200" height="200" alt="DP 5505 SnPb"/></div>
                      <div class="product-name">
                        <h3>DP 5505
                        </h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon03"></div>
                            <p>Pro reflow pájení</p>
                          </li>
                          <li>
                            <div class="icon09"></div>
                            <p>Pro šablonový tisk</p>
                          </li>
                          <li>
                            <div class="icon08"></div>
                            <p>Pro dispenzi</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Zcela bez halogenidů</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Bezolovnaté slitiny</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>SnPb slitiny</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® DP 5505 je univerzální, vysoce stabilní, bezoplachová pájecí pasta v olovnatých a bezolovnatých slitinách.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® DP 5505 je univerzální, vysoce stabilní, bezoplachová pájecí pasta v olovnatých a bezolovnatých slitinách.<br/>
                          Nízká tvorba voidů<br/>
                          Minimalizuje vytvoření chyby tzv. “skrytý polštářek”<br/>
                          RO L0 podle EN a IPC norem<br/>
                          Obsah halogenidů 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-DP-5505-DE.pdf">
                            Technisches Datenblatt DP 5505</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-DP-5505-SnPbAg-DE.pdf">Technisches Datenblatt DP 5505 SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/DP5505-Properties-DE.pdf">DP 5505 Gesamtübersicht</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-DP-5505-FR.pdf">Fiche technique DP 5505</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-DP-5505-SnPbAg-FR.pdf">Fiche technique DP 5505 SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/DP5505-Properties-FR.pdf">DP 5505 aperçu complet</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-DP-5505.pdf">Technical Data Sheet DP 5505</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-DP-5505-SnPbAg.pdf">Technical Data Sheet DP 5505 SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/DP5505-Properties.pdf">DP 5505 complete overview</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=DP 5505 " target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-5 views-row-odd product-row">
                      <div class="product-images"><img src="/assets/images/micro-dife7-web3.png" width="200" height="200" alt=""/></div>
                      <div class="product-name">
                        <h3>µ-dIFe 7</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon03"></div>
                            <p>Pro reflow pájení</p>
                          </li>
                          <li>
                            <div class="icon04"></div>
                            <p>Pro přepracování a opravy</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Pro namáčení</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Zcela bez halogenidů</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® µ-dIFe 7 je bezoplachová, bezolovnatá pájecí pasta pro aplikování namáčením.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® µ-dIFe 7 je bezoplachová, bezolovnatá pájecí pasta pro aplikování namáčením.<br/>
                          Opakovatelné a selektivní vrstvení<br/>
                          Rychlé a snadné aplikování<br/>
                          Snížené riziko zkratů na μ-BGA<br/>
                          Vhodné pro ERSA Dip&Print Station<br/>
                          Pro křížová kuličková pole, J-vývody<br/>
                          RO L0 podle EN a IPC norem<br/>
                          Obsah halogenidů: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-micro-dIFe-7-DE.pdf">Technisches Datenblatt µ-dIFe 7</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-micro-dIFe-7-FR.pdf">Fiche technique µ-dIFe 7</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-micro-dIFe-7.pdf">Technical Data Sheet µ-dIFe 7</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=µ-dIFe 7" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-6 views-row-even views-row-last product-row">
                      <div class="product-images"><img src="/assets/images/CLP_IF-9009lt-Pb-free.jpg" width="200" height="200" alt="IF 9009lt Pb-free"/><img src="/assets/images/CLP_IF-9009lt-SnPb.jpg" width="200" height="200" alt="IF 9009lt SnPb"/></div>
                      <div class="product-name">
                        <h3>IF 9009LT</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon03"></div>
                            <p>Pro reflow pájení</p>
                          </li>
                          <li>
                            <div class="icon09"></div>
                            <p>Pro šablonový tisk</p>
                          </li>
                          <li>
                            <div class="icon08"></div>
                            <p>Pro dispenzi</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Bezolovnaté slitiny</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>SnPb slitiny</p>
                          </li>
                          <li>
                            <div class="icon21"></div>
                            <p>Zvýšená aktivita</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® IF 9009LT je bezoplachová pájecí pasta se zvýšenou aktivitou v SnPb(Ag) a bezolovnatých slitinách.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 9009LT je bezoplachová pájecí pasta se zvýšenou aktivitou v SnPb(Ag) a bezolovnatých slitinách.<br/>
                          Pro poničené a obtížně pájitelné povrchy<br/>
                          RE L1 podle EN a IPC norem</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-9009lt-DE.pdf">Technisches Datenblatt IF 9009LT</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-9009lt-FR.pdf">Fiche technique IF 9009LT</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-9009lt.pdf">Technical Data Sheet IF 9009LT</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 9009LT" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-process-views-interflux">
              <h2 class="pane-title">
                <div class="fs30">Doplňky</div>
                <div class="fs18">pro reflow pájení</div>
              </h2>
              <div class="pane-content">
                <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_15 product-row-group view-dom-id-58b1f6ba07d5df5c440cfde461eae032">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                      <div class="product-images"><img src="/assets/images/CLP_Purgel.jpg" width="200" height="200" alt="IF Purgel"/></div>
                      <div class="product-name">
                        <h3>Purgel</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon04"></div>
                            <p>Pro opravy</p>
                          </li>
                          <li>
                            <div class="icon08"></div>
                            <p>Pro dispenzi</p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>Schváleno pro MYDATA MY 500</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux®
                          <strong></strong>
                          Purgel je neutrální čistič/kondicionér pro čerpadla a ventily dispenzních systémů.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® Purgel je neutrální čistič/kondicionér pro čerpadla a ventily dispenzních systémů.<br/>
                          Pro zachování průchodnosti dispenzních dílů, když se nepoužívají.<br/>
                          Schváleno MYDATA MY 500</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Purgel-DE.pdf">Technisches Datenblatt Purgel</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Purgel-FR.pdf">Fiche technique Purgel</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Purgel.pdf">Technical Data Sheet Purgel</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=Purgel" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-2 views-row-even product-row">
                      <div class="product-images"><img src="/assets/images/Interflux-IPA-wipes-jar.jpg" width="200" height="200" alt="Interflux IPA-DI wipes"/><img src="/assets/images/Interflux-IPA-wipes.jpg" width="200" height="200" alt="Interflux IPA-DI wipes"/></div>
                      <div class="product-name">
                        <h3>IPA/DI WIPES</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon30"></div>
                            <p>ESD prostředí</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® skládané nasycené IPA / DI ubrousky v uzavřené tubě nebo v náhradních sáčcích pro běžné čištění povrchů.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® skládané nasycené IPA / DI ubrousky v uzavřené tubě nebo v náhradních sáčcích pro běžné čištění povrchů.<br/>
                          Žádný hadřík, netkaná textilie<br/>
                          Velikost jednoho ubrousku: 15 x 21cm<br/>
                          100ks / role</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IPA-DI-wipes-DE.pdf">Technisches Datenblatt IPA/DI wipes</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IPA-DI-wipes-FR.pdf">Fiche technique IPA/DI wipes</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IPA-DI-wipes.pdf">Technical Data Sheet IPA/DI wipes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IPA/DI WIPES" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-3 views-row-odd product-row">
                      <div class="product-images"><img src="/assets/images/CLP_Stencil-Clean-Tub.jpg" width="200" height="200" alt="IF Stencil Clean Wipes"/><img src="/assets/images/CLP_Stencil-Clean-Bag.jpg" width="200" height="200" alt="IF Stencil Clean Refil bag"/></div>
                      <div class="product-name">
                        <h3>STENCIL CLEAN WIPES</h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>Šablonové čistící ubrousky</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon09"></div>
                            <p>Pro čištění šablon</p>
                          </li>
                          <li>
                            <div class="icon11"></div>
                            <p>Alkoholová báze</p>
                          </li>
                          <li>
                            <div class="icon30"></div>
                            <p>ESD bezpečné</p>
                          </li>
                          <ul></ul>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® nasycené šablonové čistící ubrousky v tubě a náhradních sáčcích pro odstranění pájecí pasty a nevytvrzeného SMT lepidla ze šablon a nářadí.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® nasycené šablonové čistící ubrousky v tubě a náhradních sáčcích pro odstranění pájecí pasty a nevytvrzeného SMT lepidla ze šablon a nářadí.<br/>
                          Žádný hadřík, netkaná textilie<br/>
                          Velikost jednoho ubrousku: 15 x 21cm<br/>
                          100ks / role</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Stencil-clean-wipes-DE.pdf">Technisches Datenblatt Stencil Clean Wipes</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Stencil-clean-wipes-FR.pdf">Fiche technique Stencil Clean Wipes</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Stencil-clean-wipes.pdf">Technical Data Sheet Stencil Clean Wipes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=STENCIL CLEAN WIPES" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-4 views-row-even views-row-last product-row">
                      <div class="product-images"><img src="/assets/images/CLP_ISC-8020_0.jpg" width="200" height="200" alt="ISC 8020"/></div>
                      <div class="product-name">
                        <h3>ISC 8020</h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>stencil cleaning fluid</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon09"></div>
                            <p>Pro šablonový tisk</p>
                          </li>
                          <li>
                            <div class="icon11"></div>
                            <p>Alkoholová báze</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® ISC 8020 je šablonová čistící kapalina pro sítotisky.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® ISC 8020 je šablonová čistící kapalina pro sítotisky.<br/>
                          Pro odstranění pájecí pasty a nevytvrzených SMT lepidel.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-ISC-8020-DE.pdf">Technisches Datenblatt ISC 8020</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-ISC-8020.pdf">Technical Data Sheet ISC 8020</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=ISC 8020" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="block-block-17" class="block block-block library-reference last even">
        <div class="inner-block">
          <p>Nemůžete najít konkrétní produkt? Pro úplný seznam produktů zkuste použít naši
            <a href="/cs/documents">knihovnu</a>
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-footer2">
    <div class="inner-region">
      <div id="block-block-18" class="block block-block first last odd">
        <div class="inner-block">
          <div class="block grid-12" id="F1">
            <div class="inner-block">
              <div class="inner-content">
                <a href="/cs/contact"><img src="/assets/images/Interflux-Electronics-headquarters-belgium.jpg" width="171" height="271" alt="kancelářská budova společnosti Interflux Electronics Belgium"/></a>
                <div class="contact-title">
                  <span>KONTAKT NA</span><br/>HLAVNÍ SÍDLO<br/>INTERFLUX</div>
                <div class="contact-adress">
                  <p>
                    Interflux Electronics NV<br/>
                    Gent zeehaven 3170A<br/>
                    Eddastraat 51<br/>
                    9042 Gent<br/>
                    BELGIE</p>
                  <p>Tel.: +32 9251 4959<br/>
                    Fax: +32 9251 4970<br/>
                    <a href="mailto:info@interflux.com" target="_blank">info@interflux.com</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="block grid-12" id="F2">
            <div class="inner-block">
              <div class="inner-content">
                <div class="contact-title">
                  <span>KONTAKT NA</span><br/>INTERFLUX VE SVĚTĚ</div>
                <p>
                  <a href="/cs/contact"><img src="/assets/images/interflux-worldwide-map.jpg" width="446" height="196" alt="Geografická mapa skupiny Interflux"/></a>
                </p>
              </div>
            </div>
          </div>
          <div class="block grid-24" id="F3">
            <div class="copyright">©2012 Interflux® Electronics N.V., všechna práva vyhrazena</div>
            <div class="louder-than-words">Webové stránky vytvořila
              <a href="https://nabu.io" target="_new" title="NABU websites">NABU websites</a>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
{% endblock %}