{% extends "layout.html.njk" %}
{% block meta %}
  <title>Reflow pájení | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}cs-reflow-soldering
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-reflow-soldering page-products i18n-cs section-reflow-soldering page-panels
{% endblock %}
{% block page %}
  {% include "partials/highlight.njk" %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-display panel-1col clearfix">
          <div class="panel-panel panel-col">
            <div>
              <div class="panel-pane pane-views pane-process-views-interflux">
                <h2 class="pane-title">
                  <div class="fs30">Pájecí pasty</div>
                  <div class="fs18">pro reflow pájení</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_12 product-row-group view-dom-id-9bd0eff497a98ab51f11a2a0c25fa0ca">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_LMPA%E2%84%A2-%20Q6.jpg" width="200" height="200" alt="LMPA™-Q6 solder paste"/></div>
                        <div class="product-name">
                          <h3>LMPA™-Q6</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NEW</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon23"></div>
                              <p>Enhanced low melting point solder paste</p>
                            </li>
                            <li>
                              <div class="icon09"></div>
                              <p>High stability on the stencil</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutely halide-free</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Smooth, clear and transparent residue</p>
                            </li>
                            <li>
                              <div class="icon33"></div>
                              <p>Low voiding</p>
                            </li>
                            <li>
                              <div class="icon31"></div>
                              <p>Reduced cost of production.</p>
                            </li>
                            <li>
                              <div class="icon32"></div>
                              <p>Increased mechanical reliability</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®<strong>
                              LMPA™-Q6
                            </strong>is a no-clean solder paste with the high reliability LMPA™-Q low melting point alloy.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux®<strong>
                              LMPA™-Q6
                            </strong>is a no-clean solder paste with the high reliability LMPA™-Q low melting point alloy.<br/>
                            LMPA™ -Q6 solder paste has improved printing stability, stencil life and more transparent residue compared to DP 5600.<br/>
                            RO L0 to IPC and EN standards.<br/>
                            Halide content 0,00%
                          </p>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=LMPA™-Q6" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-2 views-row-even product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_DP%205600-2.jpg" width="200" height="200" alt="DP 5600"/></div>
                        <div class="product-name">
                          <h3>DP 5600</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>populární</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon03"></div>
                              <p>Pro reflow pájení</p>
                            </li>
                            <li>
                              <div class="icon09"></div>
                              <p>Pro šablonový tisk</p>
                            </li>
                            <li>
                              <div class="icon08"></div>
                              <p>Pro dispenzi</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Zcela bez halogenidů</p>
                            </li>
                            <li>
                              <div class="icon23"></div>
                              <p>Nízká tavná teplota</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Nízká tvorba voidů</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® DP 5600 je bezoplachová pájecí pasta pro nízkoteplotní slitiny SnBi(Ag).</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® DP 5600 je bezoplachová pájecí pasta pro nízkoteplotní slitiny SnBi(Ag).<br/>
                            RO L0 podle EN a IPC norem<br/>
                            Obsah halogenidů: 0,00%<br/>
                            Sn42Bi57Ag1 (tavící bod 139°C ~ 282°F)</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20DP%205600-DE_0.pdf" type="application/pdf; length=764791" title="TD DP 5600-DE.pdf">Technisches Datenblatt DP 5600</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/DP5600_2015_DE_web.pdf" type="application/pdf; length=163236" title="DP5600_2015_DE_web.pdf">A4 flyer DP 5600-DE</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20DP%205600-FR_0.pdf" type="application/pdf; length=798391" title="TD DP 5600-FR.pdf">Fiche technique DP 5600</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/DP5600_2015_FR_web.pdf" type="application/pdf; length=162178" title="DP5600_2015_FR_web.pdf">A4 flyer DP 5600-FR</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20DP%205600_0.pdf" type="application/pdf; length=756248" title="TD DP 5600.pdf">Technical Data Sheet DP 5600</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/DP5600_2015_Eng_web.pdf" type="application/pdf; length=161013" title="DP5600_2015_Eng_web.pdf">A4 flyer DP 5600</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=DP 5600" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-3 views-row-odd product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_LP%205720%20Pb-free.jpg" width="200" height="200" alt="LP 5720 Pb-free"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_LP%205720%20SnPb.jpg" width="200" height="200" alt="LP 5720 SnPb(Ag)"/></div>
                        <div class="product-name">
                          <h3>LP 5720</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NEW</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon09"></div>
                              <p>High stability on the stencil</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutely halide-free</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>For SnPb(Ag) alloys</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>For Lead-free alloys</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Transparent post reflow residue</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong>LP 5720</strong>
                            is a no-clean solder paste with
                            <strong>optimized printing stability</strong>
                            and transparent residue after reflow, in lead-free and SnPb(Ag) alloys.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® LP 5720 is a no-clean solder paste with optimized printing stability and transparent residue after reflow, in lead-free and SnPb(Ag) alloys.<br/>
                            LP 5720 is the successor of DP 5505.<br/>
                            RO L0 to IPC and EN standards.<br/>
                            Halide content 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20LP%205720-DE.pdf" type="application/pdf; length=1920506" title="TD LP 5720-DE.pdf">Technisches Datenblatt LP 5720-DE</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20LP%205720%20SnPb%28Ag%29-DE.pdf" type="application/pdf; length=2037927" title="TD LP 5720 SnPb(Ag)-DE.pdf">Technisches Datenblatt LP 5720 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20LP%205720-FR.pdf" type="application/pdf; length=1983565" title="TD LP 5720-FR.pdf">Fiche Technique LP 5720</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20LP%205720%20SnPb%28Ag%29-FR.pdf" type="application/pdf; length=1933907" title="TD LP 5720 SnPb(Ag)-FR.pdf">Fiche technique LP 5720 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20LP%205720.pdf" type="application/pdf; length=1985139" title="TD LP 5720.pdf">Technical Data Sheet TD LP 5720 Pb-free</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20LP%205720%20SnPb%28Ag%29_0.pdf" type="application/pdf; length=1951291" title="TD LP 5720 SnPb(Ag).pdf">Technical Data Sheet LP 5720 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=LP 5720" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-4 views-row-even product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_DP%205505%20Pb-free.jpg" width="200" height="200" alt="DP 5505 Pb-free"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_DP%205505%20SnPb.jpg" width="200" height="200" alt="DP 5505 SnPb"/></div>
                        <div class="product-name">
                          <h3>DP 5505
                          </h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon03"></div>
                              <p>Pro reflow pájení</p>
                            </li>
                            <li>
                              <div class="icon09"></div>
                              <p>Pro šablonový tisk</p>
                            </li>
                            <li>
                              <div class="icon08"></div>
                              <p>Pro dispenzi</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Zcela bez halogenidů</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Bezolovnaté slitiny</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>SnPb slitiny</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® DP 5505 je univerzální, vysoce stabilní, bezoplachová pájecí pasta v olovnatých a bezolovnatých slitinách.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® DP 5505 je univerzální, vysoce stabilní, bezoplachová pájecí pasta v olovnatých a bezolovnatých slitinách.<br/>
                            Nízká tvorba voidů<br/>
                            Minimalizuje vytvoření chyby tzv. “skrytý polštářek”<br/>
                            RO L0 podle EN a IPC norem<br/>
                            Obsah halogenidů 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20DP%205505-DE_0.pdf" type="application/pdf; length=401875" title="TD DP 5505-DE.pdf">
                              Technisches Datenblatt DP 5505</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20DP%205505%20SnPb%28Ag%29-DE_0.pdf" type="application/pdf; length=606469" title="TD DP 5505 SnPb(Ag)-DE.pdf">Technisches Datenblatt DP 5505 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/DP5505-Properties%20DE.pdf" type="application/pdf; length=2433113" title="DP5505-Properties DE.pdf">DP 5505 Gesamtübersicht</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20DP%205505-FR.pdf" type="application/pdf; length=436748" title="TD DP 5505-FR.pdf">Fiche technique DP 5505</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20DP%205505%20SnPb%28Ag%29-FR_0.pdf" type="application/pdf; length=652480" title="TD DP 5505 SnPb(Ag)-FR.pdf">Fiche technique DP 5505 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/DP5505-Properties%20FR.pdf" type="application/pdf; length=2529992" title="DP5505-Properties FR.pdf">DP 5505 aperçu complet</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20DP%205505.pdf" type="application/pdf; length=437352" title="TD DP 5505.pdf">Technical Data Sheet DP 5505</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20DP%205505%20SnPb%28Ag%29_0.pdf" type="application/pdf; length=659124" title="TD DP 5505 SnPb(Ag).pdf">Technical Data Sheet DP 5505 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/DP5505-Properties.pdf" type="application/pdf; length=2490337" title="DP5505-Properties.pdf">DP 5505 complete overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=DP 5505 " target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-5 views-row-odd product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/%C2%B5-dife7%20web3.png" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>µ-DIFE 7</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon03"></div>
                              <p>Pro reflow pájení</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Pro přepracování a opravy</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Pro namáčení</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Zcela bez halogenidů</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® µ-dIFe 7 je bezoplachová, bezolovnatá pájecí pasta pro aplikování namáčením.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® µ-dIFe 7 je bezoplachová, bezolovnatá pájecí pasta pro aplikování namáčením.<br/>
                            Opakovatelné a selektivní vrstvení<br/>
                            Rychlé a snadné aplikování<br/>
                            Snížené riziko zkratů na μ-BGA<br/>
                            Vhodné pro ERSA Dip&Print Station<br/>
                            Pro křížová kuličková pole, J-vývody<br/>
                            RO L0 podle EN a IPC norem<br/>
                            Obsah halogenidů: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20%C2%B5-dIFe%207-DE_0.pdf" type="application/pdf; length=466240" title="TD µ-dIFe 7-DE.pdf">Technisches Datenblatt µ-dIFe 7</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20%C2%B5-dIFe%207-FR_0.pdf" type="application/pdf; length=493264" title="TD µ-dIFe 7-FR.pdf">Fiche technique µ-dIFe 7</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20%C2%B5-dIFe%207_0.pdf" type="application/pdf; length=485359" title="TD µ-dIFe 7.pdf">Technical Data Sheet µ-dIFe 7</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=µ-DIFE 7" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-6 views-row-even views-row-last product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%209009lt%20Pb-free.jpg" width="200" height="200" alt="IF 9009lt Pb-free"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%209009lt%20SnPb.jpg" width="200" height="200" alt="IF 9009lt SnPb"/></div>
                        <div class="product-name">
                          <h3>IF 9009LT</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon03"></div>
                              <p>Pro reflow pájení</p>
                            </li>
                            <li>
                              <div class="icon09"></div>
                              <p>Pro šablonový tisk</p>
                            </li>
                            <li>
                              <div class="icon08"></div>
                              <p>Pro dispenzi</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Bezolovnaté slitiny</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>SnPb slitiny</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Zvýšená aktivita</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 9009LT je bezoplachová pájecí pasta se zvýšenou aktivitou v SnPb(Ag) a bezolovnatých slitinách.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 9009LT je bezoplachová pájecí pasta se zvýšenou aktivitou v SnPb(Ag) a bezolovnatých slitinách.<br/>
                            Pro poničené a obtížně pájitelné povrchy<br/>
                            RE L1 podle EN a IPC norem</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%209009lt-DE_0.pdf" type="application/pdf; length=639484" title="TD IF 9009lt-DE.pdf">Technisches Datenblatt IF 9009LT</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%209009lt-FR_0.pdf" type="application/pdf; length=624831" title="TD IF 9009lt-FR.pdf">Fiche technique IF 9009LT</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%209009lt_0.pdf" type="application/pdf; length=622568" title="TD IF 9009lt.pdf">Technical Data Sheet IF 9009LT</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 9009LT" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-process-views-interflux">
                <h2 class="pane-title">
                  <div class="fs30">Doplňky</div>
                  <div class="fs18">pro reflow pájení</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_15 product-row-group view-dom-id-0bddad3ad9c8f33b18e4aab1bf250146">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_Purgel.jpg" width="200" height="200" alt="IF Purgel"/></div>
                        <div class="product-name">
                          <h3>PURGEL</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon04"></div>
                              <p>Pro opravy</p>
                            </li>
                            <li>
                              <div class="icon08"></div>
                              <p>Pro dispenzi</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Schváleno pro MYDATA MY 500</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong></strong>
                            Purgel je neutrální čistič/kondicionér pro čerpadla a ventily dispenzních systémů.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Purgel je neutrální čistič/kondicionér pro čerpadla a ventily dispenzních systémů.<br/>
                            Pro zachování průchodnosti dispenzních dílů, když se nepoužívají.<br/>
                            Schváleno MYDATA MY 500</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Purgel-DE_0.pdf" type="application/pdf; length=371237" title="TD Purgel-DE.pdf">Technisches Datenblatt Purgel</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Purgel-FR_0.pdf" type="application/pdf; length=370051" title="TD Purgel-FR.pdf">Fiche technique Purgel</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Purgel_0.pdf" type="application/pdf; length=363113" title="TD Purgel.pdf">Technical Data Sheet Purgel</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PURGEL" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-2 views-row-even product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Interflux-IPA-wipes-jar.jpg" width="200" height="200" alt="Interflux IPA-DI wipes"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Interflux-IPA-wipes.jpg" width="200" height="200" alt="Interflux IPA-DI wipes"/></div>
                        <div class="product-name">
                          <h3>IPA/DI WIPES</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon30"></div>
                              <p>ESD prostředí</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® skládané nasycené IPA / DI ubrousky v uzavřené tubě nebo v náhradních sáčcích pro běžné čištění povrchů.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® skládané nasycené IPA / DI ubrousky v uzavřené tubě nebo v náhradních sáčcích pro běžné čištění povrchů.<br/>
                            Žádný hadřík, netkaná textilie<br/>
                            Velikost jednoho ubrousku: 15 x 21cm<br/>
                            100ks / role</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IPA-DI%20wipes-DE.pdf" type="application/pdf; length=430094" title="TD IPA-DI wipes-DE.pdf">Technisches Datenblatt IPA/DI wipes</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IPA-DI%20wipes-FR.pdf" type="application/pdf; length=433271" title="TD IPA-DI wipes-FR.pdf">Fiche technique IPA/DI wipes</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IPA-DI%20wipes_0.pdf" type="application/pdf; length=425179" title="TD IPA-DI wipes.pdf">Technical Data Sheet IPA/DI wipes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IPA/DI WIPES" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-3 views-row-odd product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_Stencil%20Clean%20Tub.jpg" width="200" height="200" alt="IF Stencil Clean Wipes"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_Stencil%20Clean%20Bag.jpg" width="200" height="200" alt="IF Stencil Clean Refil bag"/></div>
                        <div class="product-name">
                          <h3>STENCIL CLEAN WIPES</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>Šablonové čistící ubrousky</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon09"></div>
                              <p>Pro čištění šablon</p>
                            </li>
                            <li>
                              <div class="icon11"></div>
                              <p>Alkoholová báze</p>
                            </li>
                            <li>
                              <div class="icon30"></div>
                              <p>ESD bezpečné</p>
                            </li>
                            <ul></ul>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® nasycené šablonové čistící ubrousky v tubě a náhradních sáčcích pro odstranění pájecí pasty a nevytvrzeného SMT lepidla ze šablon a nářadí.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® nasycené šablonové čistící ubrousky v tubě a náhradních sáčcích pro odstranění pájecí pasty a nevytvrzeného SMT lepidla ze šablon a nářadí.<br/>
                            Žádný hadřík, netkaná textilie<br/>
                            Velikost jednoho ubrousku: 15 x 21cm<br/>
                            100ks / role</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Stencil%20clean%20wipes-DE.pdf" type="application/pdf; length=421028" title="TD Stencil clean wipes-DE.pdf">Technisches Datenblatt Stencil Clean Wipes</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Stencil%20clean%20wipes-FR_0.pdf" type="application/pdf; length=427631" title="TD Stencil clean wipes-FR.pdf">Fiche technique Stencil Clean Wipes</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Stencil%20clean%20wipes.pdf" type="application/pdf; length=417010" title="TD Stencil clean wipes.pdf">Technical Data Sheet Stencil Clean Wipes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=STENCIL CLEAN WIPES" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-4 views-row-even views-row-last product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_ISC%208020_0.jpg" width="200" height="200" alt="ISC 8020"/></div>
                        <div class="product-name">
                          <h3>ISC 8020</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>stencil cleaning fluid</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon09"></div>
                              <p>Pro šablonový tisk</p>
                            </li>
                            <li>
                              <div class="icon11"></div>
                              <p>Alkoholová báze</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® ISC 8020 je šablonová čistící kapalina pro sítotisky.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® ISC 8020 je šablonová čistící kapalina pro sítotisky.<br/>
                            Pro odstranění pájecí pasty a nevytvrzených SMT lepidel.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20ISC%208020-DE.pdf" type="application/pdf; length=346604" title="TD ISC 8020-DE.pdf">Technisches Datenblatt ISC 8020</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20ISC%208020.pdf" type="application/pdf; length=344448" title="TD ISC 8020.pdf">Technical Data Sheet ISC 8020</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=ISC 8020" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="block-block-17" class="block block-block library-reference last even">
          <div class="inner-block">
            <p>Nemůžete najít konkrétní produkt? Pro úplný seznam produktů zkuste použít naši
              <a href="/cs/documents">knihovnu</a>
            </p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}