{% extends "layout.html.njk" %}
{% block meta %}
  <title>undefined</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}undefined
{% endblock %}
{% block bodyClass %}undefined
{% endblock %}
{% block page %}
  <div class="region region-corpus">
    <div class="inner-region">
      undefined
    </div>
  </div>
{% endblock %}