{% extends "layout.html.njk" %}
{% block meta %}
  <title>Paste saldanti | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}it-solder-pastes
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-solder-pastes page-products i18n-it section-solder-pastes page-panels
{% endblock %}
{% block page %}
  {% include "partials/highlight.njk" %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-display panel-1col clearfix">
          <div class="panel-panel panel-col">
            <div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs18">Pasta di saldatura</div>
                  <div class="fs30">No-clean</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_3 product-row-group view-dom-id-3d0a2849839c76729a30f5f42f21958e">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_LMPA-Q6.jpg" width="200" height="200" alt="LMPA™-Q6 solder paste"/></div>
                        <div class="product-name">
                          <h3>LMPA™-Q6</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NEW</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon23"></div>
                              <p>Enhanced low melting point solder paste</p>
                            </li>
                            <li>
                              <div class="icon09"></div>
                              <p>High stability on the stencil</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutely halide-free</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Smooth, clear and transparent residue</p>
                            </li>
                            <li>
                              <div class="icon33"></div>
                              <p>Low voiding</p>
                            </li>
                            <li>
                              <div class="icon31"></div>
                              <p>Reduced cost of production.</p>
                            </li>
                            <li>
                              <div class="icon32"></div>
                              <p>Increased mechanical reliability</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®<strong>
                              LMPA™-Q6
                            </strong>is a no-clean solder paste with the high reliability LMPA™-Q low melting point alloy.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux®<strong>
                              LMPA™-Q6
                            </strong>is a no-clean solder paste with the high reliability LMPA™-Q low melting point alloy.<br/>
                            LMPA™ -Q6 solder paste has improved printing stability, stencil life and more transparent residue compared to DP 5600.<br/>
                            RO L0 to IPC and EN standards.<br/>
                            Halide content 0,00%
                          </p>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=LMPA™-Q6" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/it/1370" title="LMPA™-Q6" class="nid">1370</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_DP-5600-2.jpg" width="200" height="200" alt="DP 5600"/></div>
                        <div class="product-name">
                          <h3>DP 5600</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>POPOLARE</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon03"></div>
                              <p>Per saldature di rifusione</p>
                            </li>
                            <li>
                              <div class="icon09"></div>
                              <p>Per telaio xerigrafico</p>
                            </li>
                            <li>
                              <div class="icon08"></div>
                              <p>Per dispensazione</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Assolutamente senza alogenuri</p>
                            </li>
                            <li>
                              <div class="icon23"></div>
                              <p>Bassa temperatura di fusione</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Bassi voiding</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® DP 5600  è una pasta di saldatura, no-clean, per leghe a
                            <strong>bassa temperatura SnBi(Ag)</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® DP 5600 è una pasta di saldatura, no-clean, per leghe a bassa temperatura SnBi(Ag)<br/>
                            RO L0 secondo le norme EN e IPC standards<br/>
                            Alogenuri contenuti: 0,00%<br/>
                            Sn42Bi57Ag1 (punto di fusione 139°C ~ 282°F)</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-DP-5600-DE_0.pdf" type="application/pdf; length=764791" title="TD DP 5600-DE.pdf">Technisches Datenblatt DP 5600</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/DP5600_2015_DE_web.pdf" type="application/pdf; length=163236" title="DP5600_2015_DE_web.pdf">A4 flyer DP 5600-DE</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-DP-5600-FR_0.pdf" type="application/pdf; length=798391" title="TD DP 5600-FR.pdf">Fiche technique DP 5600</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/DP5600_2015_FR_web.pdf" type="application/pdf; length=162178" title="DP5600_2015_FR_web.pdf">A4 flyer DP 5600-FR</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-DP-5600_0.pdf" type="application/pdf; length=756248" title="TD DP 5600.pdf">Technical Data Sheet DP 5600</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/DP5600_2015_Eng_web.pdf" type="application/pdf; length=161013" title="DP5600_2015_Eng_web.pdf">A4 flyer DP 5600</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=DP 5600" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/it/580" title="DP 5600" class="nid">580</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_LP-5720-Pb-free.jpg" width="200" height="200" alt="LP 5720 Pb-free"/><img typeof="foaf:Image" src="/assets/images/CLP_LP-5720-SnPb.jpg" width="200" height="200" alt="LP 5720 SnPb(Ag)"/></div>
                        <div class="product-name">
                          <h3>LP 5720</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NEW</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon09"></div>
                              <p>High stability on the stencil</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutely halide-free</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>For SnPb(Ag) alloys</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>For Lead-free alloys</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Transparent post reflow residue</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong>LP 5720</strong>
                            is a no-clean solder paste with
                            <strong>optimized printing stability</strong>
                            and transparent residue after reflow, in lead-free and SnPb(Ag) alloys.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® LP 5720 is a no-clean solder paste with optimized printing stability and transparent residue after reflow, in lead-free and SnPb(Ag) alloys.<br/>
                            LP 5720 is the successor of DP 5505.<br/>
                            RO L0 to IPC and EN standards.<br/>
                            Halide content 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-LP-5720-DE.pdf" type="application/pdf; length=1920506" title="TD LP 5720-DE.pdf">Technisches Datenblatt LP 5720-DE</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-LP-5720-SnPbAg-DE.pdf" type="application/pdf; length=2037927" title="TD LP 5720 SnPb(Ag)-DE.pdf">Technisches Datenblatt LP 5720 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-LP-5720-FR.pdf" type="application/pdf; length=1983565" title="TD LP 5720-FR.pdf">Fiche Technique LP 5720</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-LP-5720-SnPbAg-FR.pdf" type="application/pdf; length=1933907" title="TD LP 5720 SnPb(Ag)-FR.pdf">Fiche technique LP 5720 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-LP-5720.pdf" type="application/pdf; length=1985139" title="TD LP 5720.pdf">Technical Data Sheet TD LP 5720 Pb-free</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-LP-5720-SnPbAg_0.pdf" type="application/pdf; length=1951291" title="TD LP 5720 SnPb(Ag).pdf">Technical Data Sheet LP 5720 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=LP 5720" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/it/1381" title="LP 5720" class="nid">1381</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_DP-5505-Pb-free.jpg" width="200" height="200" alt="DP 5505 Pb-free"/><img typeof="foaf:Image" src="/assets/images/CLP_DP-5505-SnPb.jpg" width="200" height="200" alt="DP 5505 SnPb"/></div>
                        <div class="product-name">
                          <h3>DP 5505
                          </h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon03"></div>
                              <p>Per saldature di rifusione</p>
                            </li>
                            <li>
                              <div class="icon09"></div>
                              <p>Per telaio xerigrafico</p>
                            </li>
                            <li>
                              <div class="icon08"></div>
                              <p>Per dispensazione</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Assolutamente senza alogenuri</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Leghe Lead-free</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Leghe SnPb</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® DP 5505 è una pasta di saldatura
                            <strong>universale</strong>, alta stabilità, no-clean, nelle leghe
                            <strong>SnPb(Ag) e lead-free</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® DP 5505 è una pasta di saldatura universale, alta stabilità, no-clean, nelle leghe SnPb(Ag) e lead-free.<br/>
                            Bassi voiding<br/>
                            Riduce il difetto del head-in-pillow<br/>
                            RO L0 secondo le norme EN e IPC standards<br/>
                            Alogenuri contenuti: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-DP-5505-DE_0.pdf" type="application/pdf; length=401875" title="TD DP 5505-DE.pdf">
                              Technisches Datenblatt DP 5505</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-DP-5505-SnPbAg-DE_0.pdf" type="application/pdf; length=606469" title="TD DP 5505 SnPb(Ag)-DE.pdf">Technisches Datenblatt DP 5505 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/DP5505-Properties-DE.pdf" type="application/pdf; length=2433113" title="DP5505-Properties DE.pdf">DP 5505 Gesamtübersicht</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-DP-5505-FR.pdf" type="application/pdf; length=436748" title="TD DP 5505-FR.pdf">Fiche technique DP 5505</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-DP-5505-SnPbAg-FR_0.pdf" type="application/pdf; length=652480" title="TD DP 5505 SnPb(Ag)-FR.pdf">Fiche technique DP 5505 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/DP5505-Properties-FR.pdf" type="application/pdf; length=2529992" title="DP5505-Properties FR.pdf">DP 5505 aperçu complet</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-DP-5505.pdf" type="application/pdf; length=437352" title="TD DP 5505.pdf">Technical Data Sheet DP 5505</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-DP-5505-SnPbAg_0.pdf" type="application/pdf; length=659124" title="TD DP 5505 SnPb(Ag).pdf">Technical Data Sheet DP 5505 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/DP5505-Properties.pdf" type="application/pdf; length=2490337" title="DP5505-Properties.pdf">DP 5505 complete overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=DP 5505 " target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/it/579" title="DP 5505 " class="nid">579</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/micro-dife7-web3.png" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>µ-DIFE 7</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon03"></div>
                              <p>Per saldature di rifusione
                              </p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Per rilavorazione & riparazione</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Per immersione</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Assolutamente senza alogenuri</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong></strong>è una pasta di saldatura no-clean, lead-free, per
                            <strong>applicazioni ad immersione</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® µ-dIFe 7 è una pasta di saldatura no-clean, lead-free, per applicazioni ad immersione<br/>
                            Ripetibile e volume selettivo della pasta<br/>
                            Veloce e facile applicazione<br/>
                            Riduce il rischio dei ponti su μ-BGAs<br/>
                            Adatto per la ERSA Dip&Print Station<br/>
                            Per Ball Grid Arrays, J-lead e Gull Wing ICs<br/>
                            RO L0 secondo le norme EN e IPC standards<br/>
                            Alogenuri contenuti: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-micro-dIFe-7-DE_0.pdf" type="application/pdf; length=466240" title="TD µ-dIFe 7-DE.pdf">Technisches Datenblatt µ-dIFe 7</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-micro-dIFe-7-FR_0.pdf" type="application/pdf; length=493264" title="TD µ-dIFe 7-FR.pdf">Fiche technique µ-dIFe 7</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-micro-dIFe-7_0.pdf" type="application/pdf; length=485359" title="TD µ-dIFe 7.pdf">Technical Data Sheet µ-dIFe 7</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=µ-DIFE 7" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/it/582" title="µ-DIFE 7" class="nid">582</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_IF-9009lt-Pb-free.jpg" width="200" height="200" alt="IF 9009lt Pb-free"/><img typeof="foaf:Image" src="/assets/images/CLP_IF-9009lt-SnPb.jpg" width="200" height="200" alt="IF 9009lt SnPb"/></div>
                        <div class="product-name">
                          <h3>IF 9009LT</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon03"></div>
                              <p>Per saldature di rifusione</p>
                            </li>
                            <li>
                              <div class="icon09"></div>
                              <p>Per telaio xerigrafico</p>
                            </li>
                            <li>
                              <div class="icon08"></div>
                              <p>Per dispensazione</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Leghe Lead-free</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Leghe SnPb</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Aumentata attivazione</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong></strong>IF 9009LT è una pasta di saldatura no clean, con
                            <strong>aumentata attivazione</strong>
                            in leghe SnPb(Ag) e  lead-free.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 9009LT  è una pasta di saldatura no clean, con aumentata attivazione in leghe SnPb(Ag) e  lead-free.<br/>
                            Per la saldatura di superfici degradate e difficili da saldare<br/>
                            RE L1 secondo le norme EN e IPC standards
                          </p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IF-9009lt-DE_0.pdf" type="application/pdf; length=639484" title="TD IF 9009lt-DE.pdf">Technisches Datenblatt IF 9009LT</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-IF-9009lt-FR_0.pdf" type="application/pdf; length=624831" title="TD IF 9009lt-FR.pdf">Fiche technique IF 9009LT</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IF-9009lt_0.pdf" type="application/pdf; length=622568" title="TD IF 9009lt.pdf">Technical Data Sheet IF 9009LT</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 9009LT" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/it/584" title="IF 9009LT" class="nid">584</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="block-block-17" class="block block-block library-reference last even">
          <div class="inner-block">
            <p>Non trovi il prodotto? Per la lista completa dei prodotti, cerca nella
              <a href="/it/documents">libreria</a>
            </p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}