{% extends "layout.html.njk" %}
{% block meta %}
  <title>Fluks Sprey Üniteleri | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}tr-spray-fluxers
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-spray-fluxers page-products i18n-tr section-spray-fluxers page-panels
{% endblock %}
{% block page %}
  {% include "partials/highlight.njk" %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-display panel-1col clearfix">
          <div class="panel-panel panel-col">
            <div></div>
          </div>
        </div>
        <div id="block-block-17" class="block block-block library-reference last even">
          <div class="inner-block">
            <p>Ürünü bulamadınız mı? Ürünlerin tam listesi için,
              <a href="/tr/documents">kütüphanemizi</a>
              tıklayın</p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}