{% extends "layout.html.njk" %}
{% block meta %}
  <title>Spray fluxers | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}es-spray-fluxers
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-spray-fluxers page-products i18n-es section-spray-fluxers page-panels
{% endblock %}
{% block page %}
  {% include "partials/highlight.njk" %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-display panel-1col clearfix">
          <div class="panel-panel panel-col">
            <div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs18">Spray fluxers</div>
                  <div class="fs30">retro fit</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_13 product-row-group view-dom-id-652e17c6bb8bda8dcb1d144eb5b9fb84">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/ICSF%20Curve.jpg" width="200" height="200" alt="ICSF Curve"/></div>
                        <div class="product-name">
                          <h3>ICSF CURVE</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>
                                For wave soldering</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>
                                For spray fluxing</p>
                            </li>
                            <li>
                              <div class="icon11"></div>
                              <p>
                                For Alcohol based fluxes</p>
                            </li>
                            <li>
                              <div class="icon17"></div>
                              <p>
                                For water based fluxes</p>
                            </li>
                            <li>
                              <div class="icon14"></div>
                              <p>
                                For rosin based fluxes</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>The InterSpray Curve series are designed to
                            <strong>retrofit all existing soldering machines</strong>
                            with a reliable spray fluxer which offers excellent results.</p>
                        </div>
                        <div class="product-details">
                          <p>The InterSpray Curve series are designed to retrofit all existing soldering machines with a reliable spray fluxer which offers excellent results.<br/>
                            √ Venturi, clog-free spray nozzle<br/>
                            √ Touch screen programming<br/>
                            √ Clean, ergonomic design<br/>
                            √ Special flux pump<br/>
                            √ Encoder calibration function<br/>
                            √ Low level flux alarm</p>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=ICSF CURVE" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/542" title="ICSF CURVE" class="nid">542</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/ICSFcurve2.png" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>ICSF CURVE 2</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>
                                For wave soldering</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>
                                For spray fluxing</p>
                            </li>
                            <li>
                              <div class="icon11"></div>
                              <p>
                                For Alcohol based fluxes</p>
                            </li>
                            <li>
                              <div class="icon17"></div>
                              <p>
                                For water based fluxes</p>
                            </li>
                            <li>
                              <div class="icon14"></div>
                              <p>
                                For rosin based fluxes</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>The InterSpray Curve 2 double nozzle series are designed to
                            <strong>use 2 different types of fluxes
                            </strong>in 1 reliable spray fluxer system.</p>
                        </div>
                        <div class="product-details">
                          <p>The InterSpray Curve 2 double nozzle series are designed to use 2 different types of fluxes in 1 reliable system.<br/>
                            √ Double Venturi, clog-free spray nozzle<br/>
                            √ Touch screen programming<br/>
                            √ 2 Flux supply modules<br/>
                            √ Clean, ergonomic design<br/>
                            √ Special flux pump<br/>
                            √ Encoder calibration function<br/>
                            √ Low level flux alarm</p>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=ICSF CURVE 2" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/540" title="ICSF CURVE 2" class="nid">540</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="block-block-17" class="block block-block library-reference last even">
          <div class="inner-block">
            <p>¿No encuentra el producto? Para obtener una lista completa de productos, visite nuestra
              <a href="/es/documents">biblioteca</a>
            </p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}