{% extends "layout.html.njk" %}
{% block meta %}
  <title>Spray fluxers | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}es-spray-fluxers
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-spray-fluxers page-products i18n-es section-spray-fluxers page-panels
{% endblock %}
{% block page %}
  <div class="region region-language">
    <div class="inner-region">
      <div id="block-locale-language" class="block block-locale language-menu block grid-24 first last odd" role="complementary">
        <div class="inner-block">
          <ul class="language-switcher-locale-url">
            <li class="en first">
              <a href="/en/spray-fluxers" class="language-link" lang="en" title="Spray Fluxers">
                <div class="flag en"></div>English</a>
            </li>
            <li class="zh-hans">
              <a href="/zh-hans/spray-fluxers" class="language-link" lang="zh-hans" title="助焊剂喷雾装置">
                <div class="flag zh-hans"></div>简体中文</a>
            </li>
            <li class="cs">
              <a href="/cs/spray-fluxers" class="language-link" lang="cs" title="Sprejová tavidla">
                <div class="flag cs"></div>Čeština</a>
            </li>
            <li class="de">
              <a href="/de/spray-fluxers" class="language-link" lang="de" title="Sprühfluxer">
                <div class="flag de"></div>Deutsch</a>
            </li>
            <li class="fr">
              <a href="/fr/spray-fluxers" class="language-link" lang="fr" title="Fluxeur spray">
                <div class="flag fr"></div>Français</a>
            </li>
            <li class="it">
              <a href="/it/spray-fluxers" class="language-link" lang="it" title="Unità spray">
                <div class="flag it"></div>Italiano</a>
            </li>
            <li class="id">
              <a href="/id/spray-fluxers" class="language-link" lang="id" title="Penyemprot flux">
                <div class="flag id"></div>Bahasa Indonesia</a>
            </li>
            <li class="pt-pt">
              <a href="/pt-pt/spray-fluxers" class="language-link" lang="pt-pt" title="Spray fluxers">
                <div class="flag pt-pt"></div>Português</a>
            </li>
            <li class="ro">
              <a href="/ro/spray-fluxers" class="language-link" lang="ro" title="Spray fluxers">
                <div class="flag ro"></div>Română</a>
            </li>
            <li class="ru">
              <a href="/ru/spray-fluxers" class="language-link" lang="ru" title="Распыление флюса">
                <div class="flag ru"></div>Русский</a>
            </li>
            <li class="th">
              <a href="/th/spray-fluxers" class="language-link" lang="th" title="เครื่องพ่นสเปรย์น้ำฟลักซ์">
                <div class="flag th"></div>ภาษาไทย</a>
            </li>
            <li class="tr">
              <a href="/tr/spray-fluxers" class="language-link" lang="tr">
                <div class="flag tr"></div>Türkçe</a>
            </li>
            <li class="pl">
              <a href="/pl/spray-fluxers" class="language-link" lang="pl" title="Fluksery">
                <div class="flag pl"></div>Polski</a>
            </li>
            <li class="es active">
              <a href="/es/spray-fluxers" class="language-link active" lang="es" title="Spray fluxers">
                <div class="flag es"></div>Español</a>
            </li>
            <li class="sv last">
              <a href="/sv/spray-fluxers" class="language-link" lang="sv" title="Spray fluxers">
                <div class="flag sv"></div>Svenska</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-header">
    <div class="inner-region">
      <div id="block-block-11" class="block block-block grid-9 first odd">
        <div class="inner-block">
          <p>
            <a href="/es/" title="Interflux Electronics"><img src="/assets/images/interflux-electronics-logo.png" width="343" height="87" alt="Logotipo de Interflux Electronics"/></a>
          </p>
        </div>
      </div>
      <div id="block-menu-menu-interflux-menu" class="block block-menu grid-15 header-nav last even" role="navigation">
        <div class="inner-block">
          <ul class="menu">
            <li class="first expanded active-trail">
              <a href="/es" title="Buscar productos por tipos" class="active-trail">Productos</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/es/soldering-fluxes" title="">Fluxes de soldadura</a>
                </li>
                <li class="leaf">
                  <a href="/es/solder-pastes" title="">Pasta de soldadura</a>
                </li>
                <li class="leaf">
                  <a href="/es/solder-wires" title="">Hilo de soldadura</a>
                </li>
                <li class="leaf active-trail">
                  <a href="/es/spray-fluxers" title="" class="active-trail active">Spray fluxers</a>
                </li>
                <li class="last leaf">
                  <a href="/es/auxiliaries" title="">Accesorios</a>
                </li>
              </ul>
            </li>
            <li class="expanded">
              <a href="/es" title="Buscar productos por procesos">Procesos</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/es/wave-soldering" title="">Soldadura por ola</a>
                </li>
                <li class="leaf">
                  <a href="/es/selective-soldering" title="">Soldadura selectiva</a>
                </li>
                <li class="leaf">
                  <a href="/es/reflow-soldering" title="">Soldadura por re fusión</a>
                </li>
                <li class="leaf">
                  <a href="/es/rework-and-repair" title="">Reparación y reproceso</a>
                </li>
                <li class="last leaf">
                  <a href="/es/pre-tinning" title="">Pre estañado</a>
                </li>
              </ul>
            </li>
            <li class="leaf">
              <a href="/es/company" title="Aprenda sobre Interflux">Empresa</a>
            </li>
            <li class="leaf">
              <a href="/es/documents" title="Encuentre datos técnicos">Documentos</a>
            </li>
            <li class="last leaf">
              <a href="/es/contact" title="Póngase en contacto">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-highlight">
    <div class="inner-region">
      <div id="banners">
        <div class="preload"></div>
        <div class="stage">
          <article id="ipc-apex-2017">
            <a href="http://www.ipcapexexpo.org/" target="_blank" title="Visit us at IPC APEX 2018 in San Diego">
              <picture>
                <source srcset="http://www.interflux.com/sites/all/themes/zen_interflux/images/banner-ipc-apex-2018@2x.jpg 2x, http://www.interflux.com/sites/all/themes/zen_interflux/images/banner-ipc-apex-2018.jpg 1x"></source>
                <img src="http://www.interflux.com/sites/all/themes/zen_interflux/images/banner-ipc-apex-2018@2x.jpg" alt="Visit use at IPC APEX 2018 in San Diego"/>
              </picture>
            </a>
          </article>
          <article id="productronica-2017">
            <a href="http://www.productronica.com/" target="_blank" title="Visit us at Productronica 2017">
              <img src="http://www.interflux.com/sites/all/themes/zen_interflux/images/productronica-banner-2017.jpg"/>
            </a>
          </article>
          <article id="lmpa">
            <a href="https://lmpa.interflux.com" target="_blank">
              <h1>Solder
                <strong>5 times</strong>
                faster whilst maintaining
                <strong>zero defects</strong>
              </h1>
              <h1>Discover
                <mark>LMPA<span>™</span>
                </mark>
              </h1>
              <div id="video">
                <video id="movie" width="276" height="220" autoplay loop>
                  <source src="https://cdn.interflux.com/videos/LMPA-Q-30mms.mp4" type="video/mp4"></source>
                  Your browser doesn't support HTML5 video tag.
                </video>
                <script></script>
                <p>Speed: 30 mm/s</p>
              </div>
            </a>
          </article>
        </div>
        <nav>
          <div id="prev">
            <div></div>
          </div>
          <div id="next">
            <div></div>
          </div>
          <div id="timer">
            <div></div>
          </div>
          <ul></ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="panel-display panel-1col clearfix">
        <div class="panel-panel panel-col">
          <div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs18">Spray fluxers</div>
                <div class="fs30">retro fit</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_13 product-row-group view-dom-id-2c809ccae920ecf9d651d0b68526696a">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/ICSF-Curve.jpg" width="200" height="200" alt="ICSF Curve"/></div>
                      <div class="product-name">
                        <h3>ICSF CURVE</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>
                              For wave soldering</p>
                          </li>
                          <li>
                            <div class="icon06"></div>
                            <p>
                              For spray fluxing</p>
                          </li>
                          <li>
                            <div class="icon11"></div>
                            <p>
                              For Alcohol based fluxes</p>
                          </li>
                          <li>
                            <div class="icon17"></div>
                            <p>
                              For water based fluxes</p>
                          </li>
                          <li>
                            <div class="icon14"></div>
                            <p>
                              For rosin based fluxes</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>The InterSpray Curve series are designed to
                          <strong>retrofit all existing soldering machines</strong>
                          with a reliable spray fluxer which offers excellent results.</p>
                      </div>
                      <div class="product-details">
                        <p>The InterSpray Curve series are designed to retrofit all existing soldering machines with a reliable spray fluxer which offers excellent results.<br/>
                          √ Venturi, clog-free spray nozzle<br/>
                          √ Touch screen programming<br/>
                          √ Clean, ergonomic design<br/>
                          √ Special flux pump<br/>
                          √ Encoder calibration function<br/>
                          √ Low level flux alarm</p>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=ICSF CURVE" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/es/542" title="ICSF CURVE" class="nid">542</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/ICSFcurve2.png" width="200" height="200" alt=""/></div>
                      <div class="product-name">
                        <h3>ICSF CURVE 2</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>
                              For wave soldering</p>
                          </li>
                          <li>
                            <div class="icon06"></div>
                            <p>
                              For spray fluxing</p>
                          </li>
                          <li>
                            <div class="icon11"></div>
                            <p>
                              For Alcohol based fluxes</p>
                          </li>
                          <li>
                            <div class="icon17"></div>
                            <p>
                              For water based fluxes</p>
                          </li>
                          <li>
                            <div class="icon14"></div>
                            <p>
                              For rosin based fluxes</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>The InterSpray Curve 2 double nozzle series are designed to
                          <strong>use 2 different types of fluxes
                          </strong>in 1 reliable spray fluxer system.</p>
                      </div>
                      <div class="product-details">
                        <p>The InterSpray Curve 2 double nozzle series are designed to use 2 different types of fluxes in 1 reliable system.<br/>
                          √ Double Venturi, clog-free spray nozzle<br/>
                          √ Touch screen programming<br/>
                          √ 2 Flux supply modules<br/>
                          √ Clean, ergonomic design<br/>
                          √ Special flux pump<br/>
                          √ Encoder calibration function<br/>
                          √ Low level flux alarm</p>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=ICSF CURVE 2" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/es/540" title="ICSF CURVE 2" class="nid">540</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="block-block-17" class="block block-block library-reference last even">
        <div class="inner-block">
          <p>¿No encuentra el producto? Para obtener una lista completa de productos, visite nuestra
            <a href="/es/documents">biblioteca</a>
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-footer2">
    <div class="inner-region">
      <div id="block-block-18" class="block block-block first last odd">
        <div class="inner-block">
          <div class="block grid-12" id="F1">
            <div class="inner-block">
              <div class="inner-content">
                <a href="/es/contact" title="Ir a la página de contacto para más información"><img src="/assets/images/Interflux-Electronics-headquarters-belgium.jpg" width="171" height="271" alt="Edificio de oficinas Interflux Electronics Bélgica"/></a>
                <div class="contact-title">
                  <span>CONTACTAR</span><br/>LA CENTRAL DE INTERFLUX</div>
                <div class="contact-adress">
                  <p>
                    Interflux Electronics NV<br/>
                    Gent zeehaven 3170A<br/>
                    Eddastraat 51<br/>
                    9042 Gent<br/>
                    BELGICA</p>
                  <p>Tel.: +32 9251 4959<br/>
                    Fax: +32 9251 4970<br/>
                    <a href="mailto:info@interflux.com" target="_blank">info@interflux.com</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="block grid-12" id="F2">
            <div class="inner-block">
              <div class="inner-content">
                <div class="contact-title">
                  <span>CONTACTO</span><br/>INTERFLUX MUNDIAL</div>
                <p>
                  <a href="/es/contact" title="Ir a la página de contacto para más información"><img src="/assets/images/interflux-worldwide-map.jpg" width="446" height="196" alt="Mapa geográfico del grupo Interflux"/></a>
                </p>
              </div>
            </div>
          </div>
          <div class="block grid-24" id="F3">
            <div class="copyright">©2012 Derechos reservados por Interflux® Electronics N.V.</div>
            <div class="louder-than-words">Website por
              <a href="http://nabu.io" target="_new" title="NABU websites">NABU websites</a>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
{% endblock %}