{% extends "layout.html.njk" %}
{% block meta %}
  <title>Selektivní pájení | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}cs-selective-soldering
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-selective-soldering page-products i18n-cs section-selective-soldering page-panels
{% endblock %}
{% block page %}
  {% include "partials/highlight.njk" %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-display panel-1col clearfix">
          <div class="panel-panel panel-col">
            <div>
              <div class="panel-pane pane-views pane-process-views-interflux">
                <h2 class="pane-title">
                  <div class="fs30">Pájecí tavidla</div>
                  <div class="fs18">pro selektivní pájení</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_6 product-row-group view-dom-id-4a6a9e0aabb502d2b12ee9f044a4d940">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/SelectIF2040-2.png" width="200" height="200" alt="SelectIF 2040"/></div>
                        <div class="product-name">
                          <h3>SELECTIF 2040</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NOVÝ</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Tavidlo na vodní bázi</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Pro selektivní pájení</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Zcela bez halogenidů</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Vysoká míra dezoxidace</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Odolné na předehřevu</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Vysoká kompatibilita k pouzdření máčením</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Nízkozbytkové</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® SelectIF 2040 je selektivní bezoplachové tavidlo na vodní bázi se širokým procesním záběrem a nízkou tvorbou zbytků.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® SelectIF 2040je selektivní bezoplachové tavidlo na vodní bázi se širokým procesním záběrem a nízkou tvorbou zbytků. Odolává vysokým procesním teplotám a dlouhým procesním časům.<br/>
                            Pro olovnaté a bezolovnaté pájení<br/>
                            OR L0 podle EN a IPC norem<br/>
                            Obsah pevných látek: 6,5% ±0,2<br/>
                            Obsah halogenidů: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-SelectIF-2040-DE_0.pdf" type="application/pdf; length=429820" title="TD SelectIF 2040-DE.pdf">Technisches Datenblatt SelectIF 2040</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-SelectIF-2040-FR_0.pdf" type="application/pdf; length=458922" title="TD SelectIF 2040-FR.pdf">Fiche technique SelectIF 2040</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-SelectIF-2040.pdf" type="application/pdf; length=408961" title="TD SelectIF 2040.pdf">Technical Data Sheet SelectIF 2040</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=SELECTIF 2040" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-2 views-row-even product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_IF-2005C_7.jpg" width="200" height="200" alt="IF 2005C"/></div>
                        <div class="product-name">
                          <h3>IF 2005C</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Alkoholová báze</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Pro selektivní pájení</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Pro cínování</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Zcela bez halogenidů</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Vysoká míra dezoxidace</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Odolné na předehřevu</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Vysoká kompatibilita s konformním povlakem</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 2005C s 3,3% pevných látek je pryskyřicové, bezkalafunová a bezoplachové tavidlo. Tavidlo lze použít tam, kde pájecí procesy vyžadují větší aktivace, které nelze dosáhnout s IF 2005M nebo IF 2005K.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 2005C s 3,3% pevných látek je pryskyřicové, bezkalafunová a bezoplachové tavidlo. Tavidlo lze použít tam, kde pájecí procesy vyžadují větší aktivace, které nelze dosáhnout s IF 2005M nebo IF 2005K.<br/>
                            Pro olovnaté i bezolovnaté pájení<br/>
                            Vhodné pro nanášení postřikem nebo pěnou<br/>
                            OR L0 podle EN a IPC norem<br/>
                            Obsah pevných látek: 3,3% ± 0,3<br/>
                            Obsah halogenidů: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IF-2005C-DE_0.pdf" type="application/pdf; length=484180" title="TD IF 2005C-DE.pdf">Technisches Datenblatt IF 2005C</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/IF-2005--series-application-doc-DE_0.pdf" type="application/pdf; length=234680" title="IF 2005- series application doc-DE.pdf">IF 2005-Serie Anwendung</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-IF-2005C-FR.pdf" type="application/pdf; length=556116" title="TD IF 2005C-FR.pdf">Fiche technique IF 2005C</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/IF-2005--series-application-doc-FR.pdf" type="application/pdf; length=233410" title="IF 2005- series application doc-FR.pdf">Document d'application de la série IF 2005</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IF-2005C.pdf" type="application/pdf; length=467663" title="TD IF 2005C.pdf">Technical Data Sheet IF 2005C</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/IF-2005--series-application-doc.pdf" type="application/pdf; length=229382" title="IF 2005- series application doc.pdf">IF 2005 series application document</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 2005C" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-3 views-row-odd product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_P-2009M_7.jpg" width="200" height="200" alt="PACIFIC 2009M"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2009M</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Tavidlo na vodní bázi</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Pro pájení vlnou</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Pro selektivní pájení</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Pro cínování</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Pro nanášení sprejem</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Zcela bez halogenidů</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Vysoká kompatibilita k pouzdření máčením</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Nízkozbytkové</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® PacIFic
                            <strong></strong>2009M je bezoplachové tavidlo na vodní bázi používané hlavně pro pájení vlnou a selektivní pájení.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® PacIFic
                            <strong></strong>2009M je bezoplachové tavidlo na vodní bázi používané hlavně pro pájení vlnou a selektivní pájení.<br/>
                            Pro olovnaté a bezolovnaté pájení<br/>
                            OR L0 podle EN a IPC norem<br/>
                            Obsah pevných látek: 3,7% ±0,15<br/>
                            Obsah halogenidů: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-PacIFic-2009M-DE_0.pdf" type="application/pdf; length=439464">TD PacIFic 2009M-DE.pdf</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-PacIFic-2009M-FR.pdf" type="application/pdf; length=401502" title="TD PacIFic 2009M-FR.pdf">Fiche technique PacIFic 2009M</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-PacIFic-2009M_0.pdf" type="application/pdf; length=433215" title="TD PacIFic 2009M.pdf">Technical Data Sheet PacIFic 2009M</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/Kyzen_P2009M.pdf" type="application/pdf; length=62971" title="Kyzen_P2009M.pdf">Cleaning PACIFIC 2009M by KYZEN</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009M" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-4 views-row-even product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_P-2009MLF_8.jpg" width="200" height="200" alt="PACIFIC 2009MLF"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2009MLF</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Tavidlo na vodní bázi</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Pro pájení vlnou</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Pro selektivní pájení</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Pro nanášení sprejem</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Zcela bez halogenidů</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>
                                <strong>Omezení vzniku kuliček pájky</strong>
                              </p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>PacIFic
                            <strong></strong>2009MLF je bezoplachové tavidlo na vodní bázi, které je vyvinuto, aby omezovalo tvorbu mikrokuliček pájky.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>PacIFic 2009MLF je bezoplachové tavidlo na vodní bázi, které je vyvinuto, aby omezovalo tvorbu mikrokuliček pájky.<br/>
                            Pro olovnaté a bezolovnaté pájení<br/>
                            Hlavní oblast použití: pájení vlnou a selektivní pájení<br/>
                            OR L0 podle EN a IPC norem<br/>
                            Obsah pevných látek: 3,6% ±0,2<br/>
                            Obsah halogenidů: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-PacIFic-2009MLF-DE_0.pdf" type="application/pdf; length=539026" title="TD PacIFic 2009MLF-DE.pdf">Technisches Datenblatt PacIFic 2009MLF</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-PacIFic-2009MLF-FR_0.pdf" type="application/pdf; length=501536" title="TD PacIFic 2009MLF-FR.pdf">Fiche technique PacIFic 2009MLF</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-PacIFic-2009MLF.pdf" type="application/pdf; length=532571" title="TD PacIFic 2009MLF.pdf">Technical Data Sheet PacIFic 2009MLF</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009MLF" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-5 views-row-odd views-row-last product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_IF-3006_7.jpg" width="200" height="200" alt="IF 3006"/></div>
                        <div class="product-name">
                          <h3>IF 3006</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon13"></div>
                              <p>Low VOC (snížený obsah těkavých organických sloučenin)</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Pro pájení vlnou</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Pro selektivní pájení</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Pro cínování</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Zcela bez halogenidů</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Vysoká kompatibilita s konformním povlakem</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 3006 je pryskyřicové, bez kalafunové a bezoplachové pájecí tavidlo se sníženým obsahem VOC (těkavé organické sloučeniny).</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 3006 je pryskyřicové, bez kalafunové a bezoplachové pájecí tavidlo se sníženým obsahem VOC (těkavé organické sloučeniny).<br/>
                            Pro olovnaté a bezolovnaté pájení<br/>
                            Také pro cínování<br/>
                            OR L0 podle EN a IPC norem<br/>
                            Obsah pevných látek: 3,2% ±0,2<br/>
                            Obsah halogenidů: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IF-3006-DE_0.pdf" type="application/pdf; length=441073" title="TD IF 3006-DE.pdf">Technisches Datenblatt IF 3006</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-IF-3006-FR.pdf" type="application/pdf; length=442827" title="TD IF 3006-FR.pdf">Fiche technique IF 3006</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IF-3006.pdf" type="application/pdf; length=435445" title="TD IF 3006.pdf">Technical Data Sheet IF 3006</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 3006" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-process-views-interflux">
                <h2 class="pane-title">
                  <div class="fs30">Doplňky</div>
                  <div class="fs18">pro selektivní pájení</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_10 product-row-group view-dom-id-197b4d7cd8c5c2febcf0da73db80f410">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/IF-930-All-in-One_4.jpg" width="200" height="200" alt="IF 930 wettable nozzle cleaner"/><img typeof="foaf:Image" src="/assets/images/IF-930kader.png" width="200" height="200" alt="IF 930 wettable nozzle cleaner"/></div>
                        <div class="product-name">
                          <h3>IF 930</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>nozzle cleaner</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon02"></div>
                              <p>Pro selektivní pájení</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Pro SnPb(Ag) procesy</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Pro bezolovnaté procesy</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Zcela bez halogenidů</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 930 čistí a dezoxiduje trysky v zařízeních selektivního pájení.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 930 čistí a dezoxiduje trysky v zařízeních selektivního pájení.<br/>
                            Bezpečné a snadné vyčištění v jednom kroku<br/>
                            Nahrazuje IF 920</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IF-930-DE.pdf" type="application/pdf; length=522376" title="TD IF 930-DE.pdf">Technisches Datenblatt IF 930</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-IF-930-FR.pdf" type="application/pdf; length=435025" title="TD IF 930-FR.pdf">Fiche technique IF 930</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IF-930_0.pdf" type="application/pdf; length=387275" title="TD IF 930.pdf">Technical Data Sheet IF 930</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 930" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-2 views-row-even product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_AOP-lead-free.jpg" width="200" height="200" alt="Anti-oxidant pellets"/><img typeof="foaf:Image" src="/assets/images/CLP_AOP-SnPb.jpg" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>Anti-oxidační tablety</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Pro pájení ve vlně</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Pro selektivní pájení</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Pro cínování</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Pro SnPb(Ag) procesy)</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Pro bezolovnaté procesy</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Anti-oxidační tablety minimalizují tvorbu strusky v bezolovnatých a SnPb(Ag) pájecích lázních.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Anti-oxidační tablety minimalizují tvorbu strusky v bezolovnatých a SnPb(Ag) pájecích lázních.<br/>
                            Používá se jako doplněk do pájecí lázně<br/>
                            Pro SnPb(Ag) (modré značení) nebo bezolovnaté (zelené značení) slitiny<br/>
                            Anti-oxidační tablety se nedoporučuje použít v uzavřené atmosféře a dusíkem obohacených slitinách.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-Anti-oxidant-pellets-DE.pdf" type="application/pdf; length=366742" title="TD Anti-oxidant pellets-DE.pdf">Technisches Datenblatt Anti-oxidant pellets</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-Anti-oxidant-pellets-FR_0.pdf" type="application/pdf; length=371501" title="TD Anti-oxidant pellets-FR.pdf">Fiche technique Anti-oxidant pellets</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-Anti-oxidant-pellets.pdf" type="application/pdf; length=364659" title="TD Anti-oxidant pellets.pdf">Technical Data Sheet Anti-oxidant pellets</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=Anti-oxidační tablety" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-3 views-row-odd product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/solder-bars_0.jpg" width="200" height="200" alt="solder bars"/></div>
                        <div class="product-name">
                          <h3>TYČOVÝ CÍN</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Pro pájení ve vlně</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Pro selektivní pájení</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Pro cínování</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Pro namáčení</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Solder Bars tyčový cín je vyroben z vysoce čistých a nízko-oxidačních kovů SnPb(Ag) a bezolovnatých slitin.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Solder Bars tyčový cín je vyroben z vysoce čistých a nízko-oxidačních kovů SnPb(Ag) a bezolovnatých slitin.<br/>
                            Dostupné slitiny: Sn63 Pb37 - Sn62 Pb36 Ag2 - Sn96,5 Ag3,0 Cu0,5 - Sn95,5 Ag3,8 Cu0,7 - Sn99,3 Cu0,7 - Sn100 - Sn97 Ag3</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-Lead-free-alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-SnPbAg-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/General-info---lead-free-alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=TYČOVÝ CÍN" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-4 views-row-even product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/plain-wire-2mm-4kg-5.png" width="200" height="200" alt="Plain Solder Wire"/></div>
                        <div class="product-name">
                          <h3>ČISTÝ PÁJECÍ DRÁT (BEZ TAVIDLA)</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon02"></div>
                              <p>Pro selektivní pájení</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Pro cínování</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Pro ponořování pájení</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Čistý pájecí drát (bez tavidla) pro automatické dávkování pájky v selektivních pájecích systémech v bezolovnatých a SnPb(Ag) slitinách.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Čistý pájecí drát (bez tavidla) pro automatické dávkování pájky v selektivních pájecích systémech v bezolovnatých a SnPb(Ag) slitinách.<br/>
                            Průměr drátu: 2mm<br/>
                            Na 4kg špulkách<br/>
                            Velikost špulky: 125mm x 125mm (prům. x délka)</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-Lead-free-alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-SnPbAg-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/General-info---lead-free-alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=ČISTÝ PÁJECÍ DRÁT (BEZ TAVIDLA)" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                      <div class="views-row views-row-5 views-row-odd views-row-last product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/grenailles.png" width="200" height="200" alt="Solder Grenailles"/></div>
                        <div class="product-name">
                          <h3>PÁJECÍ TABLETY</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Pro pájení ve vlně</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Pro selektivní pájení</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Pro opravy</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Pro cínování</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Pro ponořování pájení</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Pájecí Tablety jsou malé kousky pájky pro snadné plnění pájecí lázně v bezolovnatých i SnPb(Ag) slitinách.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux®  Pájecí Tablety jsou malé kousky pájky pro snadné plnění pájecí lázně v bezolovnatých i SnPb(Ag) slitinách.<br/>
                            Velikost: přibližně 1 x 1cm</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-Lead-free-alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-SnPbAg-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/General-info---lead-free-alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PÁJECÍ TABLETY" target="_blank">Contact us for more info / demo / samples</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="block-block-17" class="block block-block library-reference last even">
          <div class="inner-block">
            <p>Nemůžete najít konkrétní produkt? Pro úplný seznam produktů zkuste použít naši
              <a href="/cs/documents">knihovnu</a>
            </p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}