{% extends "layout.html.njk" %}
{% block meta %}
  <title>О компании | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}ru-company
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-company i18n-ru section-company page-panels
{% endblock %}
{% block page %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-flexible panels-flexible-18 clearfix">
          <div class="panel-flexible-inside panels-flexible-18-inside">
            <div class="panels-flexible-region panels-flexible-region-18-center panels-flexible-region-first panels-flexible-region-last">
              <div class="inside panels-flexible-region-inside panels-flexible-region-18-center-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
                <div class="panel-pane pane-views-panes pane-company-views-panel-pane-1">
                  <div class="pane-content">
                    <div class="view view-company-views view-id-company_views view-display-id-panel_pane_1 view-dom-id-449145cc3242655218b30626068e7900">
                      <div class="view-content">
                        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                          <div class="panel-display panel-1col clearfix">
                            <div class="panel-panel panel-col">
                              <div>
                                <div class="views-field views-field-field-corpus">
                                  <div class="field-content">
                                    <div class="company-block" id="company-block-1">
                                      <div class="company-article" id="article-interflux">
                                        <div class="company-article-inner">
                                          <div class="company-bg-1"></div>
                                          <div class="img-iso company-img"></div>
                                          <div class="sub-title">
                                            Более 30 лет выпускает
                                            <br/>высококачественные паяльные материалы.
                                          </div>
                                          <div class="corpus">
                                            <div class="img-triangle company-img"></div>
                                            <div class="img-daniel company-img">
                                              <div>Даниель Веркховен
                                                <br/>Основатель компании Interflux
                                              </div>
                                            </div>
                                            <p>Компания Interflux® Electronics N.V. была создана в 1980 году и уже более 30 лет обеспечивает высококачественными, надежными материалами производство  в сфере сборки электронного оборудования. Основные направления нашей деятельности включают: технологию No-residue TM, технические флюсы, химические вещества, не содержащие галогены, флюсы без содержания летучих органических соединений,  без смолы и канифоли и многое другое…<br/>
                                              <br/>
                                              Interflux® Electronics N.V. сертифицирована
                                              <strong>согласно ISO 9001</strong>.
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="company-article" id="article-pioneer">
                                        <div class="company-article-inner">
                                          <div class="sub-title">
                                            Пионер в своей отрасли
                                          </div>
                                          <div class="corpus">
                                            Interflux® Electronics N.V. всегда была на передовой инновационного развития химических продуктов для пайки.
                                            <strong>IF2005M</strong>
                                            – первый в своем роде не содержащий смолы флюс с технологией
                                            <strong>No-residueTM
                                            </strong>был разработан, опробован и успешно запущен в серийное производство силами Группы Компаний Interflux®. Более того, Interflux стала одной из первых компаний, предложивших высокоэффективные, качественные, не содержащие летучих органических компонентов паяльные флюсы
                                            <strong>серии PacIFic</strong>. С появлением продукта отрасли проволочных припоев<strong>
                                              IF 14</strong>
                                            смогла использовать такое свойство, как испаряемый остаток, которое по-прежнему остается уникальным.
                                          </div>
                                          <div class="img-pioneer company-img"></div>
                                        </div>
                                      </div>
                                      <div class="company-article" id="article-durable">
                                        <div class="company-article-inner">
                                          <div class="sub-title">
                                            Ответственность и надежность
                                          </div>
                                          <div class="corpus">
                                            Установив фотоэлектрические панели и солнечные водонагреватели в Генте, компания Interflux® Electronics N.V. взяла на себя обязательство
                                            <strong>по снижению уровня выбросов углерода</strong>. На сегодняшний день выброс СО2 был снижен более чем на 50%. Interflux® Electronics N.V. использует
                                            <strong>систему биологической очистки воды</strong>, благодаря которой компания получила свидетельство о «нулевом сбросе» сточных вод от Фламандского Правительства.
                                          </div>
                                          <div class="img-durable company-img"></div>
                                        </div>
                                      </div>
                                      <div class="company-article" id="article-support">
                                        <div class="company-article-inner">
                                          <div class="sub-title">
                                            Мировая сеть
                                          </div>
                                          <div class="corpus">
                                            Interflux® Electronics N.V. обеспечивает обширную сеть поддержки посредством  12 международных дочерних компаний и 3 стратегических производственных предприятий под именем Interflux®, а также мировой сети агентов и дистрибьюторов. Качественная, техническая, логистическая, торговая и местная
                                            <strong>клиентская</strong>
                                            поддержка продукции Interflux® доступна
                                            <strong>по всему миру</strong>.
                                          </div>
                                          <div class="img-support company-img"></div>
                                        </div>
                                      </div>
                                      <div class="clear"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}