{% extends "layout.html.njk" %}
{% block meta %}
  <title>Interflux Electronics | Químicos de soldadura para la electronica</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}es
{% endblock %}
{% block bodyClass %}html front not-logged-in no-sidebars page-home i18n-es page-panels
{% endblock %}
{% block page %}
  <div class="region region-language">
    <div class="inner-region">
      <div id="block-locale-language" class="block block-locale language-menu block grid-24 first last odd" role="complementary">
        <div class="inner-block">
          <ul class="language-switcher-locale-url">
            <li class="en first">
              <a href="/en" class="language-link" lang="en">
                <div class="flag en"></div>English</a>
            </li>
            <li class="zh-hans">
              <a href="/zh-hans" class="language-link" lang="zh-hans">
                <div class="flag zh-hans"></div>简体中文</a>
            </li>
            <li class="cs">
              <a href="/cs" class="language-link" lang="cs">
                <div class="flag cs"></div>Čeština</a>
            </li>
            <li class="de">
              <a href="/de" class="language-link" lang="de">
                <div class="flag de"></div>Deutsch</a>
            </li>
            <li class="fr">
              <a href="/fr" class="language-link" lang="fr">
                <div class="flag fr"></div>Français</a>
            </li>
            <li class="it">
              <a href="/it" class="language-link" lang="it">
                <div class="flag it"></div>Italiano</a>
            </li>
            <li class="id">
              <a href="/id" class="language-link" lang="id">
                <div class="flag id"></div>Bahasa Indonesia</a>
            </li>
            <li class="pt-pt">
              <a href="/pt-pt" class="language-link" lang="pt-pt">
                <div class="flag pt-pt"></div>Português</a>
            </li>
            <li class="ro">
              <a href="/ro" class="language-link" lang="ro">
                <div class="flag ro"></div>Română</a>
            </li>
            <li class="ru">
              <a href="/ru" class="language-link" lang="ru">
                <div class="flag ru"></div>Русский</a>
            </li>
            <li class="th">
              <a href="/th" class="language-link" lang="th">
                <div class="flag th"></div>ภาษาไทย</a>
            </li>
            <li class="tr">
              <a href="/tr" class="language-link" lang="tr">
                <div class="flag tr"></div>Türkçe</a>
            </li>
            <li class="pl">
              <a href="/pl" class="language-link" lang="pl">
                <div class="flag pl"></div>Polski</a>
            </li>
            <li class="es active">
              <a href="/es" class="language-link active" lang="es">
                <div class="flag es"></div>Español</a>
            </li>
            <li class="sv last">
              <a href="/sv" class="language-link" lang="sv">
                <div class="flag sv"></div>Svenska</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-header">
    <div class="inner-region">
      <div id="block-block-11" class="block block-block grid-9 first odd">
        <div class="inner-block">
          <p>
            <a href="/es/" title="Interflux Electronics"><img src="/assets/images/interflux-electronics-logo.png" width="343" height="87" alt="Logotipo de Interflux Electronics"/></a>
          </p>
        </div>
      </div>
      <div id="block-menu-menu-interflux-menu" class="block block-menu grid-15 header-nav last even" role="navigation">
        <div class="inner-block">
          <ul class="menu">
            <li class="first expanded">
              <a href="/es" title="Buscar productos por tipos" class="active">Productos</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/es/soldering-fluxes" title="">Fluxes de soldadura</a>
                </li>
                <li class="leaf">
                  <a href="/es/solder-pastes" title="">Pasta de soldadura</a>
                </li>
                <li class="leaf">
                  <a href="/es/solder-wires" title="">Hilo de soldadura</a>
                </li>
                <li class="leaf">
                  <a href="/es/spray-fluxers" title="">Spray fluxers</a>
                </li>
                <li class="last leaf">
                  <a href="/es/auxiliaries" title="">Accesorios</a>
                </li>
              </ul>
            </li>
            <li class="expanded">
              <a href="/es" title="Buscar productos por procesos" class="active">Procesos</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/es/wave-soldering" title="">Soldadura por ola</a>
                </li>
                <li class="leaf">
                  <a href="/es/selective-soldering" title="">Soldadura selectiva</a>
                </li>
                <li class="leaf">
                  <a href="/es/reflow-soldering" title="">Soldadura por re fusión</a>
                </li>
                <li class="leaf">
                  <a href="/es/rework-and-repair" title="">Reparación y reproceso</a>
                </li>
                <li class="last leaf">
                  <a href="/es/pre-tinning" title="">Pre estañado</a>
                </li>
              </ul>
            </li>
            <li class="leaf">
              <a href="/es/company" title="Aprenda sobre Interflux">Empresa</a>
            </li>
            <li class="leaf">
              <a href="/es/documents" title="Encuentre datos técnicos">Documentos</a>
            </li>
            <li class="last leaf">
              <a href="/es/contact" title="Póngase en contacto">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="panel-display panel-1col clearfix" id="panel-home">
        <div class="panel-panel panel-col">
          <div>
            <div class="panel-pane pane-block pane-menu-menu-interflux-menu" id="homepage-nav">
              <h2 class="pane-title">Interflux menu</h2>
              <div class="pane-content">
                <ul class="menu">
                  <li class="first expanded">
                    <a href="/es" title="Buscar productos por tipos" class="active">Productos</a>
                    <ul class="menu">
                      <li class="first leaf">
                        <a href="/es/soldering-fluxes" title="">Fluxes de soldadura</a>
                      </li>
                      <li class="leaf">
                        <a href="/es/solder-pastes" title="">Pasta de soldadura</a>
                      </li>
                      <li class="leaf">
                        <a href="/es/solder-wires" title="">Hilo de soldadura</a>
                      </li>
                      <li class="leaf">
                        <a href="/es/spray-fluxers" title="">Spray fluxers</a>
                      </li>
                      <li class="last leaf">
                        <a href="/es/auxiliaries" title="">Accesorios</a>
                      </li>
                    </ul>
                  </li>
                  <li class="expanded">
                    <a href="/es" title="Buscar productos por procesos" class="active">Procesos</a>
                    <ul class="menu">
                      <li class="first leaf">
                        <a href="/es/wave-soldering" title="">Soldadura por ola</a>
                      </li>
                      <li class="leaf">
                        <a href="/es/selective-soldering" title="">Soldadura selectiva</a>
                      </li>
                      <li class="leaf">
                        <a href="/es/reflow-soldering" title="">Soldadura por re fusión</a>
                      </li>
                      <li class="leaf">
                        <a href="/es/rework-and-repair" title="">Reparación y reproceso</a>
                      </li>
                      <li class="last leaf">
                        <a href="/es/pre-tinning" title="">Pre estañado</a>
                      </li>
                    </ul>
                  </li>
                  <li class="leaf">
                    <a href="/es/company" title="Aprenda sobre Interflux">Empresa</a>
                  </li>
                  <li class="leaf">
                    <a href="/es/documents" title="Encuentre datos técnicos">Documentos</a>
                  </li>
                  <li class="last leaf">
                    <a href="/es/contact" title="Póngase en contacto">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-block pane-locale-language language-menu">
              <h2 class="pane-title">Idiomas</h2>
              <div class="pane-content">
                <ul class="language-switcher-locale-url">
                  <li class="en first">
                    <a href="/en" class="language-link" lang="en">
                      <div class="flag en"></div>English</a>
                  </li>
                  <li class="zh-hans">
                    <a href="/zh-hans" class="language-link" lang="zh-hans">
                      <div class="flag zh-hans"></div>简体中文</a>
                  </li>
                  <li class="cs">
                    <a href="/cs" class="language-link" lang="cs">
                      <div class="flag cs"></div>Čeština</a>
                  </li>
                  <li class="de">
                    <a href="/de" class="language-link" lang="de">
                      <div class="flag de"></div>Deutsch</a>
                  </li>
                  <li class="fr">
                    <a href="/fr" class="language-link" lang="fr">
                      <div class="flag fr"></div>Français</a>
                  </li>
                  <li class="it">
                    <a href="/it" class="language-link" lang="it">
                      <div class="flag it"></div>Italiano</a>
                  </li>
                  <li class="id">
                    <a href="/id" class="language-link" lang="id">
                      <div class="flag id"></div>Bahasa Indonesia</a>
                  </li>
                  <li class="pt-pt">
                    <a href="/pt-pt" class="language-link" lang="pt-pt">
                      <div class="flag pt-pt"></div>Português</a>
                  </li>
                  <li class="ro">
                    <a href="/ro" class="language-link" lang="ro">
                      <div class="flag ro"></div>Română</a>
                  </li>
                  <li class="ru">
                    <a href="/ru" class="language-link" lang="ru">
                      <div class="flag ru"></div>Русский</a>
                  </li>
                  <li class="th">
                    <a href="/th" class="language-link" lang="th">
                      <div class="flag th"></div>ภาษาไทย</a>
                  </li>
                  <li class="tr">
                    <a href="/tr" class="language-link" lang="tr">
                      <div class="flag tr"></div>Türkçe</a>
                  </li>
                  <li class="pl">
                    <a href="/pl" class="language-link" lang="pl">
                      <div class="flag pl"></div>Polski</a>
                  </li>
                  <li class="es active">
                    <a href="/es" class="language-link active" lang="es">
                      <div class="flag es"></div>Español</a>
                  </li>
                  <li class="sv last">
                    <a href="/sv" class="language-link" lang="sv">
                      <div class="flag sv"></div>Svenska</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
{% endblock %}