{% extends "layout.html.njk" %}
{% block meta %}
  <title>Lehimleme Fluksları | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}tr-soldering-fluxes
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-soldering-fluxes page-products i18n-tr section-soldering-fluxes page-panels
{% endblock %}
{% block page %}
  {% include "partials/highlight.njk" %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-display panel-1col clearfix">
          <div class="panel-panel panel-col">
            <div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs30">Alkol bazlı</div>
                  <div class="fs18">lehimleme fluksları</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_5 product-row-group view-dom-id-85024be6edc716fa568a11de2352316d">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_OSPI%203311M_1.jpg" width="200" height="200" alt="OSPI 3311M soldering flux"/></div>
                        <div class="product-name">
                          <h3>OSPI 3311M</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>YENI</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Alkol bazlı fluks</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Dalga lehimleme için</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Kesinlikle halojen içermez</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Yüksek oksit temizleme gücü</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>OSP lehimleme için</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® OSPI 3311M bir veya daha fazla reflov lehimlemeden geçen OSP kaplamalı kartların lehimlenmesinde kullanılan ve temizleme gerektirmeyen alkol bazlı flukstır.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® OSPI 3311M bir veya daha fazla reflov lehimlemeden geçen OSP kaplamalı kartların lehimlenmesinde kullanılan ve temizleme gerektirmeyen alkol bazlı flukstır.<br/>
                            Kurşunlu ve kurşunsuz süreçler için uygun<br/>
                            EN ve IPC standartlarına göre fluks sınıfı: OR L0<br/>
                            Halojen içeriği: %0.00</p>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=OSPI 3311M" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1339" title="OSPI 3311M" class="nid">1339</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%202005M_3.jpg" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>IF 2005M</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Alkol bazlı</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Dalga lehimleme için</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Kesinlikle halojen içermez</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Konformal kaplama ile yüksek uyumluluk</p>
                            </li>
                            <li>
                              <div class="icon19"></div>
                              <p>Artıksız (No-residue™)</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 2005M uluslararası üne sahip, reçine ya da sentetik reçine içermeyen, artık bırakmayan ve temizleme gerektirmeyen flukstır.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 2005M uluslararası üne sahip, reçine ya da sentetik reçine içermeyen, artık bırakmayan ve temizleme gerektirmeyen flukstır.<br/>
                            Interflux® IF 2005M QPL listesindedir (MIL-F-14256F onaylıdır).<br/>
                            Kurşunlu ve kurşunsuz süreçler için uygun<br/>
                            Sprey ve köpük flukslama için uygun<br/>
                            EN ve IPC standartlarına göre fluks sınıfı: OR L0<br/>
                            Katı içeriği: %1.85 ±0.15<br/>
                            Halojen içeriği: %0.00</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%202005M-DE.pdf" type="application/pdf; length=466453" title="TD IF 2005M-DE.pdf">Technisches Datenblatt IF 2005M</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/IF%202005-%20series%20application%20doc-DE_0.pdf" type="application/pdf; length=234680" title="IF 2005- series application doc-DE.pdf">IF 2005-Serie Anwendung</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%202005M-FR.pdf" type="application/pdf; length=467989" title="TD IF 2005M-FR.pdf">Fiche technique IF 2005M</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/IF%202005-%20series%20application%20doc-FR.pdf" type="application/pdf; length=233410" title="IF 2005- series application doc-FR.pdf">Document d'application de la série IF 2005</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%202005M_0.pdf" type="application/pdf; length=462008" title="TD IF 2005M.pdf">Technical Data Sheet IF 2005M</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/IF%202005-%20series%20application%20doc.pdf" type="application/pdf; length=229382" title="IF 2005- series application doc.pdf">IF 2005 series application document</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 2005M" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1336" title="IF 2005M" class="nid">1336</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%202005K_7.jpg" width="200" height="200" alt="IF 2005K"/></div>
                        <div class="product-name">
                          <h3>IF 2005K</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Alkol bazlı</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Dalga lehimleme için</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Kesinlikle halojen içermez</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Konformal kaplama ile yüksek uyumluluk</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Düşük artıklı</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 2005K %2.5 katı içerikli, reçine veya sentetik reçine içermeyen ve temizleme gerektirmeyen flukstır. Lehimleme sürecinin 2005M flukstan daha fazla aktiflik gerektirdiği durumlarda kullanılır.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 2005K %2.5 katı içerikli, reçine veya sentetik reçine içermeyen ve temizleme gerektirmeyen flukstır. Lehimleme sürecinin 2005M flukstan daha fazla aktiflik gerektirdiği durumlarda kullanılır.<br/>
                            Kurşunlu ve kurşunsuz süreçler için uygun<br/>
                            Sprey ve köpük flukslama için uygun<br/>
                            EN ve IPC standartlarına göre fluks sınıfı: OR L0<br/>
                            Katı içeriği: %2.5 ±0.3<br/>
                            Halojen içeriği: %0.00</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%202005K-DE.pdf" type="application/pdf; length=480696" title="TD IF 2005K-DE.pdf">Technisches Datenblatt IF 2005K</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/IF%202005-%20series%20application%20doc-DE_0.pdf" type="application/pdf; length=234680" title="IF 2005- series application doc-DE.pdf">IF 2005-Serie Anwendung</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%202005K-FR_0.pdf" type="application/pdf; length=586896" title="TD IF 2005K-FR.pdf">Fiche technique IF 2005K</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/IF%202005-%20series%20application%20doc-FR.pdf" type="application/pdf; length=233410" title="IF 2005- series application doc-FR.pdf">Document d'application de la série IF 2005</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%202005K_0.pdf" type="application/pdf; length=463692" title="TD IF 2005K.pdf">Technical Data Sheet IF 2005K</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/IF%202005-%20series%20application%20doc.pdf" type="application/pdf; length=229382" title="IF 2005- series application doc.pdf">IF 2005 series application document</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 2005K" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1338" title="IF 2005K" class="nid">1338</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%202005C_7.jpg" width="200" height="200" alt="IF 2005C"/></div>
                        <div class="product-name">
                          <h3>IF 2005C</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Alkol bazlı</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Bölgesel lehimleme için</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Ön lehim kaplama için</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Kesinlikle halojen içermez</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Yüksek oksit temizleme gücü</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Uzun ön ısıtmaya dayanıklı</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Konformal kaplama ile yüksek uyumluluk</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 2005C %3.3 katı içerikli, reçine veya sentetik reçine içermeyen ve temizleme gerektirmeyen flukstır. Lehimleme sürecinin 2005M veya 2005K flukslardan daha fazla aktiflik gerektirdiği durumlarda kullanılır.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 2005C %3.3 katı içerikli, reçine veya sentetik reçine içermeyen ve temizleme gerektirmeyen flukstır. Lehimleme sürecinin 2005M veya 2005K flukslardan daha fazla aktiflik gerektirdiği durumlarda kullanılır.<br/>
                            Kurşunlu ve kurşunsuz süreçler için uygun<br/>
                            Sprey ve köpük flukslama için uygun<br/>
                            EN ve IPC standartlarına göre fluks sınıfı: OR L0<br/>
                            Katı içeriği: %3.3 ± 0.3<br/>
                            Halojen içeriği: %0.00</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%202005C-DE_0.pdf" type="application/pdf; length=484180" title="TD IF 2005C-DE.pdf">Technisches Datenblatt IF 2005C</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/IF%202005-%20series%20application%20doc-DE_0.pdf" type="application/pdf; length=234680" title="IF 2005- series application doc-DE.pdf">IF 2005-Serie Anwendung</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%202005C-FR.pdf" type="application/pdf; length=556116" title="TD IF 2005C-FR.pdf">Fiche technique IF 2005C</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/IF%202005-%20series%20application%20doc-FR.pdf" type="application/pdf; length=233410" title="IF 2005- series application doc-FR.pdf">Document d'application de la série IF 2005</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%202005C.pdf" type="application/pdf; length=467663" title="TD IF 2005C.pdf">Technical Data Sheet IF 2005C</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/IF%202005-%20series%20application%20doc.pdf" type="application/pdf; length=229382" title="IF 2005- series application doc.pdf">IF 2005 series application document</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 2005C" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1337" title="IF 2005C" class="nid">1337</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs30">Düşük VOC</div>
                  <div class="fs18">lehimleme fluksları</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_7 product-row-group view-dom-id-18f049639e1a2958094f8b47a678455c">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/SelectIF2040-2.png" width="200" height="200" alt="SelectIF 2040"/></div>
                        <div class="product-name">
                          <h3>SELECTIF 2040</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>YENI</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Su bazlı fluks</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Bölgesel lehimleme için</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Kesinlikle halojen içermez</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Yüksek oksit temizleme gücü</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Uzun ön ısıtmaya dayanıklı</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Konformal kaplama ile yüksek uyumluluk</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Düşük artıklı</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® SelectIF 2040 su bazlı, temizleme gerektirmeyen, geniş süreç penceresine ve düşük kalıntı formülüne sahip bölgesel lehimleme fluksıdır.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® SelectIF 2040 su bazlı, temizleme gerektirmeyen, geniş süreç penceresine ve düşük kalıntı formülüne sahip bölgesel lehimleme fluksıdır.<br/>
                            Yüksek süreç sıcaklıklarına ve uzun süreçlere dayanıklıdır.<br/>
                            Kurşunlu ve kurşunsuz süreçler için uygun<br/>
                            EN ve IPC standartlarına göre fluks sınıfı: OR L0<br/>
                            Katı içeriği: %6.5 ±0.2<br/>
                            Halojen içeriği: %0.00</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20SelectIF%202040-DE_0.pdf" type="application/pdf; length=429820" title="TD SelectIF 2040-DE.pdf">Technisches Datenblatt SelectIF 2040</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20SelectIF%202040-FR_0.pdf" type="application/pdf; length=458922" title="TD SelectIF 2040-FR.pdf">Fiche technique SelectIF 2040</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20SelectIF%202040.pdf" type="application/pdf; length=408961" title="TD SelectIF 2040.pdf">Technical Data Sheet SelectIF 2040</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=SELECTIF 2040" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1294" title="SELECTIF 2040" class="nid">1294</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_P%202009M_7.jpg" width="200" height="200" alt="PACIFIC 2009M"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2009M</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Su bazlı fluks</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Dalga lehimleme için</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Bölgesel lehimleme için</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Ön lehim kaplama için</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Sprey flukslama için</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Kesinlikle halojen içermez</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Konformal kaplama ile yüksek uyumluluk</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Düşük artıklı</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® PacIFic 2009M su bazlı, temizleme gerektirmeyen, ağırlıklı olarak dalga ve bölgesel lehimleme için kullanılan fluks çeşididir.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® PacIFic 2009M su bazlı, temizleme gerektirmeyen, ağırlıklı olarak dalga ve bölgesel lehimleme için kullanılan fluks çeşididir.<br/>
                            Kurşunlu ve kurşunsuz süreçler için uygun<br/>
                            EN ve IPC standartlarına göre fluks sınıfı: OR L0<br/>
                            Katı içeriği: %3.7 ±0.2<br/>
                            Halojen içeriği: %0.00</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20PacIFic%202009M-DE_0.pdf" type="application/pdf; length=439464">TD PacIFic 2009M-DE.pdf</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20PacIFic%202009M-FR.pdf" type="application/pdf; length=401502" title="TD PacIFic 2009M-FR.pdf">Fiche technique PacIFic 2009M</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20PacIFic%202009M_0.pdf" type="application/pdf; length=433215" title="TD PacIFic 2009M.pdf">Technical Data Sheet PacIFic 2009M</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/Kyzen_P2009M.pdf" type="application/pdf; length=62971" title="Kyzen_P2009M.pdf">Cleaning PACIFIC 2009M by KYZEN</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009M" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1295" title="PACIFIC 2009M" class="nid">1295</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_P%202009MLF_8.jpg" width="200" height="200" alt="PACIFIC 2009MLF"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2009MLF</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Su bazlı fluks</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Dalga lehimleme için</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Bölgesel lehimleme için</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Sprey flukslama için</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Kesinlikle halojen içermez</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>
                                <strong>Lehim topu oluşturmayan formasyon</strong>
                              </p>
                            </li>
                          </ul>
                          <p>Lehim topu oluşturmayan formasyon</p>
                        </div>
                        <div class="product-summary">
                          <p>PacIFic
                            <strong></strong>2009MLF su bazlı, temizleme gerektirmeyen, mikro lehim topu oluşmasını en aza indirmek için geliştirilen lehimleme fluksıdır.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>PacIFic 2009MLF 2009MLF su bazlı, temizleme gerektirmeyen, mikro lehim topu oluşmasını en aza indirmek için geliştirilen lehimleme fluksıdır.<br/>
                            Kurşunlu ve kurşunsuz süreçler için uygun<br/>
                            Ana kullanım alanı: dalga lehimleme ve bölgesel lehimleme<br/>
                            EN ve IPC standartlarına göre fluks sınıfı: OR L0<br/>
                            Katı içeriği: %3.7 ±0.2<br/>
                            Halojen içeriği: %0.00</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20PacIFic%202009MLF-DE_0.pdf" type="application/pdf; length=539026" title="TD PacIFic 2009MLF-DE.pdf">Technisches Datenblatt PacIFic 2009MLF</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20PacIFic%202009MLF-FR_0.pdf" type="application/pdf; length=501536" title="TD PacIFic 2009MLF-FR.pdf">Fiche technique PacIFic 2009MLF</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20PacIFic%202009MLF.pdf" type="application/pdf; length=532571" title="TD PacIFic 2009MLF.pdf">Technical Data Sheet PacIFic 2009MLF</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009MLF" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1296" title="PACIFIC 2009MLF" class="nid">1296</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_P%202009MLF-E_6.jpg" width="200" height="200" alt="PACIFIC 2009MLF-E"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2009MLF-E</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Su bazlı fluks</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Dalga lehimleme için</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Sprey flukslama için</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Kesinlikle halojen içermeyen</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Azaltılmış kalıntı</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>
                                <strong>Azaltılmış lehim topu oluşumu</strong>
                              </p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>PacIFic
                            <strong></strong>2009MLF-E su bazlı, temizleme gerektirmeyen, düşük kalıntı ve azaltılmış mikro lehim topu oluşumuna sahip flukstır.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>PacIFic 2009MLF-E su bazlı, temizleme gerektirmeyen, düşük kalıntı ve azaltılmış mikro lehim topu oluşumuna sahip flukstır.<br/>
                            Kurşunlu ve kurşunsuz süreçler için uygun<br/>
                            Ana kullanım alanı: dalga lehimleme<br/>
                            EN ve IPC standartlarına göre fluks sınıfı: OR L0<br/>
                            Katı içeriği: %3.7 ±0.2<br/>
                            Halojen içeriği: %0.00</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20PacIFic%202009MLF-E-DE.pdf" type="application/pdf; length=452230" title="TD PacIFic 2009MLF-E-DE.pdf">Technisches Datenblatt PacIFic 2009MLF-E</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20PacIFic%202009MLF-E-DE.pdf" type="application/pdf; length=452230" title="TD PacIFic 2009MLF-E-DE.pdf">Fiche technique PacIFic 2009MLF-E</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20PacIFic%202009MLF-E.pdf" type="application/pdf; length=446221" title="TD PacIFic 2009MLF-E.pdf">Technical Data Sheet PacIFic 2009MLF-E</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009MLF-E" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1297" title="PACIFIC 2009MLF-E" class="nid">1297</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_P%202010F_7.jpg" width="200" height="200" alt="PACIFIC 2010F"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2010F</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Su bazlı fluks</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Dalga lehimleme için</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Sprey flukslama için</p>
                            </li>
                            <li>
                              <div class="icon07"></div>
                              <p>
                                <strong>Köpük flukslama için</strong>
                              </p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Kesinlikle halojen içermez</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Konformal kaplama ile yüksek uyumluluk</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Düşük artıklı</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>PacIFic 2010F su bazlı, temizleme gerektirmeyen, köpük fluks uygulamaları için flukstır.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>PacIFic 2010F su bazlı, temizleme gerektirmeyen, köpük fluks uygulamaları için flukstır.<br/>
                            Kurşunlu ve kurşunsuz dalga lehimleme için<br/>
                            EN ve IPC standartlarına göre fluks sınıfı: OR L0<br/>
                            Katı içeriği: %2.5 ±0.15<br/>
                            Halojen içeriği: %0.00</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20PacIFic%202010F-DE_0.pdf" type="application/pdf; length=504163" title="TD PacIFic 2010F-DE.pdf">Technisches Datenblatt PacIFic 2010F</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20PacIFic%202010F-FR.pdf" type="application/pdf; length=536531" title="TD PacIFic 2010F-FR.pdf">Fiche technique PacIFic 2010F</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20PacIFic%202010F_0.pdf" type="application/pdf; length=448654" title="TD PacIFic 2010F.pdf">Technical Data Sheet PacIFic 2010F</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2010F" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1298" title="PACIFIC 2010F" class="nid">1298</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs30">VOC içermeyen</div>
                  <div class="fs18">lehimleme fluksları</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_8 product-row-group view-dom-id-b53d70b0ade42b6d0a631903e11c15e2">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%203006_7.jpg" width="200" height="200" alt="IF 3006"/></div>
                        <div class="product-name">
                          <h3>IF 3006</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon13"></div>
                              <p>Düşük VOC</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Dalga lehimleme için</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Bölgesel lehimleme için</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Ön lehim kaplama için</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Kesinlikle halojen içermez</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Konformal kaplama ile yüksek uyumluluk</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong></strong>IF 3006 reçine ve sentetik reçine içermeyen, temizleme gerektirmeyen azaltılmış VOC içeriğine sahip flukstır.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 3006 reçine ve sentetik reçine içermeyen, temizleme gerektirmeyen azaltılmış VOC içeriğine sahip flukstır.<br/>
                            Kurşunlu ve kurşunsuz süreçler için uygun<br/>
                            Ön lehim kaplama için<br/>
                            EN ve IPC standartlarına göre fluks sınıfı: OR L0<br/>
                            Katı içeriği: %3.2 ±0.2<br/>
                            Halojen içeriği: %0.00</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%203006-DE_0.pdf" type="application/pdf; length=441073" title="TD IF 3006-DE.pdf">Technisches Datenblatt IF 3006</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%203006-FR.pdf" type="application/pdf; length=442827" title="TD IF 3006-FR.pdf">Fiche technique IF 3006</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%203006.pdf" type="application/pdf; length=435445" title="TD IF 3006.pdf">Technical Data Sheet IF 3006</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 3006" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1299" title="IF 3006" class="nid">1299</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs30">Reçine bazlı</div>
                  <div class="fs18">Soldering fluxes</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_6 product-row-group view-dom-id-2ca7811629b7fe850bcc66faa37f1006">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_AF%204818PbF_rechtsom.jpg" width="200" height="200" alt="AF 4818PbF"/></div>
                        <div class="product-name">
                          <h3>AF 4818 PBF</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon14"></div>
                              <p>Reçine içerir</p>
                            </li>
                            <li>
                              <div class="icon11"></div>
                              <p>Alkol bazlı</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Dalga lehimleme için</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Sprey flukslama için</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Kesinlikle halojen içermez</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Yüksek oksit temizleme gücü</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Uzun ön ısıtmaya dayanıklı</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®<strong></strong>AF 4818 PbF solvent bazlı, reçine içerikli, temizleme gerektirmeyen, yüksek katı içerikli ve geniş süreç penceresine sahip flukstır.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® AF 4818 PbF solvent bazlı, reçine içerikli, temizleme gerektirmeyen, yüksek katı içerikli ve geniş süreç penceresine sahip flukstır.<br/>
                            Kurşunlu ve kurşunsuz dalga lehimleme uygulamaları için<br/>
                            EN ve IPC standartlarına göre fluks sınıfı: RO L0<br/>
                            Katı içeriği: %5<br/>
                            Halojen içeriği: %0.00</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20AF%204818%20PbF-DE_1.pdf" type="application/pdf; length=537990" title="TD AF 4818 PbF-DE.pdf">Technisches Datenblatt AF 4818PbF</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20AF%204818%20PbF_1.pdf" type="application/pdf; length=535028" title="TD AF 4818 PbF.pdf">Technical Data Sheet AF 4818PbF</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/Manual%20soldering%20guide.pdf" type="application/pdf; length=484793" title="Manual soldering guide.pdf">A guide to manual soldering</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=AF 4818 PBF" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1300" title="AF 4818 PBF" class="nid">1300</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs18">Düzeltme ve Tamir</div>
                  <div class="fs30">lehimleme fluksları</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_10 product-row-group view-dom-id-e3259d547c649c30c06c4f64d8d92e39">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%208300.jpg" width="200" height="200" alt="IF 8300"/></div>
                        <div class="product-name">
                          <h3>IF 8300 SERIES</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon04"></div>
                              <p>Düzeltme ve tamir için</p>
                            </li>
                            <li>
                              <div class="icon03"></div>
                              <p>Reflov Lehimleme için</p>
                            </li>
                            <li>
                              <div class="icon08"></div>
                              <p>Dispens için</p>
                            </li>
                            <li>
                              <div class="icon09"></div>
                              <p>Elek baskısı için</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Daldırma için</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Kesinlikle halojen içermez</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Düşük artıklı</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 8300 temizleme gerektirmeyen, halojen içermeyen yapışkan jel flukstır.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 8300 temizleme gerektirmeyen, halojen içermeyen yapışkan jel flukstır.<br/>
                            Kurşunlu ve kurşunsuz süreçler için<br/>
                            BGA tamiri ve top oluşturma için uygun<br/>
                            EN ve IPC standartlarına göre fluks sınıfı: RE L0<br/>
                            Halojen içeriği: %0.00<br/>
                            3 farklı viskozite:<br/>
                            IF 8300: 210 kcps<br/>
                            IF 8300-4: 70 kcps<br/>
                            IF 8300-6: 25 kcps</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%208300-DE_0.pdf" type="application/pdf; length=886358" title="TD IF 8300-DE.pdf">Technisches Datenblatt IF 8300</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%208300-FR_0.pdf" type="application/pdf; length=1056853" title="TD IF 8300-FR.pdf">Fiche technique IF 8300</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%208300.pdf" type="application/pdf; length=877318" title="TD IF 8300.pdf">Technical Data Sheet IF 8300</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 8300 SERIES" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1301" title="IF 8300 SERIES" class="nid">1301</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Interflux-IF7500HAB_0.jpg" width="200" height="200" alt="Interflux IF7500HAB solder flux"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Interflux-IF7500HAB-tube.jpg" width="200" height="200" alt="Interflux IF7500HAB solder flux"/></div>
                        <div class="product-name">
                          <h3>IF 7500HAB</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon04"></div>
                              <p>Düzeltme ve tamir için</p>
                            </li>
                            <li>
                              <div class="icon03"></div>
                              <p>Reflov Lehimleme için</p>
                            </li>
                            <li>
                              <div class="icon08"></div>
                              <p>Dispens için</p>
                            </li>
                            <li>
                              <div class="icon09"></div>
                              <p>Elek baskısı için</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Daldırma için</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Kesinlikle halojen içermez</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Uzun süreçlere dayanıklı</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Yüksek oksit temizleme gücü</p>
                            </li>
                            <li>
                              <div class="icon14"></div>
                              <p>Reçine içerir</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 7500HAB temizleme gerektirmeyen, halojen içermeyen geniş süreç penceresine sahip yapışkan jel flukstır.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 7500HAB temizleme gerektirmeyen, halojen içermeyen geniş süreç penceresine sahip yapışkan jel flukstır.<br/>
                            Kurşunlu ve kurşunsuz süreçler için<br/>
                            BGA tamiri ve top oluşturma için uygun<br/>
                            EN ve IPC standartlarına göre fluks sınıfı: RO M0<br/>
                            Halojen içeriği: %0.00<br/>
                            Viskozite: 200 kcps</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%207500HAB-DE_0.pdf" type="application/pdf; length=494085" title="TD IF 7500HAB-DE.pdf">Technisches Datenblatt IF 7500HAB</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%207500HAB_0.pdf" type="application/pdf; length=491460" title="TD IF 7500HAB.pdf">Technical Data Sheet IF 7500HAB</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 7500HAB" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1302" title="IF 7500HAB" class="nid">1302</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%208001.jpg" width="200" height="200" alt="IF 8001"/></div>
                        <div class="product-name">
                          <h3>IF 8001</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Alkol bazlı fluks</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Düzeltme ve tamir için</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Kesinlikle halojen içermez</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Düşük artıklı</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 8001 solvent bazlı, temizleme gerektirmeyen, düşük artıklı formasyona sahip, bölgesel flukslama uygulamaları için flukstır.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 8001 solvent bazlı, temizleme gerektirmeyen, düşük artıklı formasyona sahip, bölgesel flukslama uygulamaları için flukstır.<br/>
                            Kurşunlu ve kurşunsuz süreçler için<br/>
                            Ana kullanım alanı: El ile lehimleme. Diğer kullanım alanları: otomatik lehimleme, baskı lehimleme, vs...<br/>
                            EN ve IPC standartlarına göre fluks sınıfı: RE L0<br/>
                            Halojen içeriği: %0.00<br/>
                            IF 8001 doldurulabilen ve doldurulamayan fluks kalemleri şeklinde mevcuttur.
                          </p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%208001-DE_0.pdf" type="application/pdf; length=442493" title="TD IF 8001-DE.pdf">Technisches Datenblatt IF 8001</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%208001-FR_0.pdf" type="application/pdf; length=370992" title="TD IF 8001-FR.pdf">Fiche technique IF 8001</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%208001_0.pdf" type="application/pdf; length=404562" title="TD IF 8001.pdf">Technical Data Sheet IF 8001</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 8001" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1303" title="IF 8001" class="nid">1303</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%206000%201liter.jpg" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>IF 6000</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Alkol bazlı</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Düzeltme ve tamir için</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Kesinlikle halojen içermez</p>
                            </li>
                            <li>
                              <div class="icon14"></div>
                              <p>Reçine içerir</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Yüksek oksit temizleme gücü</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Uzun ön ısıtmaya dayanıklı</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 6000 reçine içeren, temizleme gerektirmeyen, bölgesel flukslama uygulamaları için geniş süreç penceresine sahip lehimleme fluksıdır.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 6000 reçine içeren, temizleme gerektirmeyen, bölgesel flukslama uygulamaları için geniş süreç penceresine sahip lehimleme fluksıdır.<br/>
                            Kurşunlu ve kurşunsuz süreç için<br/>
                            Ana kullanım alanı: El ile lehimleme. Diğer kullanım alanları: otomatik lehimleme, baskı lehimleme, BGA tamiri, top ekleme, vs...<br/>
                            EN ve IPC standartlarına göre fluks sınıfı: RO L0<br/>
                            Halojen içeriği: %0.00<br/>
                            IF 6000 doldurulabilen ve doldurulamayan fluks kalemleri şeklinde mevcuttur.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%206000-DE_0.pdf" type="application/pdf; length=418115" title="TD IF 6000-DE.pdf">Technisches Datenblatt IF 6000</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%206000-FR.pdf" type="application/pdf; length=381276" title="TD IF 6000-FR.pdf">Fiche technique IF 6000</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%206000.pdf" type="application/pdf; length=411656" title="TD IF 6000.pdf">Technical Data Sheet IF 6000</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 6000" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1304" title="IF 6000" class="nid">1304</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_Terrific%20RP65%201liter.jpg" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>TERRIFIC RP65</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Su bazlı fluks</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Düzeltme ve tamir için</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Kesinlikle halojen içermez</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Uzun ön ısıtmaya dayanıklı</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>TerrIFic RP65 su bazlı, temizleme gerektirmeyen, bölgesel flukslama uygulamaları fluksıdır.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>TerrIFic RP65 su bazlı, temizleme gerektirmeyen, bölgesel flukslama uygulamaları fluksıdır.<br/>
                            Kurşunlu ve kurşunsuz süreçler için<br/>
                            Ana kullanım alanı: El ile lehimleme. Diğer kullanım alanları: otomatik lehimleme, baskı lehimleme, vs...<br/>
                            EN ve IPC standartlarına göre fluks sınıfı: OR L0<br/>
                            Halojen içeriği: %0.00<br/>
                            TerrIFic RP 65 doldurulabilen ve doldurulamayan fluks kalemleri şeklinde mevcuttur.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Terrific%20RP65-DE_0.pdf" type="application/pdf; length=396763" title="TD Terrific RP65-DE.pdf">Technisches Datenblatt TerrIFic RP65</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Terrific%20RP65-FR_0.pdf" type="application/pdf; length=412192" title="TD Terrific RP65-FR.pdf">Fiche technique TerrIFic RP65</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Terrific%20RP65_0.pdf" type="application/pdf; length=393579" title="TD Terrific RP65.pdf">Technical Data Sheet TerrIFic RP65</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=TERRIFIC RP65" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1305" title="TERRIFIC RP65" class="nid">1305</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs24">Fluks incelticileri</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_9 product-row-group view-dom-id-4d0156700b1fb1b40c02881e8f3dd94c">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_T%202005M_0.jpg" width="200" height="200" alt="Interflux T2005M thinner"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Interflux-T2005M.jpg" width="200" height="200" alt="Interflux T2005M thinner"/></div>
                        <div class="product-name">
                          <h3>T 2005M</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Alkol bazlı</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Kesinlikle halojen içermez</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>IF 2005 serisi flukslar için</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® T 2005M, IF 2005 serisi flukslar için önerilen inceltici ve şartlandırıcıdır.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® T 2005M, IF 2005 serisi flukslar için önerilen inceltici ve şartlandırıcıdır.<br/>
                            Köpük flukslama veya diğer açık fluks uygulamalarında kullanıldığında.</p>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=T 2005M" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1306" title="T 2005M" class="nid">1306</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="block-block-17" class="block block-block library-reference last even">
          <div class="inner-block">
            <p>Ürünü bulamadınız mı? Ürünlerin tam listesi için,
              <a href="/tr/documents">kütüphanemizi</a>
              tıklayın</p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}