{% extends "layout.html.njk" %}
{% block meta %}
  <title>Acessórios | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}pt-pt-auxiliaries
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-auxiliaries page-products i18n-pt-pt section-auxiliaries page-panels
{% endblock %}
{% block page %}
  <div class="region region-language">
    <div class="inner-region">
      <div id="block-locale-language" class="block block-locale language-menu block grid-24 first last odd" role="complementary">
        <div class="inner-block">
          <ul class="language-switcher-locale-url">
            <li class="en first">
              <a href="/en/auxiliaries" class="language-link" lang="en" title="Auxiliaries">
                <div class="flag en"></div>English</a>
            </li>
            <li class="zh-hans">
              <a href="/zh-hans/auxiliaries" class="language-link" lang="zh-hans" title="其他">
                <div class="flag zh-hans"></div>简体中文</a>
            </li>
            <li class="cs">
              <a href="/cs/auxiliaries" class="language-link" lang="cs" title="Doplňky">
                <div class="flag cs"></div>Čeština</a>
            </li>
            <li class="de">
              <a href="/de/auxiliaries" class="language-link" lang="de" title="Hilfsmittel">
                <div class="flag de"></div>Deutsch</a>
            </li>
            <li class="fr">
              <a href="/fr/auxiliaries" class="language-link" lang="fr" title="Auxiliaires">
                <div class="flag fr"></div>Français</a>
            </li>
            <li class="it">
              <a href="/it/auxiliaries" class="language-link" lang="it" title="Prodotti ausiliari">
                <div class="flag it"></div>Italiano</a>
            </li>
            <li class="id">
              <a href="/id/auxiliaries" class="language-link" lang="id" title="Alat pembantu">
                <div class="flag id"></div>Bahasa Indonesia</a>
            </li>
            <li class="pt-pt active">
              <a href="/pt-pt/auxiliaries" class="language-link active" lang="pt-pt" title="Acessórios">
                <div class="flag pt-pt"></div>Português</a>
            </li>
            <li class="ro">
              <a href="/ro/auxiliaries" class="language-link" lang="ro" title="Auxiliare pentru">
                <div class="flag ro"></div>Română</a>
            </li>
            <li class="ru">
              <a href="/ru/auxiliaries" class="language-link" lang="ru" title="Вспомогательные материалы">
                <div class="flag ru"></div>Русский</a>
            </li>
            <li class="th">
              <a href="/th/auxiliaries" class="language-link" lang="th" title="อุปกรณ์เสริม">
                <div class="flag th"></div>ภาษาไทย</a>
            </li>
            <li class="tr">
              <a href="/tr/auxiliaries" class="language-link" lang="tr">
                <div class="flag tr"></div>Türkçe</a>
            </li>
            <li class="pl">
              <a href="/pl/auxiliaries" class="language-link" lang="pl" title="Produkty wspomagające">
                <div class="flag pl"></div>Polski</a>
            </li>
            <li class="es">
              <a href="/es/auxiliaries" class="language-link" lang="es" title="Accesorios">
                <div class="flag es"></div>Español</a>
            </li>
            <li class="sv last">
              <a href="/sv/auxiliaries" class="language-link" lang="sv" title="Ytterligare produkter">
                <div class="flag sv"></div>Svenska</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-header">
    <div class="inner-region">
      <div id="block-block-11" class="block block-block grid-9 first odd">
        <div class="inner-block">
          <p>
            <a href="/pt-pt/" title="Interflux Electronics" target="_self"><img src="/assets/images/interflux-electronics-logo.png" width="343" height="87" alt="Logotipo da Interflux Electronics"/></a>
          </p>
        </div>
      </div>
      <div id="block-menu-menu-interflux-menu" class="block block-menu grid-15 header-nav last even" role="navigation">
        <div class="inner-block">
          <ul class="menu">
            <li class="first expanded active-trail">
              <a href="/pt-pt" title="Buscar produtos por tipo" class="active-trail">Produtos</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/pt-pt/soldering-fluxes" title="">Fluxos de soldadura</a>
                </li>
                <li class="leaf">
                  <a href="/pt-pt/solder-pastes" title="">Pastas de solda</a>
                </li>
                <li class="leaf">
                  <a href="/pt-pt/solder-wires" title="">Fios da solda</a>
                </li>
                <li class="leaf">
                  <a href="/pt-pt/spray-fluxers" title="">Spray fluxers</a>
                </li>
                <li class="last leaf active-trail">
                  <a href="/pt-pt/auxiliaries" title="" class="active-trail active">Acessórios</a>
                </li>
              </ul>
            </li>
            <li class="expanded">
              <a href="/pt-pt" title="Buscar produtos pelo processo">Processos</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/pt-pt/wave-soldering" title="">Soldagem por onda</a>
                </li>
                <li class="leaf">
                  <a href="/pt-pt/selective-soldering" title="">Soldagem selectiva</a>
                </li>
                <li class="leaf">
                  <a href="/pt-pt/reflow-soldering" title="">Soldadura refusão</a>
                </li>
                <li class="leaf">
                  <a href="/pt-pt/rework-and-repair" title="">Retrabalho e Reparação</a>
                </li>
                <li class="last leaf">
                  <a href="/pt-pt/pre-tinning" title="">Pré-estanhagem</a>
                </li>
              </ul>
            </li>
            <li class="leaf">
              <a href="/pt-pt/company" title="Saiba mais sobre Interflux">Empresa</a>
            </li>
            <li class="leaf">
              <a href="/pt-pt/documents" title="Encontrar dados técnicos">Documentos</a>
            </li>
            <li class="last leaf">
              <a href="/pt-pt/contact" title="Entre em contacto">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-highlight">
    <div class="inner-region">
      <div id="banners">
        <div class="preload"></div>
        <div class="stage">
          <article id="ipc-apex-2017">
            <a href="http://www.ipcapexexpo.org/" target="_blank" title="Visit us at IPC APEX 2018 in San Diego">
              <picture>
                <source srcset="http://www.interflux.com/sites/all/themes/zen_interflux/images/banner-ipc-apex-2018@2x.jpg 2x, http://www.interflux.com/sites/all/themes/zen_interflux/images/banner-ipc-apex-2018.jpg 1x"></source>
                <img src="http://www.interflux.com/sites/all/themes/zen_interflux/images/banner-ipc-apex-2018@2x.jpg" alt="Visit use at IPC APEX 2018 in San Diego"/>
              </picture>
            </a>
          </article>
          <article id="productronica-2017">
            <a href="http://www.productronica.com/" target="_blank" title="Visit us at Productronica 2017">
              <img src="http://www.interflux.com/sites/all/themes/zen_interflux/images/productronica-banner-2017.jpg"/>
            </a>
          </article>
          <article id="lmpa">
            <a href="https://lmpa.interflux.com" target="_blank">
              <h1>Solder
                <strong>5 times</strong>
                faster whilst maintaining
                <strong>zero defects</strong>
              </h1>
              <h1>Discover
                <mark>LMPA<span>™</span>
                </mark>
              </h1>
              <div id="video">
                <video id="movie" width="276" height="220" autoplay loop>
                  <source src="https://cdn.interflux.com/videos/LMPA-Q-30mms.mp4" type="video/mp4"></source>
                  Your browser doesn't support HTML5 video tag.
                </video>
                <script></script>
                <p>Speed: 30 mm/s</p>
              </div>
            </a>
          </article>
        </div>
        <nav>
          <div id="prev">
            <div></div>
          </div>
          <div id="next">
            <div></div>
          </div>
          <div id="timer">
            <div></div>
          </div>
          <ul></ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="panel-display panel-1col clearfix">
        <div class="panel-panel panel-col">
          <div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs30">Meios de produção</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_18 product-row-group view-dom-id-94b5c32f3cf02437da4c26eb553f327b">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_IF-710-PSM_0.jpg" width="200" height="200" alt="IF 710PSM"/></div>
                      <div class="product-name">
                        <h3>IF 710 PSM
                        </h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>mascara de solda</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Para soldagem por onda</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>Para processos SnPb(Ag)</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Para processos Lead-free</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Secagem rápida, facilmente destacável</p>
                          </li>
                          <li>
                            <div class="icon28"></div>
                            <p>RoHS compliant</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux®
                          <strong>IF 710 PSM</strong>
                          é uma máscara de solda de látex natural com secagem rápida e facilmente destacável.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 710 PSM é uma máscara de solda de látex natural com secagem rápida e facilmente destacável.<br/>
                          Para proteger as áreas em uma PCB de fluxo e contato onda de solda.<br/>
                          Remoção fácil, não é fácil quebrar.<br/>
                          Resistente ao calor<br/>
                          Pode dar uma coloração de Cu, quando aplicado em Cu nu ou Cu-OSP</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-710-DE_0.pdf" type="application/pdf; length=292541" title="TD IF 710-DE.pdf">Technisches Datenblatt IF 710 PSM</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-710-FR_0.pdf" type="application/pdf; length=416162" title="TD IF 710-FR.pdf">Fiche technique IF 710 PSM</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-710_0.pdf" type="application/pdf; length=369316" title="TD IF 710.pdf">Technical Data Sheet IF 710 PSM</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 710 PSM " target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/pt-pt/208" title="IF 710 PSM " class="nid">208</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs30">Limpeza</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_16 product-row-group view-dom-id-10d60d5f0b13eb55bcb4c00d4882f526">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/IF-930-All-in-One_2.jpg" width="200" height="200" alt="IF 930 wettable nozzle cleaner"/><img typeof="foaf:Image" src="/assets/images/IF-930kader.png" width="200" height="200" alt="IF 930 wettable nozzle cleaner"/></div>
                      <div class="product-name">
                        <h3>IF 930
                        </h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>limpador para bicos molháveis</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon02"></div>
                            <p>Para soldagem selectiva</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>Para processos SnPb(Ag)</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Para processos Lead-free</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolutamente isento de halogênio</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® IF 930 limpa e de-oxida bicos molháveis de sistemas de solda seletiva.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 930 limpa e de-oxida bicos molháveis de sistemas de solda seletiva.<br/>
                          Seguro e limpeza fácil de uma etapa<br/>
                          Substitui IF 920</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-930-DE.pdf" type="application/pdf; length=522376" title="TD IF 930-DE.pdf">Technisches Datenblatt IF 930</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-930-FR.pdf" type="application/pdf; length=435025" title="TD IF 930-FR.pdf">Fiche technique IF 930</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-930_0.pdf" type="application/pdf; length=387275" title="TD IF 930.pdf">Technical Data Sheet IF 930</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 930 " target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/pt-pt/206" title="IF 930 " class="nid">206</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_Tip-Tinner.jpg" width="200" height="200" alt="Tip Tinner"/></div>
                      <div class="product-name">
                        <h3>TIP TINNER</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon04"></div>
                            <p>Para retrabalho e reparação</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>Para processos SnPb(Ag)</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Para processos Lead-free</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolutamente isento de halogênio</p>
                          </li>
                          <li>
                            <div class="icon26"></div>
                            <p>Absolutamente isento de colofônia</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux®
                          <strong>Tip Tinner</strong>
                          limpa e re-estanha as pontas dos ferros de solda.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® Tip Tinner limpa e re-estanha as pontas dos ferros de solda.<br/>
                          Aumenta a vida útil da ponta substancialmente.<br/>
                          Absolutamente isento de halogênio<br/>
                          Não abrasivo</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Tip-Tinner-DE_0.pdf" type="application/pdf; length=381222" title="TD Tip Tinner-DE.pdf">Technisches Datenblatt Tip Tinner</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Tip-Tinner-FR_0.pdf" type="application/pdf; length=425441" title="TD Tip Tinner-FR.pdf">Fiche technique Tip Tinner</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Tip-Tinner_0.pdf" type="application/pdf; length=418029" title="TD Tip Tinner.pdf">Technical Data Sheet Tip Tinner</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=TIP TINNER" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/pt-pt/205" title="TIP TINNER" class="nid">205</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_Purgel.jpg" width="200" height="200" alt="IF Purgel"/></div>
                      <div class="product-name">
                        <h3>PURGEL</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon04"></div>
                            <p>Para retrabalho e reparação</p>
                          </li>
                          <li>
                            <div class="icon08"></div>
                            <p>Para dispensação</p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>Aprovado para MYDATA MY 500</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux®
                          <strong>
                            Purgel</strong>
                          é um limpador / condicionador neutro para bombas e válvulas de sistemas de dispensação.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® Purgel é um limpador / condicionador neutro para bombas e válvulas de sistemas de dispensação.<br/>
                          Para preservar peças dispenser quando não estiver em uso.<br/>
                          MYDATA MY 500 aprovado.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Purgel-DE_0.pdf" type="application/pdf; length=371237" title="TD Purgel-DE.pdf">Technisches Datenblatt Purgel</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Purgel-FR_0.pdf" type="application/pdf; length=370051" title="TD Purgel-FR.pdf">Fiche technique Purgel</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Purgel_0.pdf" type="application/pdf; length=363113" title="TD Purgel.pdf">Technical Data Sheet Purgel</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PURGEL" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/pt-pt/204" title="PURGEL" class="nid">204</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_Stencil-Clean-Tub_3.jpg" width="200" height="200" alt="IF Stencil Clean Wipes"/><img typeof="foaf:Image" src="/assets/images/CLP_Stencil-Clean-Bag_3.jpg" width="200" height="200" alt="IF Stencil Clean Refil bag"/></div>
                      <div class="product-name">
                        <h3>STENCIL CLEAN WIPES</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon09"></div>
                            <p>Para limpar estênceis</p>
                          </li>
                          <li>
                            <div class="icon11"></div>
                            <p>Base de álcool</p>
                          </li>
                          <li>
                            <div class="icon30"></div>
                            <p>ESD-seguro</p>
                          </li>
                          <ul></ul>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® toalhetes pré-saturados para limpar estêncies. Em balda flip-top e sacos de recarga para a remoção da pasta de solda e adesivo SMT não curado de estênceis e ferramentas.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® toalhetes pré-saturados para limpar estêncies. Em balda flip-top e sacos de recarga para a remoção da pasta de solda e adesivo SMT não curado de estênceis e ferramentas.<br/>
                          sem fiapos, tecido não urdido<br/>
                          tamanho toalhete único: 15 x 21cm<br/>
                          100 pcs/ rolo<br/>
                          saco de recarga um rolo com 100pcs</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Stencil-clean-wipes-DE.pdf" type="application/pdf; length=421028" title="TD Stencil clean wipes-DE.pdf">Technisches Datenblatt Stencil Clean Wipes</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Stencil-clean-wipes-FR_0.pdf" type="application/pdf; length=427631" title="TD Stencil clean wipes-FR.pdf">Fiche technique Stencil Clean Wipes</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Stencil-clean-wipes.pdf" type="application/pdf; length=417010" title="TD Stencil clean wipes.pdf">Technical Data Sheet Stencil Clean Wipes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=STENCIL CLEAN WIPES" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/pt-pt/268" title="STENCIL CLEAN WIPES" class="nid">268</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_ISC-8020_0.jpg" width="200" height="200" alt="ISC 8020"/></div>
                      <div class="product-name">
                        <h3>ISC 8020</h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>fluido de limpeza para stencils</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon09"></div>
                            <p>Para impressão serigráfica</p>
                          </li>
                          <li>
                            <div class="icon11"></div>
                            <p>Base de álcool</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® ISC 8020 e um fluido de limpeza para stencils.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® ISC 8020 e um fluido de limpeza para stencils.<br/>
                          Para a remoção da pasta de solda e adesivos SMT não curados.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-ISC-8020-DE.pdf" type="application/pdf; length=346604" title="TD ISC 8020-DE.pdf">Technisches Datenblatt ISC 8020</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-ISC-8020.pdf" type="application/pdf; length=344448" title="TD ISC 8020.pdf">Technical Data Sheet ISC 8020</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=ISC 8020" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/pt-pt/481" title="ISC 8020" class="nid">481</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/Interflux-IPA-wipes-jar.jpg" width="200" height="200" alt="Interflux IPA-DI wipes"/><img typeof="foaf:Image" src="/assets/images/Interflux-IPA-wipes.jpg" width="200" height="200" alt="Interflux IPA-DI wipes"/></div>
                      <div class="product-name">
                        <h3>TOALHETES IPA/DI</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon30"></div>
                            <p>ESD-seguro</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® toalhetes pré saturados IPA/DI em balda flip-top e sacos de recarga para limpeza geral de superfícies.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® toalhetes pré saturados IPA/DI em balda flip-top e sacos de recarga para limpeza geral de superfícies.<br/>
                          sem fiapos, tecido não urdido<br/>
                          Tamanho toalhete único: 15 x 21cm<br/>
                          100 pcs/ rolo<br/>
                          sacos de recarga um rolo con 100pcs</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IPA-DI-wipes-DE.pdf" type="application/pdf; length=430094" title="TD IPA-DI wipes-DE.pdf">Technisches Datenblatt IPA/DI wipes</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IPA-DI-wipes-FR.pdf" type="application/pdf; length=433271" title="TD IPA-DI wipes-FR.pdf">Fiche technique IPA/DI wipes</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IPA-DI-wipes_0.pdf" type="application/pdf; length=425179" title="TD IPA-DI wipes.pdf">Technical Data Sheet IPA/DI wipes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=TOALHETES IPA/DI" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/pt-pt/203" title="TOALHETES IPA/DI" class="nid">203</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs24">Tratamento de banho de solda</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_15 product-row-group view-dom-id-b4f921979fceb3d69b175676c47ee5a4">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/IF-910_final2.png" width="200" height="200" alt="IF 910 de-oxidation oil"/></div>
                      <div class="product-name">
                        <h3>IF 910</h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>óleo de desoxidação</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Para soldagem por onda</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Para pré-estanhagem/li></p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Para mergulho</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>Para ligas SnPb(Ag)</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Para ligas Lead-free</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux®
                          <strong>
                            IF 910
                          </strong>
                          óleo de desoxidação separa óxidos e solda boa em um banho de solda.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux®
                          <strong>
                            IF 910
                          </strong>
                          óleo de desoxidação separa óxidos e solda boa em um banho de solda.<br/>
                          Reduz o consumo de solda.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-910-DE.pdf" type="application/pdf; length=526614" title="TD IF 910-DE.pdf">Technisches Datenblatt IF 910</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-910-FR_0.pdf" type="application/pdf; length=495807" title="TD IF 910-FR.pdf">Fiche technique IF 910</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-910.pdf" type="application/pdf; length=484684" title="TD IF 910.pdf">Technical Data Sheet IF 910</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 910" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/pt-pt/201" title="IF 910" class="nid">201</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_AOP-lead-free.jpg" width="200" height="200" alt="Anti-oxidant pellets"/><img typeof="foaf:Image" src="/assets/images/CLP_AOP-SnPb.jpg" width="200" height="200" alt=""/></div>
                      <div class="product-name">
                        <h3>PASTILHAS DE DESOXIDAÇÃO</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Para soldagem por onda</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Para soldagem selectiva</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Para pré-estanhagem</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>Para processos SnPb(Ag)</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Para processos Lead-free</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux®
                          <strong>Pastilhas de desoxidação
                          </strong>
                          minimizam a formação de óxidos em banhos da solda Lead-free e SnPb(Ag).</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® Pastilhas de desoxidação minimizam a formação de óxidos em banhos da solda Lead-free e SnPb(Ag).<br/>
                          Usado como uma adição no banho de solda<br/>
                          Para ligas SnPb(Ag) (rótulo azul) o Lead-free (rótulo verde)<br/>
                          Pastilhas de desoxidação não são recomendados em atmosferas fechados inertes nem para ligas Ni-dopadas.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Anti-oxidant-pellets-DE.pdf" type="application/pdf; length=366742" title="TD Anti-oxidant pellets-DE.pdf">Technisches Datenblatt Anti-oxidant pellets</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Anti-oxidant-pellets-FR_0.pdf" type="application/pdf; length=371501" title="TD Anti-oxidant pellets-FR.pdf">Fiche technique Anti-oxidant pellets</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Anti-oxidant-pellets.pdf" type="application/pdf; length=364659" title="TD Anti-oxidant pellets.pdf">Technical Data Sheet Anti-oxidant pellets</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PASTILHAS DE DESOXIDAÇÃO" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/pt-pt/202" title="PASTILHAS DE DESOXIDAÇÃO" class="nid">202</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs30">Ligas de solda</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_14 product-row-group view-dom-id-532f6ba353758ee039a9e1a0b9ed9dea">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/solder-bars_0.jpg" width="200" height="200" alt="solder bars"/></div>
                      <div class="product-name">
                        <h3>SOLDAS EM BARRA</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Para soldagem por onda</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Para soldagem selectiva</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Para pré-estanhagem</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Para mergulho</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux®
                          <strong>Soldas em barra
                          </strong>
                          são feitos de metais de alta pureza e de baixo teor de oxidação. Em ligas SnPb(Ag) e Lead-free.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® Soldas em barra são feitos de metais de alta pureza e de baixo teor de oxidação. Em ligas SnPb(Ag) e Lead-free.<br/>
                          Em ligas SnPb(Ag) e Lead-free</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Lead-free-alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-SnPbAg-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/General-info---lead-free-alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=SOLDAS EM BARRA" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/pt-pt/198" title="SOLDAS EM BARRA" class="nid">198</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/plain-wire-2mm-4kg-5.png" width="200" height="200" alt="Plain Solder Wire"/></div>
                      <div class="product-name">
                        <h3>FIO CHEIO</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon02"></div>
                            <p>Para soldagem selectiva</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Para pré-estanhagem</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux®
                          <strong>fio cheio
                          </strong>para a alimentação de solda automática em sistemas seletivos de solda. Em ligas SnPb(Ag) e Lead-free.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® fio cheio para a alimentação de solda automática em sistemas seletivos de solda. Em ligas SnPb(Ag) e Lead-free.<br/>
                          diâmetros do fio: 2mm/3mm<br/>
                          Em carretéis do 4kg/1kg<br/>
                          Tamanho carretéis do 4kg: 125mm x 125mm (diâ.x compr.)</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Lead-free-alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-SnPbAg-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/General-info---lead-free-alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=FIO CHEIO" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/pt-pt/199" title="FIO CHEIO" class="nid">199</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/grenailles_0.png" width="200" height="200" alt="IF solde pellets"/></div>
                      <div class="product-name">
                        <h3>PASTILHAS DE SOLDA</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Para soldagem por onda</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Para soldagem selectiva</p>
                          </li>
                          <li>
                            <div class="icon04"></div>
                            <p>Para retrabalho e reparação</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Para pré-estanhagem</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Para mergulho</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® pastilhas de solda são pedaços pequenos de solda para enchimento fácil do banho de solda. Em ligas SnPb(Ag) e Lead-free.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® pastilhas de solda são pedaços pequenos de solda para enchimento fácil do banho de solda. Em ligas SnPb(Ag) e Lead-free.<br/>
                          Tamanho: 1cm x 1cm aprox.<br/>
                          Ligas: SnPb e Lead-free</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Lead-free-alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-SnPbAg-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/General-info---lead-free-alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PASTILHAS DE SOLDA" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/pt-pt/200" title="PASTILHAS DE SOLDA" class="nid">200</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="block-block-17" class="block block-block library-reference last even">
        <div class="inner-block">
          <p>Não encontrou o produto? Para uma lista completa de produtos, ver nossa
            <a href="/pt-pt/documents">biblioteca</a>
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-footer2">
    <div class="inner-region">
      <div id="block-block-18" class="block block-block first last odd">
        <div class="inner-block">
          <div class="block grid-12" id="F1">
            <div class="inner-block">
              <div class="inner-content">
                <a href="/pt-pt/contact" target="_self" title="Ir para a página de contato para mais informação"><img src="/assets/images/Interflux-Electronics-headquarters-belgium.jpg" width="171" height="271" alt="Edifício de escritórios do Interflux Eletronics Bélgica"/></a>
                <div class="contact-title">
                  <span>FALE CON A</span><br/>SEDE DO<br/>INTERFLUX</div>
                <div class="contact-adress">
                  <p>
                    Interflux Electronics NV<br/>
                    Gent zeehaven 3170A<br/>
                    Eddastraat 51<br/>
                    9042 Gent<br/>
                    BELGICA</p>
                  <p>Tel.: +32 9251 4959<br/>
                    Fax: +32 9251 4970<br/>
                    info@interflux.com
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="block grid-12" id="F2">
            <div class="inner-block">
              <div class="inner-content">
                <div class="contact-title">
                  <span>CONTACTO</span><br/>INTERFLUX MUNDIAL</div>
                <p>
                  <a href="/pt-pt/contact" target="_self" title="Ir para a página de contato para mais informação"><img src="/assets/images/interflux-worldwide-map.jpg" width="446" height="196" alt="Mapa geográfico do grupo Interflux"/></a>
                </p>
              </div>
            </div>
          </div>
          <div class="block grid-24" id="F3">
            <div class="copyright">©2012 Direitos reservados por Interflux® Electronics N.V.</div>
            <div class="louder-than-words">Website por
              <a href="http://nabu.io" target="_new" title="NABU websites">NABU websites</a>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
{% endblock %}