{% extends "layout.html.njk" %}
{% block meta %}
  <title>Accesorios | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}es-auxiliaries
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-auxiliaries page-products i18n-es section-auxiliaries page-panels
{% endblock %}
{% block page %}
  <div class="region region-language">
    <div class="inner-region">
      <div id="block-locale-language" class="block block-locale language-menu block grid-24 first last odd" role="complementary">
        <div class="inner-block">
          <ul class="language-switcher-locale-url">
            <li class="en first">
              <a href="/en/auxiliaries" class="language-link" lang="en" title="Auxiliaries">
                <div class="flag en"></div>English</a>
            </li>
            <li class="zh-hans">
              <a href="/zh-hans/auxiliaries" class="language-link" lang="zh-hans" title="其他">
                <div class="flag zh-hans"></div>简体中文</a>
            </li>
            <li class="cs">
              <a href="/cs/auxiliaries" class="language-link" lang="cs" title="Doplňky">
                <div class="flag cs"></div>Čeština</a>
            </li>
            <li class="de">
              <a href="/de/auxiliaries" class="language-link" lang="de" title="Hilfsmittel">
                <div class="flag de"></div>Deutsch</a>
            </li>
            <li class="fr">
              <a href="/fr/auxiliaries" class="language-link" lang="fr" title="Auxiliaires">
                <div class="flag fr"></div>Français</a>
            </li>
            <li class="it">
              <a href="/it/auxiliaries" class="language-link" lang="it" title="Prodotti ausiliari">
                <div class="flag it"></div>Italiano</a>
            </li>
            <li class="id">
              <a href="/id/auxiliaries" class="language-link" lang="id" title="Alat pembantu">
                <div class="flag id"></div>Bahasa Indonesia</a>
            </li>
            <li class="pt-pt">
              <a href="/pt-pt/auxiliaries" class="language-link" lang="pt-pt" title="Acessórios">
                <div class="flag pt-pt"></div>Português</a>
            </li>
            <li class="ro">
              <a href="/ro/auxiliaries" class="language-link" lang="ro" title="Auxiliare pentru">
                <div class="flag ro"></div>Română</a>
            </li>
            <li class="ru">
              <a href="/ru/auxiliaries" class="language-link" lang="ru" title="Вспомогательные материалы">
                <div class="flag ru"></div>Русский</a>
            </li>
            <li class="th">
              <a href="/th/auxiliaries" class="language-link" lang="th" title="อุปกรณ์เสริม">
                <div class="flag th"></div>ภาษาไทย</a>
            </li>
            <li class="tr">
              <a href="/tr/auxiliaries" class="language-link" lang="tr">
                <div class="flag tr"></div>Türkçe</a>
            </li>
            <li class="pl">
              <a href="/pl/auxiliaries" class="language-link" lang="pl" title="Produkty wspomagające">
                <div class="flag pl"></div>Polski</a>
            </li>
            <li class="es active">
              <a href="/es/auxiliaries" class="language-link active" lang="es" title="Accesorios">
                <div class="flag es"></div>Español</a>
            </li>
            <li class="sv last">
              <a href="/sv/auxiliaries" class="language-link" lang="sv" title="Ytterligare produkter">
                <div class="flag sv"></div>Svenska</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-header">
    <div class="inner-region">
      <div id="block-block-11" class="block block-block grid-9 first odd">
        <div class="inner-block">
          <p>
            <a href="/es/" title="Interflux Electronics"><img src="/assets/images/interflux-electronics-logo.png" width="343" height="87" alt="Logotipo de Interflux Electronics"/></a>
          </p>
        </div>
      </div>
      <div id="block-menu-menu-interflux-menu" class="block block-menu grid-15 header-nav last even" role="navigation">
        <div class="inner-block">
          <ul class="menu">
            <li class="first expanded active-trail">
              <a href="/es" title="Buscar productos por tipos" class="active-trail">Productos</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/es/soldering-fluxes" title="">Fluxes de soldadura</a>
                </li>
                <li class="leaf">
                  <a href="/es/solder-pastes" title="">Pasta de soldadura</a>
                </li>
                <li class="leaf">
                  <a href="/es/solder-wires" title="">Hilo de soldadura</a>
                </li>
                <li class="leaf">
                  <a href="/es/spray-fluxers" title="">Spray fluxers</a>
                </li>
                <li class="last leaf active-trail">
                  <a href="/es/auxiliaries" title="" class="active-trail active">Accesorios</a>
                </li>
              </ul>
            </li>
            <li class="expanded">
              <a href="/es" title="Buscar productos por procesos">Procesos</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/es/wave-soldering" title="">Soldadura por ola</a>
                </li>
                <li class="leaf">
                  <a href="/es/selective-soldering" title="">Soldadura selectiva</a>
                </li>
                <li class="leaf">
                  <a href="/es/reflow-soldering" title="">Soldadura por re fusión</a>
                </li>
                <li class="leaf">
                  <a href="/es/rework-and-repair" title="">Reparación y reproceso</a>
                </li>
                <li class="last leaf">
                  <a href="/es/pre-tinning" title="">Pre estañado</a>
                </li>
              </ul>
            </li>
            <li class="leaf">
              <a href="/es/company" title="Aprenda sobre Interflux">Empresa</a>
            </li>
            <li class="leaf">
              <a href="/es/documents" title="Encuentre datos técnicos">Documentos</a>
            </li>
            <li class="last leaf">
              <a href="/es/contact" title="Póngase en contacto">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-highlight">
    <div class="inner-region">
      <div id="banners">
        <div class="preload"></div>
        <div class="stage">
          <article id="ipc-apex-2017">
            <a href="https://www.ipcapexexpo.org/" target="_blank" title="Visit us at IPC APEX 2018 in San Diego">
              <picture>
                
                <img src="" alt="Visit use at IPC APEX 2018 in San Diego"/>
              </picture>
            </a>
          </article>
          <article id="productronica-2017">
            <a href="https://www.productronica.com/" target="_blank" title="Visit us at Productronica 2017">
              <img src=""/>
            </a>
          </article>
          <article id="lmpa">
            <a href="https://lmpa.interflux.com" target="_blank">
              <h1>Solder
                <strong>5 times</strong>
                faster whilst maintaining
                <strong>zero defects</strong>
              </h1>
              <h1>Discover
                <mark>LMPA<span>™</span>
                </mark>
              </h1>
              <div id="video">
                <video id="movie" width="276" height="220" autoplay loop>
                  <source src="{{cdnHost}}/videos/LMPA-Q-30mms.mp4" type="video/mp4"></source>
                  Your browser doesn't support HTML5 video tag.
                </video>
                <script></script>
                <p>Speed: 30 mm/s</p>
              </div>
            </a>
          </article>
        </div>
        <nav>
          <div id="prev">
            <div></div>
          </div>
          <div id="next">
            <div></div>
          </div>
          <div id="timer">
            <div></div>
          </div>
          <ul></ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="panel-display panel-1col clearfix">
        <div class="panel-panel panel-col">
          <div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs25">Herra-<br/>mientas de producción</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_18 product-row-group view-dom-id-1347c8a73f0a0294ae77339c7d38aeb1">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_IF-710-PSM_0.jpg" width="200" height="200" alt="IF 710PSM"/></div>
                      <div class="product-name">
                        <h3>IF 710</h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>mascara pelable</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Para soldadura por ola</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>Para procesos SnPb(Ag)</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Para procesos Sin plomo</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Secado rápido, fácilmente extraíble</p>
                          </li>
                          <li>
                            <div class="icon28"></div>
                            <p>RoHS compliant</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® IF 710 es una látex natural, de
                          <strong>secado rápido
                          </strong>y fácilmente extraíble.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 710 es una látex natural, de secado rápido y fácilmente extraíble, utilizado como mascara para el proceso de soldadura.<br/>
                          Para proteger áreas en un PCB en contacto con el flux y la ola.<br/>
                          Fácil extracción, no es fácil de romper.<br/>
                          Resistente al calor.<br/>
                          Puede dar un descoloramiento en Cu, cuando es aplicado en Cu desnudo o Cu-OSP.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-710-DE.pdf">Technisches Datenblatt IF 710</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-710-FR.pdf">Fiche technique IF 710</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-710.pdf">Technical Data Sheet IF 710</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 710" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/es/383" title="IF 710" class="nid">383</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs30">Limpieza</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_16 product-row-group view-dom-id-c4875a570a44b62a79c7a731edf852f9">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/IF-930-All-in-One_3.jpg" width="200" height="200" alt="IF 930 wettable nozzle cleaner"/><img src="/assets/images/IF-930kader.png" width="200" height="200" alt="IF 930 wettable nozzle cleaner"/></div>
                      <div class="product-name">
                        <h3>IF 930</h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>limpia boquillas mojables
                        </h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon02"></div>
                            <p>Para soldadura selectiva</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>Para procesos SnPb(Ag)</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Para procesos sin plomo</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolutamente libre de halógenos</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux®
                          <strong>limpia y desoxida las boquillas mojables
                          </strong>de los sistemas selectivos de soldadura.
                        </p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® limpia y desoxida las boquillas mojables de los sistemas selectivos de soldadura.<br/>
                          Seguro y fácil de limpiar<br/>
                          Reemplaza al IF 920</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-930-DE.pdf">Technisches Datenblatt IF 930</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-930-FR.pdf">Fiche technique IF 930</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-930.pdf">Technical Data Sheet IF 930</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 930" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/es/381" title="IF 930" class="nid">381</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_Tip-Tinner.jpg" width="200" height="200" alt="Tip Tinner"/></div>
                      <div class="product-name">
                        <h3>Tip Tinner</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon04"></div>
                            <p>Para reparación</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>Para procesos SnPb(Ag)</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Para procesos sin plomo</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolutamente libre de halógenos</p>
                          </li>
                          <li>
                            <div class="icon26"></div>
                            <p>Libre de colofonia</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® Tip Tinner
                          <strong>limpia y pre estaña
                          </strong>las puntas de los soldadores.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® Tip Tinner limpia y pre estaña las puntas de los soldadores.<br/>
                          Alarga la vida útil de la punta substancialmente.<br/>
                          Absolutamente libre de halógenos<br/>
                          No abrasivo</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Tip-Tinner-DE.pdf">Technisches Datenblatt Tip Tinner</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Tip-Tinner-FR.pdf">Fiche technique Tip Tinner</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Tip-Tinner.pdf">Technical Data Sheet Tip Tinner</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=Tip Tinner" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/es/380" title="Tip Tinner" class="nid">380</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_Purgel.jpg" width="200" height="200" alt="IF Purgel"/></div>
                      <div class="product-name">
                        <h3>Purgel</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon04"></div>
                            <p>Para reparación</p>
                          </li>
                          <li>
                            <div class="icon08"></div>
                            <p>Para dispensación</p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>Aprobado por MYDATA para MY 500</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® Purgel es un
                          <strong>limpiador / acondicionador</strong>
                          , neutro para bombas y válvulas en
                          <strong>sistemas de dispensación</strong>
                          .</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® Purgel es un limpiador / acondicionador, neutro para bombas y válvulas en sistemas de dispensación.<br/>
                          Para preservar las partes en el dispensador, cuando no esté en uso.<br/>
                          Aprobado por MYDATA para su MY 500
                        </p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Purgel-DE.pdf">Technisches Datenblatt Purgel</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Purgel-FR.pdf">Fiche technique Purgel</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Purgel.pdf">Technical Data Sheet Purgel</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=Purgel" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/es/379" title="Purgel" class="nid">379</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/Interflux-IPA-wipes-jar.jpg" width="200" height="200" alt="Interflux IPA-DI wipes"/><img src="/assets/images/Interflux-IPA-wipes.jpg" width="200" height="200" alt="Interflux IPA-DI wipes"/></div>
                      <div class="product-name">
                        <h3>TOALLITAS IPA/ DI</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon30"></div>
                            <p>ESD-seguro</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux®  toallitas pre saturadas
                          <strong>IPA / DI
                          </strong>en flip-top y sacos de recarga para limpieza general de superficies.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® toallitas pre saturadas IPA / DI en flip-top y sacos de recarga para limpieza general de superficies.<br/>
                          sin hilos, no tejidos<br/>
                          Tamaño toallita único: 15 x 21cm<br/>
                          100 unid / rollo</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IPA-DI-wipes-DE.pdf">Technisches Datenblatt IPA/DI wipes</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IPA-DI-wipes-FR.pdf">Fiche technique IPA/DI wipes</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IPA-DI-wipes.pdf">Technical Data Sheet IPA/DI wipes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=TOALLITAS IPA/ DI" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/es/378" title="TOALLITAS IPA/ DI" class="nid">378</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_Stencil-Clean-Tub_5.jpg" width="200" height="200" alt="IF Stencil Clean Wipes"/><img src="/assets/images/CLP_Stencil-Clean-Bag_5.jpg" width="200" height="200" alt="IF Stencil Clean Refil bag"/></div>
                      <div class="product-name">
                        <h3>STENCIL CLEAN WIPES</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon09"></div>
                            <p>For stencil cleaning</p>
                          </li>
                          <li>
                            <div class="icon11"></div>
                            <p>Alcohol based</p>
                          </li>
                          <li>
                            <div class="icon30"></div>
                            <p>ESD-safe</p>
                          </li>
                          <ul></ul>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® toallitas pre saturadas en flip-top y sacos de recarga para la eliminación de la pasta de soldadura y adhesivo SMT no curado de sténcils y herramientas.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® toallitas pre saturadas en flip-top y sacos de recarga para la eliminación de la pasta de soldadura y adhesivo SMT no curado de sténcils y herramientas.<br/>
                          sin hilos, no tejidos<br/>
                          Tamaño toallita único: 15 x 21cm<br/>
                          100 unid / rollo</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Stencil-clean-wipes-DE.pdf">Technisches Datenblatt Stencil Clean Wipes</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Stencil-clean-wipes-FR.pdf">Fiche technique Stencil Clean Wipes</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Stencil-clean-wipes.pdf">Technical Data Sheet Stencil Clean Wipes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=STENCIL CLEAN WIPES" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/es/451" title="STENCIL CLEAN WIPES" class="nid">451</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_ISC-8020_0.jpg" width="200" height="200" alt="ISC 8020"/></div>
                      <div class="product-name">
                        <h3>ISC 8020</h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>stencil cleaning fluid</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon09"></div>
                            <p>Para impresión serigrafía</p>
                          </li>
                          <li>
                            <div class="icon11"></div>
                            <p>Base de alcohol</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® ISC 8020 es un líquido de limpieza para impresoras de serigrafía.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® ISC 8020 es un líquido de limpieza para impresoras de serigrafía.<br/>
                          Para la eliminación de pasta de soldadura y adhesivos SMT no curados.</p>
                        <ul>
                          <li lang="de" xml:lang="de">
                            <a href="/sites/default/files/documents/de/TD ISC 8020-DE.pdf" target="_blank">Technisches Datenblatt Deutch</a>
                          </li>
                          <li lang="fr" xml:lang="fr">
                            <a href="/sites/default/files/documents/fr/TD ISC 8020-FR.pdf" target="_blank">Fiche technique Français</a>
                          </li>
                          <li lang="en" xml:lang="en">
                            <a href="/sites/default/files/documents/en/TD ISC 8020.pdf" target="_blank">Technical Data Sheet English</a>
                          </li>
                        </ul>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-ISC-8020-DE.pdf">Technisches Datenblatt ISC 8020</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-ISC-8020.pdf">Technical Data Sheet ISC 8020</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=ISC 8020" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/es/482" title="ISC 8020" class="nid">482</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs22">Tratamiento de la cuba de soldadura</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_15 product-row-group view-dom-id-1f2652ff85f226cff022bd8dd5a225d0">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/IF-910_final2.png" width="200" height="200" alt="IF 910 de-oxidation oil"/></div>
                      <div class="product-name">
                        <h3>IF 910</h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>aceite de desoxidación
                        </h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Para soldadura por ola</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Para pre estañado</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Para inmersión</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>Para aleaciones SnPb(Ag)</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Para aleaciones sin plomo</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® IF 910 aceite desoxidante,
                          <strong>separa los residuos de óxido</strong>, del estaño en los baño de soldadura. Reduce así, el consumo de estaño.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 910 aceite desoxidante, separa los residuos de óxido, del estaño en los baño de soldadura.<br/>
                          Reduce así, el consumo de estaño.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-910-DE.pdf">Technisches Datenblatt IF 910</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-910-FR.pdf">Fiche technique IF 910</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-910.pdf">Technical Data Sheet IF 910</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 910" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/es/376" title="IF 910" class="nid">376</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_AOP-lead-free.jpg" width="200" height="200" alt="Anti-oxidant pellets"/><img src="/assets/images/CLP_AOP-SnPb.jpg" width="200" height="200" alt=""/></div>
                      <div class="product-name">
                        <h3>PELLETS ANTI OXIDANTES</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Para soldadura por ola</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Para soldadura selectiva</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Para pre estañado</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>Para procesos SnPb(Ag)</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Para procesos sin plomo</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® Anti-oxidant pellets Pellets anti oxidantes,
                          <strong>minimizan la formación de óxidos</strong>
                          en los baños de soldadura, sin plomo y SnPb(Ag).</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® Pellets anti oxidantes, minimizan la formación de óxidos en los baños de soldadura, sin plomo y SnPb(Ag)<br/>
                          Utilizado como una aportación en un baño de soldadura<br/>
                          Para aleaciones SnPb(Ag) (rótulo azul) o sin plomo (rótulo verde)<br/>
                          Pellets anti oxidantes no son recomendados en atmosferas inertes cerrados ni para aleaciones Ni-dopadas.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Anti-oxidant-pellets-DE.pdf">Technisches Datenblatt Anti-oxidant pellets</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Anti-oxidant-pellets-FR.pdf">Fiche technique Anti-oxidant pellets</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Anti-oxidant-pellets.pdf">Technical Data Sheet Anti-oxidant pellets</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PELLETS ANTI OXIDANTES" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/es/377" title="PELLETS ANTI OXIDANTES" class="nid">377</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs22">Aleaciones de soldadura</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_14 product-row-group view-dom-id-9bfd8a56623a94f06e03d71524b55dbb">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/solder-bars_0.jpg" width="200" height="200" alt="solder bars"/></div>
                      <div class="product-name">
                        <h3>SOLDADURA EN BARRA</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Para soldadura por ola</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Para soldadura selectiva</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Para pre estañado</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Para inmersión</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux®
                          <strong></strong>Soldadura en barra, están hechas con metales de
                          <strong>alta pureza, baja oxidación</strong>.
                        </p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® Soldadura en barra, están hechas con metales de alta pureza, baja oxidación.<br/>
                          En aleaciones SnPb(Ag) y sin plomo.
                        </p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Lead-free-alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-SnPbAg-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/General-info-lead-free-alloys.pdf">Short properties overview</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=SOLDADURA EN BARRA" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/es/373" title="SOLDADURA EN BARRA" class="nid">373</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/plain-wire-2mm-4kg-5.png" width="200" height="200" alt="Plain Solder Wire"/></div>
                      <div class="product-name">
                        <h3>HILO DE SOLDAR SIN ALMA</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon02"></div>
                            <p>Para soldadura selectiva</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Para pre estañado</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Para inmersión</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® hilo de soldadura, sin alma,  para
                          <strong>alimentación automática</strong>
                          en sistemas selectivo de soldadura. En aleaciones SnPb(Ag) y sin plomo.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® hilo de soldadura, sin alma,  para alimentación automática en sistemas selectivo de soldadura. En aleaciones SnPb(Ag) y sin plomo.<br/>
                          Diámetro de hilo: 2mm<br/>
                          En bobinas de 4kg<br/>
                          Tamaño de la bobina: 125mm x 125mm (dia.x larg.)</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Lead-free-alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-SnPbAg-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/General-info-lead-free-alloys.pdf">Short properties overview</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=HILO DE SOLDAR SIN ALMA" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/es/374" title="HILO DE SOLDAR SIN ALMA" class="nid">374</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/grenailles_1.png" width="200" height="200" alt=""/></div>
                      <div class="product-name">
                        <h3>PELLETS DE SOLDADURA</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Para soldadura por ola</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Para soldadura selectiva</p>
                          </li>
                          <li>
                            <div class="icon04"></div>
                            <p>Para reparación y reproceso
                            </p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Para pre estañado</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Para inmersión</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® pellets de soldadura, son pequeños piezas, para el llenado fácil del baño de soldadura, en aleaciones SnPb(Ag) y sin plomo.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® pellets de soldadura, son pequeños piezas, para el llenado fácil del baño de soldadura, en aleaciones SnPb(Ag) y sin plomo.<br/>
                          Tamaño: 1cm x 1cm aprox.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Lead-free-alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-SnPbAg-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/General-info-lead-free-alloys.pdf">Short properties overview</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PELLETS DE SOLDADURA" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/es/375" title="PELLETS DE SOLDADURA" class="nid">375</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="block-block-17" class="block block-block library-reference last even">
        <div class="inner-block">
          <p>¿No encuentra el producto? Para obtener una lista completa de productos, visite nuestra
            <a href="/es/documents">biblioteca</a>
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-footer2">
    <div class="inner-region">
      <div id="block-block-18" class="block block-block first last odd">
        <div class="inner-block">
          <div class="block grid-12" id="F1">
            <div class="inner-block">
              <div class="inner-content">
                <a href="/es/contact" title="Ir a la página de contacto para más información"><img src="/assets/images/Interflux-Electronics-headquarters-belgium.jpg" width="171" height="271" alt="Edificio de oficinas Interflux Electronics Bélgica"/></a>
                <div class="contact-title">
                  <span>CONTACTAR</span><br/>LA CENTRAL DE INTERFLUX</div>
                <div class="contact-adress">
                  <p>
                    Interflux Electronics NV<br/>
                    Gent zeehaven 3170A<br/>
                    Eddastraat 51<br/>
                    9042 Gent<br/>
                    BELGICA</p>
                  <p>Tel.: +32 9251 4959<br/>
                    Fax: +32 9251 4970<br/>
                    <a href="mailto:info@interflux.com" target="_blank">info@interflux.com</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="block grid-12" id="F2">
            <div class="inner-block">
              <div class="inner-content">
                <div class="contact-title">
                  <span>CONTACTO</span><br/>INTERFLUX MUNDIAL</div>
                <p>
                  <a href="/es/contact" title="Ir a la página de contacto para más información"><img src="/assets/images/interflux-worldwide-map.jpg" width="446" height="196" alt="Mapa geográfico del grupo Interflux"/></a>
                </p>
              </div>
            </div>
          </div>
          <div class="block grid-24" id="F3">
            <div class="copyright">©2012 Derechos reservados por Interflux® Electronics N.V.</div>
            <div class="louder-than-words">Website por
              <a href="https://nabu.io" target="_new" title="NABU websites">NABU websites</a>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
{% endblock %}