{% extends "layout.html.njk" %}
{% block meta %}
  <title>Hilo de soldadura | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}es-solder-wires
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-solder-wires page-products i18n-es section-solder-wires page-panels
{% endblock %}
{% block page %}
  <div class="region region-language">
    <div class="inner-region">
      <div id="block-locale-language" class="block block-locale language-menu block grid-24 first last odd" role="complementary">
        <div class="inner-block">
          <ul class="language-switcher-locale-url">
            <li class="en first">
              <a href="/en/solder-wires" class="language-link" lang="en" title="Solder wires">
                <div class="flag en"></div>English</a>
            </li>
            <li class="zh-hans">
              <a href="/zh-hans/solder-wires" class="language-link" lang="zh-hans" title="锡线">
                <div class="flag zh-hans"></div>简体中文</a>
            </li>
            <li class="cs">
              <a href="/cs/solder-wires" class="language-link" lang="cs" title="Pájecí dráty">
                <div class="flag cs"></div>Čeština</a>
            </li>
            <li class="de">
              <a href="/de/solder-wires" class="language-link" lang="de" title="Lötdraht">
                <div class="flag de"></div>Deutsch</a>
            </li>
            <li class="fr">
              <a href="/fr/solder-wires" class="language-link" lang="fr" title="Fils à braser">
                <div class="flag fr"></div>Français</a>
            </li>
            <li class="it">
              <a href="/it/solder-wires" class="language-link" lang="it" title="Fili per saldatura">
                <div class="flag it"></div>Italiano</a>
            </li>
            <li class="id">
              <a href="/id/solder-wires" class="language-link" lang="id" title="Timah solder">
                <div class="flag id"></div>Bahasa Indonesia</a>
            </li>
            <li class="pt-pt">
              <a href="/pt-pt/solder-wires" class="language-link" lang="pt-pt" title="Fios da solda">
                <div class="flag pt-pt"></div>Português</a>
            </li>
            <li class="ro">
              <a href="/ro/solder-wires" class="language-link" lang="ro" title="Sarma de lipit">
                <div class="flag ro"></div>Română</a>
            </li>
            <li class="ru">
              <a href="/ru/solder-wires" class="language-link" lang="ru" title="Проволочный припой">
                <div class="flag ru"></div>Русский</a>
            </li>
            <li class="th">
              <a href="/th/solder-wires" class="language-link" lang="th" title="ลวดบัดกรี">
                <div class="flag th"></div>ภาษาไทย</a>
            </li>
            <li class="tr">
              <a href="/tr/solder-wires" class="language-link" lang="tr">
                <div class="flag tr"></div>Türkçe</a>
            </li>
            <li class="pl">
              <a href="/pl/solder-wires" class="language-link" lang="pl" title="Druty lutownicze">
                <div class="flag pl"></div>Polski</a>
            </li>
            <li class="es active">
              <a href="/es/solder-wires" class="language-link active" lang="es" title="Hilo de soldadura">
                <div class="flag es"></div>Español</a>
            </li>
            <li class="sv last">
              <a href="/sv/solder-wires" class="language-link" lang="sv" title="Lödtråd">
                <div class="flag sv"></div>Svenska</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-header">
    <div class="inner-region">
      <div id="block-block-11" class="block block-block grid-9 first odd">
        <div class="inner-block">
          <p>
            <a href="/es/" title="Interflux Electronics"><img src="/assets/images/interflux-electronics-logo.png" width="343" height="87" alt="Logotipo de Interflux Electronics"/></a>
          </p>
        </div>
      </div>
      <div id="block-menu-menu-interflux-menu" class="block block-menu grid-15 header-nav last even" role="navigation">
        <div class="inner-block">
          <ul class="menu">
            <li class="first expanded active-trail">
              <a href="/es" title="Buscar productos por tipos" class="active-trail">Productos</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/es/soldering-fluxes" title="">Fluxes de soldadura</a>
                </li>
                <li class="leaf">
                  <a href="/es/solder-pastes" title="">Pasta de soldadura</a>
                </li>
                <li class="leaf active-trail">
                  <a href="/es/solder-wires" title="" class="active-trail active">Hilo de soldadura</a>
                </li>
                <li class="leaf">
                  <a href="/es/spray-fluxers" title="">Spray fluxers</a>
                </li>
                <li class="last leaf">
                  <a href="/es/auxiliaries" title="">Accesorios</a>
                </li>
              </ul>
            </li>
            <li class="expanded">
              <a href="/es" title="Buscar productos por procesos">Procesos</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/es/wave-soldering" title="">Soldadura por ola</a>
                </li>
                <li class="leaf">
                  <a href="/es/selective-soldering" title="">Soldadura selectiva</a>
                </li>
                <li class="leaf">
                  <a href="/es/reflow-soldering" title="">Soldadura por re fusión</a>
                </li>
                <li class="leaf">
                  <a href="/es/rework-and-repair" title="">Reparación y reproceso</a>
                </li>
                <li class="last leaf">
                  <a href="/es/pre-tinning" title="">Pre estañado</a>
                </li>
              </ul>
            </li>
            <li class="leaf">
              <a href="/es/company" title="Aprenda sobre Interflux">Empresa</a>
            </li>
            <li class="leaf">
              <a href="/es/documents" title="Encuentre datos técnicos">Documentos</a>
            </li>
            <li class="last leaf">
              <a href="/es/contact" title="Póngase en contacto">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-highlight">
    <div class="inner-region">
      <div id="banners">
        <div class="preload"></div>
        <div class="stage">
          <article id="ipc-apex-2017">
            <a href="https://www.ipcapexexpo.org/" target="_blank" title="Visit us at IPC APEX 2018 in San Diego">
              <picture>
                
                <img src="" alt="Visit use at IPC APEX 2018 in San Diego"/>
              </picture>
            </a>
          </article>
          <article id="productronica-2017">
            <a href="https://www.productronica.com/" target="_blank" title="Visit us at Productronica 2017">
              <img src=""/>
            </a>
          </article>
          <article id="lmpa">
            <a href="https://lmpa.interflux.com" target="_blank">
              <h1>Solder
                <strong>5 times</strong>
                faster whilst maintaining
                <strong>zero defects</strong>
              </h1>
              <h1>Discover
                <mark>LMPA<span>™</span>
                </mark>
              </h1>
              <div id="video">
                <video id="movie" width="276" height="220" autoplay loop>
                  <source src="https://cdn.interflux.com/videos/LMPA-Q-30mms.mp4" type="video/mp4"></source>
                  Your browser doesn't support HTML5 video tag.
                </video>
                <script></script>
                <p>Speed: 30 mm/s</p>
              </div>
            </a>
          </article>
        </div>
        <nav>
          <div id="prev">
            <div></div>
          </div>
          <div id="next">
            <div></div>
          </div>
          <div id="timer">
            <div></div>
          </div>
          <ul></ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="panel-display panel-1col clearfix">
        <div class="panel-panel panel-col">
          <div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs18">Hilo de soldar</div>
                <div class="fs30">sin plomo</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_1 product-row-group view-dom-id-b13631971d969bda0f477fdca4840293">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_QF70-Pb-free.jpg" width="200" height="200" alt="QF 70 Pb-free"/></div>
                      <div class="product-name">
                        <h3>QF 70</h3>
                      </div>
                      <div class="product-highlight">
                        <h3>NUEVO</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon32"></div>
                            <p>Mayor velocidad de mojado</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Residuo transparente</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolutamente libre de halógenos</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® QF 70 hilo de soldadura no-clean, basado en colofonia y absolutamente libre de halógenos, con mojado rápido para operaciones rápidas de soldadura en aleaciones sin plomo.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® QF 70 hilo de soldadura no-clean, basado en colofonia y absolutamente libre de halógenos, con mojado rápido para operaciones rápidas de soldadura en aleaciones sin plomo.<br/>
                          QF 70 se puede utilizar en procesos de soldadura manual y soldadura automática.<br/>
                          RO L0 según las normas IPC y EN.<br/>
                          Contenido en halógenos: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-QF-70-DE.pdf">Technisches Datenblatt QF70</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-QF-70.pdf">Technical Data Sheet QF 70</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=QF 70" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/es/1356" title="QF 70" class="nid">1356</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/NH1-SAC387.png" width="200" height="200" alt="NH1 lead-free solder wire"/></div>
                      <div class="product-name">
                        <h3>NH 1</h3>
                      </div>
                      <div class="product-highlight">
                        <h3>NUEVO</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon21"></div>
                            <p>Mayor capacidad de mojado, incremento de la velocidad de mojado</p>
                          </li>
                          <li>
                            <div class="icon04"></div>
                            <p>Salpicaduras bajas</p>
                          </li>
                          <li>
                            <div class="icon26"></div>
                            <p>Libre de Colofonia
                            </p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Bajo residuo transparente</p>
                          </li>
                          <li>
                            <div class="icon35"></div>
                            <p>Alta repetibilidad</p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>Perfecto para la soldadura por láser</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® NH 1 es un hilo de soldadura activado no-clean, libre de colofonia que proporciona resultados de soldadura rápidos y repetibles en una amplia gama de superficies incluyendo latón, en aleaciones sin plomo.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® NH 1 es un hilo de soldadura activado no-clean, libre de colofonia que proporciona resultados de soldadura rápidos y repetibles en una amplia gama de superficies incluyendo latón, en aleaciones sin plomo.<br/>
                          NH 1 se puede utilizar tanto en procesos de soldadura manual como en soldadura automática.<br/>
                          RE L1 a las normas IPC y EN.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-NH-1-DE.pdf">Technical Data Sheet NH1</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-NH-1.pdf">Technical Data Sheet NH 1</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=NH 1" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/es/1357" title="NH 1" class="nid">1357</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/RosIX-705-SAC.png" width="200" height="200" alt="RosIX 705"/></div>
                      <div class="product-name">
                        <h3>RosIX 705</h3>
                      </div>
                      <div class="product-highlight">
                        <h3>NUEVO</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon21"></div>
                            <p>Mayor capacidad de mojado</p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>Olor no desagradable</p>
                          </li>
                          <li>
                            <div class="icon35"></div>
                            <p>Alta repetibilidad</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Residuo transparente y leve</p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>Adecuado para la soldadura por robot</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® Rosix 705 es un hilo de soldadura no-clean, basado en resina activada, con mayor capacidad de mojado en superficies que son difíciles de soldar en aleaciones sin plomo.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® Rosix 705 es un hilo de soldadura no-clean, basado en resina activada, con mayor capacidad de mojado en superficies que son difíciles de soldar en aleaciones sin plomo.<br/>
                          RosIX 705 se puede utilizar en superficies difíciles para soldar, p.e. OSP, Ni, Zn, latón, niquel-zinc, etc. Así como en superficies degradadas y oxidadas.<br/>
                          RO L1 a las normas IPC y EN.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-RosIX-705-DE.pdf">Technisches Datenblatt RosIX 705</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Rosix-705-FR.pdf">Fiche Technique RosIX 705</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-RosIX-705.pdf">Technical Data Sheet RosIX 705</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=RosIX 705" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/es/1358" title="RosIX 705" class="nid">1358</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/Aquasol4018_3.jpg" width="200" height="200" alt="Aquasol 4018"/></div>
                      <div class="product-name">
                        <h3>AQUASOL 4018</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon17"></div>
                            <p>Hilo de soldar hidrosoluble</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Hilo de soldar sin plomo</p>
                          </li>
                          <li>
                            <div class="icon04"></div>
                            <p>Para reparación y reproceso</p>
                          </li>
                          <li>
                            <div class="icon26"></div>
                            <p>Absolutamente libre de halógenos</p>
                          </li>
                          <li>
                            <div class="icon21"></div>
                            <p>Actividad alta</p>
                          </li>
                          <p></p>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® Aquasol 4018 es un hilo de soldadura de alta actividad con residuos solubles en agua en aleaciones sin plomo.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® Aquasol 4018 es un hilo de soldadura de alta actividad con residuos solubles en agua en aleaciones sin plomo.<br/>
                          Muy un buen mojado en superficies con soldabilidad baja<br/>
                          Los residuos deben ser limpiados<br/>
                          Los residuos se pueden limpiar con agua DI a 35°C-45°C (95°F— 114°F)<br/>
                          según normas EN e IPC es OR H1<br/>
                          Contenido de flux: 2.5%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Aquasol-4018-DE.pdf">Technisches Datenblatt Aquasol 4018</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Aquasol-4018-FR.pdf">Fiche Technique Aquasol 4018</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Aquasol-4018.pdf">Technical Data Sheet Aquasol 4018</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=AQUASOL 4018" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/es/861" title="AQUASOL 4018" class="nid">861</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/Interflux-IF14-series-lead-free_0.jpg" width="200" height="200" alt="Interflux IF14 series lead-free solder wire"/></div>
                      <div class="product-name">
                        <h3>IF 14 SERIES LEAD-FREE</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon16"></div>
                            <p>Hilo de soldar Sin plomo</p>
                          </li>
                          <li>
                            <div class="icon04"></div>
                            <p>Para reparación y reproceso</p>
                          </li>
                          <li>
                            <div class="icon27"></div>
                            <p>Residuo cepillable</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolutamente libre de halógenos
                            </p>
                          </li>
                          <li>
                            <div class="icon26"></div>
                            <p>Absolutamente libre de colofonia</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Bajo residuo</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® serie IF 14 son hilos de soldar no-clean,
                          <strong>libre de colofonia</strong>
                          y absolutamente libre de halógenos, el
                          <strong>residuo es fácil de eliminar</strong>
                          en aleaciones sin plomo y SnPb(Ag).</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® serie IF 14 son hilos de soldar no-clean, libre de colofonia y absolutamente libre de halógenos, el residuo es fácil de eliminar en aleaciones sin plomo y SnPb(Ag).<br/>
                          Eliminación del residuo con brocha y a mano<br/>
                          según normas EN y  IPC  es RE L0<br/>
                          Sin plomo : IF 14-16 e IF 14-22 (contenido de flux, 1,6% y 2,2%)<br/>
                          SnPb(Ag) : contenido de flux: 0,6%, 0,9%,1,0% y 1,4%
                        </p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-14-16-DE.pdf">Technisches Datenblatt IF 14-16</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-14-22-DE.pdf">Technisches Datenblatt IF 14-22</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-14-16-FR.pdf">Fiche technique IF 14-16</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-14-22-FR.pdf">Fiche technique IF 14-22</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-14-16.pdf">Technical Data Sheet IF 14-16</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-14-22.pdf">Technical Data Sheet IF 14-22</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 14 SERIES LEAD-FREE" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/es/366" title="IF 14 SERIES LEAD-FREE" class="nid">366</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/Interflux-Flexsol-903.jpg" width="200" height="200" alt="Interflux Flexsol 903 solder wire"/></div>
                      <div class="product-name">
                        <h3>FLEXSOL 903</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon16"></div>
                            <p>Hilo de soldar sin plomo
                            </p>
                          </li>
                          <li>
                            <div class="icon04"></div>
                            <p>Para reparación y reproceso</p>
                          </li>
                          <li>
                            <div class="icon14"></div>
                            <p>Contiene colofonia</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolutamente libre de halógenos</p>
                          </li>
                          <li>
                            <div class="icon04"></div>
                            <p>Salpicaduras bajas</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux®
                          <strong>Flexsol 903</strong>
                          es un hilo de soldar no-clean, absolutamente libre de halógeno, con
                          <strong>reducción de las salpicaduras</strong>, con aleaciones sin plomo.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux®
                          <strong>Flexsol 903</strong>
                          es un hilo de soldar no-clean, absolutamente libre de halógeno, con reducción de las salpicaduras, con aleaciones sin plomo.<br/>
                          según normas EN y IPC  es RO L0<br/>
                          Contenido de flux: 2,2% e 3,5%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Flexsol-903-DE.pdf">Technisches Datenblatt Flexsol 903</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Flexsol-903-FR.pdf">Fiche technique Flexsol 903</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Flexsol-903.pdf">Technical Data Sheet Flexsol 903</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=FLEXSOL 903" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/es/367" title="FLEXSOL 903" class="nid">367</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs18">Hilo de soldar</div>
                <div class="fs30 nc">SnPb(Ag)</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_2 product-row-group view-dom-id-e8dc4ee1b18ce1b2057fb61fd2d6010b">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/RosIX-705-SnPbAg.png" width="200" height="200" alt="RosIX 705 SnPb(Ag)"/></div>
                      <div class="product-name">
                        <h3>RosIX 705 SnPb(Ag)</h3>
                      </div>
                      <div class="product-highlight">
                        <h3>NUEVO</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon21"></div>
                            <p>Mayor capacidad de mojado</p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>Olor no molesto</p>
                          </li>
                          <li>
                            <div class="icon35"></div>
                            <p>Alta repetibilidad</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Residuo transparente y leve</p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>Adecuado para la soldadura por robot</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® Rosix 705 SnPb(Ag) es un hilo de soldadura no-clean, base en resina activada, con mayor capacidad de mojado en superficies que son difíciles de soldar en aleaciones SnPb(Ag).</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® Rosix 705 SnPb(Ag) es un hilo de soldadura no-clean, base en resina activada, con mayor capacidad de mojado en superficies que son difíciles de soldar en aleaciones SnPb(Ag).<br/>
                          RosIX 705 SnPb(Ag) se puede usar en superficies que son difíciles de soldar, p.e. OSP, Ni, Zn, latón, niquel-zinc, ... así como sobre superficies degradadas y oxidadas.<br/>
                          RO L1 a las normas IPC y EN.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-RosIX-705-SnPbAg-DE.pdf">Technisches Datenblatt RosIX 705 SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Rosix-705-SnPbAg-FR.pdf">Fiche technique RosIX 705 SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Rosix-705-SnPbAg.pdf">Technical Data Sheet RosIX 705 SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=RosIX 705 SnPb(Ag)" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/es/1359" title="RosIX 705 SnPb(Ag)" class="nid">1359</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/Interflux-IF14-series-leaded.jpg" width="200" height="200" alt="Interflux IF14 series leaded solder wire"/></div>
                      <div class="product-name">
                        <h3>SERIE IF14 SnPb(Ag)</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon15"></div>
                            <p>Hilo de soldar SnPb(Ag)</p>
                          </li>
                          <li>
                            <div class="icon04"></div>
                            <p>Para reparación y reproceso</p>
                          </li>
                          <li>
                            <div class="icon27"></div>
                            <p>Residuo cepillable</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolutamente libre de halógenos
                            </p>
                          </li>
                          <li>
                            <div class="icon26"></div>
                            <p>Absolutamente libre de colofonia</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Bajo residuo</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® series IF 14 son hilos de soldar no-clean,
                          <strong>libre de colofonia</strong>
                          y absolutamente libre de halógeno,
                          <strong>residuo fácil de eliminar</strong>
                          en aleaciones SnPb(Ag)y sin plomo.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® series IF 14 son hilos de soldar no-clean,
                          <strong>libre de colofonia</strong>
                          y absolutamente libre de halógeno, residuo fácil de eliminar en aleaciones SnPb(Ag) y sin plomo.<br/>
                          Eliminación del residuo, manual con brocha<br/>
                          RE L0 según normas EN y  IPC<br/>
                          SnPb(Ag) : IF 14-06, IF 14-09, IF 14-10, IF14-14 (0,6%, 0,9%,1,0% e 1,4% de contenido de flux)<br/>
                          Sin plomo : IF 14-16 e IF 14-22 de contenido de flux</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-14-06-09-14-DE.pdf">Technisches Datenblatt IF 14-06-09-14 SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-14-06-09-14-FR.pdf">Fiche technique IF 14-06-09-14 SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-14-06-09-14.pdf">Technical Data Sheet IF 14-06-09-14 SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=SERIE IF14 SnPb(Ag)" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/es/370" title="SERIE IF14 SnPb(Ag)" class="nid">370</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="block-block-17" class="block block-block library-reference last even">
        <div class="inner-block">
          <p>¿No encuentra el producto? Para obtener una lista completa de productos, visite nuestra
            <a href="/es/documents">biblioteca</a>
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-footer2">
    <div class="inner-region">
      <div id="block-block-18" class="block block-block first last odd">
        <div class="inner-block">
          <div class="block grid-12" id="F1">
            <div class="inner-block">
              <div class="inner-content">
                <a href="/es/contact" title="Ir a la página de contacto para más información"><img src="/assets/images/Interflux-Electronics-headquarters-belgium.jpg" width="171" height="271" alt="Edificio de oficinas Interflux Electronics Bélgica"/></a>
                <div class="contact-title">
                  <span>CONTACTAR</span><br/>LA CENTRAL DE INTERFLUX</div>
                <div class="contact-adress">
                  <p>
                    Interflux Electronics NV<br/>
                    Gent zeehaven 3170A<br/>
                    Eddastraat 51<br/>
                    9042 Gent<br/>
                    BELGICA</p>
                  <p>Tel.: +32 9251 4959<br/>
                    Fax: +32 9251 4970<br/>
                    <a href="mailto:info@interflux.com" target="_blank">info@interflux.com</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="block grid-12" id="F2">
            <div class="inner-block">
              <div class="inner-content">
                <div class="contact-title">
                  <span>CONTACTO</span><br/>INTERFLUX MUNDIAL</div>
                <p>
                  <a href="/es/contact" title="Ir a la página de contacto para más información"><img src="/assets/images/interflux-worldwide-map.jpg" width="446" height="196" alt="Mapa geográfico del grupo Interflux"/></a>
                </p>
              </div>
            </div>
          </div>
          <div class="block grid-24" id="F3">
            <div class="copyright">©2012 Derechos reservados por Interflux® Electronics N.V.</div>
            <div class="louder-than-words">Website por
              <a href="https://nabu.io" target="_new" title="NABU websites">NABU websites</a>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
{% endblock %}