{% extends "layout.html.njk" %}
{% block meta %}
  <title>Hilo de soldadura | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}es-solder-wires
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-solder-wires page-products i18n-es section-solder-wires page-panels
{% endblock %}
{% block page %}
  {% include "partials/highlight.njk" %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-display panel-1col clearfix">
          <div class="panel-panel panel-col">
            <div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs18">Hilo de soldar</div>
                  <div class="fs30">sin plomo</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_1 product-row-group view-dom-id-a6d50bd6e4902ac0b7339e21fb2af958">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_QF70%20Pb-free.jpg" width="200" height="200" alt="QF 70 Pb-free"/></div>
                        <div class="product-name">
                          <h3>QF 70</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NUEVO</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon32"></div>
                              <p>Mayor velocidad de mojado</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Residuo transparente</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® QF 70 hilo de soldadura no-clean, basado en colofonia y absolutamente libre de halógenos, con mojado rápido para operaciones rápidas de soldadura en aleaciones sin plomo.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® QF 70 hilo de soldadura no-clean, basado en colofonia y absolutamente libre de halógenos, con mojado rápido para operaciones rápidas de soldadura en aleaciones sin plomo.<br/>
                            QF 70 se puede utilizar en procesos de soldadura manual y soldadura automática.<br/>
                            RO L0 según las normas IPC y EN.<br/>
                            Contenido en halógenos: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20QF%2070-DE.pdf" type="application/pdf; length=577835" title="TD QF 70-DE.pdf">Technisches Datenblatt QF70</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20QF%2070.pdf" type="application/pdf; length=567824" title="TD QF 70.pdf">Technical Data Sheet QF 70</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=QF 70" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/1356" title="QF 70" class="nid">1356</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/NH1%20SAC387.png" width="200" height="200" alt="NH1 lead-free solder wire"/></div>
                        <div class="product-name">
                          <h3>NH 1</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NUEVO</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon21"></div>
                              <p>Mayor capacidad de mojado, incremento de la velocidad de mojado</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Salpicaduras bajas</p>
                            </li>
                            <li>
                              <div class="icon26"></div>
                              <p>Libre de Colofonia
                              </p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Bajo residuo transparente</p>
                            </li>
                            <li>
                              <div class="icon35"></div>
                              <p>Alta repetibilidad</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Perfecto para la soldadura por láser</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® NH 1 es un hilo de soldadura activado no-clean, libre de colofonia que proporciona resultados de soldadura rápidos y repetibles en una amplia gama de superficies incluyendo latón, en aleaciones sin plomo.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® NH 1 es un hilo de soldadura activado no-clean, libre de colofonia que proporciona resultados de soldadura rápidos y repetibles en una amplia gama de superficies incluyendo latón, en aleaciones sin plomo.<br/>
                            NH 1 se puede utilizar tanto en procesos de soldadura manual como en soldadura automática.<br/>
                            RE L1 a las normas IPC y EN.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20NH%201-DE.pdf" type="application/pdf; length=553998" title="TD NH 1-DE.pdf">Technical Data Sheet NH1</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20NH%201.pdf" type="application/pdf; length=562600" title="TD NH 1.pdf">Technical Data Sheet NH 1</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=NH 1" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/1357" title="NH 1" class="nid">1357</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/RosIX%20705%20SAC.png" width="200" height="200" alt="RosIX 705"/></div>
                        <div class="product-name">
                          <h3>RosIX 705</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NUEVO</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon21"></div>
                              <p>Mayor capacidad de mojado</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Olor no desagradable</p>
                            </li>
                            <li>
                              <div class="icon35"></div>
                              <p>Alta repetibilidad</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Residuo transparente y leve</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Adecuado para la soldadura por robot</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Rosix 705 es un hilo de soldadura no-clean, basado en resina activada, con mayor capacidad de mojado en superficies que son difíciles de soldar en aleaciones sin plomo.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Rosix 705 es un hilo de soldadura no-clean, basado en resina activada, con mayor capacidad de mojado en superficies que son difíciles de soldar en aleaciones sin plomo.<br/>
                            RosIX 705 se puede utilizar en superficies difíciles para soldar, p.e. OSP, Ni, Zn, latón, niquel-zinc, etc. Así como en superficies degradadas y oxidadas.<br/>
                            RO L1 a las normas IPC y EN.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20RosIX%20705-DE.pdf" type="application/pdf; length=1781865" title="TD RosIX 705-DE.pdf">Technisches Datenblatt RosIX 705</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Rosix%20705-FR_0.pdf" type="application/pdf; length=1850021" title="TD Rosix 705-FR.pdf">Fiche Technique RosIX 705</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20RosIX%20705.pdf" type="application/pdf; length=1845843" title="TD RosIX 705.pdf">Technical Data Sheet RosIX 705</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=RosIX 705" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/1358" title="RosIX 705" class="nid">1358</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Aquasol4018_3.jpg" width="200" height="200" alt="Aquasol 4018"/></div>
                        <div class="product-name">
                          <h3>AQUASOL 4018</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon17"></div>
                              <p>Hilo de soldar hidrosoluble</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Hilo de soldar sin plomo</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Para reparación y reproceso</p>
                            </li>
                            <li>
                              <div class="icon26"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Actividad alta</p>
                            </li>
                            <p></p>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Aquasol 4018 es un hilo de soldadura de alta actividad con residuos solubles en agua en aleaciones sin plomo.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Aquasol 4018 es un hilo de soldadura de alta actividad con residuos solubles en agua en aleaciones sin plomo.<br/>
                            Muy un buen mojado en superficies con soldabilidad baja<br/>
                            Los residuos deben ser limpiados<br/>
                            Los residuos se pueden limpiar con agua DI a 35°C-45°C (95°F— 114°F)<br/>
                            según normas EN e IPC es OR H1<br/>
                            Contenido de flux: 2.5%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Aquasol%204018-DE.pdf" type="application/pdf; length=612173" title="TD Aquasol 4018-DE.pdf">Technisches Datenblatt Aquasol 4018</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Aquasol%204018-FR.pdf" type="application/pdf; length=613595" title="TD Aquasol 4018-FR.pdf">Fiche Technique Aquasol 4018</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Aquasol%204018_0.pdf" type="application/pdf; length=613767" title="TD Aquasol 4018.pdf">Technical Data Sheet Aquasol 4018</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=AQUASOL 4018" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/861" title="AQUASOL 4018" class="nid">861</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Interflux-IF14-series-lead-free_0.jpg" width="200" height="200" alt="Interflux IF14 series lead-free solder wire"/></div>
                        <div class="product-name">
                          <h3>IF 14 SERIES LEAD-FREE</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon16"></div>
                              <p>Hilo de soldar Sin plomo</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Para reparación y reproceso</p>
                            </li>
                            <li>
                              <div class="icon27"></div>
                              <p>Residuo cepillable</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos
                              </p>
                            </li>
                            <li>
                              <div class="icon26"></div>
                              <p>Absolutamente libre de colofonia</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Bajo residuo</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® serie IF 14 son hilos de soldar no-clean,
                            <strong>libre de colofonia</strong>
                            y absolutamente libre de halógenos, el
                            <strong>residuo es fácil de eliminar</strong>
                            en aleaciones sin plomo y SnPb(Ag).</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® serie IF 14 son hilos de soldar no-clean, libre de colofonia y absolutamente libre de halógenos, el residuo es fácil de eliminar en aleaciones sin plomo y SnPb(Ag).<br/>
                            Eliminación del residuo con brocha y a mano<br/>
                            según normas EN y  IPC  es RE L0<br/>
                            Sin plomo : IF 14-16 e IF 14-22 (contenido de flux, 1,6% y 2,2%)<br/>
                            SnPb(Ag) : contenido de flux: 0,6%, 0,9%,1,0% y 1,4%
                          </p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%2014-16-DE_0.pdf" type="application/pdf; length=1726634" title="TD IF 14-16-DE.pdf">Technisches Datenblatt IF 14-16</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%2014-22-DE_0.pdf" type="application/pdf; length=1799161" title="TD IF 14-22-DE.pdf">Technisches Datenblatt IF 14-22</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%2014-16-FR.pdf" type="application/pdf; length=1797018" title="TD IF 14-16-FR.pdf">Fiche technique IF 14-16</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%2014-22-FR.pdf" type="application/pdf; length=1847498" title="TD IF 14-22-FR.pdf">Fiche technique IF 14-22</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%2014-16_0.pdf" type="application/pdf; length=1740737" title="TD IF 14-16.pdf">Technical Data Sheet IF 14-16</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%2014-22_0.pdf" type="application/pdf; length=1804579" title="TD IF 14-22.pdf">Technical Data Sheet IF 14-22</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 14 SERIES LEAD-FREE" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/366" title="IF 14 SERIES LEAD-FREE" class="nid">366</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Interflux-Flexsol-903.jpg" width="200" height="200" alt="Interflux Flexsol 903 solder wire"/></div>
                        <div class="product-name">
                          <h3>FLEXSOL 903</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon16"></div>
                              <p>Hilo de soldar sin plomo
                              </p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Para reparación y reproceso</p>
                            </li>
                            <li>
                              <div class="icon14"></div>
                              <p>Contiene colofonia</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Salpicaduras bajas</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong>Flexsol 903</strong>
                            es un hilo de soldar no-clean, absolutamente libre de halógeno, con
                            <strong>reducción de las salpicaduras</strong>, con aleaciones sin plomo.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux®
                            <strong>Flexsol 903</strong>
                            es un hilo de soldar no-clean, absolutamente libre de halógeno, con reducción de las salpicaduras, con aleaciones sin plomo.<br/>
                            según normas EN y IPC  es RO L0<br/>
                            Contenido de flux: 2,2% e 3,5%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Flexsol%20903-DE.pdf" type="application/pdf; length=467002" title="TD Flexsol 903-DE.pdf">Technisches Datenblatt Flexsol 903</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Flexsol%20903-FR_0.pdf" type="application/pdf; length=470317" title="TD Flexsol 903-FR.pdf">Fiche technique Flexsol 903</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Flexsol%20903.pdf" type="application/pdf; length=463843" title="TD Flexsol 903.pdf">Technical Data Sheet Flexsol 903</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=FLEXSOL 903" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/367" title="FLEXSOL 903" class="nid">367</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs18">Hilo de soldar</div>
                  <div class="fs30 nc">SnPb(Ag)</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_2 product-row-group view-dom-id-9e7f156df9315ab772b98372a60ee6eb">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/RosIX%20705%20SnPb%28Ag%29.png" width="200" height="200" alt="RosIX 705 SnPb(Ag)"/></div>
                        <div class="product-name">
                          <h3>RosIX 705 SnPb(Ag)</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NUEVO</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon21"></div>
                              <p>Mayor capacidad de mojado</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Olor no molesto</p>
                            </li>
                            <li>
                              <div class="icon35"></div>
                              <p>Alta repetibilidad</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Residuo transparente y leve</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Adecuado para la soldadura por robot</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Rosix 705 SnPb(Ag) es un hilo de soldadura no-clean, base en resina activada, con mayor capacidad de mojado en superficies que son difíciles de soldar en aleaciones SnPb(Ag).</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Rosix 705 SnPb(Ag) es un hilo de soldadura no-clean, base en resina activada, con mayor capacidad de mojado en superficies que son difíciles de soldar en aleaciones SnPb(Ag).<br/>
                            RosIX 705 SnPb(Ag) se puede usar en superficies que son difíciles de soldar, p.e. OSP, Ni, Zn, latón, niquel-zinc, ... así como sobre superficies degradadas y oxidadas.<br/>
                            RO L1 a las normas IPC y EN.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20RosIX%20705%20SnPb%28Ag%29-DE.pdf" type="application/pdf; length=1786789" title="TD RosIX 705 SnPb(Ag)-DE.pdf">Technisches Datenblatt RosIX 705 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Rosix%20705%20SnPb%28Ag%29-FR.pdf" type="application/pdf; length=1851648" title="TD Rosix 705 SnPb(Ag)-FR.pdf">Fiche technique RosIX 705 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Rosix%20705%20SnPb%28Ag%29.pdf" type="application/pdf; length=1904997" title="TD Rosix 705 SnPb(Ag).pdf">Technical Data Sheet RosIX 705 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=RosIX 705 SnPb(Ag)" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/1359" title="RosIX 705 SnPb(Ag)" class="nid">1359</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Interflux-IF14-series-leaded.jpg" width="200" height="200" alt="Interflux IF14 series leaded solder wire"/></div>
                        <div class="product-name">
                          <h3>SERIE IF14 SnPb(Ag)</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon15"></div>
                              <p>Hilo de soldar SnPb(Ag)</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Para reparación y reproceso</p>
                            </li>
                            <li>
                              <div class="icon27"></div>
                              <p>Residuo cepillable</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos
                              </p>
                            </li>
                            <li>
                              <div class="icon26"></div>
                              <p>Absolutamente libre de colofonia</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Bajo residuo</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® series IF 14 son hilos de soldar no-clean,
                            <strong>libre de colofonia</strong>
                            y absolutamente libre de halógeno,
                            <strong>residuo fácil de eliminar</strong>
                            en aleaciones SnPb(Ag)y sin plomo.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® series IF 14 son hilos de soldar no-clean,
                            <strong>libre de colofonia</strong>
                            y absolutamente libre de halógeno, residuo fácil de eliminar en aleaciones SnPb(Ag) y sin plomo.<br/>
                            Eliminación del residuo, manual con brocha<br/>
                            RE L0 según normas EN y  IPC<br/>
                            SnPb(Ag) : IF 14-06, IF 14-09, IF 14-10, IF14-14 (0,6%, 0,9%,1,0% e 1,4% de contenido de flux)<br/>
                            Sin plomo : IF 14-16 e IF 14-22 de contenido de flux</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%2014-06-09-14-DE_0.pdf" type="application/pdf; length=1839549" title="TD IF 14-06-09-14-DE.pdf">Technisches Datenblatt IF 14-06-09-14 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%2014-06-09-14-FR.pdf" type="application/pdf; length=1812757" title="TD IF 14-06-09-14-FR.pdf">Fiche technique IF 14-06-09-14 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%2014-06-09-14_0.pdf" type="application/pdf; length=1811232" title="TD IF 14-06-09-14.pdf">Technical Data Sheet IF 14-06-09-14 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=SERIE IF14 SnPb(Ag)" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/370" title="SERIE IF14 SnPb(Ag)" class="nid">370</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="block-block-17" class="block block-block library-reference last even">
          <div class="inner-block">
            <p>¿No encuentra el producto? Para obtener una lista completa de productos, visite nuestra
              <a href="/es/documents">biblioteca</a>
            </p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}