{% extends "layout.html.njk" %}
{% block meta %}
  <title>预镀锡 | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}zh-hans-pre-tinning
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-pre-tinning page-products i18n-zh-hans section-pre-tinning page-panels
{% endblock %}
{% block page %}
  <div class="region region-language">
    <div class="inner-region">
      <div id="block-locale-language" class="block block-locale language-menu block grid-24 first last odd" role="complementary">
        <div class="inner-block">
          <ul class="language-switcher-locale-url">
            <li class="en first">
              <a href="/en/pre-tinning" class="language-link" lang="en" title="Pre-tinning">
                <div class="flag en"></div>English</a>
            </li>
            <li class="zh-hans active">
              <a href="/zh-hans/pre-tinning" class="language-link active" lang="zh-hans" title="预镀锡">
                <div class="flag zh-hans"></div>简体中文</a>
            </li>
            <li class="cs">
              <a href="/cs/pre-tinning" class="language-link" lang="cs" title="Cínování">
                <div class="flag cs"></div>Čeština</a>
            </li>
            <li class="de">
              <a href="/de/pre-tinning" class="language-link" lang="de" title="Vorverzinnen">
                <div class="flag de"></div>Deutsch</a>
            </li>
            <li class="fr">
              <a href="/fr/pre-tinning" class="language-link" lang="fr" title="Étamage">
                <div class="flag fr"></div>Français</a>
            </li>
            <li class="it">
              <a href="/it/pre-tinning" class="language-link" lang="it" title="Pre-stagnatura">
                <div class="flag it"></div>Italiano</a>
            </li>
            <li class="id">
              <a href="/id/pre-tinning" class="language-link" lang="id" title="Pra-pelapisan timah">
                <div class="flag id"></div>Bahasa Indonesia</a>
            </li>
            <li class="pt-pt">
              <a href="/pt-pt/pre-tinning" class="language-link" lang="pt-pt" title="Pré-estanhagem">
                <div class="flag pt-pt"></div>Português</a>
            </li>
            <li class="ro">
              <a href="/ro/pre-tinning" class="language-link" lang="ro" title="Pre-cositorire">
                <div class="flag ro"></div>Română</a>
            </li>
            <li class="ru">
              <a href="/ru/pre-tinning" class="language-link" lang="ru" title="Лужение">
                <div class="flag ru"></div>Русский</a>
            </li>
            <li class="th">
              <a href="/th/pre-tinning" class="language-link" lang="th" title="การฉาบดีบุกก่อนบัดกรี">
                <div class="flag th"></div>ภาษาไทย</a>
            </li>
            <li class="tr">
              <a href="/tr/pre-tinning" class="language-link" lang="tr">
                <div class="flag tr"></div>Türkçe</a>
            </li>
            <li class="pl">
              <a href="/pl/pre-tinning" class="language-link" lang="pl" title="Cynowanie wstępne">
                <div class="flag pl"></div>Polski</a>
            </li>
            <li class="es">
              <a href="/es/pre-tinning" class="language-link" lang="es" title="Pre estañado">
                <div class="flag es"></div>Español</a>
            </li>
            <li class="sv last">
              <a href="/sv/pre-tinning" class="language-link" lang="sv" title="Pre-tinning">
                <div class="flag sv"></div>Svenska</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-header">
    <div class="inner-region">
      <div id="block-block-11" class="block block-block grid-9 first odd">
        <div class="inner-block">
          <p>
            <a href="/" title="Interflux Electronics"><img src="/assets/images/interflux-electronics-logo.png" width="343" height="87" alt="Interflux Electronics logo"/></a>
          </p>
        </div>
      </div>
      <div id="block-menu-menu-interflux-menu" class="block block-menu grid-15 header-nav last even" role="navigation">
        <div class="inner-block">
          <ul class="menu">
            <li class="first expanded">
              <a href="/zh-hans" title="按类型搜索">产品</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/zh-hans/soldering-fluxes" title="">助焊剂</a>
                </li>
                <li class="leaf">
                  <a href="/zh-hans/solder-pastes" title="">锡膏</a>
                </li>
                <li class="leaf">
                  <a href="/zh-hans/solder-wires" title="">锡线</a>
                </li>
                <li class="leaf">
                  <a href="/zh-hans/spray-fluxers" title="">助焊剂喷雾装置</a>
                </li>
                <li class="last leaf">
                  <a href="/zh-hans/auxiliaries" title="">其他</a>
                </li>
              </ul>
            </li>
            <li class="expanded active-trail">
              <a href="/zh-hans" title="按工艺搜索" class="active-trail">工艺</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/zh-hans/wave-soldering" title="">波峰焊</a>
                </li>
                <li class="leaf">
                  <a href="/zh-hans/selective-soldering" title="">选择焊</a>
                </li>
                <li class="leaf">
                  <a href="/zh-hans/reflow-soldering" title="">回流焊</a>
                </li>
                <li class="leaf">
                  <a href="/zh-hans/rework-and-repair" title="">返修</a>
                </li>
                <li class="last leaf active-trail">
                  <a href="/zh-hans/pre-tinning" title="" class="active-trail active">预镀锡</a>
                </li>
              </ul>
            </li>
            <li class="leaf">
              <a href="/zh-hans/company" title="了解Interflux">公司</a>
            </li>
            <li class="leaf">
              <a href="/zh-hans/documents" title="搜索技术资料">资料</a>
            </li>
            <li class="last leaf">
              <a href="/zh-hans/contact" title="联系">联系方式</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-highlight">
    <div class="inner-region">
      <div id="banners">
        <div class="preload"></div>
        <div class="stage">
          <article id="ipc-apex-2017">
            <a href="https://www.ipcapexexpo.org/" target="_blank" title="Visit us at IPC APEX 2018 in San Diego">
              <picture>
                
                <img src="" alt="Visit use at IPC APEX 2018 in San Diego"/>
              </picture>
            </a>
          </article>
          <article id="productronica-2017">
            <a href="https://www.productronica.com/" target="_blank" title="Visit us at Productronica 2017">
              <img src=""/>
            </a>
          </article>
          <article id="lmpa">
            <a href="https://lmpa.interflux.com" target="_blank">
              <h1>Solder
                <strong>5 times</strong>
                faster whilst maintaining
                <strong>zero defects</strong>
              </h1>
              <h1>Discover
                <mark>LMPA<span>™</span>
                </mark>
              </h1>
              <div id="video">
                <video id="movie" width="276" height="220" autoplay loop>
                  <source src="https://cdn.interflux.com/videos/LMPA-Q-30mms.mp4" type="video/mp4"></source>
                  Your browser doesn't support HTML5 video tag.
                </video>
                <script></script>
                <p>Speed: 30 mm/s</p>
              </div>
            </a>
          </article>
        </div>
        <nav>
          <div id="prev">
            <div></div>
          </div>
          <div id="next">
            <div></div>
          </div>
          <div id="timer">
            <div></div>
          </div>
          <ul></ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="panel-display panel-1col clearfix">
        <div class="panel-panel panel-col">
          <div>
            <div class="panel-pane pane-views pane-process-views-interflux">
              <h2 class="pane-title">
                <div class="fs30">适用于预镀锡的助焊剂</div>
              </h2>
              <div class="pane-content">
                <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_21 product-row-group view-dom-id-27d5f862b2bd1df948831d34eef63d3c">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                      <div class="product-images"><img src="https://cdn.interflux.com/images/products/IF-2005C/IF-2005C-10L-angle@400x400.jpg" width="200" height="200" alt="IF 2005C"/></div>
                      <div class="product-name">
                        <h3>IF 2005C</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon11"></div>
                            <p>醇基</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>适合选择焊</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>预镀锡</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>不含卤素</p>
                          </li>
                          <li>
                            <div class="icon21"></div>
                            <p>强还原性</p>
                          </li>
                          <li>
                            <div class="icon22"></div>
                            <p>可较长时间预热</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>与各类型三防漆都有较好的兼容性</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® IF 2005C 是不含松香、免清洗助焊剂，焊剂含量为2.5%，具有比IF 2005M和IF 2005K更强的活性</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 2005C 是不含松香、免清洗助焊剂，焊剂含量为2.5%，具有比IF 2005M和IF 2005K更强的活性<br/>
                          同时适用于有铅和无铅焊接<br/>
                          适用于发泡及喷淋<br/>
                          OR/L0<br/>
                          固含量：3.3%±0.3%<br/>
                          卤素含量：0.00</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="https://cdn.interflux.com/documents/products/IF-2005C/TD-IF-2005C-DE.pdf">Technisches Datenblatt IF 2005C</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/IF-2005-series-application-doc-DE.pdf">IF 2005-Serie Anwendung</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="https://cdn.interflux.com/documents/products/IF-2005C/TD-IF-2005C-FR.pdf">Fiche technique IF 2005C</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/IF-2005-series-application-doc-FR.pdf">Document d'application de la série IF 2005</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="https://cdn.interflux.com/documents/products/IF-2005C/TD-IF-2005C-EN.pdf">Technical Data Sheet IF 2005C</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/IF-2005-series-application-doc.pdf">IF 2005 series application document</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 2005C" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-2 views-row-even product-row">
                      <div class="product-images"><img src="/assets/images/CLP_P-2009M_7.jpg" width="200" height="200" alt="PACIFIC 2009M"/></div>
                      <div class="product-name">
                        <h3>PACIFIC 2009M</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon12"></div>
                            <p>水基助焊剂</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>适合波峰焊及选择焊</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>预镀锡</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>适用于喷淋</p>
                          </li>
                          <li>
                            <div class="icon06"></div>
                            <p>不含卤素</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>低残留</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>与各类型三防漆都有较好的兼容性</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>低残留</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® PacIFic
                          <strong></strong>2009M 是一款水基型免清洗助焊剂，主要应用于波峰焊和选择焊</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® PacIFic
                          <strong></strong>2009M 是一款水基型免清洗助焊剂，主要应用于波峰焊和选择焊<br/>
                          同时适用于有铅和无铅焊接<br/>
                          OR/L0<br/>
                          固含量：3.7%±0.3%<br/>
                          卤素含量：0.00</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="https://cdn.interflux.com/documents/products/PacIFic-2009M/TD-PacIFic-2009M-DE.pdf">TD PacIFic 2009M-DE.pdf</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="https://cdn.interflux.com/documents/products/PacIFic-2009M/TD-PacIFic-2009M-FR.pdf">Fiche technique PacIFic 2009M</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="https://cdn.interflux.com/documents/products/PacIFic-2009M/TD-PacIFic-2009M-EN.pdf">Technical Data Sheet PacIFic 2009M</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/Kyzen-P2009M.pdf">Cleaning PACIFIC 2009M by KYZEN</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009M" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-3 views-row-odd views-row-last product-row">
                      <div class="product-images"><img src="/assets/images/CLP_IF-3006_7.jpg" width="200" height="200" alt="IF 3006"/></div>
                      <div class="product-name">
                        <h3>IF 3006</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon13"></div>
                            <p>半水半醇</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>适合波峰焊和选择焊</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>适用于选择焊</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>适用于预镀锡</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>不含卤素</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>与各类型三防漆都有较好的兼容性</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux®
                          <strong></strong>IF 3006 是一款不含松香免清洗助焊剂</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 3006 是一款不含松香免清洗助焊剂<br/>
                          同时适用于有铅和无铅焊接<br/>
                          预镀锡<br/>
                          OR/L0<br/>
                          固含量：3.2%±0.2%<br/>
                          卤素含量：0.00</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="https://cdn.interflux.com/documents/products/IF-3006/TD-IF-3006-DE.pdf">Technisches Datenblatt IF 3006</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="https://cdn.interflux.com/documents/products/IF-3006/TD-IF-3006-FR.pdf">Fiche technique IF 3006</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="https://cdn.interflux.com/documents/products/IF-3006/TD-IF-3006-EN.pdf">Technical Data Sheet IF 3006</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 3006" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-process-views-interflux">
              <h2 class="pane-title">
                <div class="fs30">预镀锡辅助物</div>
              </h2>
              <div class="pane-content">
                <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_25 product-row-group view-dom-id-b17c10855a11b9ad8186c6218867a95d">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                      <div class="product-images"><img src="/assets/images/IF-910_final2.png" width="200" height="200" alt="IF 910 de-oxidation oil"/></div>
                      <div class="product-name">
                        <h3>IF 910</h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>抗氧化油</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>可用于选择性焊接</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>可用于预先沾锡</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>可用于浸焊</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>可用于有铅焊接</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>可用于无铅焊接</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® IF 910 可在锡槽中将氧化物从焊锡中分离出来</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 910 910 可在锡槽中将氧化物从焊锡中分离出来。<br/>
                          减少焊锡消耗量</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-910-DE.pdf">Technisches Datenblatt IF 910</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-910-FR.pdf">Fiche technique IF 910</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-910.pdf">Technical Data Sheet IF 910</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 910" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-2 views-row-even product-row">
                      <div class="product-images"><img src="/assets/images/CLP_AOP-lead-free.jpg" width="200" height="200" alt="Anti-oxidant pellets"/><img src="/assets/images/CLP_AOP-SnPb.jpg" width="200" height="200" alt=""/></div>
                      <div class="product-name">
                        <h3>抗氧化合金</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>可用于波峰焊</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>可用于选择性焊接</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>可用于预先沾锡</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>可用于有铅焊接</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>可用于无铅焊接</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® 抗氧化合金可最小化锡槽（锡铅、无铅）中氧化物的形成。</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux®抗氧化合金可最小化锡槽（锡铅、无铅）中氧化物的形成。<br/>
                          对于锡铅（蓝色标签）或无铅（绿色标签）合金，抗氧化合金不推荐用于封闭的惰性气体环境以及使用含镍的焊料时。</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Anti-oxidant-pellets-DE.pdf">Technisches Datenblatt Anti-oxidant pellets</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Anti-oxidant-pellets-FR.pdf">Fiche technique Anti-oxidant pellets</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Anti-oxidant-pellets.pdf">Technical Data Sheet Anti-oxidant pellets</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=抗氧化合金" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-3 views-row-odd product-row">
                      <div class="product-images"><img src="/assets/images/solder-bars_0.jpg" width="200" height="200" alt="solder bars"/></div>
                      <div class="product-name">
                        <h3>锡条</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>可用于波峰焊</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>可用于选择性焊接</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>可用于预镀锡</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>可用于浸焊</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® 锡条是由高纯度，低氧化金属制成，包括锡铅（银）合金和无铅合金</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® 锡条是由高纯度，低氧化金属制成，包括锡铅（银）合金和无铅合金</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Lead-free-alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-SnPbAg-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/General-info-lead-free-alloys.pdf">Short properties overview</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=锡条" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-4 views-row-even product-row">
                      <div class="product-images"><img src="/assets/images/plain-wire-2mm-4kg-5.png" width="200" height="200" alt="Plain Solder Wire"/></div>
                      <div class="product-name">
                        <h3>纯锡线</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon02"></div>
                            <p>适用于选择焊</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>适用于预镀锡</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>适用于浸焊</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® 纯锡线适用于选择焊接系统中的自动焊接</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® 纯锡线适用于选择焊接系统中的自动焊接。<br/>
                          锡线直径：2mm<br/>
                          4kg卷装<br/>
                          规格：125mmx125mm（直径x长度）</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Lead-free-alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-SnPbAg-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/General-info-lead-free-alloys.pdf">Short properties overview</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=纯锡线" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-5 views-row-odd views-row-last product-row">
                      <div class="product-images"><img src="/assets/images/grenailles.png" width="200" height="200" alt="Solder Grenailles"/></div>
                      <div class="product-name">
                        <h3>锡团</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>可用于波峰焊</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>可用于选择性焊接</p>
                          </li>
                          <li>
                            <div class="icon04"></div>
                            <p>可用于返修</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>可用于预镀锡</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>可用于浸焊</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® 锡团是小粒的焊锡，为了便于填充锡槽，有无铅合金和锡铅（银）合金</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® 锡团是小粒的焊锡，为了便于填充锡槽，有无铅合金和锡铅（银）合金<br/>
                          尺寸：（大约）1CM*1CM</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Lead-free-alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-SnPbAg-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/General-info-lead-free-alloys.pdf">Short properties overview</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=锡团" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="block-block-17" class="block block-block library-reference last even">
        <div class="inner-block">
          <p>找不到所需的产品？请所搜文库中的详细产品列表 -
            <a href="/zh-hans/documents">资料</a>
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-footer2">
    <div class="inner-region">
      <div id="block-block-18" class="block block-block first last odd">
        <div class="inner-block">
          <div class="block grid-12" id="F1">
            <div class="inner-block">
              <div class="inner-content">
                <a href="/en/contact" title="Go to the contact page for more information"><img src="/assets/images/Interflux-Electronics-headquarters-belgium.jpg" width="171" height="271" alt="Interflux Electronics Belgium office building"/></a>
                <div class="contact-title">
                  <span>联系</span><br/>INTERFLUX<br/>总部</div>
                <div class="contact-adress">
                  <p>
                    Interflux Electronics NV<br/>
                    Gent zeehaven 3170A<br/>
                    Eddastraat 51<br/>
                    9042 Gent<br/>
                    BELGIUM</p>
                  <p>Tel.: +32 9251 4959<br/>
                    Fax: +32 9251 4970<br/>
                    <a href="mailto:info@interflux.com" target="_blank">info@interflux.com</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="block grid-12" id="F2">
            <div class="inner-block">
              <div class="inner-content">
                <div class="contact-title">
                  <span>联系</span><br/>INTERFLUX分部</div>
                <p>
                  <a href="/en/contact" title="Go to the contact page for more information"><img src="/assets/images/interflux-worldwide-map.jpg" width="446" height="196" alt="Geographical map of the Interflux group"/></a>
                </p>
              </div>
            </div>
          </div>
          <div class="block grid-24" id="F3">
            <div class="copyright">©2012 Interflux版权所有</div>
            <div class="louder-than-words">Website by
              <a href="https://nabu.io" target="_new" title="NABU websites">NABU websites</a>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
{% endblock %}