{% extends "layout.html.njk" %}
{% block meta %}
  <title>Flux de brasage | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}fr-soldering-fluxes
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-soldering-fluxes page-products i18n-fr section-soldering-fluxes page-panels
{% endblock %}
{% block page %}
  <div class="region region-language">
    <div class="inner-region">
      <div id="block-locale-language" class="block block-locale language-menu block grid-24 first last odd" role="complementary">
        <div class="inner-block">
          <ul class="language-switcher-locale-url">
            <li class="en first">
              <a href="/en/soldering-fluxes" class="language-link" lang="en" title="Soldering fluxes">
                <div class="flag en"></div>English</a>
            </li>
            <li class="zh-hans">
              <a href="/zh-hans/soldering-fluxes" class="language-link" lang="zh-hans" title="助焊剂">
                <div class="flag zh-hans"></div>简体中文</a>
            </li>
            <li class="cs">
              <a href="/cs/soldering-fluxes" class="language-link" lang="cs" title="Pájecí tavidla">
                <div class="flag cs"></div>Čeština</a>
            </li>
            <li class="de">
              <a href="/de/soldering-fluxes" class="language-link" lang="de" title="Flussmittel">
                <div class="flag de"></div>Deutsch</a>
            </li>
            <li class="fr active">
              <a href="/fr/soldering-fluxes" class="language-link active" lang="fr" title="Flux de brasage">
                <div class="flag fr"></div>Français</a>
            </li>
            <li class="it">
              <a href="/it/soldering-fluxes" class="language-link" lang="it" title="Flussanti per saldatura">
                <div class="flag it"></div>Italiano</a>
            </li>
            <li class="id">
              <a href="/id/soldering-fluxes" class="language-link" lang="id" title="Flux penyolderan">
                <div class="flag id"></div>Bahasa Indonesia</a>
            </li>
            <li class="pt-pt">
              <a href="/pt-pt/soldering-fluxes" class="language-link" lang="pt-pt" title="Fluxos de soldadura">
                <div class="flag pt-pt"></div>Português</a>
            </li>
            <li class="ro">
              <a href="/ro/soldering-fluxes" class="language-link" lang="ro" title="Fluxuri">
                <div class="flag ro"></div>Română</a>
            </li>
            <li class="ru">
              <a href="/ru/soldering-fluxes" class="language-link" lang="ru" title="Паяльные флюсы">
                <div class="flag ru"></div>Русский</a>
            </li>
            <li class="th">
              <a href="/th/soldering-fluxes" class="language-link" lang="th" title="ฟลักซ์บัดกรี">
                <div class="flag th"></div>ภาษาไทย</a>
            </li>
            <li class="tr">
              <a href="/tr/soldering-fluxes" class="language-link" lang="tr">
                <div class="flag tr"></div>Türkçe</a>
            </li>
            <li class="pl">
              <a href="/pl/soldering-fluxes" class="language-link" lang="pl" title="Topniki lutownicze">
                <div class="flag pl"></div>Polski</a>
            </li>
            <li class="es">
              <a href="/es/soldering-fluxes" class="language-link" lang="es" title="Fluxes de soldadura">
                <div class="flag es"></div>Español</a>
            </li>
            <li class="sv last">
              <a href="/sv/soldering-fluxes" class="language-link" lang="sv" title="Flussmedel">
                <div class="flag sv"></div>Svenska</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-header">
    <div class="inner-region">
      <div id="block-block-11" class="block block-block grid-9 first odd">
        <div class="inner-block">
          <p>
            <a href="/fr/" title="Interflux Electronics"><img src="/assets/images/interflux-electronics-logo.png" width="343" height="87" alt="Logo de Interflux Electronics"/></a>
          </p>
        </div>
      </div>
      <div id="block-menu-menu-interflux-menu" class="block block-menu grid-15 header-nav last even" role="navigation">
        <div class="inner-block">
          <ul class="menu">
            <li class="first expanded active-trail">
              <a href="/fr" title="Trouver un produit par type" class="active-trail">Produits</a>
              <ul class="menu">
                <li class="first leaf active-trail">
                  <a href="/fr/soldering-fluxes" title="" class="active-trail active">Flux de brasage</a>
                </li>
                <li class="leaf">
                  <a href="/fr/solder-pastes" title="">Crèmes à braser</a>
                </li>
                <li class="leaf">
                  <a href="/fr/solder-wires" title="">Fils à braser</a>
                </li>
                <li class="leaf">
                  <a href="/fr/spray-fluxers" title="">Fluxeur spray</a>
                </li>
                <li class="last leaf">
                  <a href="/fr/auxiliaries" title="">Auxiliaires</a>
                </li>
              </ul>
            </li>
            <li class="expanded">
              <a href="/fr" title="Trouver un produit par process">Process</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/fr/wave-soldering" title="">Brasage à la vague</a>
                </li>
                <li class="leaf">
                  <a href="/fr/selective-soldering" title="">Brasage sélectif</a>
                </li>
                <li class="leaf">
                  <a href="/fr/reflow-soldering" title="">Brasage en refusion</a>
                </li>
                <li class="leaf">
                  <a href="/fr/rework-and-repair" title="">Retouche et réparation</a>
                </li>
                <li class="last leaf">
                  <a href="/fr/pre-tinning" title="">Étamage</a>
                </li>
              </ul>
            </li>
            <li class="leaf">
              <a href="/fr/company" title="Au sujet d&#039;Interflux">Entreprise</a>
            </li>
            <li class="leaf">
              <a href="/fr/documents" title="Trouver une fiche technique">Documents</a>
            </li>
            <li class="last leaf">
              <a href="/fr/contact" title="Entrer en contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-highlight">
    <div class="inner-region">
      <div id="banners">
        <div class="preload"></div>
        <div class="stage">
          <article id="ipc-apex-2017">
            <a href="http://www.ipcapexexpo.org/" target="_blank" title="Visit us at IPC APEX 2018 in San Diego">
              <picture>
                <source srcset="http://www.interflux.com/sites/all/themes/zen_interflux/images/banner-ipc-apex-2018@2x.jpg 2x, http://www.interflux.com/sites/all/themes/zen_interflux/images/banner-ipc-apex-2018.jpg 1x"></source>
                <img src="http://www.interflux.com/sites/all/themes/zen_interflux/images/banner-ipc-apex-2018@2x.jpg" alt="Visit use at IPC APEX 2018 in San Diego"/>
              </picture>
            </a>
          </article>
          <article id="productronica-2017">
            <a href="http://www.productronica.com/" target="_blank" title="Visit us at Productronica 2017">
              <img src="http://www.interflux.com/sites/all/themes/zen_interflux/images/productronica-banner-2017.jpg"/>
            </a>
          </article>
          <article id="lmpa">
            <a href="https://lmpa.interflux.com" target="_blank">
              <h1>Solder
                <strong>5 times</strong>
                faster whilst maintaining
                <strong>zero defects</strong>
              </h1>
              <h1>Discover
                <mark>LMPA<span>™</span>
                </mark>
              </h1>
              <div id="video">
                <video id="movie" width="276" height="220" autoplay loop>
                  <source src="https://cdn.interflux.com/videos/LMPA-Q-30mms.mp4" type="video/mp4"></source>
                  Your browser doesn't support HTML5 video tag.
                </video>
                <script></script>
                <p>Speed: 30 mm/s</p>
              </div>
            </a>
          </article>
        </div>
        <nav>
          <div id="prev">
            <div></div>
          </div>
          <div id="next">
            <div></div>
          </div>
          <div id="timer">
            <div></div>
          </div>
          <ul></ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="panel-display panel-1col clearfix">
        <div class="panel-panel panel-col">
          <div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs18">Flux de brasage</div>
                <div class="fs30">à base d'alcool</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_5 product-row-group view-dom-id-55798cb0d6a3daa69aa0744ab24c7053">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_OSPI-3311M_5.jpg" width="200" height="200" alt="OSPI 3311M soldering flux"/></div>
                      <div class="product-name">
                        <h3>OSPI 3311M</h3>
                      </div>
                      <div class="product-highlight">
                        <h3>NOUVEAU</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon11"></div>
                            <p>Flux à base d’alcool</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Pour le brasage à la vague</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolument sans halogènes</p>
                          </li>
                          <li>
                            <div class="icon21"></div>
                            <p>Fort pouvoir de désoxydation</p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>Pour le brasage de la finition OSP (cuivre passivé)</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® OSPI 3311M est un flux à base d'alcool sans nettoyage pour le brasage des circuits avec
                          <strong>la finition OSP</strong>
                          qui ont passé un ou plusieurs process de refusion.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® OSPI 3311M est un flux à base d'alcool sans nettoyage pour le brasage des circuits avec
                          <strong>la finition OSP</strong>
                          qui ont passé un ou plusieurs process de refusion.<br/>
                          Compatible pour le brasage avec plomb et sans plomb<br/>
                          Classé OR L0 dans les normes EN et IPC<br/>
                          Contenu d'halogènes: 0,00%</p>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=OSPI 3311M" target="_blank">More information / demo / samples</a>
                      </div>
                      <a href="/fr/849" title="OSPI 3311M" class="nid">849</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_IF-2005M_3.jpg" width="200" height="200" alt=""/></div>
                      <div class="product-name">
                        <h3>IF 2005M</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon11"></div>
                            <p>Flux à base d’alcool</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Pour le brasage à la vague</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolument sans halogènes</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Grande compatibilité avec vernis de tropicalisation</p>
                          </li>
                          <li>
                            <div class="icon19"></div>
                            <p>"No-residue ™"</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Le flux Interflux® IF 2005M est
                          <strong>internationalement reconnu</strong>
                          comme étant
                          <strong>le standard</strong>
                          "No-residue ™",sans résine, sans colophane et sans nettoyage.</p>
                      </div>
                      <div class="product-details">
                        <p>Le flux Interflux® IF 2005M est internationalement reconnu comme étant le standard "No-residue ™",sans résine, sans colophane et sans nettoyage.<br/>
                          Le flux Interflux® IF 2005M est dans la liste QPL (Approuvé MIL-F-14256F).<br/>
                          Compatible pour le brasage avec plomb et sans plomb<br/>
                          Conseillé pour le fluxage par spray ou par mousse<br/>
                          Classé OR L0 dans les normes EN et IPC<br/>
                          Pourcentage de matière solide : 1.85% ±0,15<br/>
                          Contenu d’halogènes : 0.00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-2005M-DE.pdf">Technisches Datenblatt IF 2005M</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/IF-2005-series-application-doc-DE.pdf">IF 2005-Serie Anwendung</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-2005M-FR.pdf">Fiche technique IF 2005M</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/IF-2005-series-application-doc-FR.pdf">Document d'application de la série IF 2005</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-2005M.pdf">Technical Data Sheet IF 2005M</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/IF-2005-series-application-doc.pdf">IF 2005 series application document</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 2005M" target="_blank">More information / demo / samples</a>
                      </div>
                      <a href="/fr/474" title="IF 2005M" class="nid">474</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_IF-2005K_7.jpg" width="200" height="200" alt="IF 2005K"/></div>
                      <div class="product-name">
                        <h3>IF 2005K</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon11"></div>
                            <p>Flux à base d’alcool</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Pour le brasage à la vague</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolument sans halogènes</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Grande compatibilité avec vernis de tropicalisation</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Faibles résidus</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Le flux Interflux® IF 2005K avec 2.5% de matière solide est sans résine, sans colophane et sans nettoyage. S'utilise quand le process de brasage nécessite
                          <strong>plus d’activation que le flux IF 2005M</strong>.
                        </p>
                      </div>
                      <div class="product-details">
                        <p>Le flux Interflux® IF 2005K avec 2.5% de matière solide est sans résine, sans colophane et sans nettoyage. Il peut être utilisé quand le process de brasage nécessite plus d’activation que le flux IF 2005M.<br/>
                          Compatible pour le brasage avec plomb et sans plomb<br/>
                          Conseillé pour le fluxage par spray ou par mousse<br/>
                          Classé OR L0 dans les normes EN et IPC<br/>
                          Pourcentage de matière solide : 2.5% ±0,3<br/>
                          Contenu d’halogènes : 0.00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-2005K-DE.pdf">Technisches Datenblatt IF 2005K</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/IF-2005-series-application-doc-DE.pdf">IF 2005-Serie Anwendung</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-2005K-FR.pdf">Fiche technique IF 2005K</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/IF-2005-series-application-doc-FR.pdf">Document d'application de la série IF 2005</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-2005K.pdf">Technical Data Sheet IF 2005K</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/IF-2005-series-application-doc.pdf">IF 2005 series application document</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 2005K" target="_blank">More information / demo / samples</a>
                      </div>
                      <a href="/fr/475" title="IF 2005K" class="nid">475</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_IF-2005C_7.jpg" width="200" height="200" alt="IF 2005C"/></div>
                      <div class="product-name">
                        <h3>IF 2005C</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon11"></div>
                            <p>Flux à base d'alcool</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Pour le brasage sélectif</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Pour l’étamage</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolument sans halogènes</p>
                          </li>
                          <li>
                            <div class="icon21"></div>
                            <p>Fort pouvoir de désoxydation</p>
                          </li>
                          <li>
                            <div class="icon22"></div>
                            <p>Grande résistance au préchauffage</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Grande compatibilité avec vernis de tropicalisation</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Le flux Interflux® IF 2005C avec 3.3% de matière solide est sans résine, sans colophane et sans nettoyage. S'utilise quand le process de brasage nécessite
                          <strong>plus d’activation que les flux IF 2005M / IF 2005K</strong>.</p>
                      </div>
                      <div class="product-details">
                        <p>Le flux Interflux® IF 2005C avec 3.3% de matière solide est sans résine, sans colophane et sans nettoyage. Il peut être utilisé quand le process de brasage nécessite plus d’activation que les flux IF 2005M / IF 2005K.<br/>
                          Compatible pour le brasage avec plomb et sans plomb<br/>
                          Conseillé pour le fluxage par spray ou par mousse<br/>
                          Classé OR L0 dans les normes EN et IPC<br/>
                          Pourcentage de matière solide : 3.3% ±0,3<br/>
                          Contenu d’halogènes : 0.00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-2005C-DE.pdf">Technisches Datenblatt IF 2005C</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/IF-2005-series-application-doc-DE.pdf">IF 2005-Serie Anwendung</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-2005C-FR.pdf">Fiche technique IF 2005C</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/IF-2005-series-application-doc-FR.pdf">Document d'application de la série IF 2005</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-2005C.pdf">Technical Data Sheet IF 2005C</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/IF-2005-series-application-doc.pdf">IF 2005 series application document</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 2005C" target="_blank">More information / demo / samples</a>
                      </div>
                      <a href="/fr/476" title="IF 2005C" class="nid">476</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs18">Flux de brasage</div>
                <div class="fs25">à base d'eau "VOC-free"</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_7 product-row-group view-dom-id-cc9a80ac2f006df7f3de542222e3667a">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/SelectIF2040-2.png" width="200" height="200" alt="SelectIF 2040"/></div>
                      <div class="product-name">
                        <h3>SELECTIF 2040</h3>
                      </div>
                      <div class="product-highlight">
                        <h3>Nouveau</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon12"></div>
                            <p>Flux à base d'eau</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Pour le brasage sélectif</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolument sans halogènes</p>
                          </li>
                          <li>
                            <div class="icon21"></div>
                            <p>Fort pouvoir de désoxydation</p>
                          </li>
                          <li>
                            <div class="icon22"></div>
                            <p>Résistant aux températures élevées</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Grande compatibilité avec vernis de tropicalisation</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Faibles résidus</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Le flux Interflux® SelectIF 2040 est à base d’eau et sans nettoyage pour le
                          <strong>brasage sélectif</strong>. Le flux possède une large fenêtre de process avec une faible formation de résidus.</p>
                      </div>
                      <div class="product-details">
                        <p>Le flux Interflux® SelectIF 2040 est à base d’eau et sans nettoyage pour le brasage sélectif. Le flux possède une large fenêtre de process avec une faible formation de résidus.<br/>
                          Compatible pour le brasage avec plomb et sans plomb<br/>
                          Classé OR L0 dans les normes EN et IPC<br/>
                          Pourcentage de matière solide: 6,5% ±0,2<br/>
                          Contenu d'halogènes: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-SelectIF-2040-DE.pdf">Technisches Datenblatt SelectIF 2040</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-SelectIF-2040-FR.pdf">Fiche technique SelectIF 2040</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-SelectIF-2040.pdf">Technical Data Sheet SelectIF 2040</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=SELECTIF 2040" target="_blank">More information / demo / samples</a>
                      </div>
                      <a href="/fr/492" title="SELECTIF 2040" class="nid">492</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_P-2009M_7.jpg" width="200" height="200" alt="PACIFIC 2009M"/></div>
                      <div class="product-name">
                        <h3>PACIFIC 2009M</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon12"></div>
                            <p>Flux à base d’eau</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Pour le brasage à la vague</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Pour le brasage sélectif</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Pour l’étamage</p>
                          </li>
                          <li>
                            <div class="icon06"></div>
                            <p>Pour le fluxage par spray</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolument sans halogènes</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Grande compatibilité avec vernis de tropicalisation</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Faibles résidus</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Le flux Interflux® PacIFic 2009M est à base d’eau et sans nettoyage. S’utilise pour
                          <strong>le brasage à la vague</strong>
                          et le brasage
                          <strong>sélectif</strong>.</p>
                      </div>
                      <div class="product-details">
                        <p>Le flux Interflux® PacIFic 2009M est à base d’eau et sans nettoyage. S’utilise pour le brasage à la vague et le brasage sélectif.<br/>
                          Compatible pour le brasage avec plomb et sans plomb<br/>
                          Classé OR L0 dans les normes EN et IPC<br/>
                          Pourcentage de matière solide : 3,7% ±0,15<br/>
                          Contenu d’halogènes : 0.00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-PacIFic-2009M-DE.pdf">TD PacIFic 2009M-DE.pdf</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-PacIFic-2009M-FR.pdf">Fiche technique PacIFic 2009M</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-PacIFic-2009M.pdf">Technical Data Sheet PacIFic 2009M</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/Kyzen-P2009M.pdf">Cleaning PACIFIC 2009M by KYZEN</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009M" target="_blank">More information / demo / samples</a>
                      </div>
                      <a href="/fr/477" title="PACIFIC 2009M" class="nid">477</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_P-2009MLF_8.jpg" width="200" height="200" alt="PACIFIC 2009MLF"/></div>
                      <div class="product-name">
                        <h3>PACIFIC 2009MLF</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon12"></div>
                            <p>Flux à base d’eau</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Pour le brasage à la vague</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Pour le brasage sélectif</p>
                          </li>
                          <li>
                            <div class="icon06"></div>
                            <p>Pour le fluxage par spray</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolument sans halogènes</p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>
                              <strong>Réduit le micro-billage</strong>
                            </p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Le flux PacIFic 2009MLF est à base d’eau et sans nettoyage, il a été développé afin de
                          <strong>minimiser la formation de micro-billes</strong>.</p>
                      </div>
                      <div class="product-details">
                        <p>Le flux PacIFic 2009MLF est à base d’eau et sans nettoyage, il a été développé afin de minimiser la formation de micro-billes.<br/>
                          Compatible pour le brasage avec plomb et sans plomb<br/>
                          Principale utilisation : brasage à la vague et brasage sélectif<br/>
                          Classé OR L0 dans les normes EN et IPC<br/>
                          Pourcentage de matière solide : 3,6% ±0,2<br/>
                          Contenu d’halogènes : 0.00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-PacIFic-2009MLF-DE.pdf">Technisches Datenblatt PacIFic 2009MLF</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-PacIFic-2009MLF-FR.pdf">Fiche technique PacIFic 2009MLF</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-PacIFic-2009MLF.pdf">Technical Data Sheet PacIFic 2009MLF</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009MLF" target="_blank">More information / demo / samples</a>
                      </div>
                      <a href="/fr/478" title="PACIFIC 2009MLF" class="nid">478</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_P-2009MLF-E_6.jpg" width="200" height="200" alt="PACIFIC 2009MLF-E"/></div>
                      <div class="product-name">
                        <h3>PACIFIC 2009MLF-E</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon12"></div>
                            <p>Flux à base d’eau</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Pour le brasage à la vague</p>
                          </li>
                          <li>
                            <div class="icon06"></div>
                            <p>Pour le fluxage par spray</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolument sans halogènes</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Réduit la présence de résidus</p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>
                              <strong>Réduit le micro-billage</strong>
                            </p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Le flux PacIFic 2009MLF-E est à base d’eau et sans nettoyage, il a été développé afin de combiner une
                          <strong>réduction</strong>
                          de la formation
                          <strong>de micro-billes avec de faibles résidus</strong>.</p>
                      </div>
                      <div class="product-details">
                        <p>Le flux PacIFic 2009MLF-E est à base d’eau et sans nettoyage, il a été développé afin de combiner une réduction de la formation de micro-billes avec de faibles résidus.<br/>
                          Compatible pour le brasage avec plomb et sans plomb<br/>
                          Principale utilisation : brasage à la vague<br/>
                          Classé OR L0 dans les normes EN et IPC<br/>
                          Pourcentage de matière solide : 3,6% ±0,25<br/>
                          Contenu d’halogènes : 0.00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-PacIFic-2009MLF-E-DE.pdf">Technisches Datenblatt PacIFic 2009MLF-E</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-PacIFic-2009MLF-E-DE.pdf">Fiche technique PacIFic 2009MLF-E</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-PacIFic-2009MLF-E.pdf">Technical Data Sheet PacIFic 2009MLF-E</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009MLF-E" target="_blank">More information / demo / samples</a>
                      </div>
                      <a href="/fr/479" title="PACIFIC 2009MLF-E" class="nid">479</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_P-2010F_7.jpg" width="200" height="200" alt="PACIFIC 2010F"/></div>
                      <div class="product-name">
                        <h3>PACIFIC 2010F</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon12"></div>
                            <p>Flux à base d’eau</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Pour le brasage à la vague</p>
                          </li>
                          <li>
                            <div class="icon06"></div>
                            <p>Pour le fluxage par spray</p>
                          </li>
                          <li>
                            <div class="icon07"></div>
                            <p>
                              <strong>Pour le fluxage par  mousse</strong>
                            </p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolument sans halogènes</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Grande compatibilité avec vernis de tropicalisation</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Faibles résidus</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Le flux PacIFic 2010F est à base d’eau et sans nettoyage, il a été développé pour les
                          <strong>fluxeurs à mousse</strong>.</p>
                      </div>
                      <div class="product-details">
                        <p>Le flux PacIFic 2010F est à base d’eau et sans nettoyage, il a été développé pour les fluxeurs à mousse.<br/>
                          Compatible pour le brasage avec plomb et sans plomb<br/>
                          Classé OR L0 dans les normes EN et IPC<br/>
                          Pourcentage de matière solide : 2.5% ±0,15<br/>
                          Contenu d’halogènes : 0.00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-PacIFic-2010F-DE.pdf">Technisches Datenblatt PacIFic 2010F</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-PacIFic-2010F-FR.pdf">Fiche technique PacIFic 2010F</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-PacIFic-2010F.pdf">Technical Data Sheet PacIFic 2010F</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2010F" target="_blank">More information / demo / samples</a>
                      </div>
                      <a href="/fr/480" title="PACIFIC 2010F" class="nid">480</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs18">Flux de brasage</div>
                <div class="fs30">à faible "VOC"</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_8 product-row-group view-dom-id-e0bc52802ef38083f280a3c383c9cc9c">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_IF-3006_7.jpg" width="200" height="200" alt="IF 3006"/></div>
                      <div class="product-name">
                        <h3>IF 3006</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon13"></div>
                            <p>Faible VOC</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Pour le brasage à la vague</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Pour le fluxage par spray</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Pour l'étamage</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolument sans halogènes</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Grande compatibilité avec vernis de tropicalisation</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Le flux Interflux® IF 3006 et sans résine, sans colophane et sans nettoyage avec
                          <strong>une teneur en VOC réduite</strong>.</p>
                      </div>
                      <div class="product-details">
                        <p>Le flux Interflux® IF 3006 et sans résine, sans colophane et sans nettoyage avec une teneur en VOC réduite.<br/>
                          Compatible pour le brasage avec plomb et sans plomb<br/>
                          Convient pour l’étamage<br/>
                          Classé OR L0 dans les normes EN et IPC<br/>
                          Pourcentage de matière solide : 3,2%  ±0,4<br/>
                          Contenu d’halogènes : 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-3006-DE.pdf">Technisches Datenblatt IF 3006</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-3006-FR.pdf">Fiche technique IF 3006</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-3006.pdf">Technical Data Sheet IF 3006</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 3006" target="_blank">More information / demo / samples</a>
                      </div>
                      <a href="/fr/483" title="IF 3006" class="nid">483</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs18">Flux de brasage</div>
                <div class="fs27">à base de colophane</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_6 product-row-group view-dom-id-ce3a31485bc939e70db6c4d72fe98635">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_AF-4818PbF_rechtsom.jpg" width="200" height="200" alt="AF 4818PbF"/></div>
                      <div class="product-name">
                        <h3>AF 4818 PBF</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon14"></div>
                            <p>Contient de la colophane</p>
                          </li>
                          <li>
                            <div class="icon11"></div>
                            <p>Flux à base d’alcool</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Pour le brasage à la vague</p>
                          </li>
                          <li>
                            <div class="icon06"></div>
                            <p>Pour le fluxage par spray</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolument sans halogènes</p>
                          </li>
                          <li>
                            <div class="icon21"></div>
                            <p>Fort pouvoir de désoxydation</p>
                          </li>
                          <li>
                            <div class="icon22"></div>
                            <p>Grande résistance au préchauffage</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Le flux Interflux® AF 4818 PbF est à base de solvant et contient de la colophane. Il est sans nettoyage avec un pourcentage de matière solide élevé et une large fenêtre de process.</p>
                      </div>
                      <div class="product-details">
                        <p>Le flux Interflux® AF 4818 PbF est à base de solvant et contient de la colophane. Il est sans nettoyage avec un pourcentage de matière solide élevé et une large fenêtre de process.<br/>
                          Compatible pour le brasage avec plomb et sans plomb<br/>
                          Classé OR L0 dans les normes EN et IPC<br/>
                          Pourcentage de matière solide : 5%<br/>
                          Contenu d’halogènes : 0.00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-AF-4818-PbF-DE.pdf">Technisches Datenblatt AF 4818PbF</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-AF-4818-PbF.pdf">Technical Data Sheet AF 4818PbF</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=AF 4818 PBF" target="_blank">More information / demo / samples</a>
                      </div>
                      <a href="/fr/484" title="AF 4818 PBF" class="nid">484</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs18">Flux de brasage pour</div>
                <div class="fs22">la retouche & la réparation</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_10 product-row-group view-dom-id-2680e275add2780e34a24e929d1f2d2a">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_IF-8300.jpg" width="200" height="200" alt="IF 8300"/></div>
                      <div class="product-name">
                        <h3>SÉRIE IF 8300</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon04"></div>
                            <p>Pour la retouche et la réparation</p>
                          </li>
                          <li>
                            <div class="icon03"></div>
                            <p>Pour le brasage par refusion</p>
                          </li>
                          <li>
                            <div class="icon08"></div>
                            <p>Pour le "dispensing"</p>
                          </li>
                          <li>
                            <div class="icon09"></div>
                            <p>Pour la sérigraphie</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Pour le tremper</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolument sans halogènes</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Faibles résidus</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>La série des
                          <strong>flux en gel</strong>
                          Interflux® IF 8300 est sans nettoyage, sans halogènes et possède un
                          <strong>excellent pouvoir d’adhésion</strong>.</p>
                      </div>
                      <div class="product-details">
                        <p>La série des flux en gel Interflux® IF 8300 est sans nettoyage, sans halogènes et possède un excellent pouvoir d’adhésion.<br/>
                          Compatible pour le brasage avec plomb et sans plomb<br/>
                          Conseillé pour le rebillage des BGA<br/>
                          Classé RE L0 dans les normes EN et IPC<br/>
                          Contenu d’halogènes : 0.00%<br/>
                          3 différentes viscosités<br/>
                          IF 8300 : 210 kcps<br/>
                          IF 8300-4 : 70 kcps<br/>
                          IF 8300-6 : 25 kcps</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-8300-DE.pdf">Technisches Datenblatt IF 8300</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-8300-FR.pdf">Fiche technique IF 8300</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-8300.pdf">Technical Data Sheet IF 8300</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=SÉRIE IF 8300" target="_blank">More information / demo / samples</a>
                      </div>
                      <a href="/fr/485" title="SÉRIE IF 8300" class="nid">485</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/Interflux-IF7500HAB_0.jpg" width="200" height="200" alt="Interflux IF7500HAB solder flux"/><img typeof="foaf:Image" src="/assets/images/Interflux-IF7500HAB-tube.jpg" width="200" height="200" alt="Interflux IF7500HAB solder flux"/></div>
                      <div class="product-name">
                        <h3>IF 7500HAB</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon04"></div>
                            <p>Pour la retouche et la réparation</p>
                          </li>
                          <li>
                            <div class="icon03"></div>
                            <p>Pour le brasage par refusion</p>
                          </li>
                          <li>
                            <div class="icon08"></div>
                            <p>Pour le "dispensing"</p>
                          </li>
                          <li>
                            <div class="icon09"></div>
                            <p>Pour la sérigraphie</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Pour le tremper</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolument sans halogènes</p>
                          </li>
                          <li>
                            <div class="icon22"></div>
                            <p>Grande résistance au long profil thermique</p>
                          </li>
                          <li>
                            <div class="icon21"></div>
                            <p>Fort pouvoir de désoxydation</p>
                          </li>
                          <li>
                            <div class="icon14"></div>
                            <p>Contient de la colophane</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Le flux Interflux® IF 7500HAB est sans nettoyage, sans halogènes, flux en gel qui possède une
                          <strong>large fenêtre de process</strong>.</p>
                      </div>
                      <div class="product-details">
                        <p>Le flux Interflux® IF 7500HAB est sans nettoyage, sans halogènes, flux en gel qui possède une large fenêtre de process.<br/>
                          Compatible pour le brasage avec plomb et sans plomb<br/>
                          Conseillé pour le rebillage des BGA<br/>
                          Classé ROM0 dans les normes EN et IPC<br/>
                          Contenu d’halogènes : 0.00%<br/>
                          Viscosité : 200 kcps</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-7500HAB-DE.pdf">Technisches Datenblatt IF 7500HAB</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-7500HAB.pdf">Technical Data Sheet IF 7500HAB</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 7500HAB" target="_blank">More information / demo / samples</a>
                      </div>
                      <a href="/fr/486" title="IF 7500HAB" class="nid">486</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_IF-8001.jpg" width="200" height="200" alt="IF 8001"/></div>
                      <div class="product-name">
                        <h3>IF 8001</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon11"></div>
                            <p>Flux à base d’alcool</p>
                          </li>
                          <li>
                            <div class="icon04"></div>
                            <p>Pour la retouche et la réparation</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolument sans halogènes</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Faibles résidus</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Le flux Interflux® IF 8001 est à base de solvant, sans nettoyage avec de
                          <strong>faibles résidus</strong>
                          pour des applications de fluxage localisées.</p>
                      </div>
                      <div class="product-details">
                        <p>Le flux Interflux® IF 8001 est à base de solvant, sans nettoyage avec de faibles résidus pour des applications de fluxage localisées.<br/>
                          Compatible pour le brasage avec plomb et sans plomb<br/>
                          Utilisation principale : Brasage manuel<br/>
                          Classé REL0 dans les normes EN et IPC<br/>
                          Contenu d’halogènes : 0.00%<br/>
                          IF 8001 est disponible en stylo applicateur de flux rechargeable et non rechargeable</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-8001-DE.pdf">Technisches Datenblatt IF 8001</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-8001-FR.pdf">Fiche technique IF 8001</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-8001.pdf">Technical Data Sheet IF 8001</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 8001" target="_blank">More information / demo / samples</a>
                      </div>
                      <a href="/fr/487" title="IF 8001" class="nid">487</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_IF-6000-1liter.jpg" width="200" height="200" alt=""/></div>
                      <div class="product-name">
                        <h3>IF 6000</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon11"></div>
                            <p>Flux à base d’alcool</p>
                          </li>
                          <li>
                            <div class="icon04"></div>
                            <p>Pour la retouche et la réparation</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolument sans halogènes</p>
                          </li>
                          <li>
                            <div class="icon14"></div>
                            <p>Contient de la colophane</p>
                          </li>
                          <li>
                            <div class="icon21"></div>
                            <p>Fort pouvoir de désoxydation</p>
                          </li>
                          <li>
                            <div class="icon22"></div>
                            <p>Grande résistance au préchauffage</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Le flux Interflux® IF 6000 avec colophane est un flux sans nettoyage avec
                          <strong>une large fenêtre de process</strong>
                          pour des applications de fluxage localisées.</p>
                      </div>
                      <div class="product-details">
                        <p>Le flux Interflux® IF 6000 avec colophane est un flux sans nettoyage avec une large fenêtre de process pour des applications de fluxage localisées.<br/>
                          Compatible pour le brasage avec plomb et sans plomb<br/>
                          Utilisation principale : Brasage manuel, réparation des BGA<br/>
                          Classé RO L0 dans les normes EN et IPC<br/>
                          Contenu d’halogènes : 0.00%<br/>
                          IF 6000 est disponible en stylo applicateur de flux rechargeable et non rechargeable.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-6000-DE.pdf">Technisches Datenblatt IF 6000</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-6000-FR.pdf">Fiche technique IF 6000</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-6000.pdf">Technical Data Sheet IF 6000</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 6000" target="_blank">More information / demo / samples</a>
                      </div>
                      <a href="/fr/488" title="IF 6000" class="nid">488</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_Terrific-RP65-1liter.jpg" width="200" height="200" alt=""/></div>
                      <div class="product-name">
                        <h3>TERRIFIC RP65</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon12"></div>
                            <p>Flux à base d’eau</p>
                          </li>
                          <li>
                            <div class="icon04"></div>
                            <p>Pour la retouche et la réparation</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolument sans halogènes</p>
                          </li>
                          <li>
                            <div class="icon22"></div>
                            <p>Grande résistance au préchauffage</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Le flux TerrIFic RP65 est
                          <strong>à base d’eau</strong>, sans nettoyage pour des applications de fluxage localisées.</p>
                      </div>
                      <div class="product-details">
                        <p>Le flux TerrIFic RP65 est à base d’eau, sans nettoyage pour des applications de fluxage localisées.<br/>
                          Compatible pour le brasage avec plomb et sans plomb<br/>
                          Utilisation principale : Brasage manuel<br/>
                          Classé RO L0 dans les normes EN et IPC<br/>
                          Contenu d’halogènes : 0.00%<br/>
                          TerrIFic RP 65 est disponible en stylo applicateur de flux rechargeable et non rechargeable</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Terrific-RP65-DE.pdf">Technisches Datenblatt TerrIFic RP65</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Terrific-RP65-FR.pdf">Fiche technique TerrIFic RP65</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Terrific-RP65.pdf">Technical Data Sheet TerrIFic RP65</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=TERRIFIC RP65" target="_blank">More information / demo / samples</a>
                      </div>
                      <a href="/fr/489" title="TERRIFIC RP65" class="nid">489</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs28">Diluants pour flux</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_9 product-row-group view-dom-id-ea00165ea6a5ff9595b8bbccaf5630a4">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_T-2005M_1.jpg" width="200" height="200" alt="Interflux T2005M thinner"/><img typeof="foaf:Image" src="/assets/images/Interflux-T2005M.jpg" width="200" height="200" alt="Interflux T2005M thinner"/></div>
                      <div class="product-name">
                        <h3>T 2005M</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon11"></div>
                            <p>A base d’alcool</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolument sans halogènes</p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>Pour la série des flux IF 2005</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® T 2005M est un diluant / conditioneur pour la série des flux IF 2005.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® T 2005M est un diluant / conditionneur pour la série des flux IF 2005<br/>
                          Pour les flux utilisés en fluxeur mousse</p>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=T 2005M" target="_blank">More information / demo / samples</a>
                      </div>
                      <a href="/fr/490" title="T 2005M" class="nid">490</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="block-block-17" class="block block-block library-reference last even">
        <div class="inner-block">
          <p>Vous ne trouvez pas le produit ? Voir la liste complète dans la
            <a href="/fr/documents">librairie</a>
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-footer2">
    <div class="inner-region">
      <div id="block-block-18" class="block block-block first last odd">
        <div class="inner-block">
          <div class="block grid-12" id="F1">
            <div class="inner-block">
              <div class="inner-content">
                <a href="/fr/contact" title="Aller vers la page de contact pour plus d'informations"><img src="/assets/images/Interflux-Electronics-headquarters-belgium.jpg" width="171" height="271" alt="Bureau de Interflux Electronics en Belgique"/></a>
                <div class="contact-title">
                  <span>CONTACTER</span><br/>LA MAISON MERE D'INTERFLUX</div>
                <div class="contact-adress">
                  <p>
                    Interflux Electronics NV<br/>
                    Gent zeehaven 3170A<br/>
                    Eddastraat 51<br/>
                    9042 Gent<br/>
                    BELGIQUE</p>
                  <p>Tel.: +32 9251 4959<br/>
                    Fax: +32 9251 4970<br/>
                    <a href="mailto:info@interflux.com" target="_blank">info@interflux.com</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="block grid-12" id="F2">
            <div class="inner-block">
              <div class="inner-content">
                <div class="contact-title">
                  <span>CONTACTER</span><br/>INTERFLUX DANS LE MONDE</div>
                <p>
                  <a href="/fr/contact" title="Aller vers la page de contact pour plus d'informations"><img src="/assets/images/interflux-worldwide-map.jpg" width="446" height="196" alt="Carte géographique du groupe Interflux"/></a>
                </p>
              </div>
            </div>
          </div>
          <div class="block grid-24" id="F3">
            <div class="copyright">©2012 Tous droits réservés par Interflux Interflux® Electronics N.V.</div>
            <div class="louder-than-words">Site Web de
              <a href="http://nabu.io" target="_new" title="NABU websites">NABU websites</a>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
{% endblock %}