{% extends "layout.html.njk" %}
{% block meta %}
  <title>Lehim Telleri | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}tr-solder-wires
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-solder-wires page-products i18n-tr section-solder-wires page-panels
{% endblock %}
{% block page %}
  {% include "partials/highlight.njk" %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-display panel-1col clearfix">
          <div class="panel-panel panel-col">
            <div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs26">Kurşunsuz</div>
                  <div class="fs18">tel lehimler</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_1 product-row-group view-dom-id-0f3926f2311644b5e0759a5fa9d1cc0f">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_QF70-Pb-free.jpg" width="200" height="200" alt="QF 70 Pb-free"/></div>
                        <div class="product-name">
                          <h3>QF 70</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>YENİ</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon32"></div>
                              <p>Artırılmış lehimleme hızı</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Şeffaf Artık</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Kesinlikle halojen içermez</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>
                            <strong>Interflux® QF 70</strong>, kesinlikle halojen içermeyen, reçine bazlı temizleme gerektirmeyen, kurşunsuz hızlı lehimleme uygulamaları için hızlı lehimleme yapabilen tel lehimdir.</p>
                        </div>
                        <div class="product-details">
                          <p>
                            <strong>QF 70</strong>
                            hem el ile lehimleme, hem de otomatik lehimleme uygulamalarında kullanılabilir.<br/>
                            EN ve IPC standartlarına göre fluks sınıfı: RO L0<br/>
                            Halojen içeriği: %0.00</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-QF-70-DE.pdf" type="application/pdf; length=577835" title="TD QF 70-DE.pdf">Technisches Datenblatt QF70</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-QF-70.pdf" type="application/pdf; length=567824" title="TD QF 70.pdf">Technical Data Sheet QF 70</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=QF 70" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1411" title="QF 70" class="nid">1411</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/NH1-SAC387.png" width="200" height="200" alt="NH1 lead-free solder wire"/></div>
                        <div class="product-name">
                          <h3>NH 1</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NEW</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon21"></div>
                              <p>Increased wetting ability, increased wetting speed</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Low spattering</p>
                            </li>
                            <li>
                              <div class="icon26"></div>
                              <p>Colophony free</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Low transparent residue</p>
                            </li>
                            <li>
                              <div class="icon35"></div>
                              <p>High repeatability</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Perfect for laser soldering</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong>NH 1</strong>
                            is a no-clean
                            <strong>colophony free activated solder wire</strong>
                            that gives fast and repeatable soldering results on a wide range of surfaces including brass, in lead-free alloys.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® NH 1 is a no-clean colophony free activated solder wire that gives fast and repeatable soldering results on a wide range of surfaces including brass, in lead-free alloys.<br/>
                            NH 1 can be used in both hand soldering and auto-mated soldering processes<br/>
                            RE L1 to IPC and EN standards.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-NH-1-DE.pdf" type="application/pdf; length=553998" title="TD NH 1-DE.pdf">Technical Data Sheet NH1</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-NH-1.pdf" type="application/pdf; length=562600" title="TD NH 1.pdf">Technical Data Sheet NH 1</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=NH 1" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1399" title="NH 1" class="nid">1399</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/RosIX-705-SAC.png" width="200" height="200" alt="RosIX 705"/></div>
                        <div class="product-name">
                          <h3>RosIX 705</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NEW</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon21"></div>
                              <p>Increased wetting ability</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Non disturbing smell</p>
                            </li>
                            <li>
                              <div class="icon35"></div>
                              <p>High repeatability</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Smooth transparent residue</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Suitable for robot soldering</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong>RosIX 705</strong>
                            is an activated rosin based, no-clean solder wire with
                            <strong>increased wetting ability
                            </strong>on surfaces that are difficult to solder in lead-free alloys.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® RosIX 705 is an activated rosin based, no-clean solder wire with increased wetting ability on surfaces that are difficult to solder in lead-free alloys.<br/>
                            RosIX 705 can be used on surfaces that are difficult<br/>
                            to solder, e.g. OSP, Ni, Zn, brass, German silver, etc.. as well<br/>
                            as on degraded and oxidized surfaces.<br/>
                            RO L1 to IPC and EN standards.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-RosIX-705-DE.pdf" type="application/pdf; length=1781865" title="TD RosIX 705-DE.pdf">Technisches Datenblatt RosIX 705</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-Rosix-705-FR_0.pdf" type="application/pdf; length=1850021" title="TD Rosix 705-FR.pdf">Fiche Technique RosIX 705</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-RosIX-705.pdf" type="application/pdf; length=1845843" title="TD RosIX 705.pdf">Technical Data Sheet RosIX 705</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=RosIX 705" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1435" title="RosIX 705" class="nid">1435</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/Aquasol4018_2.jpg" width="200" height="200" alt="Aquasol 4018"/></div>
                        <div class="product-name">
                          <h3>AQUASOL 4002</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon17"></div>
                              <p>Suda çözünen tel lehim</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Kurşunsuz tel lehim</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Düzeltme ve tamir için</p>
                            </li>
                            <li>
                              <div class="icon26"></div>
                              <p>Kesinlikle reçine içermez</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Yüksek aktivite</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Aquasol 4018, yüksek aktiviteli, suda çözünür artıklı, kurşunsuz alaşımlar için önerilen tel lehimdir.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Aquasol 4018, yüksek aktiviteli, suda çözünür artıklı, kurşunsuz alaşımlar için önerilen tel lehimdir.<br/>
                            Zayıf lehimlenebilirliği olan yüzeylerde çok iyi ıslatma kabiliyeti<br/>
                            Artıklar temizlenmelidir<br/>
                            Artıklar deionize su ile 35°C-45°C (95°F— 114°F)’de temizlenebilir.<br/>
                            EN ve IPC standartlarına göre fluks sınıfı: OR H1<br/>
                            Fluks içeriği: 2.5%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-Aquasol-4018-DE.pdf" type="application/pdf; length=612173" title="TD Aquasol 4018-DE.pdf">Technisches Datenblatt Aquasol 4018</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-Aquasol-4018-FR.pdf" type="application/pdf; length=613595" title="TD Aquasol 4018-FR.pdf">Fiche Technique Aquasol 4018</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-Aquasol-4018_0.pdf" type="application/pdf; length=613767" title="TD Aquasol 4018.pdf">Technical Data Sheet Aquasol 4018</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=AQUASOL 4002" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1315" title="AQUASOL 4002" class="nid">1315</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/Interflux-IF14-series-lead-free_0.jpg" width="200" height="200" alt="Interflux IF14 series lead-free solder wire"/></div>
                        <div class="product-name">
                          <h3>IF 14 SERIES LEAD-FREE</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon16"></div>
                              <p>Kurşunsuz tel lehim</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Düzeltme ve tamir için</p>
                            </li>
                            <li>
                              <div class="icon27"></div>
                              <p>Fırçalanabilir kalıntı</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Kesinlikle halojen içermez</p>
                            </li>
                            <li>
                              <div class="icon26"></div>
                              <p>Kesinlikle reçine içermez</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Düşük artıklı</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®  IF 14 serisi, reçine ve halojen içermeyen, kurşunlu (Ag) ve kurşunsuz alaşımlarda kolayca temizlenebilen artıklı, temizleme gerektirmeyen tel lehimdir.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 14 serisi, reçine ve halojen içermeyen, kurşunlu (Ag) ve kurşunsuz alaşımlarda kolayca temizlenebilen artıklı, temizleme gerektirmeyen tel lehimdir.<br/>
                            El ile fırçalanabilen artık<br/>
                            EN ve IPC standartlarına göre fluks sınıfı: RE L0<br/>
                            Kurşunsuz: IF 14-16 ve IF 14-22 (%1.6 ve %2.2 fluks içeriği)<br/>
                            Kurşunlu(Ag): %0.6, %0.9, %1.0 ve %1.4 fluks içeriği</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IF-14-16-DE_0.pdf" type="application/pdf; length=1726634" title="TD IF 14-16-DE.pdf">Technisches Datenblatt IF 14-16</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IF-14-22-DE_0.pdf" type="application/pdf; length=1799161" title="TD IF 14-22-DE.pdf">Technisches Datenblatt IF 14-22</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-IF-14-16-FR.pdf" type="application/pdf; length=1797018" title="TD IF 14-16-FR.pdf">Fiche technique IF 14-16</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-IF-14-22-FR.pdf" type="application/pdf; length=1847498" title="TD IF 14-22-FR.pdf">Fiche technique IF 14-22</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IF-14-16_0.pdf" type="application/pdf; length=1740737" title="TD IF 14-16.pdf">Technical Data Sheet IF 14-16</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IF-14-22_0.pdf" type="application/pdf; length=1804579" title="TD IF 14-22.pdf">Technical Data Sheet IF 14-22</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 14 SERIES LEAD-FREE" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1316" title="IF 14 SERIES LEAD-FREE" class="nid">1316</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/Interflux-Flexsol-903.jpg" width="200" height="200" alt="Interflux Flexsol 903 solder wire"/></div>
                        <div class="product-name">
                          <h3>FLEXSOL 903</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon16"></div>
                              <p>Kurşunsuz tel lehim</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Düzeltme ve tamir için</p>
                            </li>
                            <li>
                              <div class="icon14"></div>
                              <p>Reçine içerir</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Kesinlikle halojen içermez</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Düşük sıçratma</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Flexsol 903, kesinlikle halojen içermeyen, en aza indirgenen sıçrama özellikleri ile temizleme gerektirmeyen kurşunsuz alaşımlı tel lehimdir.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Flexsol 903, kesinlikle halojen içermeyen, en aza indirgenen sıçrama özellikleri ile temizleme gerektirmeyen kurşunsuz alaşımlı tel lehimdir.<br/>
                            EN ve IPC standartlarına göre fluks sınıfı: RO L0<br/>
                            Fluks içeriği: %2.2 ve %3.5</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-Flexsol-903-DE.pdf" type="application/pdf; length=467002" title="TD Flexsol 903-DE.pdf">Technisches Datenblatt Flexsol 903</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-Flexsol-903-FR_0.pdf" type="application/pdf; length=470317" title="TD Flexsol 903-FR.pdf">Fiche technique Flexsol 903</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-Flexsol-903.pdf" type="application/pdf; length=463843" title="TD Flexsol 903.pdf">Technical Data Sheet Flexsol 903</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=FLEXSOL 903" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1317" title="FLEXSOL 903" class="nid">1317</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs30">Kurşunlu</div>
                  <div class="fs18">tel lehimler</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_2 product-row-group view-dom-id-d17aa3eedb365d4e01a5d970f9071380">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/RosIX-705-SnPbAg.png" width="200" height="200" alt="RosIX 705 SnPb(Ag)"/></div>
                        <div class="product-name">
                          <h3>RosIX 705 SnPb(Ag)</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NEW</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon21"></div>
                              <p>Increased wetting ability</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Non disturbing smell</p>
                            </li>
                            <li>
                              <div class="icon35"></div>
                              <p>High repeatability</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Smooth transparent residue</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Suitable for robot soldering</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong>RosIX 705 SnPb(Ag)</strong>
                            is an
                            <strong>activated rosin based</strong>, no-clean solder wire with increased wetting ability on surfaces that are difficult to solder in SnPb(Ag) alloys.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® RosIX 705 SnPb(Ag) is an activated rosin based, no-clean solder wire with increased wetting ability on surfaces that are difficult to solder in SnPb(Ag) alloys.<br/>
                            RosIX 705 SnPb(Ag) can be used on surfaces that are difficult to solder, e.g. OSP, Ni, Zn, brass, German silver,... as well as on degraded and oxidized surfaces.<br/>
                            RO L1 to IPC and EN standards.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-RosIX-705-SnPbAg-DE.pdf" type="application/pdf; length=1786789" title="TD RosIX 705 SnPb(Ag)-DE.pdf">Technisches Datenblatt RosIX 705 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-Rosix-705-SnPbAg-FR.pdf" type="application/pdf; length=1851648" title="TD Rosix 705 SnPb(Ag)-FR.pdf">Fiche technique RosIX 705 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-Rosix-705-SnPbAg.pdf" type="application/pdf; length=1904997" title="TD Rosix 705 SnPb(Ag).pdf">Technical Data Sheet RosIX 705 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=RosIX 705 SnPb(Ag)" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1423" title="RosIX 705 SnPb(Ag)" class="nid">1423</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/Interflux-IF14-series-leaded.jpg" width="200" height="200" alt="Interflux IF14 series leaded solder wire"/></div>
                        <div class="product-name">
                          <h3>IF14 SERIES SnPb(Ag)</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon15"></div>
                              <p>SnPb(Ag) kurşunlu tel lehim</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Düzeltme ve tamir için</p>
                            </li>
                            <li>
                              <div class="icon27"></div>
                              <p>Fırçalanabilir kalıntı</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Kesinlikle halojen içermez</p>
                            </li>
                            <li>
                              <div class="icon26"></div>
                              <p>Kesinlikle reçine içermez</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Düşük artıklı</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®  IF 14 serisi, reçine ve halojen içermeyen, SnPb(Ag) kurşunlu ve kurşunsuz alaşımlarda, kolayca temizlenebilen artıklı, temizleme gerektirmeyen tel lehimdir.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux®  IF 14 serisi, reçine ve halojen içermeyen, SnPb(Ag) kurşunlu ve kurşunsuz alaşımlarda, kolayca temizlenebilen artıklı, temizleme gerektirmeyen tel lehimdir.<br/>
                            El ile fırçalanabilen artık<br/>
                            EN ve IPC standartlarına göre fluks sınıfı: RE L0<br/>
                            SnPb(Ag) Kurşunlu: IF 14-06, IF 14-09, IF 14-10, IF14-14 (%0.6, %0.9, %1.0 ve %1.4 fluks içeriği)<br/>
                            Kurşunsuz: %1.6 ve %2.2 fluks içeriği</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IF-14-06-09-14-DE_0.pdf" type="application/pdf; length=1839549" title="TD IF 14-06-09-14-DE.pdf">Technisches Datenblatt IF 14-06-09-14 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-IF-14-06-09-14-FR.pdf" type="application/pdf; length=1812757" title="TD IF 14-06-09-14-FR.pdf">Fiche technique IF 14-06-09-14 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IF-14-06-09-14_0.pdf" type="application/pdf; length=1811232" title="TD IF 14-06-09-14.pdf">Technical Data Sheet IF 14-06-09-14 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF14 SERIES SnPb(Ag)" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/tr/1320" title="IF14 SERIES SnPb(Ag)" class="nid">1320</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="block-block-17" class="block block-block library-reference last even">
          <div class="inner-block">
            <p>Ürünü bulamadınız mı? Ürünlerin tam listesi için,
              <a href="/tr/documents">kütüphanemizi</a>
              tıklayın</p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}