{% extends "layout.html.njk" %}
{% block meta %}
  <title>Flussmittel | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}de-soldering-fluxes
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-soldering-fluxes page-products i18n-de section-soldering-fluxes page-panels
{% endblock %}
{% block page %}
  {% include "partials/highlight.njk" %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-display panel-1col clearfix">
          <div class="panel-panel panel-col">
            <div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs30">Alkohol-<br/>basiertes</div>
                  <div class="fs18 nc">Flussmittel</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_5 product-row-group view-dom-id-e5eec1f32f37bdfe8756f77181287fa9">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_OSPI%203311M_4.jpg" width="200" height="200" alt="OSPI 3311 soldering flux"/></div>
                        <div class="product-name">
                          <h3>OSPI 3311M</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NEU</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Alkoholbasiert</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Für das Wellenlöten</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolut halogenfrei</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Hohe Desoxydationsfähigkeit</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Für das Löten von OSP</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® OSPI 3311M ist ein alkoholbasiertses no-clean Flussmittel für das Löten von Leiterplatten mit
                            <strong>OSP-Beschichtungen</strong>
                            die ein oder mehrere Reflowprozesse bestehen haben.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® OSPI 3311M ist ein alkoholbasiertses no-clean Flussmittel für das Löten von Leiterplatten mit OSP-Beschichtungen die ein oder mehrere Reflowprozesse bestehen haben.<br/>
                            SnPb und bleifrei kompatibel<br/>
                            OR L0 gemäß EN und IPC Standards<br/>
                            Halogengehalt: 0,00%</p>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=OSPI 3311M" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/848" title="OSPI 3311M" class="nid">848</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%202005M_3.jpg" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>IF 2005M</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Alkoholbasiert</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Für das Wellenlöten</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolut halogenfrei</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Hohe Kompatibilität mit Schutzlack</p>
                            </li>
                            <li>
                              <div class="icon19"></div>
                              <p>No-residue ™</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 2005M ist der
                            <strong>international anerkannte</strong>, kolophonium- und kunstharzfreie no-clean / No-residue™
                            <strong>Flussmittelstandard</strong>.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 2005M ist der international anerkannte, kolophonium- und kunstharzfreie no-clean / No-residue™ Flussmittelstandard.<br/>
                            Interflux® IF 2005M ist QPL-gelistet (homologiert gemäß MIL-F-14256F).<br/>
                            SnPb und bleifrei kompatibel<br/>
                            Geeignet für Sprüh- und Schaumfluxen<br/>
                            OR L0 gemäß EN und IPC-Standards<br/>
                            Feststoffgehalt: 1,85% ±0,15<br/>
                            Halogengehalt: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%202005M-DE.pdf" type="application/pdf; length=466453" title="TD IF 2005M-DE.pdf">Technisches Datenblatt IF 2005M</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/IF%202005-%20series%20application%20doc-DE_0.pdf" type="application/pdf; length=234680" title="IF 2005- series application doc-DE.pdf">IF 2005-Serie Anwendung</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%202005M-FR.pdf" type="application/pdf; length=467989" title="TD IF 2005M-FR.pdf">Fiche technique IF 2005M</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/IF%202005-%20series%20application%20doc-FR.pdf" type="application/pdf; length=233410" title="IF 2005- series application doc-FR.pdf">Document d'application de la série IF 2005</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%202005M_0.pdf" type="application/pdf; length=462008" title="TD IF 2005M.pdf">Technical Data Sheet IF 2005M</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/IF%202005-%20series%20application%20doc.pdf" type="application/pdf; length=229382" title="IF 2005- series application doc.pdf">IF 2005 series application document</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 2005M" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/213" title="IF 2005M" class="nid">213</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%202005K_7.jpg" width="200" height="200" alt="IF 2005K"/></div>
                        <div class="product-name">
                          <h3>IF 2005K</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Alkoholbasiert</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Für das Wellenlöten</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolut halogenfrei</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Hohe Kompatibilität mit Schutzlack</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Wenig Rückstände</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 2005K mit 2,5% Feststoffgehalt ist ein kolophonium- und kunstharzfreies no-clean Flussmittel. Es kann eingesetzt werden wenn der Lötprozess
                            <strong>mehr Aktivierung</strong>
                            braucht als
                            <strong>IF 2005M</strong>
                            bietet.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 2005K mit 2,5% Feststoffgehalt ist ein kolophonium- und kunstharzfreies no-clean Flussmittel. Es kann eingesetzt werden wenn der Lötprozess mehr Aktivierung braucht als IF 2005M bietet.<br/>
                            SnPb und bleifrei kompatibel<br/>
                            Geeignet für Sprüh- und Schaumfluxen<br/>
                            OR L0 gemäß EN und IPC-Standards<br/>
                            Feststoffgehalt: 2,5% ±0,3<br/>
                            Halogengehalt: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%202005K-DE.pdf" type="application/pdf; length=480696" title="TD IF 2005K-DE.pdf">Technisches Datenblatt IF 2005K</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/IF%202005-%20series%20application%20doc-DE_0.pdf" type="application/pdf; length=234680" title="IF 2005- series application doc-DE.pdf">IF 2005-Serie Anwendung</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%202005K-FR_0.pdf" type="application/pdf; length=586896" title="TD IF 2005K-FR.pdf">Fiche technique IF 2005K</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/IF%202005-%20series%20application%20doc-FR.pdf" type="application/pdf; length=233410" title="IF 2005- series application doc-FR.pdf">Document d'application de la série IF 2005</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%202005K_0.pdf" type="application/pdf; length=463692" title="TD IF 2005K.pdf">Technical Data Sheet IF 2005K</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/IF%202005-%20series%20application%20doc.pdf" type="application/pdf; length=229382" title="IF 2005- series application doc.pdf">IF 2005 series application document</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 2005K" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/214" title="IF 2005K" class="nid">214</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%202005C_7.jpg" width="200" height="200" alt="IF 2005C"/></div>
                        <div class="product-name">
                          <h3>IF 2005C</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Alkoholbasiert</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Für das Selektivlöten</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Für die Vorverzinnung</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolut halogenfrei</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Hohe Desoxydationsfähigkeit</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Besteht eine lange Vorheizung</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Hohe Kompatibilität mit Schutzlack</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 2005C (3,3% FG) ist ein kolophonium- und kunstharzfreies no-clean Flussmittel. Es kann eingesetzt werden wenn der Lötprozess
                            <strong>mehr Aktivierung</strong>
                            braucht als
                            <strong>IF 2005M/IF 2005K</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 2005C mit 3,3% Feststoff ist ein kolophonium- und kunstharzfreies no-clean Flussmittel. Es kann eingesetzt werden wenn der Lötprozess mehr Aktivierung braucht als IF 2005M und IF 2005K bieten.<br/>
                            SnPb und bleifrei kompatibel<br/>
                            Geeignet für Sprüh- und Schaumfluxen<br/>
                            OR L0 gemäß EN und IPC-Standards<br/>
                            Feststoffgehalt: 3,3% ±0,3<br/>
                            Halogengehalt: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%202005C-DE_0.pdf" type="application/pdf; length=484180" title="TD IF 2005C-DE.pdf">Technisches Datenblatt IF 2005C</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/IF%202005-%20series%20application%20doc-DE_0.pdf" type="application/pdf; length=234680" title="IF 2005- series application doc-DE.pdf">IF 2005-Serie Anwendung</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%202005C-FR.pdf" type="application/pdf; length=556116" title="TD IF 2005C-FR.pdf">Fiche technique IF 2005C</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/IF%202005-%20series%20application%20doc-FR.pdf" type="application/pdf; length=233410" title="IF 2005- series application doc-FR.pdf">Document d'application de la série IF 2005</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%202005C.pdf" type="application/pdf; length=467663" title="TD IF 2005C.pdf">Technical Data Sheet IF 2005C</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/IF%202005-%20series%20application%20doc.pdf" type="application/pdf; length=229382" title="IF 2005- series application doc.pdf">IF 2005 series application document</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 2005C" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/215" title="IF 2005C" class="nid">215</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs30">VOC-freies</div>
                  <div class="fs18 nc">Flussmittel</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_7 product-row-group view-dom-id-a64161fe6c621417d58cd81f8c72d804">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/SelectIF2040-2.png" width="200" height="200" alt="SelectIF 2040"/></div>
                        <div class="product-name">
                          <h3>SELECTIF 2040</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NEU</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Wasserbasiertes Flussmittel</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Für das Selektivlöten</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolut halogenfrei</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Hohe Desoxydationsfähigkeit</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Besteht hohe Temperaturen</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Hohe Kompatibilität mit Schutzlack</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Wenig Rückstände</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® SelectIF 2040 ist ein wasserbasiertes no-clean
                            <strong>Selektivlötflussmittel</strong>
                            mit einem großen Prozessfenster und wenig Rückständen.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® SelectIF 2040 ist ein wasserbasiertes no-clean Selektivlötflussmittel mit einem großen Prozessfenster und wenig Rückständen.<br/>
                            Besteht hohe Prozesstemperaturen und lange Prozesszeiten.<br/>
                            SnPb und bleifrei kompatibel<br/>
                            OR L0 gemäß EN und  IPC Standards<br/>
                            Feststoffgehalt: 6,5% ±0,2<br/>
                            Halogengehalt: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20SelectIF%202040-DE_0.pdf" type="application/pdf; length=429820" title="TD SelectIF 2040-DE.pdf">Technisches Datenblatt SelectIF 2040</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20SelectIF%202040-FR_0.pdf" type="application/pdf; length=458922" title="TD SelectIF 2040-FR.pdf">Fiche technique SelectIF 2040</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20SelectIF%202040.pdf" type="application/pdf; length=408961" title="TD SelectIF 2040.pdf">Technical Data Sheet SelectIF 2040</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=SELECTIF 2040" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/491" title="SELECTIF 2040" class="nid">491</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_P%202009M_7.jpg" width="200" height="200" alt="PACIFIC 2009M"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2009M</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Wasserbasiertes Flussmittel</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Für das Wellenlöten</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Für das Selektivlöten</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Für die Vorverzinnung</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Für Sprühfluxen</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolut halogenfrei</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Hohe Kompatibilität mit Schutzlack</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Wenig Rückstände</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® PacIFic2009M ist ein wasserbasiertes Flussmittel das hauptsächlich verwendet wird für das
                            <strong>Wellen- und Selektivlöten</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® PacIFic2009M ist ein wasserbasiertes Flussmittel das hauptsächlich verwendet wird für das Wellen- und Selektivlöten.<br/>
                            SnPb und bleifrei kompatibel<br/>
                            OR L0 gemäß EN und IPC-Standards<br/>
                            Feststoffgehalt: 3,7% ±0,15<br/>
                            Halogengehalt: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20PacIFic%202009M-DE_0.pdf" type="application/pdf; length=439464">TD PacIFic 2009M-DE.pdf</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20PacIFic%202009M-FR.pdf" type="application/pdf; length=401502" title="TD PacIFic 2009M-FR.pdf">Fiche technique PacIFic 2009M</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20PacIFic%202009M_0.pdf" type="application/pdf; length=433215" title="TD PacIFic 2009M.pdf">Technical Data Sheet PacIFic 2009M</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/Kyzen_P2009M.pdf" type="application/pdf; length=62971" title="Kyzen_P2009M.pdf">Cleaning PACIFIC 2009M by KYZEN</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009M" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/216" title="PACIFIC 2009M" class="nid">216</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_P%202009MLF_8.jpg" width="200" height="200" alt="PACIFIC 2009MLF"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2009MLF</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Wasserbasiertes Flussmittel</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Für das Wellenlöten</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Für das Selektivlöten</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Für Sprühfluxen</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolut halogenfrei</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>
                                <strong>Anti-Lötperlenbildung</strong>
                              </p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>PacIFic 2009MLF ist ein wasserbasiertes no-clean Flussmittel das entwickelt worden ist um die
                            <strong>Lötperlenbildung zu minimieren</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>PacIFic 2009MLF ist ein wasserbasiertes no-clean Flussmittel das entwickelt worden ist um die Lötperlenbildung zu minimieren.<br/>
                            SnPb und bleifrei kompatibel<br/>
                            Haupteinsatzgebiet: Wellenlöten und Selektivlöten<br/>
                            OR L0 gemäß EN und IPC-Standards<br/>
                            Feststoffgehalt: 3,6% ±0,2<br/>
                            Halogengehalt: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20PacIFic%202009MLF-DE_0.pdf" type="application/pdf; length=539026" title="TD PacIFic 2009MLF-DE.pdf">Technisches Datenblatt PacIFic 2009MLF</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20PacIFic%202009MLF-FR_0.pdf" type="application/pdf; length=501536" title="TD PacIFic 2009MLF-FR.pdf">Fiche technique PacIFic 2009MLF</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20PacIFic%202009MLF.pdf" type="application/pdf; length=532571" title="TD PacIFic 2009MLF.pdf">Technical Data Sheet PacIFic 2009MLF</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009MLF" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/217" title="PACIFIC 2009MLF" class="nid">217</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_P%202009MLF-E_6.jpg" width="200" height="200" alt="PACIFIC 2009MLF-E"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2009MLF-E</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Wasserbasiertes Flussmittel</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Für das Wellenlöten</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Für Sprühfluxen</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolut halogenfrei</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Reduzierte Rückstände</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>
                                <strong>Reduzierte Lötperlenbildung</strong>
                              </p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>PacIFic 2009MLF-E ist ein wasserbasiertes no-clean Flussmittel das
                            <strong>wenig Rückstände</strong>
                            kombiniert mit
                            <strong>reduzierter Lötperlenbildung</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>PacIFic 2009MLF-E ist ein wasserbasiertes no-clean Flussmittel das wenig Rückstände kombiniert mit reduzierter Lötperlenbildung.<br/>
                            SnPb und bleifrei kompatibel<br/>
                            Haupteinsatzgebiet: Wellenlöten<br/>
                            OR L0 gemäß EN und IPC-Standards<br/>
                            Feststoffgehalt: 3,6% ±0,25<br/>
                            Halogengehalt: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20PacIFic%202009MLF-E-DE.pdf" type="application/pdf; length=452230" title="TD PacIFic 2009MLF-E-DE.pdf">Technisches Datenblatt PacIFic 2009MLF-E</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20PacIFic%202009MLF-E-DE.pdf" type="application/pdf; length=452230" title="TD PacIFic 2009MLF-E-DE.pdf">Fiche technique PacIFic 2009MLF-E</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20PacIFic%202009MLF-E.pdf" type="application/pdf; length=446221" title="TD PacIFic 2009MLF-E.pdf">Technical Data Sheet PacIFic 2009MLF-E</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009MLF-E" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/218" title="PACIFIC 2009MLF-E" class="nid">218</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_P%202010F_7.jpg" width="200" height="200" alt="PACIFIC 2010F"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2010F</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Wasserbasiertes Flussmittel</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Für das Wellenlöten</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Für Sprühfluxen</p>
                            </li>
                            <li>
                              <div class="icon07"></div>
                              <p>Für Schaumfluxen</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolut halogenfrei</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Hohe Kompatibilität mit Schutzlack</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Wenig Rückstände</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>PacIFic 2010F ist ein wasserbasiertes no-clean Flussmittel das geeignet ist für das
                            <strong>Schaumfluxen</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>PacIFic 2010F ist ein wasserbasiertes no-clean Flussmittel das geeignet ist für das Schaumfluxen.<br/>
                            SnPb und bleifrei kompatibel<br/>
                            OR L0 gemäß EN und IPC-Standards<br/>
                            Feststoffgehalt: 2,5% ±0,15<br/>
                            Halogengehalt: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20PacIFic%202010F-DE_0.pdf" type="application/pdf; length=504163" title="TD PacIFic 2010F-DE.pdf">Technisches Datenblatt PacIFic 2010F</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20PacIFic%202010F-FR.pdf" type="application/pdf; length=536531" title="TD PacIFic 2010F-FR.pdf">Fiche technique PacIFic 2010F</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20PacIFic%202010F_0.pdf" type="application/pdf; length=448654" title="TD PacIFic 2010F.pdf">Technical Data Sheet PacIFic 2010F</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2010F" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/219" title="PACIFIC 2010F" class="nid">219</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs18 nc">Flussmittel mit</div>
                  <div class="fs25">reduziertem VOC-Gehalt</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_8 product-row-group view-dom-id-a18a7c33563600921be74478db669bf0">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%203006_7.jpg" width="200" height="200" alt="IF 3006"/></div>
                        <div class="product-name">
                          <h3>IF 3006</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon13"></div>
                              <p>Reduzierter VOC-Gehalt</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Für das Wellenlöten</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Für das Selektivlöten</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Für die Vorverzinnung</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolut halogenfrei</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Hohe Kompatibilität mit Schutzlack</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 3006 ist ein kolophonium- und kunstharzfreies no-clean Flussmittel mit
                            <strong>reduziertem VOC-Gehalt</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 3006 ist ein kolophonium- und kunstharzfreies no-clean Flussmittel mit reduziertem VOC-Gehalt.<br/>
                            SnPb und bleifrei kompatibel<br/>
                            Auch geeignet für die Vorverzinnung<br/>
                            OR L0 gemäß EN und IPC-Standards<br/>
                            Feststoffgehalt: 3,2% ±0,4<br/>
                            Halogengehalt: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%203006-DE_0.pdf" type="application/pdf; length=441073" title="TD IF 3006-DE.pdf">Technisches Datenblatt IF 3006</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%203006-FR.pdf" type="application/pdf; length=442827" title="TD IF 3006-FR.pdf">Fiche technique IF 3006</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%203006.pdf" type="application/pdf; length=435445" title="TD IF 3006.pdf">Technical Data Sheet IF 3006</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 3006" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/220" title="IF 3006" class="nid">220</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs22">Kolophonium-<br/>basiertes</div>
                  <div class="fs18 nc">Flussmittel</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_6 product-row-group view-dom-id-831d8e96c975a1145517f036b2831871">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_AF%204818PbF_rechtsom.jpg" width="200" height="200" alt="AF 4818PbF"/></div>
                        <div class="product-name">
                          <h3>AF 4818 PBF</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon14"></div>
                              <p>Enthält Kolophonium</p>
                            </li>
                            <li>
                              <div class="icon11"></div>
                              <p>Alkoholbasiert</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Für das Wellenlöten</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Für Sprühfluxen</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolut halogenfrei</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Hohe Desoxydationsfähigkeit</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Besteht eine lange Vorheizung</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® AF 4818 PbF ist ein alkoholbasiertes, kolophoniumbasiertes, no-clean Flussmittel mit einem erhöhten Feststoffgehalt und großem Prozessfenster.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® AF 4818 PbF ist ein alkoholbasiertes, kolophoniumbasiertes, no-clean Flussmittel mit einem erhöhten Feststoffgehalt und großem Prozessfenster.<br/>
                            SnPb und bleifrei kompatibel<br/>
                            RO L0 gemäß EN und IPC-Standards<br/>
                            Feststoffgehalt: 5%<br/>
                            Halogengehalt: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20AF%204818%20PbF-DE_1.pdf" type="application/pdf; length=537990" title="TD AF 4818 PbF-DE.pdf">Technisches Datenblatt AF 4818PbF</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20AF%204818%20PbF_1.pdf" type="application/pdf; length=535028" title="TD AF 4818 PbF.pdf">Technical Data Sheet AF 4818PbF</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=AF 4818 PBF" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/221" title="AF 4818 PBF" class="nid">221</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs18 nc">Flussmittel für</div>
                  <div class="fs25">Reparatur & Nacharbeit</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_10 product-row-group view-dom-id-03222d741d84aa08c0803f33054a86bb">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%208300.jpg" width="200" height="200" alt="IF 8300"/></div>
                        <div class="product-name">
                          <h3>IF 8300 SERIE</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon04"></div>
                              <p>Für die Nacharbeit und Reparatur</p>
                            </li>
                            <li>
                              <div class="icon03"></div>
                              <p>Für das Reflowlöten</p>
                            </li>
                            <li>
                              <div class="icon08"></div>
                              <p>Für Dosieren</p>
                            </li>
                            <li>
                              <div class="icon09"></div>
                              <p>Für Schablonendruck</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Für das Dippen</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolut halogenfrei</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Wenig Rückstände</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 8300 ist ein no-clean, halogenfreies,
                            <strong>klebriges Flussmittelgel</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 8300 ist ein no-clean, halogenfreies, klebriges Flussmittelgel.<br/>
                            SnPb und bleifrei kompatibel<br/>
                            Geeignet für "reballing" und BGA-Reparatur<br/>
                            RE L0 gemäß EN und IPC-Standards<br/>
                            Halogengehalt: 0,00%<br/>
                            3 unterschiedliche Viskositäten<br/>
                            IF 8300 : 210 kcps<br/>
                            IF 8300-4 : 70 kcps<br/>
                            IF 8300-6 : 25 kcps</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%208300-DE_0.pdf" type="application/pdf; length=886358" title="TD IF 8300-DE.pdf">Technisches Datenblatt IF 8300</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%208300-FR_0.pdf" type="application/pdf; length=1056853" title="TD IF 8300-FR.pdf">Fiche technique IF 8300</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%208300.pdf" type="application/pdf; length=877318" title="TD IF 8300.pdf">Technical Data Sheet IF 8300</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 8300 SERIE" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/222" title="IF 8300 SERIE" class="nid">222</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Interflux-IF7500HAB_0.jpg" width="200" height="200" alt="Interflux IF7500HAB solder flux"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Interflux-IF7500HAB-tube.jpg" width="200" height="200" alt="Interflux IF7500HAB solder flux"/></div>
                        <div class="product-name">
                          <h3>IF 7500HAB</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon04"></div>
                              <p>Für die Nacharbeit und Reparatur</p>
                            </li>
                            <li>
                              <div class="icon03"></div>
                              <p>Für das Reflowlöten</p>
                            </li>
                            <li>
                              <div class="icon08"></div>
                              <p>Für Dosieren</p>
                            </li>
                            <li>
                              <div class="icon09"></div>
                              <p>Für Schablonendruck</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Für das Dippen</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolut halogenfrei</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Besteht eine lange Vorheizung</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Hohe Desoxydationsfähigkeit</p>
                            </li>
                            <li>
                              <div class="icon14"></div>
                              <p>Enthält Kolophonium</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 7500HAB ist ein no-clean, halogenfreies, klebriges Flussmittelgel mit
                            <strong>erweitertem Prozessfenster</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 7500HAB ist ein no-clean, halogenfreies, klebriges Flussmittelgel mit erweitertem Prozessfenster.<br/>
                            SnPb und bleifrei kompatibel<br/>
                            Geeignet für "reballing" und BGA-Reparatur<br/>
                            RO M0 gemäß EN und IPC-Standards<br/>
                            Halogengehalt: 0,00%<br/>
                            Viskosität: 200 kcps</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%207500HAB-DE_0.pdf" type="application/pdf; length=494085" title="TD IF 7500HAB-DE.pdf">Technisches Datenblatt IF 7500HAB</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%207500HAB_0.pdf" type="application/pdf; length=491460" title="TD IF 7500HAB.pdf">Technical Data Sheet IF 7500HAB</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 7500HAB" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/224" title="IF 7500HAB" class="nid">224</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%208001.jpg" width="200" height="200" alt="IF 8001"/></div>
                        <div class="product-name">
                          <h3>IF 8001</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Alkoholbasiertes Flussmittel</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Für die Nacharbeit und Reparatur</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolut halogenfrei</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Wenig Rückstände</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 8001 ist ein alkoholbasiertes no-clean Flussmittel mit
                            <strong>wenig Rückständen</strong>
                            für Anwendungen wo Flussmittel selektiv aufgetragen wird.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 8001 ist ein alkoholbasiertes no-clean Flussmittel mit wenig Rückständen für Anwendungen wo Flussmittel selektiv aufgetragen wird.<br/>
                            SnPb und bleifrei kompatibel<br/>
                            Haupteinsatzgebiet : Handlöten. Sonstige Einsatzgebiete: automatisches Löten, Bügellöten,…<br/>
                            RE L0 gemäß EN und IPC-Standards<br/>
                            Halogengehalt: 0,00%<br/>
                            IF 8001 ist erhältlich in nachfüllbaren und Einweg-Flussmittelstiften</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%208001-DE_0.pdf" type="application/pdf; length=442493" title="TD IF 8001-DE.pdf">Technisches Datenblatt IF 8001</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%208001-FR_0.pdf" type="application/pdf; length=370992" title="TD IF 8001-FR.pdf">Fiche technique IF 8001</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%208001_0.pdf" type="application/pdf; length=404562" title="TD IF 8001.pdf">Technical Data Sheet IF 8001</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 8001" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/225" title="IF 8001" class="nid">225</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%206000%201liter.jpg" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>IF 6000</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Alkoholbasiert</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Für die Nacharbeit und Reparatur</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolut halogenfrei</p>
                            </li>
                            <li>
                              <div class="icon14"></div>
                              <p>Enthält Kolophonium</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Hohe Desoxydationsfähigkeit</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Besteht eine lange Vorheizung</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 6000 ist ein kolophoniumbasiertes no-clean Flussmittel mit
                            <strong>erweitertem Prozessfenster</strong>
                            für Anwendungen wo Flussmittel selektiv aufgetragen wird.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 6000 ist ein kolophoniumbasiertes no-clean Flussmittel mit erweitertem Prozessfenster für Anwendungen wo Flussmittel selektiv aufgetragen wird.<br/>
                            SnPb und bleifrei kompatibel<br/>
                            Haupteinsatzgebiet : Handlöten. Sonstige Einsatzgebiete: automatisches Löten, Bügellöten, BGA-Reparatur, "wafer bumping",…<br/>
                            RO L0 gemäß EN und IPC-Standards<br/>
                            Halogengehalt: 0,00%<br/>
                            IF 6000 ist erhältlich in nachfüllbaren und Einweg-Flussmittelstiften.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%206000-DE_0.pdf" type="application/pdf; length=418115" title="TD IF 6000-DE.pdf">Technisches Datenblatt IF 6000</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%206000-FR.pdf" type="application/pdf; length=381276" title="TD IF 6000-FR.pdf">Fiche technique IF 6000</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%206000.pdf" type="application/pdf; length=411656" title="TD IF 6000.pdf">Technical Data Sheet IF 6000</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 6000" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/226" title="IF 6000" class="nid">226</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_Terrific%20RP65%201liter.jpg" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>TERRIFIC RP65</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Wasserbasiertes Flussmittel</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Für die Nacharbeit und Reparatur</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolut halogenfrei</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Besteht eine lange Vorheizung</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>TerrIFic RP65 ist ein
                            <strong>wasserbasiertes</strong>
                            no-clean Flussmittel für Anwendungen wo Flussmittel selektiv aufgetragen wird.</p>
                        </div>
                        <div class="product-details">
                          <p>TerrIFic RP65 ist ein wasserbasiertes no-clean Flussmittel für Anwendungen wo Flussmittel selektiv aufgetragen wird.<br/>
                            SnPb und bleifrei kompatibel<br/>
                            Haupteinsatzgebiet : Handlöten. Sonstige Einsatzgebiete: automatisches Löten, Bügellöten, …<br/>
                            OR L0 gemäß EN und IPC-Standards<br/>
                            Halogengehalt: 0,00%<br/>
                            TerrIFic RP 65 ist erhältlich in nachfüllbaren und Einweg-Flussmittelstiften</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Terrific%20RP65-DE_0.pdf" type="application/pdf; length=396763" title="TD Terrific RP65-DE.pdf">Technisches Datenblatt TerrIFic RP65</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Terrific%20RP65-FR_0.pdf" type="application/pdf; length=412192" title="TD Terrific RP65-FR.pdf">Fiche technique TerrIFic RP65</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Terrific%20RP65_0.pdf" type="application/pdf; length=393579" title="TD Terrific RP65.pdf">Technical Data Sheet TerrIFic RP65</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=TERRIFIC RP65" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/227" title="TERRIFIC RP65" class="nid">227</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs27">Verdünner</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_9 product-row-group view-dom-id-8b7440aef58f18eddaa14a08912e904a">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_T%202005M.jpg" width="200" height="200" alt="Interflux T2005M thinner"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Interflux-T2005M.jpg" width="200" height="200" alt="Interflux T2005M thinner"/></div>
                        <div class="product-name">
                          <h3>T 2005M</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Alkoholbasiert</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolut halogenfrei</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Für die Flussmittel aus der IF2005-Serie</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® T 2005M ist der Verdünner für die Flussmittel aus der IF2005-Serie.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® T 2005M ist der Verdünner für die Flussmittel aus der IF2005-Serie.<br/>
                            Für Schaumfluxen und sonstige offenen Systeme</p>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=T 2005M" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/228" title="T 2005M" class="nid">228</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="block-block-17" class="block block-block library-reference last even">
          <div class="inner-block">
            <p>Produkt nicht gefunden? Für eine komplette Liste, konsultieren Sie unsere
              <a href="/de/documents">Bibliothek</a>
            </p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}