{% extends "layout.html.njk" %}
{% block meta %}
  <title>Pasta de soldadura | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}es-solder-pastes
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-solder-pastes page-products i18n-es section-solder-pastes page-panels
{% endblock %}
{% block page %}
  {% include "partials/highlight.njk" %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-display panel-1col clearfix">
          <div class="panel-panel panel-col">
            <div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs18">Pasta de soldar</div>
                  <div class="fs30">no-clean</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_3 product-row-group view-dom-id-78a22fc2eede5bd60f43da519426bbb8">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_LMPA%E2%84%A2-%20Q6.jpg" width="200" height="200" alt="LMPA™-Q6 solder paste"/></div>
                        <div class="product-name">
                          <h3>LMPA™-Q6</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NUEVO</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon23"></div>
                              <p>Pasta de soldadura de bajo punto de fusión mejorada
                              </p>
                            </li>
                            <li>
                              <div class="icon09"></div>
                              <p>Alta estabilidad en la pantalla</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Residuo leve, claro y transparente</p>
                            </li>
                            <li>
                              <div class="icon33"></div>
                              <p>Bajo nivel de voids</p>
                            </li>
                            <li>
                              <div class="icon31"></div>
                              <p>Reducción del coste de producción</p>
                            </li>
                            <li>
                              <div class="icon32"></div>
                              <p>Mayor fiabilidad mecánica</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® LMPA ™ -Q6 pasta de soldar, no-clean con la aleación de bajo punto de fusión y alta fiabilidad LMPA ™ -Q.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® LMPA ™ -Q6 pasta de soldar, no-clean con la aleación de bajo punto de fusión y alta fiabilidad LMPA ™ -Q.<br/>
                            La pasta de soldar LMPA ™ -Q6 ha mejorado la estabilidad de impresión, la vida en la pantalla y el   residuo es más transparente en comparación con la<br/>
                            DP 5600.<br/>
                            RO L0 según las normas IPC y EN.<br/>
                            Contenido en halógenos: 0,00%</p>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=LMPA™-Q6" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/1354" title="LMPA™-Q6" class="nid">1354</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_DP%205600-2.jpg" width="200" height="200" alt="DP 5600"/></div>
                        <div class="product-name">
                          <h3>DP 5600</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>POPULAR</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon03"></div>
                              <p>Para de soldadura para re fusión</p>
                            </li>
                            <li>
                              <div class="icon09"></div>
                              <p>Para impresión serigrafía</p>
                            </li>
                            <li>
                              <div class="icon08"></div>
                              <p>Para dispensación</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                            <li>
                              <div class="icon23"></div>
                              <p>Temperatura de fusión baja</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Baja generación de burbujas en la soldadura (voiding)</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® DP 5600  es una pasta de soldar no-clean, para
                            <strong>temperaturas bajas de aleaciones con SnBi (Ag)</strong>.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® DP 5600 es una pasta de soldar no-clean, para temperaturas bajas de aleaciones con SnBi (Ag).<br/>
                            según normas EN y IPC son RO L0<br/>
                            Contenido halógeno: 0,00%<br/>
                            Sn42Bi57Ag1 (punto de fusión 139°C ~ 282°F)</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20DP%205600-DE_0.pdf" type="application/pdf; length=764791" title="TD DP 5600-DE.pdf">Technisches Datenblatt DP 5600</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/DP5600_2015_DE_web.pdf" type="application/pdf; length=163236" title="DP5600_2015_DE_web.pdf">A4 flyer DP 5600-DE</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20DP%205600-FR_0.pdf" type="application/pdf; length=798391" title="TD DP 5600-FR.pdf">Fiche technique DP 5600</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/DP5600_2015_FR_web.pdf" type="application/pdf; length=162178" title="DP5600_2015_FR_web.pdf">A4 flyer DP 5600-FR</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20DP%205600_0.pdf" type="application/pdf; length=756248" title="TD DP 5600.pdf">Technical Data Sheet DP 5600</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/DP5600_2015_Eng_web.pdf" type="application/pdf; length=161013" title="DP5600_2015_Eng_web.pdf">A4 flyer DP 5600</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=DP 5600" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/360" title="DP 5600" class="nid">360</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_LP%205720%20Pb-free.jpg" width="200" height="200" alt="LP 5720 Pb-free"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_LP%205720%20SnPb.jpg" width="200" height="200" alt="LP 5720 SnPb(Ag)"/></div>
                        <div class="product-name">
                          <h3>LP 5720</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NUEVO</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon09"></div>
                              <p>Alta estabilidad en la pantalla</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Para aleaciones de SnPb(Ag)</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Para aleaciones sin plomo</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Residuo transparente después de re fusión</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® LP 5720 pasta de soldar no-clean con estabilidad de impresión optimizada y residuo transparente después de re fusión. Para aleaciones sin plomo y SnPb(Ag).</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® LP 5720 pasta de soldar no-clean con estabilidad de impresión optimizada y residuo transparente después de re fusión. Para aleaciones sin plomo y SnPb(Ag).<br/>
                            LP 5720 sucede a la DP 5505.<br/>
                            RO L0 según las normas IPC y EN.<br/>
                            Contenido en halógenos: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20LP%205720-DE.pdf" type="application/pdf; length=1920506" title="TD LP 5720-DE.pdf">Technisches Datenblatt LP 5720-DE</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20LP%205720%20SnPb%28Ag%29-DE.pdf" type="application/pdf; length=2037927" title="TD LP 5720 SnPb(Ag)-DE.pdf">Technisches Datenblatt LP 5720 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20LP%205720-FR.pdf" type="application/pdf; length=1983565" title="TD LP 5720-FR.pdf">Fiche Technique LP 5720</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20LP%205720%20SnPb%28Ag%29-FR.pdf" type="application/pdf; length=1933907" title="TD LP 5720 SnPb(Ag)-FR.pdf">Fiche technique LP 5720 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20LP%205720.pdf" type="application/pdf; length=1985139" title="TD LP 5720.pdf">Technical Data Sheet TD LP 5720 Pb-free</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20LP%205720%20SnPb%28Ag%29_0.pdf" type="application/pdf; length=1951291" title="TD LP 5720 SnPb(Ag).pdf">Technical Data Sheet LP 5720 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=LP 5720" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/1355" title="LP 5720" class="nid">1355</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_DP%205505%20Pb-free.jpg" width="200" height="200" alt="DP 5505 Pb-free"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_DP%205505%20SnPb.jpg" width="200" height="200" alt="DP 5505 SnPb"/></div>
                        <div class="product-name">
                          <h3>DP 5505
                          </h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon03"></div>
                              <p>Para soldadura por re fusión</p>
                            </li>
                            <li>
                              <div class="icon09"></div>
                              <p>Para impresión serigrafía</p>
                            </li>
                            <li>
                              <div class="icon08"></div>
                              <p>Para dispensación</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Aleaciones sin plomo</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Aleaciones SnPb</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® DP 5505 es una
                            <strong>pasta de soldar general</strong>, no-clean con alta estabilidad para
                            <strong>aleaciones SnPb(Ag) y sin plomo</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® DP 5505 es una pasta de soldar general, no-clean con alta estabilidad para aleaciones sin plomo y SnPb(Ag).<br/>
                            Baja generación de burbujas en la soldadura (voiding)<br/>
                            Reducido defecto head-in-pillow<br/>
                            Altas velocidades de impresión<br/>
                            según normas EN y IPC es RO L0<br/>
                            Contenido halógeno: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20DP%205505-DE_0.pdf" type="application/pdf; length=401875" title="TD DP 5505-DE.pdf">
                              Technisches Datenblatt DP 5505</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20DP%205505%20SnPb%28Ag%29-DE_0.pdf" type="application/pdf; length=606469" title="TD DP 5505 SnPb(Ag)-DE.pdf">Technisches Datenblatt DP 5505 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/DP5505-Properties%20DE.pdf" type="application/pdf; length=2433113" title="DP5505-Properties DE.pdf">DP 5505 Gesamtübersicht</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20DP%205505-FR.pdf" type="application/pdf; length=436748" title="TD DP 5505-FR.pdf">Fiche technique DP 5505</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20DP%205505%20SnPb%28Ag%29-FR_0.pdf" type="application/pdf; length=652480" title="TD DP 5505 SnPb(Ag)-FR.pdf">Fiche technique DP 5505 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/DP5505-Properties%20FR.pdf" type="application/pdf; length=2529992" title="DP5505-Properties FR.pdf">DP 5505 aperçu complet</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20DP%205505.pdf" type="application/pdf; length=437352" title="TD DP 5505.pdf">Technical Data Sheet DP 5505</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20DP%205505%20SnPb%28Ag%29_0.pdf" type="application/pdf; length=659124" title="TD DP 5505 SnPb(Ag).pdf">Technical Data Sheet DP 5505 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/DP5505-Properties.pdf" type="application/pdf; length=2490337" title="DP5505-Properties.pdf">DP 5505 complete overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=DP 5505 " target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/359" title="DP 5505 " class="nid">359</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/%C2%B5-dife7%20web3.png" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>µ-DIFE 7</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon03"></div>
                              <p>Para la soldadura para  re fusión
                              </p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Para reparación y reproceso</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Para inmersión</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong></strong>µ-dIFe 7 es una pasta de soldar sin plomo de no-clean para aplicaciones por
                            <strong>inmersión</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® µ-dIFe 7 es una pasta de soldar sin plomo de no-clean para aplicaciones por inmersión.<br/>
                            Volumen de pasta repetible y selectiva<br/>
                            Aplicación fácil y rápida<br/>
                            Reducción del riesgo de puente μ-BGA<br/>
                            Adecuada para ERSA Dip&Print<br/>
                            Para BGA, J-lead y Gull Wing<br/>
                            según normas EN y IPC es RO L0<br/>
                            Contenido halógeno: 0,00%
                          </p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20%C2%B5-dIFe%207-DE_0.pdf" type="application/pdf; length=466240" title="TD µ-dIFe 7-DE.pdf">Technisches Datenblatt µ-dIFe 7</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20%C2%B5-dIFe%207-FR_0.pdf" type="application/pdf; length=493264" title="TD µ-dIFe 7-FR.pdf">Fiche technique µ-dIFe 7</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20%C2%B5-dIFe%207_0.pdf" type="application/pdf; length=485359" title="TD µ-dIFe 7.pdf">Technical Data Sheet µ-dIFe 7</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=µ-DIFE 7" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/362" title="µ-DIFE 7" class="nid">362</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%209009lt%20Pb-free.jpg" width="200" height="200" alt="IF 9009lt Pb-free"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%209009lt%20SnPb.jpg" width="200" height="200" alt="IF 9009lt SnPb"/></div>
                        <div class="product-name">
                          <h3>IF 9009LT</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon03"></div>
                              <p>Para soldadura para re fusión</p>
                            </li>
                            <li>
                              <div class="icon09"></div>
                              <p>Para impresión serigrafía</p>
                            </li>
                            <li>
                              <div class="icon08"></div>
                              <p>Para dispensación</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Aleaciones sin plomo</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Aleaciones SnPb</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Alta Actividad</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 9009LT es una pasta de soldar no-clean, con una
                            <strong>actividad alta</strong>, para aleaciones SnPb(Ag) y sin plomo.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux®
                            <strong></strong>
                            IF 9009LT  es una pasta de soldar no-clean, con una actividad alta, para aleaciones SnPb(Ag) y sin plomo.<br/>
                            Para superficies difíciles de soldar y degradadas<br/>
                            según normas EN y IPC es RE L1</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%209009lt-DE_0.pdf" type="application/pdf; length=639484" title="TD IF 9009lt-DE.pdf">Technisches Datenblatt IF 9009LT</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%209009lt-FR_0.pdf" type="application/pdf; length=624831" title="TD IF 9009lt-FR.pdf">Fiche technique IF 9009LT</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%209009lt_0.pdf" type="application/pdf; length=622568" title="TD IF 9009lt.pdf">Technical Data Sheet IF 9009LT</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 9009LT" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/364" title="IF 9009LT" class="nid">364</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="block-block-17" class="block block-block library-reference last even">
          <div class="inner-block">
            <p>¿No encuentra el producto? Para obtener una lista completa de productos, visite nuestra
              <a href="/es/documents">biblioteca</a>
            </p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}