@font-face {
  font-family: "Lato-Light";
  src: local("Lato-Light"),
    url("/assets/fonts/subset-Lato-Light.woff2") format("woff2"),
    url("/assets/fonts/subset-Lato-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Regular";
  src: local("Lato Regular"), local("Lato-Regular"),
    url("/assets/fonts/subset-Lato-Regular.woff2") format("woff2"),
    url("/assets/fonts/subset-Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Bold";
  src: local("Lato Bold"), local("Lato-Bold"),
    url("/assets/fonts/subset-Lato-Bold.woff2") format("woff2"),
    url("/assets/fonts/subset-Lato-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Black";
  src: local("Lato Black"), local("Lato-Black"),
    url("/assets/fonts/subset-Lato-Black.woff2") format("woff2"),
    url("/assets/fonts/subset-Lato-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MavenPro-Regular";
  src: url("/assets/fonts/MavenPro-Regular.woff2") format("woff2"),
    url("/assets/fonts/MavenPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MavenPro-Medium";
  src: url("/assets/fonts/MavenPro-Medium.woff2") format("woff2"),
    url("/assets/fonts/MavenPro-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MavenPro-Bold";
  src: url("/assets/fonts/MavenPro-Bold.woff2") format("woff2"),
    url("/assets/fonts/MavenPro-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MavenPro-Black";
  src: url("/assets/fonts/MavenPro-Black.woff2") format("woff2"),
    url("/assets/fonts/MavenPro-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
