.i18n-fr .product-row.expanded .product-document-link {
  &.fr {
    display: block !important;
  }
  &.es,
  &.de {
    display: none !important;
  }
}

.i18n-de .product-row.expanded .product-document-link {
  &.de {
    display: block !important;
  }
  &.es,
  &.fr {
    display: none !important;
  }
}

.i18n-es .product-row.expanded .product-document-link {
  &.es {
    display: block !important;
  }
  &.de,
  &.fr {
    display: none !important;
  }
}
