$paragraph-colour: #333;

$regular-font: Verdana, Geneva, Arial, sans-serif;

$lato-regular: "Lato-Regular", sans-serif;
$lato-bold: "Lato-Bold", sans-serif;
$lato-black: "Lato-Black", sans-serif;

$maven-regular: "MavenPro-Regular", Verdana, Geneva, Arial, sans-serif;
$maven-medium: "MavenPro-Medium", Verdana, Geneva, Arial, sans-serif;
$maven-bold: "MavenPro-Bold", Verdana, Geneva, Arial, sans-serif;

$dark-blue: #23578c;
$light-blue: #5192d5;
