$paragraph-colour: #333;

$regular-font: "sans serif";

$lato-regular: "Lato-Regular", sans-serif;
$lato-bold: "Lato-Bold", sans-serif;
$lato-black: "Lato-Black", sans-serif;

$maven-regular: "MavenProRegular", Verdana, Geneva, Arial, sans-serif;
$maven-medium: "MavenProMedium", Verdana, Geneva, Arial, sans-serif;
$maven-bold: "MavenProBold", Verdana, Geneva, Arial, sans-serif;

$dark-blue: #23578c;
$light-blue: #5192d5;
