{% extends "layout.html.njk" %}
{% block meta %}
  <title>Wellenlöten | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}de-wave-soldering
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-wave-soldering page-products i18n-de section-wave-soldering page-panels
{% endblock %}
{% block page %}
  <div class="region region-language">
    <div class="inner-region">
      <div id="block-locale-language" class="block block-locale language-menu block grid-24 first last odd" role="complementary">
        <div class="inner-block">
          <ul class="language-switcher-locale-url">
            <li class="en first">
              <a href="/en/wave-soldering" class="language-link" lang="en" title="Wave Soldering">
                <div class="flag en"></div>English</a>
            </li>
            <li class="zh-hans">
              <a href="/zh-hans/wave-soldering" class="language-link" lang="zh-hans" title="波峰焊">
                <div class="flag zh-hans"></div>简体中文</a>
            </li>
            <li class="cs">
              <a href="/cs/wave-soldering" class="language-link" lang="cs" title="Pájení vlnou">
                <div class="flag cs"></div>Čeština</a>
            </li>
            <li class="de active">
              <a href="/de/wave-soldering" class="language-link active" lang="de" title="Wellenlöten">
                <div class="flag de"></div>Deutsch</a>
            </li>
            <li class="fr">
              <a href="/fr/wave-soldering" class="language-link" lang="fr" title="Brasage à la vague">
                <div class="flag fr"></div>Français</a>
            </li>
            <li class="it">
              <a href="/it/wave-soldering" class="language-link" lang="it" title="Saldatura a onda">
                <div class="flag it"></div>Italiano</a>
            </li>
            <li class="id">
              <a href="/id/wave-soldering" class="language-link" lang="id" title="Penyolderan gelombang">
                <div class="flag id"></div>Bahasa Indonesia</a>
            </li>
            <li class="pt-pt">
              <a href="/pt-pt/wave-soldering" class="language-link" lang="pt-pt" title="Soldagem por onda">
                <div class="flag pt-pt"></div>Português</a>
            </li>
            <li class="ro">
              <a href="/ro/wave-soldering" class="language-link" lang="ro" title="Lipire in val">
                <div class="flag ro"></div>Română</a>
            </li>
            <li class="ru">
              <a href="/ru/wave-soldering" class="language-link" lang="ru" title="Волновая пайка">
                <div class="flag ru"></div>Русский</a>
            </li>
            <li class="th">
              <a href="/th/wave-soldering" class="language-link" lang="th" title="การบัดกรีแบบเคลื่นน้ำตะกั่ว">
                <div class="flag th"></div>ภาษาไทย</a>
            </li>
            <li class="tr">
              <a href="/tr/wave-soldering" class="language-link" lang="tr">
                <div class="flag tr"></div>Türkçe</a>
            </li>
            <li class="pl">
              <a href="/pl/wave-soldering" class="language-link" lang="pl" title="Lutowanie na fali">
                <div class="flag pl"></div>Polski</a>
            </li>
            <li class="es">
              <a href="/es/wave-soldering" class="language-link" lang="es" title="Soldadura por ola">
                <div class="flag es"></div>Español</a>
            </li>
            <li class="sv last">
              <a href="/sv/wave-soldering" class="language-link" lang="sv" title="Våglödning">
                <div class="flag sv"></div>Svenska</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-header">
    <div class="inner-region">
      <div id="block-block-11" class="block block-block grid-9 first odd">
        <div class="inner-block">
          <p>
            <a href="/de/" title="Interflux Electronics"><img src="/assets/images/interflux-electronics-logo.png" width="343" height="87" alt="Interflux Electronics logo"/></a>
          </p>
        </div>
      </div>
      <div id="block-menu-menu-interflux-menu" class="block block-menu grid-15 header-nav last even" role="navigation">
        <div class="inner-block">
          <ul class="menu">
            <li class="first expanded">
              <a href="/de" title="Produktsuche über Typ">Produkte</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/de/soldering-fluxes" title="">Flussmittel</a>
                </li>
                <li class="leaf">
                  <a href="/de/solder-pastes" title="">Lotpaste</a>
                </li>
                <li class="leaf">
                  <a href="/de/solder-wires" title="">Lötdraht</a>
                </li>
                <li class="leaf">
                  <a href="/de/spray-fluxers" title="">Sprühfluxer</a>
                </li>
                <li class="last leaf">
                  <a href="/de/auxiliaries" title="">Hilfsmittel</a>
                </li>
              </ul>
            </li>
            <li class="expanded active-trail">
              <a href="/de" title="Produktsuche über Prozess" class="active-trail">Prozesse</a>
              <ul class="menu">
                <li class="first leaf active-trail">
                  <a href="/de/wave-soldering" title="" class="active-trail active">Wellenlöten</a>
                </li>
                <li class="leaf">
                  <a href="/de/selective-soldering" title="">Selektivlöten</a>
                </li>
                <li class="leaf">
                  <a href="/de/reflow-soldering" title="">Reflowlöten</a>
                </li>
                <li class="leaf">
                  <a href="/de/rework-and-repair" title="">Nacharbeit und Reparatur</a>
                </li>
                <li class="last leaf">
                  <a href="/de/pre-tinning" title="">Vorverzinnen</a>
                </li>
              </ul>
            </li>
            <li class="leaf">
              <a href="/de/company" title="Mehr über Interflux">Unternehmen</a>
            </li>
            <li class="leaf">
              <a href="/de/documents" title="Technische Daten">Dokumente</a>
            </li>
            <li class="last leaf">
              <a href="/de/contact" title="Kontaktsuche">Kontakt</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-highlight">
    <div class="inner-region">
      <div id="banners">
        <div class="preload"></div>
        <div class="stage">
          <article id="ipc-apex-2017">
            <a href="https://www.ipcapexexpo.org/" target="_blank" title="Visit us at IPC APEX 2018 in San Diego">
              <picture>
                
                <img src="" alt="Visit use at IPC APEX 2018 in San Diego"/>
              </picture>
            </a>
          </article>
          <article id="productronica-2017">
            <a href="https://www.productronica.com/" target="_blank" title="Visit us at Productronica 2017">
              <img src=""/>
            </a>
          </article>
          <article id="lmpa">
            <a href="https://lmpa.interflux.com" target="_blank">
              <h1>Solder
                <strong>5 times</strong>
                faster whilst maintaining
                <strong>zero defects</strong>
              </h1>
              <h1>Discover
                <mark>LMPA<span>™</span>
                </mark>
              </h1>
              <div id="video">
                <video id="movie" width="276" height="220" autoplay loop>
                  <source src="https://cdn.interflux.com/videos/LMPA-Q-30mms.mp4" type="video/mp4"></source>
                  Your browser doesn't support HTML5 video tag.
                </video>
                <script></script>
                <p>Speed: 30 mm/s</p>
              </div>
            </a>
          </article>
        </div>
        <nav>
          <div id="prev">
            <div></div>
          </div>
          <div id="next">
            <div></div>
          </div>
          <div id="timer">
            <div></div>
          </div>
          <ul></ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="panel-display panel-1col clearfix" id="panel-soldering-wire">
        <div class="panel-panel panel-col">
          <div>
            <div class="panel-pane pane-views pane-process-views-interflux">
              <h2 class="pane-title">
                <div class="fs27">Flussmittel</div>
                <div class="fs18 nc">fürs Wellenlöten</div>
              </h2>
              <div class="pane-content">
                <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_5 product-row-group view-dom-id-7c6125eeca52b1cd726c3f04af99a0bb">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                      <div class="product-images"><img src="/assets/images/CLP_OSPI-3311M_4.jpg" width="200" height="200" alt="OSPI 3311 soldering flux"/></div>
                      <div class="product-name">
                        <h3>OSPI 3311M</h3>
                      </div>
                      <div class="product-highlight">
                        <h3>NEU</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon11"></div>
                            <p>Alkoholbasiert</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Für das Wellenlöten</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolut halogenfrei</p>
                          </li>
                          <li>
                            <div class="icon21"></div>
                            <p>Hohe Desoxydationsfähigkeit</p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>Für das Löten von OSP</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® OSPI 3311M ist ein alkoholbasiertses no-clean Flussmittel für das Löten von Leiterplatten mit
                          <strong>OSP-Beschichtungen</strong>
                          die ein oder mehrere Reflowprozesse bestehen haben.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® OSPI 3311M ist ein alkoholbasiertses no-clean Flussmittel für das Löten von Leiterplatten mit OSP-Beschichtungen die ein oder mehrere Reflowprozesse bestehen haben.<br/>
                          SnPb und bleifrei kompatibel<br/>
                          OR L0 gemäß EN und IPC Standards<br/>
                          Halogengehalt: 0,00%</p>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=OSPI 3311M" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-2 views-row-even product-row">
                      <div class="product-images"><img src="/assets/images/CLP_IF-2005M_3.jpg" width="200" height="200" alt=""/></div>
                      <div class="product-name">
                        <h3>IF 2005M</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon11"></div>
                            <p>Alkoholbasiert</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Für das Wellenlöten</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolut halogenfrei</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Hohe Kompatibilität mit Schutzlack</p>
                          </li>
                          <li>
                            <div class="icon19"></div>
                            <p>No-residue ™</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® IF 2005M ist der
                          <strong>international anerkannte</strong>, kolophonium- und kunstharzfreie no-clean / No-residue™
                          <strong>Flussmittelstandard</strong>.
                        </p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 2005M ist der international anerkannte, kolophonium- und kunstharzfreie no-clean / No-residue™ Flussmittelstandard.<br/>
                          Interflux® IF 2005M ist QPL-gelistet (homologiert gemäß MIL-F-14256F).<br/>
                          SnPb und bleifrei kompatibel<br/>
                          Geeignet für Sprüh- und Schaumfluxen<br/>
                          OR L0 gemäß EN und IPC-Standards<br/>
                          Feststoffgehalt: 1,85% ±0,15<br/>
                          Halogengehalt: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-2005M-DE.pdf">Technisches Datenblatt IF 2005M</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/IF-2005-series-application-doc-DE.pdf">IF 2005-Serie Anwendung</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-2005M-FR.pdf">Fiche technique IF 2005M</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/IF-2005-series-application-doc-FR.pdf">Document d'application de la série IF 2005</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-2005M.pdf">Technical Data Sheet IF 2005M</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/IF-2005-series-application-doc.pdf">IF 2005 series application document</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 2005M" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-3 views-row-odd product-row">
                      <div class="product-images"><img src="/assets/images/CLP_IF-2005K_7.jpg" width="200" height="200" alt="IF 2005K"/></div>
                      <div class="product-name">
                        <h3>IF 2005K</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon11"></div>
                            <p>Alkoholbasiert</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Für das Wellenlöten</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolut halogenfrei</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Hohe Kompatibilität mit Schutzlack</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Wenig Rückstände</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® IF 2005K mit 2,5% Feststoffgehalt ist ein kolophonium- und kunstharzfreies no-clean Flussmittel. Es kann eingesetzt werden wenn der Lötprozess
                          <strong>mehr Aktivierung</strong>
                          braucht als
                          <strong>IF 2005M</strong>
                          bietet.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 2005K mit 2,5% Feststoffgehalt ist ein kolophonium- und kunstharzfreies no-clean Flussmittel. Es kann eingesetzt werden wenn der Lötprozess mehr Aktivierung braucht als IF 2005M bietet.<br/>
                          SnPb und bleifrei kompatibel<br/>
                          Geeignet für Sprüh- und Schaumfluxen<br/>
                          OR L0 gemäß EN und IPC-Standards<br/>
                          Feststoffgehalt: 2,5% ±0,3<br/>
                          Halogengehalt: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-2005K-DE.pdf">Technisches Datenblatt IF 2005K</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/IF-2005-series-application-doc-DE.pdf">IF 2005-Serie Anwendung</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-2005K-FR.pdf">Fiche technique IF 2005K</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/IF-2005-series-application-doc-FR.pdf">Document d'application de la série IF 2005</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-2005K.pdf">Technical Data Sheet IF 2005K</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/IF-2005-series-application-doc.pdf">IF 2005 series application document</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 2005K" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-4 views-row-even product-row">
                      <div class="product-images"><img src="/assets/images/CLP_P-2009M_7.jpg" width="200" height="200" alt="PACIFIC 2009M"/></div>
                      <div class="product-name">
                        <h3>PACIFIC 2009M</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon12"></div>
                            <p>Wasserbasiertes Flussmittel</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Für das Wellenlöten</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Für das Selektivlöten</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Für die Vorverzinnung</p>
                          </li>
                          <li>
                            <div class="icon06"></div>
                            <p>Für Sprühfluxen</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolut halogenfrei</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Hohe Kompatibilität mit Schutzlack</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Wenig Rückstände</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® PacIFic2009M ist ein wasserbasiertes Flussmittel das hauptsächlich verwendet wird für das
                          <strong>Wellen- und Selektivlöten</strong>.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® PacIFic2009M ist ein wasserbasiertes Flussmittel das hauptsächlich verwendet wird für das Wellen- und Selektivlöten.<br/>
                          SnPb und bleifrei kompatibel<br/>
                          OR L0 gemäß EN und IPC-Standards<br/>
                          Feststoffgehalt: 3,7% ±0,15<br/>
                          Halogengehalt: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="https://cdn.interflux.com/documents/products/PacIFic-2009M/TD-PacIFic-2009M-v2-DE.pdf">TD PacIFic 2009M-DE.pdf</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="https://cdn.interflux.com/documents/products/PacIFic-2009M/TD-PacIFic-2009M-v2-FR.pdf">Fiche technique PacIFic 2009M</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="https://cdn.interflux.com/documents/products/PacIFic-2009M/TD-PacIFic-2009M-v2-EN.pdf">Technical Data Sheet PacIFic 2009M</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/Kyzen-P2009M.pdf">Cleaning PACIFIC 2009M by KYZEN</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009M" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-5 views-row-odd product-row">
                      <div class="product-images"><img src="/assets/images/CLP_P-2009MLF_8.jpg" width="200" height="200" alt="PACIFIC 2009MLF"/></div>
                      <div class="product-name">
                        <h3>PACIFIC 2009MLF</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon12"></div>
                            <p>Wasserbasiertes Flussmittel</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Für das Wellenlöten</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Für das Selektivlöten</p>
                          </li>
                          <li>
                            <div class="icon06"></div>
                            <p>Für Sprühfluxen</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolut halogenfrei</p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>
                              <strong>Anti-Lötperlenbildung</strong>
                            </p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>PacIFic 2009MLF ist ein wasserbasiertes no-clean Flussmittel das entwickelt worden ist um die
                          <strong>Lötperlenbildung zu minimieren</strong>.</p>
                      </div>
                      <div class="product-details">
                        <p>PacIFic 2009MLF ist ein wasserbasiertes no-clean Flussmittel das entwickelt worden ist um die Lötperlenbildung zu minimieren.<br/>
                          SnPb und bleifrei kompatibel<br/>
                          Haupteinsatzgebiet: Wellenlöten und Selektivlöten<br/>
                          OR L0 gemäß EN und IPC-Standards<br/>
                          Feststoffgehalt: 3,6% ±0,2<br/>
                          Halogengehalt: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-PacIFic-2009MLF-DE.pdf">Technisches Datenblatt PacIFic 2009MLF</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-PacIFic-2009MLF-FR.pdf">Fiche technique PacIFic 2009MLF</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-PacIFic-2009MLF.pdf">Technical Data Sheet PacIFic 2009MLF</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009MLF" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-6 views-row-even product-row">
                      <div class="product-images"><img src="/assets/images/CLP_P-2009MLF-E_6.jpg" width="200" height="200" alt="PACIFIC 2009MLF-E"/></div>
                      <div class="product-name">
                        <h3>PACIFIC 2009MLF-E</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon12"></div>
                            <p>Wasserbasiertes Flussmittel</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Für das Wellenlöten</p>
                          </li>
                          <li>
                            <div class="icon06"></div>
                            <p>Für Sprühfluxen</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolut halogenfrei</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Reduzierte Rückstände</p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>
                              <strong>Reduzierte Lötperlenbildung</strong>
                            </p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>PacIFic 2009MLF-E ist ein wasserbasiertes no-clean Flussmittel das
                          <strong>wenig Rückstände</strong>
                          kombiniert mit
                          <strong>reduzierter Lötperlenbildung</strong>.</p>
                      </div>
                      <div class="product-details">
                        <p>PacIFic 2009MLF-E ist ein wasserbasiertes no-clean Flussmittel das wenig Rückstände kombiniert mit reduzierter Lötperlenbildung.<br/>
                          SnPb und bleifrei kompatibel<br/>
                          Haupteinsatzgebiet: Wellenlöten<br/>
                          OR L0 gemäß EN und IPC-Standards<br/>
                          Feststoffgehalt: 3,6% ±0,25<br/>
                          Halogengehalt: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-PacIFic-2009MLF-E-DE.pdf">Technisches Datenblatt PacIFic 2009MLF-E</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-PacIFic-2009MLF-E-DE.pdf">Fiche technique PacIFic 2009MLF-E</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-PacIFic-2009MLF-E.pdf">Technical Data Sheet PacIFic 2009MLF-E</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009MLF-E" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-7 views-row-odd product-row">
                      <div class="product-images"><img src="/assets/images/CLP_P-2010F_7.jpg" width="200" height="200" alt="PACIFIC 2010F"/></div>
                      <div class="product-name">
                        <h3>PACIFIC 2010F</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon12"></div>
                            <p>Wasserbasiertes Flussmittel</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Für das Wellenlöten</p>
                          </li>
                          <li>
                            <div class="icon06"></div>
                            <p>Für Sprühfluxen</p>
                          </li>
                          <li>
                            <div class="icon07"></div>
                            <p>Für Schaumfluxen</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolut halogenfrei</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Hohe Kompatibilität mit Schutzlack</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Wenig Rückstände</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>PacIFic 2010F ist ein wasserbasiertes no-clean Flussmittel das geeignet ist für das
                          <strong>Schaumfluxen</strong>.</p>
                      </div>
                      <div class="product-details">
                        <p>PacIFic 2010F ist ein wasserbasiertes no-clean Flussmittel das geeignet ist für das Schaumfluxen.<br/>
                          SnPb und bleifrei kompatibel<br/>
                          OR L0 gemäß EN und IPC-Standards<br/>
                          Feststoffgehalt: 2,5% ±0,15<br/>
                          Halogengehalt: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-PacIFic-2010F-DE.pdf">Technisches Datenblatt PacIFic 2010F</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-PacIFic-2010F-FR.pdf">Fiche technique PacIFic 2010F</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-PacIFic-2010F.pdf">Technical Data Sheet PacIFic 2010F</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2010F" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-8 views-row-even product-row">
                      <div class="product-images"><img src="/assets/images/CLP_IF-3006_7.jpg" width="200" height="200" alt="IF 3006"/></div>
                      <div class="product-name">
                        <h3>IF 3006</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon13"></div>
                            <p>Reduzierter VOC-Gehalt</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Für das Wellenlöten</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Für das Selektivlöten</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Für die Vorverzinnung</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolut halogenfrei</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Hohe Kompatibilität mit Schutzlack</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® IF 3006 ist ein kolophonium- und kunstharzfreies no-clean Flussmittel mit
                          <strong>reduziertem VOC-Gehalt</strong>.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 3006 ist ein kolophonium- und kunstharzfreies no-clean Flussmittel mit reduziertem VOC-Gehalt.<br/>
                          SnPb und bleifrei kompatibel<br/>
                          Auch geeignet für die Vorverzinnung<br/>
                          OR L0 gemäß EN und IPC-Standards<br/>
                          Feststoffgehalt: 3,2% ±0,4<br/>
                          Halogengehalt: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-3006-DE.pdf">Technisches Datenblatt IF 3006</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-3006-FR.pdf">Fiche technique IF 3006</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-3006.pdf">Technical Data Sheet IF 3006</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 3006" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-9 views-row-odd product-row">
                      <div class="product-images"><img src="/assets/images/CLP_AF-4818PbF_rechtsom.jpg" width="200" height="200" alt="AF 4818PbF"/></div>
                      <div class="product-name">
                        <h3>AF 4818 PBF</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon14"></div>
                            <p>Enthält Kolophonium</p>
                          </li>
                          <li>
                            <div class="icon11"></div>
                            <p>Alkoholbasiert</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Für das Wellenlöten</p>
                          </li>
                          <li>
                            <div class="icon06"></div>
                            <p>Für Sprühfluxen</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolut halogenfrei</p>
                          </li>
                          <li>
                            <div class="icon21"></div>
                            <p>Hohe Desoxydationsfähigkeit</p>
                          </li>
                          <li>
                            <div class="icon22"></div>
                            <p>Besteht eine lange Vorheizung</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® AF 4818 PbF ist ein alkoholbasiertes, kolophoniumbasiertes, no-clean Flussmittel mit einem erhöhten Feststoffgehalt und großem Prozessfenster.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® AF 4818 PbF ist ein alkoholbasiertes, kolophoniumbasiertes, no-clean Flussmittel mit einem erhöhten Feststoffgehalt und großem Prozessfenster.<br/>
                          SnPb und bleifrei kompatibel<br/>
                          RO L0 gemäß EN und IPC-Standards<br/>
                          Feststoffgehalt: 5%<br/>
                          Halogengehalt: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-AF-4818-PbF-DE.pdf">Technisches Datenblatt AF 4818PbF</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-AF-4818-PbF.pdf">Technical Data Sheet AF 4818PbF</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=AF 4818 PBF" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-10 views-row-even views-row-last product-row">
                      <div class="product-images"><img src="/assets/images/CLP_T-2005M.jpg" width="200" height="200" alt="Interflux T2005M thinner"/><img src="/assets/images/Interflux-T2005M.jpg" width="200" height="200" alt="Interflux T2005M thinner"/></div>
                      <div class="product-name">
                        <h3>T 2005M</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon11"></div>
                            <p>Alkoholbasiert</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Absolut halogenfrei</p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>Für die Flussmittel aus der IF2005-Serie</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® T 2005M ist der Verdünner für die Flussmittel aus der IF2005-Serie.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® T 2005M ist der Verdünner für die Flussmittel aus der IF2005-Serie.<br/>
                          Für Schaumfluxen und sonstige offenen Systeme</p>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=T 2005M" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-process-views-interflux">
              <h2 class="pane-title">
                <div class="fs28">Hilfsmittel</div>
                <div class="fs18 nc">fürs Wellenlöten</div>
              </h2>
              <div class="pane-content">
                <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_4 product-row-group view-dom-id-28266423aa575843c59e1fed5e4d8600">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                      <div class="product-images"><img src="/assets/images/CLP_IF-710-PSM_0.jpg" width="200" height="200" alt="IF 710PSM"/></div>
                      <div class="product-name">
                        <h3>IF 710 PSM</h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>abziehbare Lötstoppmaske</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Für das Wellenlöten</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>Für SnPb(Ag)-Prozesse</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Für bleifreie Prozesse</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Schnelles Trocknen, einfaches Abziehen</p>
                          </li>
                          <li>
                            <div class="icon28"></div>
                            <p>RoHS-konform</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® IF 710 PSM ist eine schnell trocknende abziehbare Lötstoppmaske auf Basis von natürlichem Latex.
                        </p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 710 PSM ist eine schnell trocknende abziehbare Lötstoppmaske auf Basis von natürlichem Latex.<br/>
                          Um Teile der Leiterplatte vom Wellen- und Flussmittelkontakt zu schützen.<br/>
                          Einfaches Entfernen, zerreißt nicht schnell beim Abziehen.<br/>
                          Wärmebeständig<br/>
                          Kann eine Verfärbung des Kupfers geben wenn aufgetragen auf nacktem Cu und Cu-OSP.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-710-DE.pdf">Technisches Datenblatt IF 710 PSM</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-710-FR.pdf">Fiche technique IF 710 PSM</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-710.pdf">Technical Data Sheet IF 710 PSM</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 710 PSM" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-2 views-row-even product-row">
                      <div class="product-images"><img src="/assets/images/IF-910_final2.png" width="200" height="200" alt="IF 910 de-oxidation oil"/></div>
                      <div class="product-name">
                        <h3>IF 910</h3>
                      </div>
                      <div class="product-name-extra">
                        <h3>De-oxidationsöl</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Für das Wellenlöten</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Für die Vorverzinnung</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Für Tauchlöten</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>SnPb kompatibel</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Bleifrei kompatibel</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® IF 910 De-oxidationsöl trennt Oxyden vom guten Lot im Lötbad.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 910 De-Oxidationsöl trennt Oxyden vom guten Lot im Lötbad.<br/>
                          Reduziert den Lotverbrauch.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-910-DE.pdf">Technisches Datenblatt IF 910</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-910-FR.pdf">Fiche technique IF 910</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-910.pdf">Technical Data Sheet IF 910</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 910" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-3 views-row-odd product-row">
                      <div class="product-images"><img src="/assets/images/CLP_AOP-lead-free.jpg" width="200" height="200" alt="Anti-oxidant pellets"/><img src="/assets/images/CLP_AOP-SnPb.jpg" width="200" height="200" alt=""/></div>
                      <div class="product-name">
                        <h3>ANTIOXIDATIONSTABLETTEN</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Für das Wellenlöten</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Für das Selektivlöten</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Für die Vorverzinnung</p>
                          </li>
                          <li>
                            <div class="icon15"></div>
                            <p>Für SnPb(Ag)-Prozesse</p>
                          </li>
                          <li>
                            <div class="icon16"></div>
                            <p>Für bleifreie Prozesse</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® Antioxidationstabletten minimieren die Oxydbildung in bleifreien und SnPb(Ag) Lötbäder.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® Antioxidationstabletten minimieren die Oxydbildung in bleifreien und SnPb(Ag) Lötbäder.<br/>
                          Verwendet als Zusatz im Lötbad<br/>
                          Für SnPb(Ag)-Legierungen (Blaues Etikett) oder bleifreie Legierungen (grünes Etikett). Antioxidationstabletten werden nicht empfohlen für eine geschlossene inerte Atmosphäre und für Ni-dotiertes Lot.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Anti-oxidant-pellets-DE.pdf">Technisches Datenblatt Anti-oxidant pellets</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Anti-oxidant-pellets-FR.pdf">Fiche technique Anti-oxidant pellets</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Anti-oxidant-pellets.pdf">Technical Data Sheet Anti-oxidant pellets</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=ANTIOXIDATIONSTABLETTEN" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-4 views-row-even product-row">
                      <div class="product-images"><img src="/assets/images/solder-bars_0.jpg" width="200" height="200" alt="solder bars"/></div>
                      <div class="product-name">
                        <h3>STANGENLOT</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Für das Wellenlöten</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Für das Selektivlöten</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Für die Vorverzinnung</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Für Tauchlöten</p>
                          </li>
                          <ul></ul>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® Stangenlot wird hergestellt von Metallen mit hoher Reinheit und niedrigem Oxydationsgrad in SnPb(Ag) und bleifreien Legierungen.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® Stangenlot wird hergestellt von Metallen mit hoher Reinheit und niedrigem Oxydationsgrad in SnPb(Ag) und bleifreien Legierungen.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Lead-free-alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-SnPbAg-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/General-info-lead-free-alloys.pdf">Short properties overview</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=STANGENLOT" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-5 views-row-odd product-row">
                      <div class="product-images"><img src="/assets/images/grenailles_2.png" width="200" height="200" alt="Lottabletten"/></div>
                      <div class="product-name">
                        <h3>LOTTABLETTEN</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>Für das Wellenlöten</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Für das Selektivlöten</p>
                          </li>
                          <li>
                            <div class="icon04"></div>
                            <p>Für die Nacharbeit und Reparatur</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Für die Vorverzinnung</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Für Tauchlöten</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® Lottabletten sind kleine Teile Lot in bleifreien und SnPb(Ag)-Legierungen für eine einfache Lötbadbefüllung.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® Lottabletten sind kleine Teile Lot in bleifreien und SnPb(Ag)-Legierungen für eine einfache Lötbadbefüllung.<br/>
                          Größe : ungefähr 1cm x 1cm<br/>
                          Bleifreie und SnPb(Ag)-Legierungen</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Lead-free-alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-SnPbAg-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Lead-free-alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-SnPbAg-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Lead-free-alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-SnPbAg-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/General-info-lead-free-alloys.pdf">Short properties overview</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=LOTTABLETTEN" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-6 views-row-even views-row-last product-row">
                      <div class="product-images"><img src="/assets/images/Interflux-IPA-wipes-jar.jpg" width="200" height="200" alt="Interflux IPA-DI wipes"/><img src="/assets/images/Interflux-IPA-wipes.jpg" width="200" height="200" alt="Interflux IPA-DI wipes"/></div>
                      <div class="product-name">
                        <h3>IPA/DI TÜCHER</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon30"></div>
                            <p>ESD-Sicher</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® vorgetränkte IPA/DI Tücher in Flip-Top Dosen und Nachfüllbeutel für die
                          <strong>allgemeine Reinigung</strong>
                          von Oberflächen.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® vorgetränkte IPA/DI Tücher in Flip-Top Dosen und Nachfüllbeutel für die allgemeine Reinigung von Oberflächen.<br/>
                          Ungewobenes Material, flusenfrei<br/>
                          Größe eines Tuches : 15 x 21 cm<br/>
                          100 St./Rolle</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IPA-DI-wipes-DE.pdf">Technisches Datenblatt IPA/DI wipes</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IPA-DI-wipes-FR.pdf">Fiche technique IPA/DI wipes</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IPA-DI-wipes.pdf">Technical Data Sheet IPA/DI wipes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IPA/DI TÜCHER" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-process-views-interflux">
              <h2 class="pane-title">
                <div class="fs24">Sprühfluxer</div>
                <div class="fs18 nc">fürs Wellenlöten</div>
              </h2>
              <div class="pane-content">
                <div class="view view-process-views-interflux- view-id-process_views_interflux_ view-display-id-page_3 product-row-group view-dom-id-e06e9e6be779a77b3295f3d0812da28e">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="views-row views-row-1 views-row-odd views-row-first product-row">
                      <div class="product-images"><img src="/assets/images/ICSF-Curve.jpg" width="200" height="200" alt="ICSF Curve"/></div>
                      <div class="product-name">
                        <h3>ICSF CURVE</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>
                              For wave soldering</p>
                          </li>
                          <li>
                            <div class="icon06"></div>
                            <p>
                              For spray fluxing</p>
                          </li>
                          <li>
                            <div class="icon11"></div>
                            <p>
                              For Alcohol based fluxes</p>
                          </li>
                          <li>
                            <div class="icon17"></div>
                            <p>
                              For water based fluxes</p>
                          </li>
                          <li>
                            <div class="icon14"></div>
                            <p>
                              For rosin based fluxes</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>The InterSpray Curve series are designed to
                          <strong>retrofit all existing soldering machines</strong>
                          with a reliable spray fluxer which offers excellent results.</p>
                      </div>
                      <div class="product-details">
                        <p>The InterSpray Curve series are designed to retrofit all existing soldering machines with a reliable spray fluxer which offers excellent results.<br/>
                          √ Venturi, clog-free spray nozzle<br/>
                          √ Touch screen programming<br/>
                          √ Clean, ergonomic design<br/>
                          √ Special flux pump<br/>
                          √ Encoder calibration function<br/>
                          √ Low level flux alarm</p>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=ICSF CURVE" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                    <div class="views-row views-row-2 views-row-even views-row-last product-row">
                      <div class="product-images"><img src="/assets/images/ICSFcurve2.png" width="200" height="200" alt=""/></div>
                      <div class="product-name">
                        <h3>ICSF CURVE 2</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon01"></div>
                            <p>
                              For wave soldering</p>
                          </li>
                          <li>
                            <div class="icon06"></div>
                            <p>
                              For spray fluxing</p>
                          </li>
                          <li>
                            <div class="icon11"></div>
                            <p>
                              For Alcohol based fluxes</p>
                          </li>
                          <li>
                            <div class="icon17"></div>
                            <p>
                              For water based fluxes</p>
                          </li>
                          <li>
                            <div class="icon14"></div>
                            <p>
                              For rosin based fluxes</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>The InterSpray Curve 2 double nozzle series are designed to
                          <strong>use 2 different types of fluxes
                          </strong>in 1 reliable spray fluxer system.</p>
                      </div>
                      <div class="product-details">
                        <p>The InterSpray Curve 2 double nozzle series are designed to use 2 different types of fluxes in 1 reliable system.<br/>
                          √ Double Venturi, clog-free spray nozzle<br/>
                          √ Touch screen programming<br/>
                          √ 2 Flux supply modules<br/>
                          √ Clean, ergonomic design<br/>
                          √ Special flux pump<br/>
                          √ Encoder calibration function<br/>
                          √ Low level flux alarm</p>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=ICSF CURVE 2" target="_blank">Contact us for more info / demo / samples</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="block-block-17" class="block block-block library-reference last even">
        <div class="inner-block">
          <p>Produkt nicht gefunden? Für eine komplette Liste, konsultieren Sie unsere
            <a href="/de/documents">Bibliothek</a>
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-footer2">
    <div class="inner-region">
      <div id="block-block-18" class="block block-block first last odd">
        <div class="inner-block">
          <div class="block grid-12" id="F1">
            <div class="inner-block">
              <div class="inner-content">
                <a href="/de/contact" title="Gehen Sie zur Kontaktseite für mehr Info"><img src="/assets/images/Interflux-Electronics-headquarters-belgium.jpg" width="171" height="271" alt="Interflux Electronics Belgien Bürogebäude"/></a>
                <div class="contact-title">
                  <span>KONTAKT</span><br/>INTERFLUX<br/>HAUPTSITZ</div>
                <div class="contact-adress">
                  <p>
                    Interflux Electronics NV<br/>
                    Gent zeehaven 3170A<br/>
                    Eddastraat 51<br/>
                    9042 Gent<br/>
                    BELGIEN</p>
                  <p>Tel.: +32 9251 4959<br/>
                    Fax: +32 9251 4970<br/>
                    <a href="mailto:info@interflux.com" target="_blank">info@interflux.com</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="block grid-12" id="F2">
            <div class="inner-block">
              <div class="inner-content">
                <div class="contact-title">
                  <span>KONTAKT</span><br/>INTERFLUX WELTWEIT</div>
                <p>
                  <a href="/de/contact" title="Alle Rechte vorbehalten für Interflux® Electronics N.V."><img src="/assets/images/interflux-worldwide-map.jpg" width="446" height="196" alt="Geographische Karte von der Interflux Gruppe"/></a>
                </p>
              </div>
            </div>
          </div>
          <div class="block grid-24" id="F3">
            <div class="copyright">©2012 Alle Rechte vorbehalten für Interflux® Electronics N.V.</div>
            <div class="louder-than-words">Webseite durch
              <a href="https://nabu.io" target="_new" title="NABU websites">NABU websites</a>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
{% endblock %}