{% extends "layout.html.njk" %}
{% block meta %}
  <title>Flux penyolderan | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}id-soldering-fluxes
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-soldering-fluxes page-products i18n-id section-soldering-fluxes page-panels
{% endblock %}
{% block page %}
  <div class="region region-language">
    <div class="inner-region">
      <div id="block-locale-language" class="block block-locale language-menu block grid-24 first last odd" role="complementary">
        <div class="inner-block">
          <ul class="language-switcher-locale-url">
            <li class="en first">
              <a href="/en/soldering-fluxes" class="language-link" lang="en" title="Soldering fluxes">
                <div class="flag en"></div>English</a>
            </li>
            <li class="zh-hans">
              <a href="/zh-hans/soldering-fluxes" class="language-link" lang="zh-hans" title="助焊剂">
                <div class="flag zh-hans"></div>简体中文</a>
            </li>
            <li class="cs">
              <a href="/cs/soldering-fluxes" class="language-link" lang="cs" title="Pájecí tavidla">
                <div class="flag cs"></div>Čeština</a>
            </li>
            <li class="de">
              <a href="/de/soldering-fluxes" class="language-link" lang="de" title="Flussmittel">
                <div class="flag de"></div>Deutsch</a>
            </li>
            <li class="fr">
              <a href="/fr/soldering-fluxes" class="language-link" lang="fr" title="Flux de brasage">
                <div class="flag fr"></div>Français</a>
            </li>
            <li class="it">
              <a href="/it/soldering-fluxes" class="language-link" lang="it" title="Flussanti per saldatura">
                <div class="flag it"></div>Italiano</a>
            </li>
            <li class="id active">
              <a href="/id/soldering-fluxes" class="language-link active" lang="id" title="Flux penyolderan">
                <div class="flag id"></div>Bahasa Indonesia</a>
            </li>
            <li class="pt-pt">
              <a href="/pt-pt/soldering-fluxes" class="language-link" lang="pt-pt" title="Fluxos de soldadura">
                <div class="flag pt-pt"></div>Português</a>
            </li>
            <li class="ro">
              <a href="/ro/soldering-fluxes" class="language-link" lang="ro" title="Fluxuri">
                <div class="flag ro"></div>Română</a>
            </li>
            <li class="ru">
              <a href="/ru/soldering-fluxes" class="language-link" lang="ru" title="Паяльные флюсы">
                <div class="flag ru"></div>Русский</a>
            </li>
            <li class="th">
              <a href="/th/soldering-fluxes" class="language-link" lang="th" title="ฟลักซ์บัดกรี">
                <div class="flag th"></div>ภาษาไทย</a>
            </li>
            <li class="tr">
              <a href="/tr/soldering-fluxes" class="language-link" lang="tr">
                <div class="flag tr"></div>Türkçe</a>
            </li>
            <li class="pl">
              <a href="/pl/soldering-fluxes" class="language-link" lang="pl" title="Topniki lutownicze">
                <div class="flag pl"></div>Polski</a>
            </li>
            <li class="es">
              <a href="/es/soldering-fluxes" class="language-link" lang="es" title="Fluxes de soldadura">
                <div class="flag es"></div>Español</a>
            </li>
            <li class="sv last">
              <a href="/sv/soldering-fluxes" class="language-link" lang="sv" title="Flussmedel">
                <div class="flag sv"></div>Svenska</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-header">
    <div class="inner-region">
      <div id="block-block-11" class="block block-block grid-9 first odd">
        <div class="inner-block">
          <p>
            <a href="/" title="Interflux Electronics"><img src="/assets/images/interflux-electronics-logo.png" width="343" height="87" alt="Interflux Electronics logo"/></a>
          </p>
        </div>
      </div>
      <div id="block-menu-menu-interflux-menu" class="block block-menu grid-15 header-nav last even" role="navigation">
        <div class="inner-block">
          <ul class="menu">
            <li class="first expanded active-trail">
              <a href="/id" title="Temukan produk berdasarkan jenis" class="active-trail">Produk</a>
              <ul class="menu">
                <li class="first leaf active-trail">
                  <a href="/id/soldering-fluxes" title="" class="active-trail active">Flux penyolderan</a>
                </li>
                <li class="leaf">
                  <a href="/id/solder-pastes" title="">Pasta solder</a>
                </li>
                <li class="leaf">
                  <a href="/id/solder-wires" title="">Timah solder</a>
                </li>
                <li class="leaf">
                  <a href="/id/spray-fluxers" title="">Penyemprot flux</a>
                </li>
                <li class="last leaf">
                  <a href="/id/auxiliaries" title="">Alat pembantu</a>
                </li>
              </ul>
            </li>
            <li class="expanded">
              <a href="/id" title="Temukan produk berdasarkan proses">Proses</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/id/wave-soldering" title="">Penyolderan gelombang</a>
                </li>
                <li class="leaf">
                  <a href="/id/selective-soldering" title="">Penyolderan selektif</a>
                </li>
                <li class="leaf">
                  <a href="/id/reflow-soldering" title="">Penyolderan reflow</a>
                </li>
                <li class="leaf">
                  <a href="/id/rework-and-repair" title="">Pengerjaan ulang & Perbaikan</a>
                </li>
                <li class="last leaf">
                  <a href="/id/pre-tinning" title="">Pra-pelapisan timah</a>
                </li>
              </ul>
            </li>
            <li class="leaf">
              <a href="/id/company" title="Pelajari tentang Interflux">Perusahaan</a>
            </li>
            <li class="leaf">
              <a href="/id/documents" title="Temukan data teknis">Dokumen</a>
            </li>
            <li class="last leaf">
              <a href="/id/contact" title="Hubungi kami">Kontak</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-highlight">
    <div class="inner-region">
      <div id="banners">
        <div class="preload"></div>
        <div class="stage">
          <article id="ipc-apex-2017">
            <a href="https://www.ipcapexexpo.org/" target="_blank" title="Visit us at IPC APEX 2018 in San Diego">
              <picture>
                
                <img src="" alt="Visit use at IPC APEX 2018 in San Diego"/>
              </picture>
            </a>
          </article>
          <article id="productronica-2017">
            <a href="https://www.productronica.com/" target="_blank" title="Visit us at Productronica 2017">
              <img src=""/>
            </a>
          </article>
          <article id="lmpa">
            <a href="https://lmpa.interflux.com" target="_blank">
              <h1>Solder
                <strong>5 times</strong>
                faster whilst maintaining
                <strong>zero defects</strong>
              </h1>
              <h1>Discover
                <mark>LMPA<span>™</span>
                </mark>
              </h1>
              <div id="video">
                <video id="movie" width="276" height="220" autoplay loop>
                  <source src="https://cdn.interflux.com/videos/LMPA-Q-30mms.mp4" type="video/mp4"></source>
                  Your browser doesn't support HTML5 video tag.
                </video>
                <script></script>
                <p>Speed: 30 mm/s</p>
              </div>
            </a>
          </article>
        </div>
        <nav>
          <div id="prev">
            <div></div>
          </div>
          <div id="next">
            <div></div>
          </div>
          <div id="timer">
            <div></div>
          </div>
          <ul></ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="panel-display panel-1col clearfix">
        <div class="panel-panel panel-col">
          <div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs30">Flux penyolderan berbasis alkohol</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_5 product-row-group view-dom-id-d9ba0ff0bfaeb453954a7b3c1a54f90a">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_OSPI-3311M_13.jpg" width="200" height="200" alt="OSPI 3311M soldering flux"/></div>
                      <div class="product-name">
                        <h3>OSPI 3311M</h3>
                      </div>
                      <div class="product-highlight">
                        <h3>KEBARUAN</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon11"></div>
                            <p>Flux berbasis alkohol</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Untuk soldering gelombang</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Bebas halida</p>
                          </li>
                          <li>
                            <div class="icon21"></div>
                            <p>Berdaya deoksidasi tinggi</p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>Untuk menyolder OSP</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® OSPI 3311M adalah flux tanpa pembersih berbasis alkohol untuk menyolder papan jadi OSP yang telah melewati satu atau dua siklus reflow.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® OSPI 3311M adalah flux tanpa pembersih berbasis alkohol untuk menyolder papan jadi OSP yang telah melewati satu atau dua siklus reflow.<br/>
                          Untuk proses SnPb dan proses bebas timbal<br/>
                          OR L0 berdasarkan standar EN dan IPC<br/>
                          Kandungan halida: 0,00%</p>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=OSPI 3311M" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/id/1151" title="OSPI 3311M" class="nid">1151</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_IF-2005M_3.jpg" width="200" height="200" alt=""/></div>
                      <div class="product-name">
                        <h3>IF 2005M</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon11"></div>
                            <p>Berbasis alkohol</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Untuk soldering gelombang</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Bebas halida</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Kompatibilitas tinggi dengan pernis</p>
                          </li>
                          <li>
                            <div class="icon19"></div>
                            <p>No-residue™</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® IF 2005M adalah standar flux yang dikenal secara internasional bebas resin dan rosin, bebas pembersihan / No-residue™ (tidak ada sisa).</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 2005M adalah standar flux yang dikenal secara internasional bebas resin dan rosin, bebas pembersihan / No-residue™ (tidak ada sisa).<br/>
                          Interflux® IF 2005M terdaftar QPL (disetujui untuk MIL-F-14256F).<br/>
                          Kompatibel SnPb dan bebas timbal<br/>
                          Cocok untuk pemberian flux dengan penyemprotan atau buih<br/>
                          OR L0 berdasarkan standar EN dan IPC<br/>
                          Kandungan padat: 1,85% ±0,15<br/>
                          Kandungan halida: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-2005M-DE.pdf">Technisches Datenblatt IF 2005M</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/IF-2005-series-application-doc-DE.pdf">IF 2005-Serie Anwendung</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-2005M-FR.pdf">Fiche technique IF 2005M</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/IF-2005-series-application-doc-FR.pdf">Document d'application de la série IF 2005</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-2005M.pdf">Technical Data Sheet IF 2005M</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/IF-2005-series-application-doc.pdf">IF 2005 series application document</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 2005M" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/id/1135" title="IF 2005M" class="nid">1135</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_IF-2005K_7.jpg" width="200" height="200" alt="IF 2005K"/></div>
                      <div class="product-name">
                        <h3>IF 2005K</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon11"></div>
                            <p>Berbasis alkohol</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Untuk soldering gelombang</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Tidak mengandung halida</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Kompatibilitas tinggi dengan pernis</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>kandungan sisa rendah</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® IF 2005K dengan kandungan padat 2,5% merupakan flux tanpa pembersih bebas resin dan rosin. Produk ini dapat digunakan ketika proses penyolderan memerlukan aktivasi yang lebih banyak daripada yang diberikan IF 2005M.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 2005K dengan kandungan padat 2,5% merupakan flux tanpa pembersih bebas resin dan rosin. Produk ini dapat digunakan ketika proses penyolderan memerlukan aktivasi yang lebih banyak daripada yang diberikan IF 2005M.<br/>
                          Kompatibel SnPb dan bebas timbal<br/>
                          Cocok untuk pemberian flux dengan tehnik semprot atau busa<br/>
                          OR L0 berdasarkan standar EN dan IPC<br/>
                          Kandungan padat: 2,5% ±0,3<br/>
                          Kandungan halida: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-2005K-DE.pdf">Technisches Datenblatt IF 2005K</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/IF-2005-series-application-doc-DE.pdf">IF 2005-Serie Anwendung</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-2005K-FR.pdf">Fiche technique IF 2005K</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/IF-2005-series-application-doc-FR.pdf">Document d'application de la série IF 2005</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-2005K.pdf">Technical Data Sheet IF 2005K</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/IF-2005-series-application-doc.pdf">IF 2005 series application document</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 2005K" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/id/1134" title="IF 2005K" class="nid">1134</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="https://cdn.interflux.com/images/products/IF-2005C/IF-2005C-10L-angle@400x400.jpg" width="200" height="200" alt="IF 2005C"/></div>
                      <div class="product-name">
                        <h3>IF 2005C</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon11"></div>
                            <p>Berbasis alkohol</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Untuk proses soldering selektif</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Untuk proses sebelum pelapisan timah</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Tidak mengandung halida</p>
                          </li>
                          <li>
                            <div class="icon21"></div>
                            <p>Berdaya deoksidasi tinggi</p>
                          </li>
                          <li>
                            <div class="icon22"></div>
                            <p>Tahan terhadap pemanasan berjangka waktu lama</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Kompatibilitas tinggi dengan pernis</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® IF 2005C dengan kandungan padat 3,3% merupakan flux tanpa pembersih bebas resin dan rosin. Produk ini dapat digunakan ketika proses penyolderan memerlukan aktivasi yang lebih banyak daripada yang diberikan IF 2005M atau IF2005K.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 2005C dengan kandungan padat 3,3% merupakan flux tanpa pembersih bebas resin dan rosin. Produk ini dapat digunakan ketika proses penyolderan memerlukan aktivasi yang lebih banyak daripada yang diberikan IF 2005M atau IF2005K.<br/>
                          Kompatibel SnPb dan bebas timbal<br/>
                          Cocok untuk pemberian flux dengan penyemprotan atau buih<br/>
                          OR L0 berdasarkan standar EN dan IPC<br/>
                          Kandungan padat: 3,3% ± 0,3<br/>
                          Kandungan halida: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-2005C-DE.pdf">Technisches Datenblatt IF 2005C</a>
                        </span>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/IF-2005-series-application-doc-DE.pdf">IF 2005-Serie Anwendung</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-2005C-FR.pdf">Fiche technique IF 2005C</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/IF-2005-series-application-doc-FR.pdf">Document d'application de la série IF 2005</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-2005C.pdf">Technical Data Sheet IF 2005C</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/IF-2005-series-application-doc.pdf">IF 2005 series application document</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 2005C" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/id/1133" title="IF 2005C" class="nid">1133</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs30">Flux penyolderan bebas VOC</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_7 product-row-group view-dom-id-197e0a77548d7b9d52d30ad7f7cbf2da">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/SelectIF2040-2.png" width="200" height="200" alt="SelectIF 2040"/></div>
                      <div class="product-name">
                        <h3>SELECTIF 2040</h3>
                      </div>
                      <div class="product-highlight">
                        <h3>NEW</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon12"></div>
                            <p>Flux berbasis air</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Untuk penyolderan selektif</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Bebas halida</p>
                          </li>
                          <li>
                            <div class="icon21"></div>
                            <p>Berdaya deoksidasi tinggi</p>
                          </li>
                          <li>
                            <div class="icon22"></div>
                            <p>Tahan terhadap pemanasan berjangka waktu lama</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Berkompatibilitas tinggi dengan pelapisan konformal</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Kandungan sisa rendah</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® SelectIF 2040 flux penyolderan selektif tanpa pembersih yang berbasis air dengan jendela pemrosesan yang lebar dan pembentukan residu yang rendah.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® SelectIF 2040 flux penyolderan selektif tanpa pembersih yang berbasis air dengan jendela pemrosesan yang lebar dan pembentukan residu yang rendah.<br/>
                          Tahan terhadap pemrosesan temperatur tinggi dan waktu pemrosesan lama.<br/>
                          Untuk proses SnPb dan proses bebas timbal<br/>
                          OR L0 berdasarkan standar EN dan IPC<br/>
                          Kandungan padat: 6,5% ±0,2<br/>
                          Kandungan halida: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="{{cdnHost}}/documents/products/SelectIF-2040/TD-SelectIF-2040-v3-DE.pdf">Technisches Datenblatt SelectIF 2040</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="{{cdnHost}}/documents/products/SelectIF-2040/TD-SelectIF-2040-v3-FR.pdf">Fiche technique SelectIF 2040</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="{{cdnHost}}/documents/products/SelectIF-2040/TD-SelectIF-2040-v3-EN.pdf">Technical Data Sheet SelectIF 2040</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=SELECTIF 2040" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/id/1158" title="SELECTIF 2040" class="nid">1158</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_P-2009M_7.jpg" width="200" height="200" alt="PACIFIC 2009M"/></div>
                      <div class="product-name">
                        <h3>PACIFIC 2009M</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon12"></div>
                            <p>Flux berbasis air</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Untuk proses soldering gelombang</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Untuk proses soldering selektif</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Untuk proses sebelum pelapisan timah</p>
                          </li>
                          <li>
                            <div class="icon06"></div>
                            <p>Untuk  flux dengan cara semprot</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Bebas halide</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Tahan terhadap pemanasan berjangka waktu lama</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Kandungan sisa rendah
                            </p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® PacIFic
                          <strong></strong>2009M adalah flux tanpa pembersih berbasis air yang utamanya digunakan untuk penyolderan gelombang dan selektif.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® PacIFic
                          <strong></strong>2009M adalah flux tanpa pembersih berbasis air yang utamanya digunakan untuk penyolderan gelombang dan selektif.<br/>
                          Untuk proses SnPb dan proses bebas timbal<br/>
                          OR L0 berdasarkan standar EN dan IPC<br/>
                          Kandungan padat: 3,7% ±0,15<br/>
                          Kandungan halida: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="https://cdn.interflux.com/documents/products/PacIFic-2009M/TD-PacIFic-2009M-v2-DE.pdf">TD PacIFic 2009M-DE.pdf</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="https://cdn.interflux.com/documents/products/PacIFic-2009M/TD-PacIFic-2009M-v2-FR.pdf">Fiche technique PacIFic 2009M</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="https://cdn.interflux.com/documents/products/PacIFic-2009M/TD-PacIFic-2009M-v2-EN.pdf">Technical Data Sheet PacIFic 2009M</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/Kyzen-P2009M.pdf">Cleaning PACIFIC 2009M by KYZEN</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009M" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/id/1152" title="PACIFIC 2009M" class="nid">1152</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_P-2009MLF_8.jpg" width="200" height="200" alt="PACIFIC 2009MLF"/></div>
                      <div class="product-name">
                        <h3>PACIFIC 2009MLF</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon12"></div>
                            <p>Flux berbasis air</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Untuk penyolderan gelombang</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Untuk penyolderan selektif</p>
                          </li>
                          <li>
                            <div class="icon06"></div>
                            <p>Untuk pemberian flux dengan penyemprotan</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Bebas halida</p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>
                              <strong>Tidak membentuk bola solder</strong>
                            </p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>PacIFic
                          <strong></strong>2009MLF adalah flux penyolderan tanpa pembersihan berbasis air yang dibuat untuk meminimalkan pembentukan bola solder mikro.</p>
                      </div>
                      <div class="product-details">
                        <p>PacIFic 2009MLF adalah flux penyolderan tanpa pembersihan berbasis air yang dibuat untuk meminimalkan pembentukan bola solder mikro.<br/>
                          Untuk proses SnPb dan proses bebas timbal<br/>
                          Terutama digunakan untuk: penyolderan gelombang dan penyolderan selektif<br/>
                          OR L0 berdasarkan standar EN dan IPC<br/>
                          Kandungan padat: 3,6% ±0,2<br/>
                          Kandungan halida: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-PacIFic-2009MLF-DE.pdf">Technisches Datenblatt PacIFic 2009MLF</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-PacIFic-2009MLF-FR.pdf">Fiche technique PacIFic 2009MLF</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-PacIFic-2009MLF.pdf">Technical Data Sheet PacIFic 2009MLF</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009MLF" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/id/1153" title="PACIFIC 2009MLF" class="nid">1153</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_P-2009MLF-E_6.jpg" width="200" height="200" alt="PACIFIC 2009MLF-E"/></div>
                      <div class="product-name">
                        <h3>PACIFIC 2009MLF-E</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon12"></div>
                            <p>Flux berbasis air</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Untuk penyolderan gelombang</p>
                          </li>
                          <li>
                            <div class="icon06"></div>
                            <p>Untuk pemberian flux dengan penyemprotan</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Bebas halida</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Mengurangi residu</p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>
                              <strong>Mengurangi pembentukan bola solder</strong>
                            </p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>PacIFic
                          <strong></strong>2009MLF-E adalah flux tanpa pembersihan berbasis air yang menggabungkan tingkat residu rendah dan mengurangi pembentukan bola solder mikro.</p>
                      </div>
                      <div class="product-details">
                        <p>PacIFic 2009MLF-E adalah flux tanpa pembersihan berbasis air yang menggabungkan tingkat residu rendah dan mengurangi pembentukan bola solder mikro.<br/>
                          Untuk proses SnPb dan proses bebas timbal<br/>
                          Biasa digunakan untuk: penyolderan gelombang<br/>
                          OR L0 berdasarkan standar EN dan IPC<br/>
                          Kandungan padat: 3,6% ±0,25<br/>
                          Kandungan halida: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-PacIFic-2009MLF-E-DE.pdf">Technisches Datenblatt PacIFic 2009MLF-E</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-PacIFic-2009MLF-E-DE.pdf">Fiche technique PacIFic 2009MLF-E</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-PacIFic-2009MLF-E.pdf">Technical Data Sheet PacIFic 2009MLF-E</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009MLF-E" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/id/1154" title="PACIFIC 2009MLF-E" class="nid">1154</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_P-2010F_7.jpg" width="200" height="200" alt="PACIFIC 2010F"/></div>
                      <div class="product-name">
                        <h3>PACIFIC 2010F</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon12"></div>
                            <p>Flux berbasis air</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Untuk penyolderan gelombang</p>
                          </li>
                          <li>
                            <div class="icon06"></div>
                            <p>Untuk pemberian flux dengan penyemprotan</p>
                          </li>
                          <li>
                            <div class="icon07"></div>
                            <p>
                              <strong>Untuk pemberian flux dengan buih</strong>
                            </p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Bebas halida</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Tahan terhadap pemanasan berjangka waktu lama</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Beresidu rendah</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>PacIFic
                          <strong></strong>2010F adalah flux tanpa pembersihan berbasis air untuk pengaplikasian flux dengan buih.</p>
                      </div>
                      <div class="product-details">
                        <p>PacIFic 2010F adalah flux tanpa pembersihan berbasis air untuk pengaplikasian flux dengan buih.<br/>
                          Untuk penyolderan gelombang SnPb dan bebas timbal<br/>
                          OR L0 berdasarkan standar EN dan IPC<br/>
                          Kandungan padat: 2,5% ±0,15<br/>
                          Kandungan halida: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-PacIFic-2010F-DE.pdf">Technisches Datenblatt PacIFic 2010F</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-PacIFic-2010F-FR.pdf">Fiche technique PacIFic 2010F</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-PacIFic-2010F.pdf">Technical Data Sheet PacIFic 2010F</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2010F" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/id/1155" title="PACIFIC 2010F" class="nid">1155</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs30">Flux penyolderan rendah VOC</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_8 product-row-group view-dom-id-625bd4c85e9e8922f51a4e7509fcdf88">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_IF-3006_7.jpg" width="200" height="200" alt="IF 3006"/></div>
                      <div class="product-name">
                        <h3>IF 3006</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon13"></div>
                            <p>Rendah VOC</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Untuk penyolderan gelombang</p>
                          </li>
                          <li>
                            <div class="icon02"></div>
                            <p>Untuk penyolderan selektif</p>
                          </li>
                          <li>
                            <div class="icon05"></div>
                            <p>Untuk proses sebelum pelapisan timah</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Bebas halida</p>
                          </li>
                          <li>
                            <div class="icon24"></div>
                            <p>Kompatibilitas tinggi dengan pernis</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux®
                          <strong></strong>IF 3006 adalah flux penyolderan tanpa pembersih yang bebas resin dan rosin, dengan kandungan VOC dikurangi.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 3006 adalah flux penyolderan tanpa pembersih yang bebas resin dan rosin, dengan kandungan VOC dikurangi.<br/>
                          Untuk proses SnPb dan proses bebas timbal<br/>
                          Juga untuk pra-pelapisan timah<br/>
                          OR L0 berdasarkan standar EN dan IPC<br/>
                          Kandungan padat: 3,2% ±0,2<br/>
                          Kandungan halida: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-3006-DE.pdf">Technisches Datenblatt IF 3006</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-3006-FR.pdf">Fiche technique IF 3006</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-3006.pdf">Technical Data Sheet IF 3006</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 3006" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/id/1136" title="IF 3006" class="nid">1136</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs30">Flux penyolderan berbasis rosin</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_6 product-row-group view-dom-id-297e4919e8317ee1db509ad8556f94fe">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_AF-4818PbF_rechtsom.jpg" width="200" height="200" alt="AF 4818PbF"/></div>
                      <div class="product-name">
                        <h3>AF 4818 PBF</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon14"></div>
                            <p>Mengandung rosin</p>
                          </li>
                          <li>
                            <div class="icon11"></div>
                            <p>Berbasis alkohol</p>
                          </li>
                          <li>
                            <div class="icon01"></div>
                            <p>Untuk proses soldering gelombang</p>
                          </li>
                          <li>
                            <div class="icon06"></div>
                            <p>Pemakaian flux dengan cars semprot</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Tidak menagndung halida</p>
                          </li>
                          <li>
                            <div class="icon21"></div>
                            <p>Berdaya deoksidasi tinggi</p>
                          </li>
                          <li>
                            <div class="icon22"></div>
                            <p>Tahan terhadap pemanasan berjangka waktu lama</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux®<strong></strong>AF 4818 PbF flux penyolderan tanpa pembersih berbasis pelarut yang mengandung rosin, dengan kandungan padat yang lebih banyak dan jendela pemrosesan yang besar.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® AF 4818 PbF flux penyolderan tanpa pembersih berbasis pelarut yang mengandung rosin, dengan kandungan padat yang lebih banyak dan jendela pemrosesan yang besar.<br/>
                          Untuk proses penyolderan gelombang SnPb dan bebas timbal<br/>
                          RO L0 berdasarkan standar EN dan IPC<br/>
                          Kandungan padat: 5%<br/>
                          Kandungan halida: 0,00%</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-AF-4818-PbF-DE.pdf">Technisches Datenblatt AF 4818PbF</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-AF-4818-PbF.pdf">Technical Data Sheet AF 4818PbF</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=AF 4818 PBF" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/id/1116" title="AF 4818 PBF" class="nid">1116</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs30">Flux penyolderan Pengerjaan Ulang & Perbaikan</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_10 product-row-group view-dom-id-f89b71b4f6811c760b95355d08045675">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_IF-8300.jpg" width="200" height="200" alt="IF 8300"/></div>
                      <div class="product-name">
                        <h3>SERI IF 8300
                        </h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon04"></div>
                            <p>Untuk pengerjaan ulang & perbaikan</p>
                          </li>
                          <li>
                            <div class="icon03"></div>
                            <p>Untuk proses soldering reflow</p>
                          </li>
                          <li>
                            <div class="icon08"></div>
                            <p>Untuk pemakaian dengan cara penetesan</p>
                          </li>
                          <li>
                            <div class="icon09"></div>
                            <p>Untuk pemakaian dengan cara cetak stensil</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Untuk pencelupan</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Tidak mengandung halida</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Beresidu rendah</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® IF 8300 adalah flux gel lekat tanpa pembersih dan bebas halida.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 8300 adalah flux gel lekat tanpa pembersih dan bebas halida.<br/>
                          Untuk proses SnPb dan proses bebas timbal<br/>
                          Cocok untuk pekerjaan reball dan pengerjaan ulang BGA<br/>
                          OR L0 berdasarkan standar EN dan IPC<br/>
                          Kandungan halida: 0,00%<br/>
                          3 viskositas yang berbeda:<br/>
                          IF 8300 : 210 kcps<br/>
                          IF 8300-4 : 70 kcps<br/>
                          IF 8300-6 : 25 kcps</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-8300-DE.pdf">Technisches Datenblatt IF 8300</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-8300-FR.pdf">Fiche technique IF 8300</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-8300.pdf">Technical Data Sheet IF 8300</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=SERI IF 8300 " target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/id/1141" title="SERI IF 8300 " class="nid">1141</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/Interflux-IF7500HAB_0.jpg" width="200" height="200" alt="Interflux IF7500HAB solder flux"/><img src="/assets/images/Interflux-IF7500HAB-tube.jpg" width="200" height="200" alt="Interflux IF7500HAB solder flux"/></div>
                      <div class="product-name">
                        <h3>IF 7500HAB</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon04"></div>
                            <p>Untuk pengerjaan ulang & perbaikan</p>
                          </li>
                          <li>
                            <div class="icon03"></div>
                            <p>Untuk penyolderan reflow</p>
                          </li>
                          <li>
                            <div class="icon08"></div>
                            <p>Untuk pemakaian dengan cara penetesan</p>
                          </li>
                          <li>
                            <div class="icon09"></div>
                            <p>Untuk pemakaian dengan cara cetak stensil</p>
                          </li>
                          <li>
                            <div class="icon10"></div>
                            <p>Untuk pencelupan</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Bebas halida</p>
                          </li>
                          <li>
                            <div class="icon22"></div>
                            <p>Tahan terhadap pengerjaan berjangka waktu lama</p>
                          </li>
                          <li>
                            <div class="icon21"></div>
                            <p>Berdaya deoksidasi tinggi</p>
                          </li>
                          <li>
                            <div class="icon14"></div>
                            <p>Mengandung rosin</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® IF 7500HAB adalah flux gel lekat tanpa pembersihan dan bebas halida dengan jendela pemrosesan yang ditingkatkan.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 7500HAB adalah flux gel lekat tanpa pembersihan dan bebas halida dengan jendela pemrosesan yang ditingkatkan.<br/>
                          Untuk proses SnPb dan proses bebas timbal<br/>
                          Cocok untuk pekerjaan reball dan pengerjaan ulang BGA<br/>
                          EO M0 berdasarkan standar EN dan IPC.<br/>
                          Kandungan halida: 0,00%<br/>
                          Viskositas: 200 kcps</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-7500HAB-DE.pdf">Technisches Datenblatt IF 7500HAB</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-7500HAB.pdf">Technical Data Sheet IF 7500HAB</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 7500HAB" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/id/1139" title="IF 7500HAB" class="nid">1139</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_IF-8001.jpg" width="200" height="200" alt="IF 8001"/></div>
                      <div class="product-name">
                        <h3>IF 8001</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon11"></div>
                            <p>Flux berbasis alkohol</p>
                          </li>
                          <li>
                            <div class="icon04"></div>
                            <p>Untuk pengerjaan ulang & perbaikan</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Bebas halida</p>
                          </li>
                          <li>
                            <div class="icon20"></div>
                            <p>Beresidu rendah</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® IF 8001 adalah flux penyolderan tanpa pembersih berbasis pelarut dengan pembentukan residu yang rendah untuk pengaplikasian flux selektif.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 8001 adalah flux penyolderan tanpa pembersih berbasis pelarut dengan pembentukan residu yang rendah untuk pengaplikasian flux selektif.<br/>
                          Untuk proses SnPb dan proses bebas timbal<br/>
                          Terutama digunakan untuk: penyolderan dengan tangan. Penggunaan lainnya: penyolderan otomatis, penyolderan stempel, dll...<br/>
                          RE L0 berdasarkan standar EN dan IPC<br/>
                          Kandungan halida: 0,00%<br/>
                          IF 8001 tersedia dalam pena flux yang dapat diisi ulang dan tidak dapat diisi ulang.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-8001-DE.pdf">Technisches Datenblatt IF 8001</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-8001-FR.pdf">Fiche technique IF 8001</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-8001.pdf">Technical Data Sheet IF 8001</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 8001" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/id/1140" title="IF 8001" class="nid">1140</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_IF-6000-1liter.jpg" width="200" height="200" alt=""/></div>
                      <div class="product-name">
                        <h3>IF 6000</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon11"></div>
                            <p>Berbasis alkohol</p>
                          </li>
                          <li>
                            <div class="icon04"></div>
                            <p>Untuk pengerjaan ulang & perbaikan</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Tidak menagdung halida</p>
                          </li>
                          <li>
                            <div class="icon14"></div>
                            <p>Mengandung rosin</p>
                          </li>
                          <li>
                            <div class="icon21"></div>
                            <p>Berdaya deoksidasi tinggi</p>
                          </li>
                          <li>
                            <div class="icon22"></div>
                            <p>Tahan terhadap pemanasan berjangka waktu lama</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® IF 6000 adalah flux penyolderan tanpa pembersihan yang mengandung rosin dengan jendela pemrosesan yang ditingkatkan untuk pengaplikasian flux selektif.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® IF 6000 adalah flux penyolderan tanpa pembersihan yang mengandung rosin dengan jendela pemrosesan yang ditingkatkan untuk pengaplikasian flux selektif.<br/>
                          Untuk proses SnPb dan proses bebas timbal<br/>
                          Terutama digunakan untuk: penyolderan dengan tangan. Penggunaan lainnya: penyolderan otomatis, penyolderan stempel, pengerjaan ulang BGA, wafer bumping, dll...<br/>
                          RO L0 berdasarkan standar EN dan IPC<br/>
                          Kandungan halida: 0,00%<br/>
                          IF 6000 tersedia dalam pena flux yang dapat diisi ulang dan tidak dapat diisi ulang.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-IF-6000-DE.pdf">Technisches Datenblatt IF 6000</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-IF-6000-FR.pdf">Fiche technique IF 6000</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-IF-6000.pdf">Technical Data Sheet IF 6000</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=IF 6000" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/id/1137" title="IF 6000" class="nid">1137</a>
                    </div>
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_Terrific-RP65-1liter.jpg" width="200" height="200" alt=""/></div>
                      <div class="product-name">
                        <h3>TERRIFIC RP65</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon12"></div>
                            <p>Flux berbasis air</p>
                          </li>
                          <li>
                            <div class="icon04"></div>
                            <p>Untuk pengerjaan ulang & perbaikan</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Tidak mengandung halida</p>
                          </li>
                          <li>
                            <div class="icon22"></div>
                            <p>Tahan terhadap pemanasan berjangka waktu lama</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>TerrIFic RP65 adalah flux penyolderan tanpa pembersih berbasis air untuk pengaplikasian flux selektif.</p>
                      </div>
                      <div class="product-details">
                        <p>TerrIFic RP65 adalah flux penyolderan tanpa pembersih berbasis air untuk pengaplikasian flux selektif.<br/>
                          Untuk proses SnPb dan proses bebas timbal<br/>
                          Terutama digunakan untuk: penyolderan dengan tangan. Penggunaan lainnya: penyolderan otomatis, penyolderan stempel, dll...<br/>
                          OR L0 berdasarkan standar EN dan IPC<br/>
                          Kandungan halida: 0,00%<br/>
                          TerrIFic RP 65 tersedia dalam pena flux yang dapat diisi ulang dan tidak dapat diisi ulang.</p>
                      </div>
                      <div class="product-document-link de">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/de/TD-Terrific-RP65-DE.pdf">Technisches Datenblatt TerrIFic RP65</a>
                        </span>
                      </div>
                      <div class="product-document-link fr">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/fr/TD-Terrific-RP65-FR.pdf">Fiche technique TerrIFic RP65</a>
                        </span>
                      </div>
                      <div class="product-document-link en">
                        <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                          <a href="/assets/documents/en/TD-Terrific-RP65.pdf">Technical Data Sheet TerrIFic RP65</a>
                        </span>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=TERRIFIC RP65" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/id/1163" title="TERRIFIC RP65" class="nid">1163</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-views pane-selective-soldering">
              <h2 class="pane-title">
                <div class="fs30">Pengencer flux</div>
              </h2>
              <div class="pane-content">
                <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_9 product-row-group view-dom-id-aa512ce1f4e5b5ba4d2be127f84dbfee">
                  <div class="bg-left"></div>
                  <div class="bg-top"></div>
                  <div class="bg-bottom"></div>
                  <div class="view-content">
                    <div class="product-row">
                      <div class="product-images"><img src="/assets/images/CLP_T-2005M_0.jpg" width="200" height="200" alt="Interflux T2005M thinner"/><img src="/assets/images/Interflux-T2005M.jpg" width="200" height="200" alt="Interflux T2005M thinner"/></div>
                      <div class="product-name">
                        <h3>T 2005M</h3>
                      </div>
                      <div class="product-features">
                        <ul>
                          <li>
                            <div class="icon11"></div>
                            <p>Berbasis alkohol</p>
                          </li>
                          <li>
                            <div class="icon18"></div>
                            <p>Tidak mengandung halida</p>
                          </li>
                          <li>
                            <div class="icon00"></div>
                            <p>Untuk flux seri IF 2005</p>
                          </li>
                        </ul>
                      </div>
                      <div class="product-summary">
                        <p>Interflux® T 2005M adalah bahan pengencer / pencair untuk flux seri IF 2005.</p>
                      </div>
                      <div class="product-details">
                        <p>Interflux® T 2005M adalah bahan pengencer / pencair untuk flux seri IF 2005.<br/>
                          Digunakan dalam pemberian flux buih atau aplikasi flux terbuka lainnya.</p>
                      </div>
                      <div class="product-contact-link">
                        <a href="mailto:technischedienst@interflux.com?Subject=T 2005M" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                      </div>
                      <a href="/id/1162" title="T 2005M" class="nid">1162</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="block-block-17" class="block block-block library-reference last even">
        <div class="inner-block">
          <p>Tidak dapat menemukan produk? Untuk daftar yang lengkap mengenai produk, cek
            <a href="/id/documents">perpustakaan kami</a>
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="region region-footer2">
    <div class="inner-region">
      <div id="block-block-18" class="block block-block first last odd">
        <div class="inner-block">
          <div class="block grid-12" id="F1">
            <div class="inner-block">
              <div class="inner-content">
                <a href="/en/contact" title="Go to the contact page for more information"><img src="/assets/images/Interflux-Electronics-headquarters-belgium.jpg" width="171" height="271" alt="Interflux Electronics Belgium office building"/></a>
                <div class="contact-title">
                  <span>Kontak Kantor Pusat Interflux</span>
                </div>
                <div class="contact-adress">
                  <p>
                    Interflux Electronics NV<br/>
                    Gent zeehaven 3170A<br/>
                    Eddastraat 51<br/>
                    9042 Gent<br/>
                    BELGIUM</p>
                  <p>Tel.: +32 9251 4959<br/>
                    Fax: +32 9251 4970<br/>
                    <a href="mailto:info@interflux.com" target="_blank">info@interflux.com</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="block grid-12" id="F2">
            <div class="inner-block">
              <div class="inner-content">
                <div class="contact-title">
                  <span>Kontak Interflux di Seluruh Dunia</span>
                </div>
                <p>
                  <a href="/en/contact" title="Go to the contact page for more information"><img src="/assets/images/interflux-worldwide-map.jpg" width="446" height="196" alt="Geographical map of the Interflux group"/></a>
                </p>
              </div>
            </div>
          </div>
          <div class="block grid-24" id="F3">
            <div class="copyright">©2012 Hak cipta oleh Interflux</div>
            <div class="louder-than-words">Website oleh
              <a href="https://nabu.io" target="_new" title="NABU websites">NABU websites</a>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
{% endblock %}