{% extends "layout.html.njk" %}
{% block meta %}
  <title>Паяльные пасты | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}ru-solder-pastes
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-solder-pastes page-products i18n-ru section-solder-pastes page-panels
{% endblock %}
{% block page %}
  {% include "partials/highlight.njk" %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-display panel-1col clearfix">
          <div class="panel-panel panel-col">
            <div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs26">НЕ ТРЕБУЮЩИЕ ОТМЫВКИ</div>
                  <div class="fs18">ПАЯЛЬНЫЕ ПАСТЫ</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_3 product-row-group view-dom-id-d7a88b0dc54db1e33c51cc19fc137ddb">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_LMPA%E2%84%A2-%20Q6.jpg" width="200" height="200" alt="LMPA™-Q6 solder paste"/></div>
                        <div class="product-name">
                          <h3>LMPA™-Q6</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NEW</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon23"></div>
                              <p>Enhanced low melting point solder paste</p>
                            </li>
                            <li>
                              <div class="icon09"></div>
                              <p>High stability on the stencil</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutely halide-free</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Smooth, clear and transparent residue</p>
                            </li>
                            <li>
                              <div class="icon33"></div>
                              <p>Low voiding</p>
                            </li>
                            <li>
                              <div class="icon31"></div>
                              <p>Reduced cost of production.</p>
                            </li>
                            <li>
                              <div class="icon32"></div>
                              <p>Increased mechanical reliability</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®<strong>
                              LMPA™-Q6
                            </strong>is a no-clean solder paste with the high reliability LMPA™-Q low melting point alloy.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux®<strong>
                              LMPA™-Q6
                            </strong>is a no-clean solder paste with the high reliability LMPA™-Q low melting point alloy.<br/>
                            LMPA™ -Q6 solder paste has improved printing stability, stencil life and more transparent residue compared to DP 5600.<br/>
                            RO L0 to IPC and EN standards.<br/>
                            Halide content 0,00%
                          </p>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=LMPA™-Q6" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ru/1374" title="LMPA™-Q6" class="nid">1374</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_DP%205600-2.jpg" width="200" height="200" alt="DP 5600"/></div>
                        <div class="product-name">
                          <h3>DP 5600</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>популярный</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon03"></div>
                              <p>Для пайки оплавлением</p>
                            </li>
                            <li>
                              <div class="icon09"></div>
                              <p>Для трафаретной печати</p>
                            </li>
                            <li>
                              <div class="icon08"></div>
                              <p>Для дозации</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Совершенно не содержит галогенов</p>
                            </li>
                            <li>
                              <div class="icon23"></div>
                              <p>Низкая температура плавления</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Высокоскоростная трафаретная печать</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® DP 5600 представляет собой не требующую промывки паяльную пасту для
                            <strong>низкотемпературных сплавов SnBi(Ag)</strong>.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® DP 5600 представляет собой не требующую отмывки паяльную пасту для низкотемпературных сплавов SnBi(Ag).<br/>
                            RO L0 согласно стандартам EN и IPC<br/>
                            Содержание галидов: 0,00%<br/>
                            Sn42Bi57Ag1 (точка плавления 139°C ~ 282°F)</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20DP%205600-DE_0.pdf" type="application/pdf; length=764791" title="TD DP 5600-DE.pdf">Technisches Datenblatt DP 5600</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/DP5600_2015_DE_web.pdf" type="application/pdf; length=163236" title="DP5600_2015_DE_web.pdf">A4 flyer DP 5600-DE</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20DP%205600-FR_0.pdf" type="application/pdf; length=798391" title="TD DP 5600-FR.pdf">Fiche technique DP 5600</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/DP5600_2015_FR_web.pdf" type="application/pdf; length=162178" title="DP5600_2015_FR_web.pdf">A4 flyer DP 5600-FR</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20DP%205600_0.pdf" type="application/pdf; length=756248" title="TD DP 5600.pdf">Technical Data Sheet DP 5600</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/DP5600_2015_Eng_web.pdf" type="application/pdf; length=161013" title="DP5600_2015_Eng_web.pdf">A4 flyer DP 5600</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=DP 5600" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ru/987" title="DP 5600" class="nid">987</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_LP%205720%20Pb-free.jpg" width="200" height="200" alt="LP 5720 Pb-free"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_LP%205720%20SnPb.jpg" width="200" height="200" alt="LP 5720 SnPb(Ag)"/></div>
                        <div class="product-name">
                          <h3>LP 5720</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NEW</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon09"></div>
                              <p>High stability on the stencil</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutely halide-free</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>For SnPb(Ag) alloys</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>For Lead-free alloys</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Transparent post reflow residue</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong>LP 5720</strong>
                            is a no-clean solder paste with
                            <strong>optimized printing stability</strong>
                            and transparent residue after reflow, in lead-free and SnPb(Ag) alloys.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® LP 5720 is a no-clean solder paste with optimized printing stability and transparent residue after reflow, in lead-free and SnPb(Ag) alloys.<br/>
                            LP 5720 is the successor of DP 5505.<br/>
                            RO L0 to IPC and EN standards.<br/>
                            Halide content 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20LP%205720-DE.pdf" type="application/pdf; length=1920506" title="TD LP 5720-DE.pdf">Technisches Datenblatt LP 5720-DE</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20LP%205720%20SnPb%28Ag%29-DE.pdf" type="application/pdf; length=2037927" title="TD LP 5720 SnPb(Ag)-DE.pdf">Technisches Datenblatt LP 5720 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20LP%205720-FR.pdf" type="application/pdf; length=1983565" title="TD LP 5720-FR.pdf">Fiche Technique LP 5720</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20LP%205720%20SnPb%28Ag%29-FR.pdf" type="application/pdf; length=1933907" title="TD LP 5720 SnPb(Ag)-FR.pdf">Fiche technique LP 5720 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20LP%205720.pdf" type="application/pdf; length=1985139" title="TD LP 5720.pdf">Technical Data Sheet TD LP 5720 Pb-free</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20LP%205720%20SnPb%28Ag%29_0.pdf" type="application/pdf; length=1951291" title="TD LP 5720 SnPb(Ag).pdf">Technical Data Sheet LP 5720 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=LP 5720" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ru/1385" title="LP 5720" class="nid">1385</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_DP%205505%20Pb-free.jpg" width="200" height="200" alt="DP 5505 Pb-free"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_DP%205505%20SnPb.jpg" width="200" height="200" alt="DP 5505 SnPb"/></div>
                        <div class="product-name">
                          <h3>DP 5505
                          </h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon03"></div>
                              <p>Для пайки оплавлением</p>
                            </li>
                            <li>
                              <div class="icon09"></div>
                              <p>Для трафаретной печати</p>
                            </li>
                            <li>
                              <div class="icon08"></div>
                              <p>Для дозации</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Совершенно не содержит галогены</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Сплавы без свинца</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Сплавы SnPb</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® DP 5505 – это оригинальная не требующая отмывки паста
                            <strong>общего применения</strong>, с высоким уровнем стабильности, в сплавах
                            <strong>SnPb(Ag) и сплавах без содержания свинца</strong>.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® DP 5505 – это оригинальная не требующая отмывки паста общего применения, с высоким уровнем стабильности, в сплавах SnPb(Ag) и сплавах без содержания свинца.<br/>
                            Высокоскоростная трафаретная печать<br/>
                            Подходит для технологии PIP<br/>
                            Уменьшение дефекта «head-in-pillow»(«дефект подушки»)<br/>
                            RO L0 согласно стандартам EN и IPC<br/>
                            Содержание галидов: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20DP%205505-DE_0.pdf" type="application/pdf; length=401875" title="TD DP 5505-DE.pdf">
                              Technisches Datenblatt DP 5505</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20DP%205505%20SnPb%28Ag%29-DE_0.pdf" type="application/pdf; length=606469" title="TD DP 5505 SnPb(Ag)-DE.pdf">Technisches Datenblatt DP 5505 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/DP5505-Properties%20DE.pdf" type="application/pdf; length=2433113" title="DP5505-Properties DE.pdf">DP 5505 Gesamtübersicht</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20DP%205505-FR.pdf" type="application/pdf; length=436748" title="TD DP 5505-FR.pdf">Fiche technique DP 5505</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20DP%205505%20SnPb%28Ag%29-FR_0.pdf" type="application/pdf; length=652480" title="TD DP 5505 SnPb(Ag)-FR.pdf">Fiche technique DP 5505 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/DP5505-Properties%20FR.pdf" type="application/pdf; length=2529992" title="DP5505-Properties FR.pdf">DP 5505 aperçu complet</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20DP%205505.pdf" type="application/pdf; length=437352" title="TD DP 5505.pdf">Technical Data Sheet DP 5505</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20DP%205505%20SnPb%28Ag%29_0.pdf" type="application/pdf; length=659124" title="TD DP 5505 SnPb(Ag).pdf">Technical Data Sheet DP 5505 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/DP5505-Properties.pdf" type="application/pdf; length=2490337" title="DP5505-Properties.pdf">DP 5505 complete overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=DP 5505 " target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ru/966" title="DP 5505 " class="nid">966</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/%C2%B5-dife7%20web3.png" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>µ-DIFE 7</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon03"></div>
                              <p>Для пайки оплавлением</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Для ремонта</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Для селективного оплавления</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Совершенно не содержит галогены</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® µ-dIFe 7 представляет собой не требующую отмывки и не содержащую свинца пасту для
                            <strong>dipping нанесения</strong>.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® µ-dIFe 7 представляет собой не требующую отмывки и не содержащую свинца пасту для DIP методов оплавления.<br/>
                            Воспроизводимые и подбираемые объемы пасты<br/>
                            Быстрое и легкое применение<br/>
                            Меньше риска образования арочного эффекта для μ-BGAs<br/>
                            Подходит для ERSA Dip&Print Station<br/>
                            Для Ball Grid Arrays, J-lead и Gull Wing IC<br/>
                            RO L0 согласно стандартам EN и IPC<br/>
                            Содержание галидов: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20%C2%B5-dIFe%207-DE_0.pdf" type="application/pdf; length=466240" title="TD µ-dIFe 7-DE.pdf">Technisches Datenblatt µ-dIFe 7</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20%C2%B5-dIFe%207-FR_0.pdf" type="application/pdf; length=493264" title="TD µ-dIFe 7-FR.pdf">Fiche technique µ-dIFe 7</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20%C2%B5-dIFe%207_0.pdf" type="application/pdf; length=485359" title="TD µ-dIFe 7.pdf">Technical Data Sheet µ-dIFe 7</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=µ-DIFE 7" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ru/988" title="µ-DIFE 7" class="nid">988</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%209009lt%20Pb-free.jpg" width="200" height="200" alt="IF 9009lt Pb-free"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%209009lt%20SnPb.jpg" width="200" height="200" alt="IF 9009lt SnPb"/></div>
                        <div class="product-name">
                          <h3>IF 9009LT</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon03"></div>
                              <p>Для пайки оплавлением</p>
                            </li>
                            <li>
                              <div class="icon09"></div>
                              <p>Для трафаретной печати</p>
                            </li>
                            <li>
                              <div class="icon08"></div>
                              <p>Для дозации дисперсером</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Сплавы без свинца</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Сплавы SnPb</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Повышенная активность</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 9009LT представляет собой не требующую отмывки паяльную пасту с
                            <strong>увеличенной активностью</strong>
                            в сплавах SnPb(Ag) и сплавах без свинца.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 9009LT представляет собой не требующую отмывки паяльную пасту с увеличенной активностью в сплавах SnPb(Ag) и сплавах без свинца.<br/>
                            Для окисленных и сложных для пайки поверхностей<br/>
                            RE L1 согласно стандартам EN и IPC</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%209009lt-DE_0.pdf" type="application/pdf; length=639484" title="TD IF 9009lt-DE.pdf">Technisches Datenblatt IF 9009LT</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%209009lt-FR_0.pdf" type="application/pdf; length=624831" title="TD IF 9009lt-FR.pdf">Fiche technique IF 9009LT</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%209009lt_0.pdf" type="application/pdf; length=622568" title="TD IF 9009lt.pdf">Technical Data Sheet IF 9009LT</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 9009LT" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ru/967" title="IF 9009LT" class="nid">967</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="block-block-17" class="block block-block library-reference last even">
          <div class="inner-block">
            <p>Не можете найти продукт? Для получения полного списка продуктов, проверьте нашу
              <a href="/ru/documents">библиотеку</a>
            </p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}