{% extends "layout.html.njk" %}
{% block meta %}
  <title>Lötdraht | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}de-solder-wires
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-solder-wires page-products i18n-de section-solder-wires page-panels
{% endblock %}
{% block page %}
  {% include "partials/highlight.njk" %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-display panel-1col clearfix">
          <div class="panel-panel panel-col">
            <div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs30">BLEIFREIER</div>
                  <div class="fs18 nc">Lötdraht</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_1 product-row-group view-dom-id-81d3471ff4fb33ff731bcfba104ee885">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_QF70-Pb-free.jpg" width="200" height="200" alt="QF 70 Pb-free"/></div>
                        <div class="product-name">
                          <h3>QF 70</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NEU</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon32"></div>
                              <p>Erhöhte Benetzungsgeschwindigkeit</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Transparenter Rückstand</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolut halogenfrei</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong>QF 70</strong>
                            Lötdraht ist ein absolut halogenfreier, kolophoniumhaltiger no-clean Lötdraht mit
                            <strong>schneller Benetzung für schnelle Lötprozesse</strong>
                            in bleifreien Legierungen.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® QF 70 Lötdraht ist ein absolut halogenfreier, kolophoniumhaltiger no-clean Lötdraht mit schneller Benetzung für schnelle Lötprozesse in bleifreien Legierungen.<br/>
                            QF 70 ist sowohl für das Handlöten als auch für das Roboterlöten geeignet.<br/>
                            RO L0 gemäß IPC und EN Standards<br/>
                            Halogengehalt 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-QF-70-DE.pdf" type="application/pdf; length=577835" title="TD QF 70-DE.pdf">Technisches Datenblatt QF70</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-QF-70.pdf" type="application/pdf; length=567824" title="TD QF 70.pdf">Technical Data Sheet QF 70</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=QF 70" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/1362" title="QF 70" class="nid">1362</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/NH1-SAC387.png" width="200" height="200" alt="NH1 lead-free solder wire"/></div>
                        <div class="product-name">
                          <h3>NH 1</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NEU</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon21"></div>
                              <p>Erhöhte Benetzungsfähigkeit und –geschwindigkeit</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Niedriges Spritzverhalten</p>
                            </li>
                            <li>
                              <div class="icon26"></div>
                              <p>Kolophoniumfrei</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Wenig transparenter Rückstand</p>
                            </li>
                            <li>
                              <div class="icon35"></div>
                              <p>Hohe Reproduzierbarkeit im Prozess</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Perfekt für das Laserlöten</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong>NH 1</strong>
                            ist ein
                            <strong>kolophoniumfreier, aktivierter</strong>
                            no-clean Lötdraht der schnelle und reproduzierbare Lötergebnisse aufweist auf einem großen Spektrum von Oberflächen, inclusive Messing, in bleifreien Legierungen.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® NH 1 ist ein kolophoniumfreier, aktivierter no-clean Lötdraht der schnelle und reproduzierbare Lötergebnisse aufweist auf einem großen Spektrum von Oberflächen, inclusive Messing, in bleifreien Legierungen.<br/>
                            NH 1 ist sowohl für das Handlöten als auch für das Roboterlöten geeignet.<br/>
                            RE L1 gemäß IPC und EN Standards</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-NH-1-DE.pdf" type="application/pdf; length=553998" title="TD NH 1-DE.pdf">Technical Data Sheet NH1</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-NH-1.pdf" type="application/pdf; length=562600" title="TD NH 1.pdf">Technical Data Sheet NH 1</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=NH 1" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/1363" title="NH 1" class="nid">1363</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/RosIX-705-SAC.png" width="200" height="200" alt="RosIX 705"/></div>
                        <div class="product-name">
                          <h3>RosIX 705</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NEU</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon21"></div>
                              <p>Erhöhte Benetzungsfähigkeit</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Kein störender Geruch</p>
                            </li>
                            <li>
                              <div class="icon35"></div>
                              <p>Hohe Reproduzierbarkeit im Prozess</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Gleichmäßiger transparenter Rückstand</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Geeignet für das Roboterlöten</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong>RosIX 705</strong>
                            ist ein aktivierter, kolophoniumhaltiger no-clean Lötdraht, mit
                            <strong>optimierter Benetzungsfähigkeit</strong>
                            auf schlecht lötbaren Oberflächen, in bleifreien Legierungen.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® RosIX 705 ist ein aktivierter, kolophoniumhaltiger no-clean Lötdraht, mit optimierter Benetzungsfähigkeit auf schlecht lötbaren Oberflächen, in bleifreien Legierungen.<br/>
                            RosIX 705 kann eingesetzt werden auf z.B. OSP, Ni, Zn, Messing, Neusilber,… und auch auf degradierten und oxidierten Oberflächen.<br/>
                            RO L1 gemäß IPC und EN Standards</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-RosIX-705-DE.pdf" type="application/pdf; length=1781865" title="TD RosIX 705-DE.pdf">Technisches Datenblatt RosIX 705</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-Rosix-705-FR_0.pdf" type="application/pdf; length=1850021" title="TD Rosix 705-FR.pdf">Fiche Technique RosIX 705</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-RosIX-705.pdf" type="application/pdf; length=1845843" title="TD RosIX 705.pdf">Technical Data Sheet RosIX 705</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=RosIX 705" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/1364" title="RosIX 705" class="nid">1364</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/Aquasol4018_5.jpg" width="200" height="200" alt="Aquasol 4018"/></div>
                        <div class="product-name">
                          <h3>AQUASOL 4018</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon17"></div>
                              <p>Wasserlöslicher Lötdraht</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Bleifreier Lötdraht</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Für die Nacharbeit und Reparatur</p>
                            </li>
                            <li>
                              <div class="icon26"></div>
                              <p>Absolut kolophoniumfrei</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Hohe Aktivierung</p>
                            </li>
                            <p></p>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Aquasol 4018 ist ein hoch aktivierter Lötdraht mit
                            <strong>wasserlöslichen Rückständen</strong>
                            in bleifreien Legierungen.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Aquasol 4018 ist ein hoch aktivierter Lötdraht mit wasserlöslichen Rückständen in bleifreien Legierungen.<br/>
                            Sehr gute Benetzung auf schlecht lötbaren Oberflächen.<br/>
                            Rückstände können gereinigt werden mit Demi Wasser von 35— 45°C (95°F— 114°F)<br/>
                            Rückstände müssen gereinigt werden<br/>
                            OR H1 gemäß EN und IPC-Standards<br/>
                            Flussmittelgehalt: 2.5%
                          </p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-Aquasol-4018-DE.pdf" type="application/pdf; length=612173" title="TD Aquasol 4018-DE.pdf">Technisches Datenblatt Aquasol 4018</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-Aquasol-4018-FR.pdf" type="application/pdf; length=613595" title="TD Aquasol 4018-FR.pdf">Fiche Technique Aquasol 4018</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-Aquasol-4018_0.pdf" type="application/pdf; length=613767" title="TD Aquasol 4018.pdf">Technical Data Sheet Aquasol 4018</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=AQUASOL 4018" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/851" title="AQUASOL 4018" class="nid">851</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/Interflux-IF14-series-lead-free_0.jpg" width="200" height="200" alt="Interflux IF14 series lead-free solder wire"/></div>
                        <div class="product-name">
                          <h3>IF 14 SERIE BLEIFREI</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon16"></div>
                              <p>Bleifreier Lötdraht</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Für die Nacharbeit und Reparatur</p>
                            </li>
                            <li>
                              <div class="icon27"></div>
                              <p>Rückstände die sich bürsten lassen</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolut halogenfrei</p>
                            </li>
                            <li>
                              <div class="icon26"></div>
                              <p>Absolut kolophoniumfrei</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Wenig Rückstände</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 14-Serie sind kolophoniumfreie, absolut halogenfreie no-clean Lötdrähte mit
                            <strong>einfach zu entfernen Rückständen</strong>
                            in bleifreien und SnPb(Ag)-Legierungen.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 14-Serie sind kolophoniumfreie, absolut halogenfreie no-clean Lötdrähte mit einfach zu entfernen Rückständen in bleifreien und SnPb(Ag)-Legierungen.<br/>
                            Die Rückstände lassen sich bürsten<br/>
                            RE L0  gemäß EN und IPC-Standards<br/>
                            Lead-free : IF 14-16 und IF 14-22 (1,6% and 2,2% Flussmittelgehalt)<br/>
                            SnPb(Ag) : 0,6%, 0,9%,1,0% und 1,4% Flussmittelgehalt</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IF-14-16-DE_0.pdf" type="application/pdf; length=1726634" title="TD IF 14-16-DE.pdf">Technisches Datenblatt IF 14-16</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IF-14-22-DE_0.pdf" type="application/pdf; length=1799161" title="TD IF 14-22-DE.pdf">Technisches Datenblatt IF 14-22</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-IF-14-16-FR.pdf" type="application/pdf; length=1797018" title="TD IF 14-16-FR.pdf">Fiche technique IF 14-16</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-IF-14-22-FR.pdf" type="application/pdf; length=1847498" title="TD IF 14-22-FR.pdf">Fiche technique IF 14-22</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IF-14-16_0.pdf" type="application/pdf; length=1740737" title="TD IF 14-16.pdf">Technical Data Sheet IF 14-16</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IF-14-22_0.pdf" type="application/pdf; length=1804579" title="TD IF 14-22.pdf">Technical Data Sheet IF 14-22</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 14 SERIE BLEIFREI" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/236" title="IF 14 SERIE BLEIFREI" class="nid">236</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/Interflux-Flexsol-903.jpg" width="200" height="200" alt="Interflux Flexsol 903 solder wire"/></div>
                        <div class="product-name">
                          <h3>FLEXSOL 903</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon16"></div>
                              <p>Bleifreier Lötdraht</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Für die Nacharbeit und Reparatur</p>
                            </li>
                            <li>
                              <div class="icon14"></div>
                              <p>Enthält Kolophonium</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolut halogenfrei</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Niedriges Spritzverhalten</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Flexsol 903 ist ein absolut halogenfreier no-clean Lötdraht mit
                            <strong>reduzierten Spritzeigenschaften</strong>
                            in bleifreien Legierungen.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Flexsol 903 ist ein absolut halogenfreier no-clean Lötdraht mit reduzierten Spritzeigenschaften in bleifreien Legierungen.<br/>
                            RO L0  gemäß EN und IPC-Standards<br/>
                            Flussmittelgehalt: 2,2% and 3,5%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-Flexsol-903-DE.pdf" type="application/pdf; length=467002" title="TD Flexsol 903-DE.pdf">Technisches Datenblatt Flexsol 903</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-Flexsol-903-FR_0.pdf" type="application/pdf; length=470317" title="TD Flexsol 903-FR.pdf">Fiche technique Flexsol 903</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-Flexsol-903.pdf" type="application/pdf; length=463843" title="TD Flexsol 903.pdf">Technical Data Sheet Flexsol 903</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=FLEXSOL 903" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/237" title="FLEXSOL 903" class="nid">237</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs30 nc">SnPb</div>
                  <div class="fs18 nc">Lötdraht</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_2 product-row-group view-dom-id-56c7b123bf858fbf921f773bccdc9455">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/RosIX-705-SnPbAg.png" width="200" height="200" alt="RosIX 705 SnPb(Ag)"/></div>
                        <div class="product-name">
                          <h3>RosIX 705 SnPb(Ag)</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NEU</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon21"></div>
                              <p>Erhöhte Benetzungsfähigkeit</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Kein störender Geruch</p>
                            </li>
                            <li>
                              <div class="icon35"></div>
                              <p>Hohe Reproduzierbarkeit im Prozess</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Gleichmäßiger transparenter Rückstand</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Geeignet für das Roboterlöten</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong>RosIX 705 SnPb(Ag)</strong>
                            ist ein
                            <strong>aktivierter, kolophoniumhaltiger</strong>
                            no-clean Lötdraht, mit optimierter Benetzungsfähigkeit auf schlecht lötbaren Oberflächen, in SnPb(Ag) Legierungen.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® RosIX 705 SnPb(Ag) ist ein aktivierter, kolophoniumhaltiger no-clean Lötdraht, mit optimierter Benetzungsfähigkeit auf schlecht lötbaren Oberflächen, in SnPb(Ag) Legierungen.<br/>
                            RosIX 705 SnPb(Ag) kann eingesetzt werden auf z.B. OSP, Ni, Zn, Messing, Neusilber,… und auch auf degradierten und oxidierten Oberflächen.<br/>
                            RO L1 gemäß IPC und EN Standards</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-RosIX-705-SnPbAg-DE.pdf" type="application/pdf; length=1786789" title="TD RosIX 705 SnPb(Ag)-DE.pdf">Technisches Datenblatt RosIX 705 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-Rosix-705-SnPbAg-FR.pdf" type="application/pdf; length=1851648" title="TD Rosix 705 SnPb(Ag)-FR.pdf">Fiche technique RosIX 705 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-Rosix-705-SnPbAg.pdf" type="application/pdf; length=1904997" title="TD Rosix 705 SnPb(Ag).pdf">Technical Data Sheet RosIX 705 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=RosIX 705 SnPb(Ag)" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/1365" title="RosIX 705 SnPb(Ag)" class="nid">1365</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/Interflux-IF14-series-leaded.jpg" width="200" height="200" alt="Interflux IF14 series leaded solder wire"/></div>
                        <div class="product-name">
                          <h3>IF14 SERIE SnPb(Ag)</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon15"></div>
                              <p>SnPb(Ag) Lötdraht</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Für die Nacharbeit und Reparatur</p>
                            </li>
                            <li>
                              <div class="icon27"></div>
                              <p>Rückstände die sich bürsten lassen</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolut halogenfrei</p>
                            </li>
                            <li>
                              <div class="icon26"></div>
                              <p>Absolut kolophoniumfrei</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Wenig Rückstände</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 14-Serie sind kolophoniumfreie, absolut halogenfreie no-clean Lötdrähte mit
                            <strong>einfach zu entfernen Rückständen</strong>
                            in SnPb(Ag) und in bleifreien Legierungen.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 14-Serie sind kolophoniumfreie, absolut halogenfreie no-clean Lötdrähte mit einfach zu entfernen Rückständen in SnPb(Ag) und in bleifreien Legierungen.<br/>
                            Die Rückstände lassen sich bürsten<br/>
                            RE L0  gemäß EN und IPC-Standards<br/>
                            SnPb(Ag) : IF 14-06, IF 14-09, IF 14-10, IF14-14 (0,6%, 0,9%,1,0% und 1,4% Flussmittelgehalt)<br/>
                            Bleifrei: 1,6% und 2,2% Flussmittelgehalt</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IF-14-06-09-14-DE_0.pdf" type="application/pdf; length=1839549" title="TD IF 14-06-09-14-DE.pdf">Technisches Datenblatt IF 14-06-09-14 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-IF-14-06-09-14-FR.pdf" type="application/pdf; length=1812757" title="TD IF 14-06-09-14-FR.pdf">Fiche technique IF 14-06-09-14 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IF-14-06-09-14_0.pdf" type="application/pdf; length=1811232" title="TD IF 14-06-09-14.pdf">Technical Data Sheet IF 14-06-09-14 SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF14 SERIE SnPb(Ag)" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/239" title="IF14 SERIE SnPb(Ag)" class="nid">239</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="block-block-17" class="block block-block library-reference last even">
          <div class="inner-block">
            <p>Produkt nicht gefunden? Für eine komplette Liste, konsultieren Sie unsere
              <a href="/de/documents">Bibliothek</a>
            </p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}