{% extends "layout.html.njk" %}
{% block meta %}
  <title>Fluxes de soldadura | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}es-soldering-fluxes
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-soldering-fluxes page-products i18n-es section-soldering-fluxes page-panels
{% endblock %}
{% block page %}
  {% include "partials/highlight.njk" %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-display panel-1col clearfix">
          <div class="panel-panel panel-col">
            <div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs18">Fluxes</div>
                  <div class="fs30">base alcohol</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_5 product-row-group view-dom-id-b909a312a2e9fe5f520cd38b3b60b4b4">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_OSPI%203311M_10.jpg" width="200" height="200" alt="OSPI 3311M soldering flux"/></div>
                        <div class="product-name">
                          <h3>OSPI 3311M</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NUEVO</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Base alcohol</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Para soldadura por ola</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Alta potencia desoxidante</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Para la soldadura en OSP</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® OSPI 3311M es un flux de no limpieza a base alcohol para
                            <strong>soldar em OSP</strong>
                            con múltiples ciclos de refusión.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® OSPI 3311M es un flux de no limpieza a base alcohol para
                            <strong>soldar em OSP</strong>
                            con múltiples ciclos de refusión.<br/>
                            Para soldadura por ola SnPb y sin plomo<br/>
                            según normas EN y IPC es OR L0<br/>
                            Contenido halógeno: 0,00%</p>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=OSPI 3311M" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/854" title="OSPI 3311M" class="nid">854</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%202005M_3.jpg" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>IF 2005M</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Base alcohol</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Para soldadura por ola</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Alta compatibilidad con conformal coating</p>
                            </li>
                            <li>
                              <div class="icon19"></div>
                              <p>No-residue™</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 2005M es el
                            <strong>internacionalmente reconocido estándar
                            </strong>en  resina libre, no-clean / No-residue ™ fluxes.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 2005M es el internacionalmente reconocido estándar en  resina libre, no-clean / No-residue ™ fluxes.<br/>
                            Interflux ® IF 2005M es QPL-listado (aprobado por MIL-F-14256F).<br/>
                            compatible con, SnPb y sin plomo<br/>
                            Puede ser utilizado con, spray y espuma<br/>
                            según normas EN y IPC, es OR L0<br/>
                            Contenido sólido: 1,85% ±0,15<br/>
                            Contenido halógeno: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%202005M-DE.pdf" type="application/pdf; length=466453" title="TD IF 2005M-DE.pdf">Technisches Datenblatt IF 2005M</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/IF%202005-%20series%20application%20doc-DE_0.pdf" type="application/pdf; length=234680" title="IF 2005- series application doc-DE.pdf">IF 2005-Serie Anwendung</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%202005M-FR.pdf" type="application/pdf; length=467989" title="TD IF 2005M-FR.pdf">Fiche technique IF 2005M</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/IF%202005-%20series%20application%20doc-FR.pdf" type="application/pdf; length=233410" title="IF 2005- series application doc-FR.pdf">Document d'application de la série IF 2005</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%202005M_0.pdf" type="application/pdf; length=462008" title="TD IF 2005M.pdf">Technical Data Sheet IF 2005M</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/IF%202005-%20series%20application%20doc.pdf" type="application/pdf; length=229382" title="IF 2005- series application doc.pdf">IF 2005 series application document</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 2005M" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/344" title="IF 2005M" class="nid">344</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%202005K_7.jpg" width="200" height="200" alt="IF 2005K"/></div>
                        <div class="product-name">
                          <h3>IF 2005K</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Base de alcohol</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Para soldadura por ola</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos
                              </p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Alta compatibilidad con conformal coating</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Bajo residuo</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 2005K con 2,5% de sólidos es un flux de no limpieza. Libre de resinas. Se puede utilizar cuando el proceso de soldadura requiere
                            <strong>más activación, que con el IF 2005M</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 2005K con 2,5% de sólidos es un flux de no limpieza. Libre de resinas. Se puede utilizar cuando el proceso de soldadura requiere más activación, que con el IF 2005M.<br/>
                            compatible con, SnPb y sin plomo<br/>
                            Puede ser utilizado con spray y espuma<br/>
                            según normas EN y IPC, son OR L0<br/>
                            Contenido sólido: 2,5% ±0,3<br/>
                            Contenido halógeno: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%202005K-DE.pdf" type="application/pdf; length=480696" title="TD IF 2005K-DE.pdf">Technisches Datenblatt IF 2005K</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/IF%202005-%20series%20application%20doc-DE_0.pdf" type="application/pdf; length=234680" title="IF 2005- series application doc-DE.pdf">IF 2005-Serie Anwendung</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%202005K-FR_0.pdf" type="application/pdf; length=586896" title="TD IF 2005K-FR.pdf">Fiche technique IF 2005K</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/IF%202005-%20series%20application%20doc-FR.pdf" type="application/pdf; length=233410" title="IF 2005- series application doc-FR.pdf">Document d'application de la série IF 2005</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%202005K_0.pdf" type="application/pdf; length=463692" title="TD IF 2005K.pdf">Technical Data Sheet IF 2005K</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/IF%202005-%20series%20application%20doc.pdf" type="application/pdf; length=229382" title="IF 2005- series application doc.pdf">IF 2005 series application document</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 2005K" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/345" title="IF 2005K" class="nid">345</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%202005C_7.jpg" width="200" height="200" alt="IF 2005C"/></div>
                        <div class="product-name">
                          <h3>IF 2005C</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Base de alcohol</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Para soldadura selectiva</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Para pre-estañado</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos
                              </p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Alta potencia desoxidante.</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Resistencia a precalentamientos largos</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Alta compatibilidad con conformal coating</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 2005C con 3,3% contenido en sólidos, es un flux de no limpieza, libre de resinas. Se puede utilizar cuando el proceso de soldadura requiere
                            <strong>más activación que el IF 2005M o el IF 2005K</strong>
                            .</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 2005C con 3,3% contenido en sólidos, es un flux de no limpieza, libre de resinas. Se puede utilizar cuando el proceso de soldadura requiere más activación que el IF 2005M o el IF 2005K .<br/>
                            compatible con SnPb y sin plomo<br/>
                            Puede ser utilizado con spray y espuma<br/>
                            según normas EN y IPC es OR L0<br/>
                            Contenido sólido: 3,3% ± 0,3<br/>
                            Contenido halógeno: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%202005C-DE_0.pdf" type="application/pdf; length=484180" title="TD IF 2005C-DE.pdf">Technisches Datenblatt IF 2005C</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/IF%202005-%20series%20application%20doc-DE_0.pdf" type="application/pdf; length=234680" title="IF 2005- series application doc-DE.pdf">IF 2005-Serie Anwendung</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%202005C-FR.pdf" type="application/pdf; length=556116" title="TD IF 2005C-FR.pdf">Fiche technique IF 2005C</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/IF%202005-%20series%20application%20doc-FR.pdf" type="application/pdf; length=233410" title="IF 2005- series application doc-FR.pdf">Document d'application de la série IF 2005</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%202005C.pdf" type="application/pdf; length=467663" title="TD IF 2005C.pdf">Technical Data Sheet IF 2005C</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/IF%202005-%20series%20application%20doc.pdf" type="application/pdf; length=229382" title="IF 2005- series application doc.pdf">IF 2005 series application document</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 2005C" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/346" title="IF 2005C" class="nid">346</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs18">Fluxes</div>
                  <div class="fs30">VOC-free</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_7 product-row-group view-dom-id-05c0e1c88cceebadd2dbb9cc57e9605c">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/SelectIF2040-2_0.png" width="200" height="200" alt="SelectIF 2040"/></div>
                        <div class="product-name">
                          <h3>SELECTIF 2040</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NUEVO</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Flux base agua</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Para soldadura selectiva</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Alta potencia desoxidante</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Resistencia a precalentamientos largos</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Alta compatibilidad con conformal coating</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Bajo residuo</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® SelectIF 2040 es un flux con base agua, no-clean para
                            <strong>soldadura selectiva</strong>
                            para cubrir una área de proceso grande con bajo residuo.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® SelectIF 2040 es un flux con base agua, de no limpieza, para soldadura selectiva. Cubre un área de proceso grande, con bajo residuo.<br/>
                            Soporta procesos elevados, tanto temperatura, como en tiempo.<br/>
                            compatible con SnPb y sin plomo<br/>
                            según normas EN y IPC es OR L0<br/>
                            Contenido sólido: 6,5% ±0,2<br/>
                            Contenido halógeno: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20SelectIF%202040-DE_0.pdf" type="application/pdf; length=429820" title="TD SelectIF 2040-DE.pdf">Technisches Datenblatt SelectIF 2040</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20SelectIF%202040-FR_0.pdf" type="application/pdf; length=458922" title="TD SelectIF 2040-FR.pdf">Fiche technique SelectIF 2040</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20SelectIF%202040.pdf" type="application/pdf; length=408961" title="TD SelectIF 2040.pdf">Technical Data Sheet SelectIF 2040</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=SELECTIF 2040" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/472" title="SELECTIF 2040" class="nid">472</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_P%202009M_7.jpg" width="200" height="200" alt="PACIFIC 2009M"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2009M</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Flux base agua</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Para soldadura por ola</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Para soldadura selectiva</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Para pre-estañado</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Utilizado por spray</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Alta compatibilidad con conformal coating</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Bajo residuo</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® PacIFic
                            <strong></strong>2009M es un flux con base agua de no limpieza, que se utiliza principalmente, para
                            <strong>soldadura por ola  y selectiva</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® PacIFic
                            <strong></strong>2009M es un flux con base agua de no limpieza, que se utiliza principalmente, para soldadura por ola  y selectiva.<br/>
                            compatible con SnPb y sin plomo<br/>
                            según normas EN y IPC es OR L0<br/>
                            Contenido sólido: 3,7% ±0,15<br/>
                            Contenido halógeno: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20PacIFic%202009M-DE_0.pdf" type="application/pdf; length=439464">TD PacIFic 2009M-DE.pdf</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20PacIFic%202009M-FR.pdf" type="application/pdf; length=401502" title="TD PacIFic 2009M-FR.pdf">Fiche technique PacIFic 2009M</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20PacIFic%202009M_0.pdf" type="application/pdf; length=433215" title="TD PacIFic 2009M.pdf">Technical Data Sheet PacIFic 2009M</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/Kyzen_P2009M.pdf" type="application/pdf; length=62971" title="Kyzen_P2009M.pdf">Cleaning PACIFIC 2009M by KYZEN</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009M" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/347" title="PACIFIC 2009M" class="nid">347</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_P%202009MLF_8.jpg" width="200" height="200" alt="PACIFIC 2009MLF"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2009MLF</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Flux base agua</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Para soldadura por ola</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Para soldadura selectiva</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Utilizado por spray</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos
                              </p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Inhibe la formación de bolas en la soldadura</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>PacIFic
                            <strong></strong>es un flux con base agua, desarrollado para
                            <strong>minimizar la formación de micro bolas
                            </strong>en la soldadura.</p>
                        </div>
                        <div class="product-details">
                          <p>PacIFic 2009MLFes un flux con base agua, desarrollado para
                            <strong>minimizar la formación de micro bolas
                            </strong>
                            en la soldadura.<br/>
                            Compatible con SnPb y sin plomo<br/>
                            Puede ser utilizado con spray y espuma (piedra porosa)<br/>
                            según normas EN y IPC son OR L0<br/>
                            Contenido sólido: 3,6% ±0,2<br/>
                            Contenido halógeno: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20PacIFic%202009MLF-DE_0.pdf" type="application/pdf; length=539026" title="TD PacIFic 2009MLF-DE.pdf">Technisches Datenblatt PacIFic 2009MLF</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20PacIFic%202009MLF-FR_0.pdf" type="application/pdf; length=501536" title="TD PacIFic 2009MLF-FR.pdf">Fiche technique PacIFic 2009MLF</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20PacIFic%202009MLF.pdf" type="application/pdf; length=532571" title="TD PacIFic 2009MLF.pdf">Technical Data Sheet PacIFic 2009MLF</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009MLF" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/348" title="PACIFIC 2009MLF" class="nid">348</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_P%202009MLF-E_6.jpg" width="200" height="200" alt="PACIFIC 2009MLF-E"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2009MLF-E</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Flux base agua</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Para soldadura por ola</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Utilizado por spray</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos
                              </p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Residuo reducido</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Reducción de la formación de bolas en la soldadura</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>PacIFic
                            <strong></strong>es un flux base agua de no limpieza, que combina el
                            <strong>bajo residuo
                            </strong>y la
                            <strong>formación reducida de bolas
                            </strong>en la soldadura.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>PacIFic 2009MLF-E es un flux base agua de no limpieza, que combina el
                            <strong>bajo residuo y la formación reducida de bolas</strong>
                            en la soldadura.<br/>
                            compatible con SnPb y sin plomo<br/>
                            Área principal de aplicación: soldadura por ola<br/>
                            según normas EN y IPC es OR L0<br/>
                            Contenido sólido: 3,6% ±0,25<br/>
                            Contenido halógeno: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20PacIFic%202009MLF-E-DE.pdf" type="application/pdf; length=452230" title="TD PacIFic 2009MLF-E-DE.pdf">Technisches Datenblatt PacIFic 2009MLF-E</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20PacIFic%202009MLF-E-DE.pdf" type="application/pdf; length=452230" title="TD PacIFic 2009MLF-E-DE.pdf">Fiche technique PacIFic 2009MLF-E</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20PacIFic%202009MLF-E.pdf" type="application/pdf; length=446221" title="TD PacIFic 2009MLF-E.pdf">Technical Data Sheet PacIFic 2009MLF-E</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009MLF-E" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/349" title="PACIFIC 2009MLF-E" class="nid">349</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_P%202010F_7.jpg" width="200" height="200" alt="PACIFIC 2010F"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2010F</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Flux a base agua</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Para soldadura por ola</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Utilizado por spray</p>
                            </li>
                            <li>
                              <div class="icon07"></div>
                              <p>Utilizado para espuma</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Alta compatibilidad con conformal coating</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Bajo residuo</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>PacIFic
                            <strong></strong>2010F es un flux base agua de no limpieza, para aplicaciones con
                            <strong>espuma</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>PacIFic
                            <strong></strong>
                            2010Fes un flux base agua de no limpieza, para aplicaciones con espuma.<br/>
                            compatible con SnPb y sin plomo<br/>
                            según normas EN y IPC  es OR L0<br/>
                            Contenido sólido: 2,5% ±0,15<br/>
                            Contenido halógeno: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20PacIFic%202010F-DE_0.pdf" type="application/pdf; length=504163" title="TD PacIFic 2010F-DE.pdf">Technisches Datenblatt PacIFic 2010F</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20PacIFic%202010F-FR.pdf" type="application/pdf; length=536531" title="TD PacIFic 2010F-FR.pdf">Fiche technique PacIFic 2010F</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20PacIFic%202010F_0.pdf" type="application/pdf; length=448654" title="TD PacIFic 2010F.pdf">Technical Data Sheet PacIFic 2010F</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2010F" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/350" title="PACIFIC 2010F" class="nid">350</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs18">Flux
                  </div>
                  <div class="fs30">bajo en VOC</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_8 product-row-group view-dom-id-98c1b3b742df82b5c074e14c5e968a5e">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%203006_7.jpg" width="200" height="200" alt="IF 3006"/></div>
                        <div class="product-name">
                          <h3>IF 3006</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon13"></div>
                              <p>Bajo en VOC</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Para soldadura por ola</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Para soldadura selectiva</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Para pre-estañado</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Alta compatibilidad con conformal coating</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong></strong>IF 3006 es un flux base de agua de no limpieza, libre de resinas y contenido
                            <strong>VOC reducido</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 3006es un flux base de agua de no limpieza, libre de resinas y
                            <strong>contenido VOC reducido</strong>
                            .<br/>
                            compatible con SnPb y sin plomo<br/>
                            también para pre-estañado<br/>
                            según normas EN y IPC  es OR L0<br/>
                            Contenido sólido: 3,2% ±0,4<br/>
                            Contenido halógeno: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%203006-DE_0.pdf" type="application/pdf; length=441073" title="TD IF 3006-DE.pdf">Technisches Datenblatt IF 3006</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%203006-FR.pdf" type="application/pdf; length=442827" title="TD IF 3006-FR.pdf">Fiche technique IF 3006</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%203006.pdf" type="application/pdf; length=435445" title="TD IF 3006.pdf">Technical Data Sheet IF 3006</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 3006" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/351" title="IF 3006" class="nid">351</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs18">Flux de soldadura</div>
                  <div class="fs30">con base resina</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_6 product-row-group view-dom-id-165cedd3db0906079c162f406b65fd89">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_AF%204818PbF_rechtsom.jpg" width="200" height="200" alt="AF 4818PbF"/></div>
                        <div class="product-name">
                          <h3>AF 4818 PBF</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon14"></div>
                              <p>Flux resinoso</p>
                            </li>
                            <li>
                              <div class="icon11"></div>
                              <p>Base alcohol</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Para soldadura por ola</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Utilizado por spray</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Alta potencia desoxidante
                              </p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Resistencia a precalentamientos largos</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®<strong></strong>AF 4818 PbF es un flux de no limpieza, resinoso base alcohol con un mayor contenido en sólidos para cubrir una área de proceso grande.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux®
                            <strong></strong>AF 4818 PbF es un flux de no limpieza, resinoso base alcohol con un mayor contenido en sólidos para cubrir una área de proceso grande.<br/>
                            para soldadura por ola SnPb y sin plomo<br/>
                            según normas EN y IPC  es RO L0<br/>
                            Contenido sólido: 5%<br/>
                            Contenido halógeno: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20AF%204818%20PbF-DE_1.pdf" type="application/pdf; length=537990" title="TD AF 4818 PbF-DE.pdf">Technisches Datenblatt AF 4818PbF</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20AF%204818%20PbF_1.pdf" type="application/pdf; length=535028" title="TD AF 4818 PbF.pdf">Technical Data Sheet AF 4818PbF</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=AF 4818 PBF" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/352" title="AF 4818 PBF" class="nid">352</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs24">Flux para</div>
                  <div class="fs18">reparación y reproceso</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_10 product-row-group view-dom-id-c5f5c05c2d130f1c324d0f378f93887b">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%208300.jpg" width="200" height="200" alt="IF 8300"/></div>
                        <div class="product-name">
                          <h3>SERIE IF 8300
                          </h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon04"></div>
                              <p>Para reparación y reproceso</p>
                            </li>
                            <li>
                              <div class="icon03"></div>
                              <p>Para soldadura por re fusión</p>
                            </li>
                            <li>
                              <div class="icon08"></div>
                              <p>Para dispensación</p>
                            </li>
                            <li>
                              <div class="icon09"></div>
                              <p>Para impresión serigrafía</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Para inmersión</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Bajo residuo</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong>IF 8300</strong>
                            es un flux
                            <strong>pegajoso
                            </strong>de no limpieza, libre de halógenos.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 8300 es un flux pegajoso de no limpieza, libre de halógenos.<br/>
                            compatible con  SnPb y sin plomo<br/>
                            Para reballing y reparación de BGA<br/>
                            según normas EN y IPC son RE L0<br/>
                            Contenido halógeno: 0,00%<br/>
                            3 viscosidades diferentes:<br/>
                            IF 8300 : 210 kcps<br/>
                            IF 8300-4 : 70 kcps<br/>
                            IF 8300-6 : 25 kcps</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%208300-DE_0.pdf" type="application/pdf; length=886358" title="TD IF 8300-DE.pdf">Technisches Datenblatt IF 8300</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%208300-FR_0.pdf" type="application/pdf; length=1056853" title="TD IF 8300-FR.pdf">Fiche technique IF 8300</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%208300.pdf" type="application/pdf; length=877318" title="TD IF 8300.pdf">Technical Data Sheet IF 8300</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=SERIE IF 8300 " target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/353" title="SERIE IF 8300 " class="nid">353</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Interflux-IF7500HAB_0.jpg" width="200" height="200" alt="Interflux IF7500HAB solder flux"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Interflux-IF7500HAB-tube.jpg" width="200" height="200" alt="Interflux IF7500HAB solder flux"/></div>
                        <div class="product-name">
                          <h3>IF 7500HAB</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon04"></div>
                              <p>Para reparación y reproceso</p>
                            </li>
                            <li>
                              <div class="icon03"></div>
                              <p>Para soldadura por re fusión</p>
                            </li>
                            <li>
                              <div class="icon08"></div>
                              <p>Para dispensación</p>
                            </li>
                            <li>
                              <div class="icon09"></div>
                              <p>Para impresión serigrafía</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Para inmersión</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos
                              </p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Resistente a curvas largas</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Alta potencia desoxidante
                              </p>
                            </li>
                            <li>
                              <div class="icon14"></div>
                              <p>Flux resinoso</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong>IF 7500HAB</strong>
                            es un flux
                            <strong>pegajoso</strong>
                            de no limpieza, libre de halógenos con una área de proceso grande.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux®
                            <strong>IF 7500HAB</strong>
                            es un flux pegajoso de no limpieza, libre de halógenos con una área de proceso grande.<br/>
                            compatible con SnPb y sin plomo<br/>
                            Para reballing y reparación de BGA<br/>
                            según normas EN y IPC es RO M0<br/>
                            Contenido halógeno: 0,00%<br/>
                            Viscosidad: 200 kcps</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%207500HAB-DE_0.pdf" type="application/pdf; length=494085" title="TD IF 7500HAB-DE.pdf">Technisches Datenblatt IF 7500HAB</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%207500HAB_0.pdf" type="application/pdf; length=491460" title="TD IF 7500HAB.pdf">Technical Data Sheet IF 7500HAB</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 7500HAB" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/354" title="IF 7500HAB" class="nid">354</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%208001.jpg" width="200" height="200" alt="IF 8001"/></div>
                        <div class="product-name">
                          <h3>IF 8001</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Base de alcohol</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Para reparación y reproceso</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos
                              </p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Bajo residuo</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong>IF 8001</strong>
                            es un flux de no limpieza, con base solvente y bajo residuo, para aplicaciones de flux selectivo.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 8001 es un flux de no limpieza, con base solvente y bajo residuo, para aplicaciones de flux selectivo<br/>
                            compatible con SnPb y sin plomo<br/>
                            Área principal de uso: soldadura manual. Otras áreas  de uso: soldadura automática, soldadura por sello, etc…<br/>
                            según normas EN y IPC es RE L0<br/>
                            Contenido halógeno: 0,00%<br/>
                            IF 8001 está disponible en, lápices de flux recargable y no recargable.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%208001-DE_0.pdf" type="application/pdf; length=442493" title="TD IF 8001-DE.pdf">Technisches Datenblatt IF 8001</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%208001-FR_0.pdf" type="application/pdf; length=370992" title="TD IF 8001-FR.pdf">Fiche technique IF 8001</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%208001_0.pdf" type="application/pdf; length=404562" title="TD IF 8001.pdf">Technical Data Sheet IF 8001</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 8001" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/355" title="IF 8001" class="nid">355</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%206000%201liter.jpg" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>IF 6000</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Base de alcohol</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Para reparación y reproceso</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                            <li>
                              <div class="icon14"></div>
                              <p>flux resinoso</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Alta potencia desoxidante</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Resistencia a precalentamientos largos</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong>IF 6000</strong>
                            es un flux resinoso de no limpieza, para aplicaciones con
                            <strong>flux selectivo
                            </strong>
                            en área de proceso grande.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 6000 es un flux resinoso de no limpieza, para aplicaciones con flux selectivo en área de proceso grande.<br/>
                            Compatible con SnPb y sin plomo<br/>
                            Área principal de uso: soldadura manual. Otras áreas  de uso: soldadura automática, soldadura por mojado, reparación de BGA, wafer bumping etc…<br/>
                            según normas EN y IPC es RO L0<br/>
                            Contenido halógeno: 0,00%<br/>
                            IF 6000 está disponible en lápices de flux recargable y no  recargable.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%206000-DE_0.pdf" type="application/pdf; length=418115" title="TD IF 6000-DE.pdf">Technisches Datenblatt IF 6000</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%206000-FR.pdf" type="application/pdf; length=381276" title="TD IF 6000-FR.pdf">Fiche technique IF 6000</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%206000.pdf" type="application/pdf; length=411656" title="TD IF 6000.pdf">Technical Data Sheet IF 6000</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 6000" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/356" title="IF 6000" class="nid">356</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_Terrific%20RP65%201liter.jpg" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>TERRIFIC RP65</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Flux base de agua</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Para reparación y reproceso</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Resistencia largo precalentamiento</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>TerrIFic
                            <strong>RP65</strong>
                            es un flux  base de agua de no limpieza, para aplicaciones
                            <strong>de flux selectivo</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>TerrIFic RP65 es un flux base de agua de no limpieza, para aplicaciones de flux selectivo.<br/>
                            compatible con SnPb y sin plomo<br/>
                            Área principal de uso: soldadura manual. Otras áreas  de uso:  soldadura automática, soldadura por estampación, etc…<br/>
                            según normas EN y IPC es OR L0<br/>
                            Contenido halógeno: 0,00%<br/>
                            TerrIFic RP65 está disponible en lápices de flux recargable y no  recargable</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Terrific%20RP65-DE_0.pdf" type="application/pdf; length=396763" title="TD Terrific RP65-DE.pdf">Technisches Datenblatt TerrIFic RP65</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Terrific%20RP65-FR_0.pdf" type="application/pdf; length=412192" title="TD Terrific RP65-FR.pdf">Fiche technique TerrIFic RP65</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Terrific%20RP65_0.pdf" type="application/pdf; length=393579" title="TD Terrific RP65.pdf">Technical Data Sheet TerrIFic RP65</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=TERRIFIC RP65" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/357" title="TERRIFIC RP65" class="nid">357</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs28">Diluyentes de flux</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_9 product-row-group view-dom-id-4ef689dd7f86ae39be6757cf0584653e">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_T%202005M_5.jpg" width="200" height="200" alt="Interflux T 2005M thinner"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Interflux-T2005M.jpg" width="200" height="200" alt="Interflux T 2005M thinner"/></div>
                        <div class="product-name">
                          <h3>T 2005M</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Base de alcohol</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutamente libre de halógenos</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Para fluxes de la serie IF 2005</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong>T 2005M</strong>
                            es el diluyente /
                            <strong>acondicionador</strong>, para los fluxes de la
                            <strong>serie IF 2005</strong>.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® T 2005M es el diluyente / acondicionador, para los fluxes de la serie IF 2005. Cuando son usados en espuma y otras aplicaciones de flux abierto.</p>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=T 2005M" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/es/358" title="T 2005M" class="nid">358</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="block-block-17" class="block block-block library-reference last even">
          <div class="inner-block">
            <p>¿No encuentra el producto? Para obtener una lista completa de productos, visite nuestra
              <a href="/es/documents">biblioteca</a>
            </p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}