{% extends "layout.html.njk" %}
{% block meta %}
  <title>Hakkımızda | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}tr-company
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-company i18n-tr section-company page-panels
{% endblock %}
{% block page %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-flexible panels-flexible-18 clearfix">
          <div class="panel-flexible-inside panels-flexible-18-inside">
            <div class="panels-flexible-region panels-flexible-region-18-center panels-flexible-region-first panels-flexible-region-last">
              <div class="inside panels-flexible-region-inside panels-flexible-region-18-center-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
                <div class="panel-pane pane-views-panes pane-company-views-panel-pane-1">
                  <div class="pane-content">
                    <div class="view view-company-views view-id-company_views view-display-id-panel_pane_1 view-dom-id-744469d5aab56b51375dd8c8f675180a">
                      <div class="view-content">
                        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                          <div class="panel-display panel-1col clearfix">
                            <div class="panel-panel panel-col">
                              <div>
                                <div class="views-field views-field-field-corpus">
                                  <div class="field-content">
                                    <div class="company-block" id="company-block-1">
                                      <div class="company-article" id="article-interflux">
                                        <div class="company-article-inner">
                                          <div class="company-bg-1"></div>
                                          <div class="img-iso company-img"></div>
                                          <div class="sub-title">
                                            30+ yılı aşkın süredir yüksek kalite,
                                            <br/>yüksek güvenlikte lehimleme kimyasalları
                                          </div>
                                          <div class="corpus">
                                            <div class="img-triangle company-img"></div>
                                            <div class="img-daniel company-img">
                                              <div>Daniel Werkhoven<br/>
                                                Interflux’ın Kurucusu</div>
                                            </div>
                                            <p>1980 yılında kurulan Interflux® Elektronik N.V., 30 yılı aşkın tecrübesi ile elektronik üretim endüstrisine yüksek kalite ve yüksek güvenilirlikte lehimleme kimyasalları sağlar. Odak noktamız No-ResidueTM (artıksız) ürünleri; teknolojik flukslar, kesinlikle halojen içermeyen kimyasallar, VOC içermeyen flukslar, sentetik reçine ve reçine içermeyen formülasyonlar ve çok daha fazlasıdır...</p>
                                            <p>
                                              Interflux® Electronics N.V. is
                                              <strong>ISO 9001 sertifikasına sahiptir.
                                              </strong>.
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="company-article" id="article-pioneer">
                                        <div class="company-article-inner">
                                          <div class="sub-title">
                                            Gerçek bir öncü
                                          </div>
                                          <div class="corpus">
                                            Lehimleme kimyasında yenilikçilik ve gelişim söz konusu olduğunda Interflux® Electronics N.V. hep ön planda olmuştur.
                                            <strong>IF2005M</strong>, Interflux® grubu tarafından tasarlanan, üretilen ve başarılı yapılan, katı içermeyen,<strong>
                                              No-ResidueTM</strong>
                                            (artıksız) türünün ilk fluksıdır. Ayrıca, Interflux yüksek performans ve yüksek kalite VOC içermeyen fluks grubunu sunan ilklerden biridir:<strong>
                                              PacIFic serisi</strong>. Interflux
                                            <strong>IF 14</strong>
                                            ile artıkları fırçalanabilir lehim telini sunmuştur, bu özellik hâlâ eşsizdir.
                                          </div>
                                          <div class="img-pioneer company-img"></div>
                                        </div>
                                      </div>
                                      <div class="company-article" id="article-durable">
                                        <div class="company-article-inner">
                                          <div class="sub-title">
                                            Sorumlu ve sağlam
                                          </div>
                                          <div class="corpus">
                                            Interflux® Electronics N.V., Fotovoltaik güneş panelleri ve güneş enerjili su ısıtma sistemini Ghent’te kurarak, düşük karbon emisyonu tesisi haline geleceğini bizzat taahhüt etmiştir. Bugün yıllık CO2-egzoz oranı % 50'den fazla oranda düşürülmüştür. Interflux® Elektronik N.V., kanalizasyon suyu için Flaman Hükümeti’nin verdiği 'sıfır tahliye’ etiketine sahip biyolojik atık su arıtma sistemine sahiptir.
                                          </div>
                                          <div class="img-durable company-img"></div>
                                        </div>
                                      </div>
                                      <div class="company-article" id="article-support">
                                        <div class="company-article-inner">
                                          <div class="sub-title">
                                            Dünya çapında destek
                                          </div>
                                          <div class="corpus">
                                            Interflux® Elektronik N.V., Interflux® adı altında 12 uluslararası kardeş şirketi, 3 stratejik üretim tesisi, acente ve distribütörlerinin oluşturduğu küresel ağ ile geniş bir destek ağı sağlar. Interflux® ürünler için yüksek kaliteli teknik, lojistik, satış ve yerinde müşteri desteği çok geniş ölçüde mümkündür.
                                          </div>
                                          <div class="img-support company-img"></div>
                                        </div>
                                      </div>
                                      <div class="clear"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}