{% extends "layout.html.njk" %}
{% block meta %}
  <title>助焊剂喷雾装置 | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}zh-hans-spray-fluxers
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-spray-fluxers page-products i18n-zh-hans section-spray-fluxers page-panels
{% endblock %}
{% block page %}
  {% include "partials/highlight.njk" %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-display panel-1col clearfix">
          <div class="panel-panel panel-col">
            <div></div>
          </div>
        </div>
        <div id="block-block-17" class="block block-block library-reference last even">
          <div class="inner-block">
            <p>找不到所需的产品？请所搜文库中的详细产品列表 -
              <a href="/zh-hans/documents">资料</a>
            </p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}