{% extends "layout.html.njk" %}
{% block meta %}
  <title>Fluxuri | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}ro-soldering-fluxes
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-soldering-fluxes page-products i18n-ro section-soldering-fluxes page-panels
{% endblock %}
{% block page %}
  {% include "partials/highlight.njk" %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-display panel-1col clearfix">
          <div class="panel-panel panel-col">
            <div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs18">Fluxuri</div>
                  <div class="fs30">pe baza de alcool</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_5 product-row-group view-dom-id-d18b743490aafaf92f15962a2cb7d374">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_OSPI-3311M_14.jpg" width="200" height="200" alt="OSPI 3311M soldering flux"/></div>
                        <div class="product-name">
                          <h3>OSPI 3311M</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NOU</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Alcohol-based flux</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>For wave soldering</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolutely halide-free</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>High deoxidation power</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>For soldering OSP</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® OSPI 3311M is an alcohol based no-clean flux for
                            <strong>soldering OSP</strong>
                            finished boards that have passed one or more reflow cycles.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® OSPI 3311M is an alcohol based no-clean flux for soldering OSP finished boards that have passed one or more reflow cycles.<br/>
                            For SnPb and lead-free processes<br/>
                            OR L0 according to EN and  IPC standards<br/>
                            Halide content: 0,00%</p>
                          <p>
                            <a href="mailto:td@interflux.com?SUBJECT=OSPI 3311&amp;BODY=Hello, I would like to know more about the OSPI 3311M soldering flux. My contact details are as follows:">more information?
                            </a>
                          </p>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=OSPI 3311M" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/853" title="OSPI 3311M" class="nid">853</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_IF-2005M_3.jpg" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>IF 2005M</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Pe baza de alcool</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Pentru lipire in val</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Fara halogenuri</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Compatibilitate ridicată cu straturilor de protecție</p>
                            </li>
                            <li>
                              <div class="icon19"></div>
                              <p>No-residue™</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 2005M este un flux
                            <strong>recunoscut la nivel international</strong>
                            ce nu contine rasina, colofoniu sau alte reziduuri.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 2005M este un flux recunoscut la nivel international ce nu contine rasina, colofoniu sau alte reziduuri.<br/>
                            IF 2005M de la Interflux® este in lista QPL (aprobare MIL-F-14256F)<br/>
                            Compatibil SnPb si lead-free<br/>
                            Potrivit pentru spray si spuma<br/>
                            Standarde OR L0 conform EN si IPC<br/>
                            Continut de solide: 1,85% ±0,15<br/>
                            Continut halogenuri: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IF-2005M-DE.pdf" type="application/pdf; length=466453" title="TD IF 2005M-DE.pdf">Technisches Datenblatt IF 2005M</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/IF-2005--series-application-doc-DE_0.pdf" type="application/pdf; length=234680" title="IF 2005- series application doc-DE.pdf">IF 2005-Serie Anwendung</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-IF-2005M-FR.pdf" type="application/pdf; length=467989" title="TD IF 2005M-FR.pdf">Fiche technique IF 2005M</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/IF-2005--series-application-doc-FR.pdf" type="application/pdf; length=233410" title="IF 2005- series application doc-FR.pdf">Document d'application de la série IF 2005</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IF-2005M_0.pdf" type="application/pdf; length=462008" title="TD IF 2005M.pdf">Technical Data Sheet IF 2005M</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/IF-2005--series-application-doc.pdf" type="application/pdf; length=229382" title="IF 2005- series application doc.pdf">IF 2005 series application document</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 2005M" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/760" title="IF 2005M" class="nid">760</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_IF-2005K_7.jpg" width="200" height="200" alt="IF 2005K"/></div>
                        <div class="product-name">
                          <h3>IF 2005K</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Pe baza de alcool</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Pentru lipire in val</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Fara halogenuri</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Compatibilitate ridicată cu straturilor de protecție</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Reziduuri reduse</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 2005K cu 2,5% solide este un flux ce nu contine rasina sau colofoniu. Poate fi folosit cand procesul de productie necesita mai multa activare decat ofera IF 2005M.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 2005K cu 2,5% solide este un flux ce nu contine rasina sau colofoniu. Poate fi folosit cand procesul de productie necesita mai multa activare decat ofera IF 2005M.<br/>
                            Compatibil SnPb si lead-free<br/>
                            Potrivit pentru spray si spuma<br/>
                            Standarde OR L0 conform EN si IPC<br/>
                            Continut de solide: 2,5% ±0,3<br/>
                            Continut halogenuri: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IF-2005K-DE.pdf" type="application/pdf; length=480696" title="TD IF 2005K-DE.pdf">Technisches Datenblatt IF 2005K</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/IF-2005--series-application-doc-DE_0.pdf" type="application/pdf; length=234680" title="IF 2005- series application doc-DE.pdf">IF 2005-Serie Anwendung</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-IF-2005K-FR_0.pdf" type="application/pdf; length=586896" title="TD IF 2005K-FR.pdf">Fiche technique IF 2005K</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/IF-2005--series-application-doc-FR.pdf" type="application/pdf; length=233410" title="IF 2005- series application doc-FR.pdf">Document d'application de la série IF 2005</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IF-2005K_0.pdf" type="application/pdf; length=463692" title="TD IF 2005K.pdf">Technical Data Sheet IF 2005K</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/IF-2005--series-application-doc.pdf" type="application/pdf; length=229382" title="IF 2005- series application doc.pdf">IF 2005 series application document</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 2005K" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/761" title="IF 2005K" class="nid">761</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_IF-2005C_7.jpg" width="200" height="200" alt="IF 2005C"/></div>
                        <div class="product-name">
                          <h3>IF 2005C</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Pe baza de alcool</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Pentru lipire selectiva</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Pentru pre-cositorire</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Fara halogenuri</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Putere mare de dezoxidare</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Rezistent la preincalzire</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Compatibilitate ridicată cu straturilor de protecție</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 2005C cu 3,3% solide este un flux ce nu contine rasina sau colofoniu. Poate fi folosit cand procesul de productie necesita
                            <strong>mai multa activare decat ofera IF 2005M sau IF 2005K</strong>.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 2005C cu 3,3% solide este un flux ce nu contine rasina sau colofoniu. Poate fi folosit cand procesul de productie necesita mai multa activare decat ofera IF 2005M sau IF 2005K.<br/>
                            Compatibil SnPb si lead-free<br/>
                            Potrivit pentru spray si spuma<br/>
                            Standarde OR L0 conform EN si IPC<br/>
                            Continut de solide: 3,3% ±0,3<br/>
                            Continut halogenuri: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IF-2005C-DE_0.pdf" type="application/pdf; length=484180" title="TD IF 2005C-DE.pdf">Technisches Datenblatt IF 2005C</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/IF-2005--series-application-doc-DE_0.pdf" type="application/pdf; length=234680" title="IF 2005- series application doc-DE.pdf">IF 2005-Serie Anwendung</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-IF-2005C-FR.pdf" type="application/pdf; length=556116" title="TD IF 2005C-FR.pdf">Fiche technique IF 2005C</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/IF-2005--series-application-doc-FR.pdf" type="application/pdf; length=233410" title="IF 2005- series application doc-FR.pdf">Document d'application de la série IF 2005</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IF-2005C.pdf" type="application/pdf; length=467663" title="TD IF 2005C.pdf">Technical Data Sheet IF 2005C</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/IF-2005--series-application-doc.pdf" type="application/pdf; length=229382" title="IF 2005- series application doc.pdf">IF 2005 series application document</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 2005C" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/783" title="IF 2005C" class="nid">783</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs18">Fluxuri</div>
                  <div class="fs30">fara compusi organici volatili</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_7 product-row-group view-dom-id-c8bc8bec3ce6eaa6465d8b4366a08121">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/SelectIF2040-2.png" width="200" height="200" alt="SelectIF 2040"/></div>
                        <div class="product-name">
                          <h3>SELECTIF 2040</h3>
                        </div>
                        <div class="product-highlight">
                          <h3>NEW</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Flux pe baza de apa</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Pentru lipire selectiva</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Fara halogenuri</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Putere mare de dezoxidare</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Rezistent la preincalzire</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Compatibilitate ridicată cu straturilor de protecție</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Reziduuri reduse</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>SelectIF 2040 de la Interflux® este un flux pe baza de apa, fara curatare pentru
                            <strong>lipirea selectiva
                            </strong>intr-o gama larga de procese si cu reziduri reduse.</p>
                        </div>
                        <div class="product-details">
                          <p>SelectIF 2040 de la Interflux® este un flux pe baza de apa, fara curatare pentru lipirea selectiva intr-o gama larga de procese si cu reziduri reduse. Rezista la temperaturi ridicate si perioade lungi de proces.<br/>
                            Compatibil SnPb si lead-free<br/>
                            Standarde OR L0 conform EN si IPC<br/>
                            Continut de solide: 6,5% ±0,2<br/>
                            Continut halogenuri: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-SelectIF-2040-DE_0.pdf" type="application/pdf; length=429820" title="TD SelectIF 2040-DE.pdf">Technisches Datenblatt SelectIF 2040</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-SelectIF-2040-FR_0.pdf" type="application/pdf; length=458922" title="TD SelectIF 2040-FR.pdf">Fiche technique SelectIF 2040</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-SelectIF-2040.pdf" type="application/pdf; length=408961" title="TD SelectIF 2040.pdf">Technical Data Sheet SelectIF 2040</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=SELECTIF 2040" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/835" title="SELECTIF 2040" class="nid">835</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_P-2009M_7.jpg" width="200" height="200" alt="PACIFIC 2009M"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2009M</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Flux pe baza de apa</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Pentru lipire in val</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Pentru lipire selectiva</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Pentru pre-cositorire</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Pentru folosire ca spray</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Fara halogenuri</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Compatibilitate ridicată cu straturilor de protecție</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Reziduuri reduse</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® PacIFic
                            <strong></strong>este un flux pe baza de apa folosit in mod uzual pentru lipire in val si lipire selectiva.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® PacIFic
                            <strong></strong>2009M este un flux pe baza de apa folosit in mod uzual pentru lipire in val si lipire selectiva.<br/>
                            Compatibil SnPb si lead-free<br/>
                            Standarde OR L0 conform EN si IPC<br/>
                            Continut de solide: 3,7% ±0,15<br/>
                            Continut halogenuri: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-PacIFic-2009M-DE_0.pdf" type="application/pdf; length=439464">TD PacIFic 2009M-DE.pdf</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-PacIFic-2009M-FR.pdf" type="application/pdf; length=401502" title="TD PacIFic 2009M-FR.pdf">Fiche technique PacIFic 2009M</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-PacIFic-2009M_0.pdf" type="application/pdf; length=433215" title="TD PacIFic 2009M.pdf">Technical Data Sheet PacIFic 2009M</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/Kyzen_P2009M.pdf" type="application/pdf; length=62971" title="Kyzen_P2009M.pdf">Cleaning PACIFIC 2009M by KYZEN</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009M" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/763" title="PACIFIC 2009M" class="nid">763</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_P-2009MLF_8.jpg" width="200" height="200" alt="PACIFIC 2009MLF"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2009MLF</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Flux pe baza de apa</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Pentru lipire in val</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Pentru lipire selectiva</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Pentru folosire ca spray</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Fara halogenuri</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>
                                <strong>Impotriva formarii stropilor de cositor</strong>
                              </p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>PacIFic
                            <strong></strong>2009MLF este un flux pe baza de apa devoltat pentru a minimiza formarea de stropi de cositor.</p>
                        </div>
                        <div class="product-details">
                          <p>PacIFic 2009MLFeste un flux pe baza de apa devoltat pentru a minimiza formarea de stropi de cositor.<br/>
                            Compatibil SnPb si lead-free<br/>
                            Principalul mod de folosire: lipire in val si lipire selectiva<br/>
                            Standarde OR L0 conform EN si IPC<br/>
                            Continut de solide: 3,6% ±0,2<br/>
                            Continut halogenuri: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-PacIFic-2009MLF-DE_0.pdf" type="application/pdf; length=539026" title="TD PacIFic 2009MLF-DE.pdf">Technisches Datenblatt PacIFic 2009MLF</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-PacIFic-2009MLF-FR_0.pdf" type="application/pdf; length=501536" title="TD PacIFic 2009MLF-FR.pdf">Fiche technique PacIFic 2009MLF</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-PacIFic-2009MLF.pdf" type="application/pdf; length=532571" title="TD PacIFic 2009MLF.pdf">Technical Data Sheet PacIFic 2009MLF</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009MLF" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/764" title="PACIFIC 2009MLF" class="nid">764</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_P-2009MLF-E_6.jpg" width="200" height="200" alt="PACIFIC 2009MLF-E"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2009MLF-E</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Flux pe baza de apa</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Pentru lipire in val</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Pentru folosire ca spray</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Fara halogenuri</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Reziduuri reduse</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>
                                <strong>Reduce formarea tropilor de cositor</strong>
                              </p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>PacIFic
                            <strong></strong>2009MLF-E este un flux pe baza de apa ce combina
                            <strong>nivelul redus de reziduuri</strong>
                            cu
                            <strong>minimizarea formarii de stropi de cositor</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>PacIFic 2009MLF-E este un flux pe baza de apa ce combina nivelul redus de reziduuri cu minimizarea formarii de stropi de cositor.<br/>
                            Compatibil SnPb si lead-free<br/>
                            Principalul mod de folosire: lipire in val<br/>
                            Standarde OR L0 conform EN si IPC<br/>
                            Continut de solide: 3,6% ±0,25<br/>
                            Continut halogenuri: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-PacIFic-2009MLF-E-DE.pdf" type="application/pdf; length=452230" title="TD PacIFic 2009MLF-E-DE.pdf">Technisches Datenblatt PacIFic 2009MLF-E</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-PacIFic-2009MLF-E-DE.pdf" type="application/pdf; length=452230" title="TD PacIFic 2009MLF-E-DE.pdf">Fiche technique PacIFic 2009MLF-E</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-PacIFic-2009MLF-E.pdf" type="application/pdf; length=446221" title="TD PacIFic 2009MLF-E.pdf">Technical Data Sheet PacIFic 2009MLF-E</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2009MLF-E" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/775" title="PACIFIC 2009MLF-E" class="nid">775</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_P-2010F_7.jpg" width="200" height="200" alt="PACIFIC 2010F"/></div>
                        <div class="product-name">
                          <h3>PACIFIC 2010F</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Flux pe baza de apa</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Pentru lipire in val</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Pentru folosire ca spray</p>
                            </li>
                            <li>
                              <div class="icon07"></div>
                              <p>
                                <strong>Pentru folosire ca spuma</strong>
                              </p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Fara halogenuri</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Compatibilitate ridicată cu straturilor de protecție</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Reziduuri reduse</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>PacIFic 2010F este un flux pe baza de apa pentru folosirea
                            <strong>ca spuma</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>PacIFic 2010F este un flux pe baza de apa pentru folosirea ca spuma.<br/>
                            Compatibil SnPb si lead-free<br/>
                            Standarde OR L0 conform EN si IPC<br/>
                            Continut de solide: 2,5% ±0,15<br/>
                            Continut halogenuri: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-PacIFic-2010F-DE_0.pdf" type="application/pdf; length=504163" title="TD PacIFic 2010F-DE.pdf">Technisches Datenblatt PacIFic 2010F</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-PacIFic-2010F-FR.pdf" type="application/pdf; length=536531" title="TD PacIFic 2010F-FR.pdf">Fiche technique PacIFic 2010F</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-PacIFic-2010F_0.pdf" type="application/pdf; length=448654" title="TD PacIFic 2010F.pdf">Technical Data Sheet PacIFic 2010F</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/PacIFicpreheat.pdf" type="application/pdf; length=46088" title="PacIFicpreheat.pdf">Preheating for water based fluxes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PACIFIC 2010F" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/765" title="PACIFIC 2010F" class="nid">765</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs18">Fluxuri</div>
                  <div class="fs30">avand nivel redus de compusi organici volatili</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_8 product-row-group view-dom-id-e37bbe5d35395cafd602c12757cf503c">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_IF-3006_7.jpg" width="200" height="200" alt="IF 3006"/></div>
                        <div class="product-name">
                          <h3>IF 3006</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon13"></div>
                              <p>Nivel redus de compusi organici volatili</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Pentru lipire in val</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Pentru lipire selectiva</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Pentru pre-cositorire</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Fara halogenuri</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Compatibilitate ridicată cu straturilor de protecție</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®
                            <strong></strong>IF 3006 este un flux de lipire ce nu contine rasina sau colofoniu si are un nivel redus de compusi organici volatili.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 3006 este un flux de lipire ce nu contine rasina sau colofoniu si are un nivel redus de compusi organici volatili.<br/>
                            Compatibil SnPb si lead-free<br/>
                            Pentru pre-cositorire<br/>
                            Standarde OR L0 conform EN si IPC<br/>
                            Continut de solide: 3,2% ±0,2<br/>
                            Continut halogenuri: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IF-3006-DE_0.pdf" type="application/pdf; length=441073" title="TD IF 3006-DE.pdf">Technisches Datenblatt IF 3006</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-IF-3006-FR.pdf" type="application/pdf; length=442827" title="TD IF 3006-FR.pdf">Fiche technique IF 3006</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IF-3006.pdf" type="application/pdf; length=435445" title="TD IF 3006.pdf">Technical Data Sheet IF 3006</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 3006" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/762" title="IF 3006" class="nid">762</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs18">Fluxuri</div>
                  <div class="fs27">pe baza de colofoniu</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_6 product-row-group view-dom-id-6aea6c2bdf84cf6f62631c36c4380c7a">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_AF-4818PbF_rechtsom.jpg" width="200" height="200" alt="AF 4818PbF"/></div>
                        <div class="product-name">
                          <h3>AF 4818 PBF</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon14"></div>
                              <p>Contine colofoniu</p>
                            </li>
                            <li>
                              <div class="icon11"></div>
                              <p>Pe baza de alcool</p>
                            </li>
                            <li>
                              <div class="icon01"></div>
                              <p>Pentru lipire in val</p>
                            </li>
                            <li>
                              <div class="icon06"></div>
                              <p>Pentru folosire ca spray</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Fara halogenuri</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Putere mare de dezoxidare</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Rezistent la preincalzire</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux®<strong></strong>AF 4818 PbF este un flux pe baza de solvent cu continut de colofoniu pentru o gama larga de procese de productie.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® AF 4818 PbF este un flux pe baza de solvent cu continut de colofoniu pentru o gama larga de procese de productie.<br/>
                            Pentru lipire in val SnPb si lead-free<br/>
                            Standarde RO L0 conform EN si IPC<br/>
                            Continut de solide: 5%<br/>
                            Continut halogenuri: 0,00%</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-AF-4818-PbF-DE_1.pdf" type="application/pdf; length=537990" title="TD AF 4818 PbF-DE.pdf">Technisches Datenblatt AF 4818PbF</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-AF-4818-PbF_1.pdf" type="application/pdf; length=535028" title="TD AF 4818 PbF.pdf">Technical Data Sheet AF 4818PbF</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=AF 4818 PBF" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/766" title="AF 4818 PBF" class="nid">766</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs18">Fluxuri</div>
                  <div class="fs29">pentru rework si reparatii</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_10 product-row-group view-dom-id-e497a000050c24a0c82d4fc1bdfc2ed0">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_IF-8300.jpg" width="200" height="200" alt="IF 8300"/></div>
                        <div class="product-name">
                          <h3>IF 8300 SERIES</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon04"></div>
                              <p>Pentru rework si reparatii</p>
                            </li>
                            <li>
                              <div class="icon03"></div>
                              <p>Pentru lipire in cuptor</p>
                            </li>
                            <li>
                              <div class="icon08"></div>
                              <p>Pentru dispenser</p>
                            </li>
                            <li>
                              <div class="icon09"></div>
                              <p>Pentru stencil printer</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Pentru aplicare directa</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Fara halogenuri</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Reziduuri reduse</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 8300 este un flux gel fara halogenuri.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 8300 este un flux gel fara halogenuri<br/>
                            Pentru procesele de lipire SnPb si lead-free<br/>
                            Pentru rework de BGA<br/>
                            Standarde RE L0 conform EN si IPC<br/>
                            Continut halogenuri: 0,00%<br/>
                            4 vascozitati diferite:<br/>
                            IF 8300 : 210 kcps<br/>
                            IF 8300-4 : 70 kcps<br/>
                            IF 8300-6 : 25 kcps</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IF-8300-DE_0.pdf" type="application/pdf; length=886358" title="TD IF 8300-DE.pdf">Technisches Datenblatt IF 8300</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-IF-8300-FR_0.pdf" type="application/pdf; length=1056853" title="TD IF 8300-FR.pdf">Fiche technique IF 8300</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IF-8300.pdf" type="application/pdf; length=877318" title="TD IF 8300.pdf">Technical Data Sheet IF 8300</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 8300 SERIES" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/778" title="IF 8300 SERIES" class="nid">778</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/Interflux-IF7500HAB_0.jpg" width="200" height="200" alt="Interflux IF7500HAB solder flux"/><img typeof="foaf:Image" src="/assets/images/Interflux-IF7500HAB-tube.jpg" width="200" height="200" alt="Interflux IF7500HAB solder flux"/></div>
                        <div class="product-name">
                          <h3>IF 7500HAB</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon04"></div>
                              <p>Pentru rework si reparatii</p>
                            </li>
                            <li>
                              <div class="icon03"></div>
                              <p>Pentru lipire in cuptor</p>
                            </li>
                            <li>
                              <div class="icon08"></div>
                              <p>Pentru dispenser</p>
                            </li>
                            <li>
                              <div class="icon09"></div>
                              <p>Pentru stencil printer</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Pentru aplicare directa</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Fara halogenuri</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Profil rezistent</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Putere mare de dezoxidare</p>
                            </li>
                            <li>
                              <div class="icon14"></div>
                              <p>Contine colofoniu</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 7500HAB este un flux gel fara halogenuri cu o
                            <strong>stabilitate mare in procesul</strong>
                            de lipire.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 7500HAB este un flux gel fara halogenuri cu o stabilitate mare in procesul de lipire<br/>
                            Pentru procesele de lipire SnPb si lead-free<br/>
                            Pentru rework de BGA<br/>
                            Standarde RO M0 conform EN si IPC<br/>
                            Continut halogenuri: 0,00%<br/>
                            Vascozitate: 200 kcps</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IF-7500HAB-DE_0.pdf" type="application/pdf; length=494085" title="TD IF 7500HAB-DE.pdf">Technisches Datenblatt IF 7500HAB</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IF-7500HAB_0.pdf" type="application/pdf; length=491460" title="TD IF 7500HAB.pdf">Technical Data Sheet IF 7500HAB</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 7500HAB" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/782" title="IF 7500HAB" class="nid">782</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_IF-8001.jpg" width="200" height="200" alt="IF 8001"/></div>
                        <div class="product-name">
                          <h3>IF 8001</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Flux pe baza de alcool</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Pentru rework si reparatii</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Fara halogenuri</p>
                            </li>
                            <li>
                              <div class="icon20"></div>
                              <p>Reziduuri reduse</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 8001 este un flux pe baza de solvent cu reziduuri reduse pentru aplicatii de flux selectiv.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 8001 este un flux pe baza de solvent cu reziduuri reduse pentru aplicatii de flux selectiv.<br/>
                            Pentru procesele de lipire SnPb si lead-free<br/>
                            Principala utilizare: lipire manuala. Poate fi folosi si la lipirea automata<br/>
                            Standarde RE L0 conform EN si IPC<br/>
                            Continut halogenuri: 0,00%<br/>
                            IF 8001 este disponibil si in stilouri refolosibile si de unica folosinta</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IF-8001-DE_0.pdf" type="application/pdf; length=442493" title="TD IF 8001-DE.pdf">Technisches Datenblatt IF 8001</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-IF-8001-FR_0.pdf" type="application/pdf; length=370992" title="TD IF 8001-FR.pdf">Fiche technique IF 8001</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IF-8001_0.pdf" type="application/pdf; length=404562" title="TD IF 8001.pdf">Technical Data Sheet IF 8001</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 8001" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/779" title="IF 8001" class="nid">779</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_IF-6000-1liter.jpg" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>IF 6000</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Pe baza de alcool</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Pentru rework si reparatii</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Fara halogenuri</p>
                            </li>
                            <li>
                              <div class="icon14"></div>
                              <p>Contine colofoniu</p>
                            </li>
                            <li>
                              <div class="icon21"></div>
                              <p>Putere mare de dezoxidare</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Rezistent la preincalzire</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 6000 este uin flux ce contine colofoniu cu stabilitate mare in procesul de productie pentru aplicare selectiva.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 6000 este uin flux ce contine colofoniu cu stabilitate mare in procesul de productie pentru aplicare selectiva<br/>
                            Pentru procesele de lipire SnPb si lead-free<br/>
                            Principala utilizare: lipire manuala. Poate fi folosit si la lipirea automata, rework de BGA<br/>
                            Standarde RO L0 conform EN si IPC<br/>
                            Continut halogenuri: 0,00%<br/>
                            IF  6000 este disponibil si in stilouri refolosibile si de unica folosinta.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-IF-6000-DE_0.pdf" type="application/pdf; length=418115" title="TD IF 6000-DE.pdf">Technisches Datenblatt IF 6000</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-IF-6000-FR.pdf" type="application/pdf; length=381276" title="TD IF 6000-FR.pdf">Fiche technique IF 6000</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-IF-6000.pdf" type="application/pdf; length=411656" title="TD IF 6000.pdf">Technical Data Sheet IF 6000</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 6000" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/780" title="IF 6000" class="nid">780</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_Terrific-RP65-1liter.jpg" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>TERRIFIC RP65</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon12"></div>
                              <p>Flux pebaza de apa</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Pentru rework si reparatii</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Fara halogenuri</p>
                            </li>
                            <li>
                              <div class="icon22"></div>
                              <p>Rezistent la preincalzire</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>TerrIFic RP65 este un flux pe
                            <strong>baza de apa</strong>
                            pentru aplicare selectiva.</p>
                        </div>
                        <div class="product-details">
                          <p>TerrIFic RP65 este un flux pe baza de apa pentru aplicare selectiva.<br/>
                            Pentru procesele de lipire SnPb si lead-free.<br/>
                            Principala utilizare: lipire manuala. Poate fi folosit si la lipirea automata.<br/>
                            Standarde OR L0 conform EN si IPC.<br/>
                            Continut halogenuri: 0,00%<br/>
                            TerrIFic RP 65 este disponibil si in stilouri refolosibile si de unica folosinta.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/de/TD-Terrific-RP65-DE_0.pdf" type="application/pdf; length=396763" title="TD Terrific RP65-DE.pdf">Technisches Datenblatt TerrIFic RP65</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/fr/TD-Terrific-RP65-FR_0.pdf" type="application/pdf; length=412192" title="TD Terrific RP65-FR.pdf">Fiche technique TerrIFic RP65</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/assets/images/application-pdf.png"/>
                            <a href="/assets/documents/en/TD-Terrific-RP65_0.pdf" type="application/pdf; length=393579" title="TD Terrific RP65.pdf">Technical Data Sheet TerrIFic RP65</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=TERRIFIC RP65" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/781" title="TERRIFIC RP65" class="nid">781</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs30">Diluanti flux</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_9 product-row-group view-dom-id-8711c5cd094fa6daa38d02472b93b117">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="/assets/images/CLP_T-2005M_4.jpg" width="200" height="200" alt="Interflux T2005M thinner"/><img typeof="foaf:Image" src="/assets/images/Interflux-T2005M.jpg" width="200" height="200" alt="Interflux T2005M thinner"/></div>
                        <div class="product-name">
                          <h3>T 2005M</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon11"></div>
                              <p>Pe baza de alcool</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Fara halogenuri</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Pentru seria IF 2005 de fluxuri</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® T 2005M este un diluant / conditionant pentru seria de fluxuri IF 2005.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® T 2005M este un diluant / conditionant pentru seria de fluxuri IF 2005.<br/>
                            Pentru folosirea sub forma de spuma.</p>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=T 2005M" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ro/767" title="T 2005M" class="nid">767</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="block-block-17" class="block block-block library-reference last even">
          <div class="inner-block">
            <p>Nu poti gasi un produs? Pentru lista completa a produselor, verifica
              <a href="/ro/documents">libraria</a>
              noastra</p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}