{% extends "layout.html.njk" %}
{% block meta %}
  <title>Hilfsmittel | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}de-auxiliaries
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-auxiliaries page-products i18n-de section-auxiliaries page-panels
{% endblock %}
{% block page %}
  {% include "partials/highlight.njk" %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-display panel-1col clearfix">
          <div class="panel-panel panel-col">
            <div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs27">Generelle HILFSMITTEL</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_18 product-row-group view-dom-id-332ef419cd7cc5ed429d377eda1b2630">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%20710%20PSM_0.jpg" width="200" height="200" alt="IF 710PSM"/></div>
                        <div class="product-name">
                          <h3>IF 710 PSM</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>abziehbare Lötstoppmaske</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Für das Wellenlöten</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Für SnPb(Ag)-Prozesse</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Für bleifreie Prozesse</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Schnelles Trocknen, einfaches Abziehen</p>
                            </li>
                            <li>
                              <div class="icon28"></div>
                              <p>RoHS-konform</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 710 PSM ist eine schnell trocknende abziehbare Lötstoppmaske auf Basis von natürlichem Latex.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 710 PSM ist eine schnell trocknende abziehbare Lötstoppmaske auf Basis von natürlichem Latex.<br/>
                            Um Teile der Leiterplatte vom Wellen- und Flussmittelkontakt zu schützen.<br/>
                            Einfaches Entfernen, zerreißt nicht schnell beim Abziehen.<br/>
                            Wärmebeständig<br/>
                            Kann eine Verfärbung des Kupfers geben wenn aufgetragen auf nacktem Cu und Cu-OSP.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%20710-DE_0.pdf" type="application/pdf; length=292541" title="TD IF 710-DE.pdf">Technisches Datenblatt IF 710 PSM</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%20710-FR_0.pdf" type="application/pdf; length=416162" title="TD IF 710-FR.pdf">Fiche technique IF 710 PSM</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%20710_0.pdf" type="application/pdf; length=369316" title="TD IF 710.pdf">Technical Data Sheet IF 710 PSM</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 710 PSM" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/252" title="IF 710 PSM" class="nid">252</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs30">REINIGUNG</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_16 product-row-group view-dom-id-be6cfc7aa85a016c622a024204c5e615">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/IF%20930%20All%20in%20One.jpg" width="200" height="200" alt="IF 930 wettable nozzle cleaner"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/IF%20930kader.png" width="200" height="200" alt="IF 930 wettable nozzle cleaner"/></div>
                        <div class="product-name">
                          <h3>IF 930</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>Düsenreiniger</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon02"></div>
                              <p>Für das Selektivlöten</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Für SnPb(Ag)-Prozesse</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Für bleifreie Prozesse</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolut halogenfrei</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 930 reinigt und
                            <strong>desoxydiert benetzbare Düsen</strong>
                            von Selektivlötsystemen.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 930 reinigt und desoxydiert benetzbare Düsen von Selektivlötsystemen.<br/>
                            Sichere und einfache Reinigung in einem Schritt<br/>
                            Ersetzt IF 920</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%20930-DE.pdf" type="application/pdf; length=522376" title="TD IF 930-DE.pdf">Technisches Datenblatt IF 930</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%20930-FR.pdf" type="application/pdf; length=435025" title="TD IF 930-FR.pdf">Fiche technique IF 930</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%20930_0.pdf" type="application/pdf; length=387275" title="TD IF 930.pdf">Technical Data Sheet IF 930</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 930" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/250" title="IF 930" class="nid">250</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_Tip%20Tinner.jpg" width="200" height="200" alt="Tip Tinner"/></div>
                        <div class="product-name">
                          <h3>TIP TINNER</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon04"></div>
                              <p>Für die Nacharbeit und Reparatur</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Für SnPb(Ag)-Prozesse</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Für bleifreie Prozesse</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Absolut halogenfrei</p>
                            </li>
                            <li>
                              <div class="icon26"></div>
                              <p>Kolophoniumfrei</p>
                            </li>
                            <ul></ul>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Tip Tinner reinigt und
                            <strong>verzinnt</strong>
                            Lötspitzen.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Tip Tinner reinigt und verzinnt Lötspitzen.<br/>
                            Verlängert die Lebensdauer erheblich<br/>
                            Absolut halogenfrei<br/>
                            Nicht abrasiv</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Tip%20Tinner-DE_0.pdf" type="application/pdf; length=381222" title="TD Tip Tinner-DE.pdf">Technisches Datenblatt Tip Tinner</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Tip%20Tinner-FR_0.pdf" type="application/pdf; length=425441" title="TD Tip Tinner-FR.pdf">Fiche technique Tip Tinner</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Tip%20Tinner_0.pdf" type="application/pdf; length=418029" title="TD Tip Tinner.pdf">Technical Data Sheet Tip Tinner</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=TIP TINNER" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/249" title="TIP TINNER" class="nid">249</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_Purgel.jpg" width="200" height="200" alt="IF Purgel"/></div>
                        <div class="product-name">
                          <h3>PURGEL</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon04"></div>
                              <p>Für die Nacharbeit und Reparatur</p>
                            </li>
                            <li>
                              <div class="icon08"></div>
                              <p>Für das Dosieren</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Homologiert für MYDATA MY 500</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Purgel ist ein neutraler Reiniger/<strong>Pfleger</strong>
                            für Pumpen und Ventile von
                            <strong>Dosiersystemen</strong>.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Purgel ist ein neutraler Reiniger/Pfleger für Pumpen und Ventile von Dosiersystemen.<br/>
                            Um Teile eines Dosiersystems zu konservieren wenn nicht im Gebrauch.<br/>
                            Homologiert für Mydata MY 500</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Purgel-DE_0.pdf" type="application/pdf; length=371237" title="TD Purgel-DE.pdf">Technisches Datenblatt Purgel</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Purgel-FR_0.pdf" type="application/pdf; length=370051" title="TD Purgel-FR.pdf">Fiche technique Purgel</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Purgel_0.pdf" type="application/pdf; length=363113" title="TD Purgel.pdf">Technical Data Sheet Purgel</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PURGEL" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/248" title="PURGEL" class="nid">248</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Interflux-IPA-wipes-jar.jpg" width="200" height="200" alt="Interflux IPA-DI wipes"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Interflux-IPA-wipes.jpg" width="200" height="200" alt="Interflux IPA-DI wipes"/></div>
                        <div class="product-name">
                          <h3>IPA/DI TÜCHER</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon30"></div>
                              <p>ESD-Sicher</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® vorgetränkte IPA/DI Tücher in Flip-Top Dosen und Nachfüllbeutel für die
                            <strong>allgemeine Reinigung</strong>
                            von Oberflächen.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® vorgetränkte IPA/DI Tücher in Flip-Top Dosen und Nachfüllbeutel für die allgemeine Reinigung von Oberflächen.<br/>
                            Ungewobenes Material, flusenfrei<br/>
                            Größe eines Tuches : 15 x 21 cm<br/>
                            100 St./Rolle</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IPA-DI%20wipes-DE.pdf" type="application/pdf; length=430094" title="TD IPA-DI wipes-DE.pdf">Technisches Datenblatt IPA/DI wipes</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IPA-DI%20wipes-FR.pdf" type="application/pdf; length=433271" title="TD IPA-DI wipes-FR.pdf">Fiche technique IPA/DI wipes</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IPA-DI%20wipes_0.pdf" type="application/pdf; length=425179" title="TD IPA-DI wipes.pdf">Technical Data Sheet IPA/DI wipes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IPA/DI TÜCHER" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/246" title="IPA/DI TÜCHER" class="nid">246</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_Stencil%20Clean%20Tub_0.jpg" width="200" height="200" alt="IF Stencil Clean Wipes"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_Stencil%20Clean%20Bag_0.jpg" width="200" height="200" alt="IF Stencil Clean Refil bag"/></div>
                        <div class="product-name">
                          <h3>SCHABLONENREINIGUNGSTÜCHER</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon09"></div>
                              <p>Für die Schablonenreinigung</p>
                            </li>
                            <li>
                              <div class="icon11"></div>
                              <p>Alkoholbasiert</p>
                            </li>
                            <li>
                              <div class="icon30"></div>
                              <p>ESD-sicher</p>
                            </li>
                            <ul></ul>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® vorgetränkte Schablonenreinigungstücher in Flip-Top Dosen und Nachfüllbeutel für die Reinigung von
                            <strong>Lotpaste</strong>
                            und nicht ausgehärtetem
                            <strong>SMT-Kleber</strong>
                            von Schablonen und Werkzeugen.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® vorgetränkte Schablonenreinigungstücher in Flip-Top Dosen und Nachfüllbeutel für die Reinigung von Lotpaste und nicht ausgehärtetem SMT-Kleber von Schablonen und Werkzeugen.<br/>
                            Ungewobenes Material, flusenfrei<br/>
                            Größe eines Tuches : 15 x 21 cm<br/>
                            100 St./Rolle</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Stencil%20clean%20wipes-DE.pdf" type="application/pdf; length=421028" title="TD Stencil clean wipes-DE.pdf">Technisches Datenblatt Stencil Clean Wipes</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Stencil%20clean%20wipes-FR_0.pdf" type="application/pdf; length=427631" title="TD Stencil clean wipes-FR.pdf">Fiche technique Stencil Clean Wipes</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Stencil%20clean%20wipes.pdf" type="application/pdf; length=417010" title="TD Stencil clean wipes.pdf">Technical Data Sheet Stencil Clean Wipes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=SCHABLONENREINIGUNGSTÜCHER" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/323" title="SCHABLONENREINIGUNGSTÜCHER" class="nid">323</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_ISC%208020_0.jpg" width="200" height="200" alt="ISC 8020"/></div>
                        <div class="product-name">
                          <h3>ISC 8020</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>Schablonenreinigungsflüssigkeit</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon09"></div>
                              <p>Für Schablonendruck</p>
                            </li>
                            <li>
                              <div class="icon11"></div>
                              <p>Alkoholbasiert</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® ISC 8020 ist eine Schablonenreinigungsflüssigkeit für Schablonendrucker.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® ISC 8020 ist eine Schablonenreinigungsflüssigkeit für Schablonendrucker.<br/>
                            Für die entfernung von Lotpasten und nicht ausgehärtetem SMT-Kleber.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20ISC%208020-DE.pdf" type="application/pdf; length=346604" title="TD ISC 8020-DE.pdf">Technisches Datenblatt ISC 8020</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20ISC%208020.pdf" type="application/pdf; length=344448" title="TD ISC 8020.pdf">Technical Data Sheet ISC 8020</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=ISC 8020" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/470" title="ISC 8020" class="nid">470</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs30">LÖTBAD-<br/>PFLEGE</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_15 product-row-group view-dom-id-4faff786c0f6966b1c6897e2d22d30c5">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/IF%20910_final2.png" width="200" height="200" alt="IF 910 de-oxidation oil"/></div>
                        <div class="product-name">
                          <h3>IF 910</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>De-oxidationsöl</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Für das Wellenlöten</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Für die Vorverzinnung</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Für Tauchlöten</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>SnPb kompatibel</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Bleifrei kompatibel</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 910 De-oxidationsöl trennt Oxyden vom guten Lot im Lötbad.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 910 De-Oxidationsöl trennt Oxyden vom guten Lot im Lötbad.<br/>
                            Reduziert den Lotverbrauch.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%20910-DE.pdf" type="application/pdf; length=526614" title="TD IF 910-DE.pdf">Technisches Datenblatt IF 910</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%20910-FR_0.pdf" type="application/pdf; length=495807" title="TD IF 910-FR.pdf">Fiche technique IF 910</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%20910.pdf" type="application/pdf; length=484684" title="TD IF 910.pdf">Technical Data Sheet IF 910</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 910" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/244" title="IF 910" class="nid">244</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_AOP%20lead-free.jpg" width="200" height="200" alt="Anti-oxidant pellets"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_AOP%20SnPb.jpg" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>ANTIOXIDATIONSTABLETTEN</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Für das Wellenlöten</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Für das Selektivlöten</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Für die Vorverzinnung</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Für SnPb(Ag)-Prozesse</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Für bleifreie Prozesse</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Antioxidationstabletten minimieren die Oxydbildung in bleifreien und SnPb(Ag) Lötbäder.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Antioxidationstabletten minimieren die Oxydbildung in bleifreien und SnPb(Ag) Lötbäder.<br/>
                            Verwendet als Zusatz im Lötbad<br/>
                            Für SnPb(Ag)-Legierungen (Blaues Etikett) oder bleifreie Legierungen (grünes Etikett). Antioxidationstabletten werden nicht empfohlen für eine geschlossene inerte Atmosphäre und für Ni-dotiertes Lot.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Anti-oxidant%20pellets-DE.pdf" type="application/pdf; length=366742" title="TD Anti-oxidant pellets-DE.pdf">Technisches Datenblatt Anti-oxidant pellets</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Anti-oxidant%20pellets-FR_0.pdf" type="application/pdf; length=371501" title="TD Anti-oxidant pellets-FR.pdf">Fiche technique Anti-oxidant pellets</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Anti-oxidant%20pellets.pdf" type="application/pdf; length=364659" title="TD Anti-oxidant pellets.pdf">Technical Data Sheet Anti-oxidant pellets</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=ANTIOXIDATIONSTABLETTEN" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/245" title="ANTIOXIDATIONSTABLETTEN" class="nid">245</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs25">LOT-<br/>LEGIERUNGEN</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_14 product-row-group view-dom-id-4fa7c864fb0b6a2793989bf800177559">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/solder%20bars_0.jpg" width="200" height="200" alt="solder bars"/></div>
                        <div class="product-name">
                          <h3>STANGENLOT</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Für das Wellenlöten</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Für das Selektivlöten</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Für die Vorverzinnung</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Für Tauchlöten</p>
                            </li>
                            <ul></ul>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Stangenlot wird hergestellt von Metallen mit hoher Reinheit und niedrigem Oxydationsgrad in SnPb(Ag) und bleifreien Legierungen.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Stangenlot wird hergestellt von Metallen mit hoher Reinheit und niedrigem Oxydationsgrad in SnPb(Ag) und bleifreien Legierungen.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Lead-free%20alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20SnPb%28Ag%29-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Lead-free%20alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20SnPb%28Ag%29-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Lead-free%20alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20SnPb%28Ag%29-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/General%20info%20-%20lead%20free%20alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=STANGENLOT" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/242" title="STANGENLOT" class="nid">242</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/plain%20wire%202mm-4kg-5.png" width="200" height="200" alt="Plain Solder Wire"/></div>
                        <div class="product-name">
                          <h3>LÖTDRAHT OHNE FLUSSMITTEL</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon02"></div>
                              <p>Für Selektivlöten</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Für die Vorverzinnung</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Für Tauchlöten</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Lötdraht ohne Flussmittel für die automatische Befüllung von Selektivlötsystemen in bleifreien und SnPb(Ag)-Legierungen.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Lötdraht ohne Flussmittel für die automatische Befüllung von Selektivlötsystemen in bleifreien und SnPb(Ag)-Legierungen.<br/>
                            Drahtdurchmesser: 2mm/3mm<br/>
                            4 kg/1kg Spulen<br/>
                            Abmessungen der 4kg Spule : 125mm x 125mm (Durchmesser x Länge)
                          </p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Lead-free%20alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20SnPb%28Ag%29-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Lead-free%20alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20SnPb%28Ag%29-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Lead-free%20alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20SnPb%28Ag%29-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/General%20info%20-%20lead%20free%20alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=LÖTDRAHT OHNE FLUSSMITTEL" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/243" title="LÖTDRAHT OHNE FLUSSMITTEL" class="nid">243</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/grenailles_2.png" width="200" height="200" alt="Lottabletten"/></div>
                        <div class="product-name">
                          <h3>LOTTABLETTEN</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Für das Wellenlöten</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Für das Selektivlöten</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Für die Nacharbeit und Reparatur</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Für die Vorverzinnung</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Für Tauchlöten</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Lottabletten sind kleine Teile Lot in bleifreien und SnPb(Ag)-Legierungen für eine einfache Lötbadbefüllung.</p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Lottabletten sind kleine Teile Lot in bleifreien und SnPb(Ag)-Legierungen für eine einfache Lötbadbefüllung.<br/>
                            Größe : ungefähr 1cm x 1cm<br/>
                            Bleifreie und SnPb(Ag)-Legierungen</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Lead-free%20alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20SnPb%28Ag%29-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Lead-free%20alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20SnPb%28Ag%29-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Lead-free%20alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20SnPb%28Ag%29-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/General%20info%20-%20lead%20free%20alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=LOTTABLETTEN" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/de/109" title="LOTTABLETTEN" class="nid">109</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="block-block-17" class="block block-block library-reference last even">
          <div class="inner-block">
            <p>Produkt nicht gefunden? Für eine komplette Liste, konsultieren Sie unsere
              <a href="/de/documents">Bibliothek</a>
            </p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}