{% extends "layout.html.njk" %}
{% block meta %}
  <title>Вспомогательные материалы | Interflux Electronics</title>
  {# <meta name="description" content=""> #}
{% endblock %}
{% block bodyId %}ru-auxiliaries
{% endblock %}
{% block bodyClass %}html not-front not-logged-in no-sidebars page-auxiliaries page-products i18n-ru section-auxiliaries page-panels
{% endblock %}
{% block page %}
  {% include "partials/highlight.njk" %}
  <div class="region region-corpus">
    <div class="inner-region">
      <div class="inner-region">
        <div class="panel-display panel-1col clearfix">
          <div class="panel-panel panel-col">
            <div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs18">технологические</div>
                  <div class="fs27">материалы</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_18 product-row-group view-dom-id-5ba9784dc502a0f80837de2e1d11de2b">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_IF%20710%20PSM_0.jpg" width="200" height="200" alt="IF 710PSM"/></div>
                        <div class="product-name">
                          <h3>IF 710 PSM</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>временная  паяльная маска</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Для пайки волной</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Для процессов SnPb(Ag)
                              </p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Для процессов без использования свинца</p>
                            </li>
                            <li>
                              <div class="icon24"></div>
                              <p>Быстро сохнет, легко снимается</p>
                            </li>
                            <li>
                              <div class="icon28"></div>
                              <p>Соответствует требованиям RoHS</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 710 PSM представляет собой быстротвердеющую снимающуюся паяльную маску из натурального латекса.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 710 PSM представляет собой быстротвердеющую снимающуюся паяльную маску из натурального латекса.<br/>
                            Для защиты зон на печатной плате от волнового контакта с флюсом и припоем<br/>
                            Легко снимается, не рвется при снятии<br/>
                            Устойчива к теплу<br/>
                            Может приводить к изменению цвета Cu при нанесении на оголенный Cu или Cu-OSP</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%20710-DE_0.pdf" type="application/pdf; length=292541" title="TD IF 710-DE.pdf">Technisches Datenblatt IF 710 PSM</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%20710-FR_0.pdf" type="application/pdf; length=416162" title="TD IF 710-FR.pdf">Fiche technique IF 710 PSM</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%20710_0.pdf" type="application/pdf; length=369316" title="TD IF 710.pdf">Technical Data Sheet IF 710 PSM</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 710 PSM" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ru/975" title="IF 710 PSM" class="nid">975</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs30">Очистка</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_16 product-row-group view-dom-id-652605413e03e7151dd7cad1a367f808">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/IF%20930%20All%20in%20One_4.jpg" width="200" height="200" alt="IF 930 wettable nozzle cleaner"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/IF%20930kader.png" width="200" height="200" alt="IF 930 wettable nozzle cleaner"/></div>
                        <div class="product-name">
                          <h3>IF 930</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>средство для очистки сопла от окислов</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon02"></div>
                              <p>Для избирательной пайки</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Для процессов SnPb(Ag)</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Для процессов без использования свинца</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Совершенно не содержит галогены</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® IF 930 снимает окислы и очищает
                            <strong>сопла
                            </strong>систем селективной пайки.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® IF 930 снимет окислы и  очищает  сопла систем избирательной пайки.<br/>
                            Безопасное и легкое одноэтапное очищение<br/>
                            Заменяет IF 920
                          </p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%20930-DE.pdf" type="application/pdf; length=522376" title="TD IF 930-DE.pdf">Technisches Datenblatt IF 930</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%20930-FR.pdf" type="application/pdf; length=435025" title="TD IF 930-FR.pdf">Fiche technique IF 930</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%20930_0.pdf" type="application/pdf; length=387275" title="TD IF 930.pdf">Technical Data Sheet IF 930</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 930" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ru/976" title="IF 930" class="nid">976</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_Tip%20Tinner.jpg" width="200" height="200" alt="Tip Tinner"/></div>
                        <div class="product-name">
                          <h3>УСТРОЙСТВО ДЛЯ ЛУЖЕНИЯ НАКОНЕЧНИКОВ</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon04"></div>
                              <p>Для ремонта</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Для процессов SnPb(Ag)</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Для процессов без использования свинца</p>
                            </li>
                            <li>
                              <div class="icon18"></div>
                              <p>Совершенно не содержит галогены</p>
                            </li>
                            <li>
                              <div class="icon26"></div>
                              <p>Не содержит канифоли</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Tip Tinner очищает и восстанавливает лужение наконечников паяльников.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Tip Tinner очищает и восстанавливает лужение наконечников паяльников.<br/>
                            Существенно удлиняет срок эксплуатации наконечника<br/>
                            Совершенно не содержит галогены<br/>
                            Неабразивен</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Tip%20Tinner-DE_0.pdf" type="application/pdf; length=381222" title="TD Tip Tinner-DE.pdf">Technisches Datenblatt Tip Tinner</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Tip%20Tinner-FR_0.pdf" type="application/pdf; length=425441" title="TD Tip Tinner-FR.pdf">Fiche technique Tip Tinner</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Tip%20Tinner_0.pdf" type="application/pdf; length=418029" title="TD Tip Tinner.pdf">Technical Data Sheet Tip Tinner</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=УСТРОЙСТВО ДЛЯ ЛУЖЕНИЯ НАКОНЕЧНИКОВ" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ru/977" title="УСТРОЙСТВО ДЛЯ ЛУЖЕНИЯ НАКОНЕЧНИКОВ" class="nid">977</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_Purgel.jpg" width="200" height="200" alt="IF Purgel"/></div>
                        <div class="product-name">
                          <h3>PURGEL (ПУРГЕЛЬ)</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon04"></div>
                              <p>Для ремонта</p>
                            </li>
                            <li>
                              <div class="icon08"></div>
                              <p>Для дозации</p>
                            </li>
                            <li>
                              <div class="icon00"></div>
                              <p>Одобрен для MYDATA MY 500</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® Purgel представляет собой нейтральный очиститель/<strong>кондиционер</strong>
                            для насосов и клапанов
                            <strong>систем дозации</strong>.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® Purgel представляет собой нейтральный очиститель/кондиционер для насосов и клапанов систем дозации.<br/>
                            Для сохранения деталей систем дозации, когда они не используются.<br/>
                            Одобрен для MYDATA MY 500.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Purgel-DE_0.pdf" type="application/pdf; length=371237" title="TD Purgel-DE.pdf">Technisches Datenblatt Purgel</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Purgel-FR_0.pdf" type="application/pdf; length=370051" title="TD Purgel-FR.pdf">Fiche technique Purgel</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Purgel_0.pdf" type="application/pdf; length=363113" title="TD Purgel.pdf">Technical Data Sheet Purgel</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=PURGEL (ПУРГЕЛЬ)" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ru/978" title="PURGEL (ПУРГЕЛЬ)" class="nid">978</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Interflux-IPA-wipes-jar.jpg" width="200" height="200" alt="Interflux IPA-DI wipes"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/Interflux-IPA-wipes.jpg" width="200" height="200" alt="Interflux IPA-DI wipes"/></div>
                        <div class="product-name">
                          <h3>САЛФЕТКИ IPA/DI</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon30"></div>
                              <p>С защитой от статического электричества</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Пропитанные салфетки IPA/DI Interflux® в контейнерах с откидными крышками и пачках многоразового использования для<strong>
                              общей очистки
                            </strong>поверхностей.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Пропитанные салфетки IPA/DI Interflux® в контейнерах с откидными крышками и пачках многоразового использования для общей очистки поверхностей.<br/>
                            материал не содержит ворса, нетканый<br/>
                            размер одной салфетки: 15 x 21см<br/>
                            100 салфеток/ рулон
                          </p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IPA-DI%20wipes-DE.pdf" type="application/pdf; length=430094" title="TD IPA-DI wipes-DE.pdf">Technisches Datenblatt IPA/DI wipes</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IPA-DI%20wipes-FR.pdf" type="application/pdf; length=433271" title="TD IPA-DI wipes-FR.pdf">Fiche technique IPA/DI wipes</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IPA-DI%20wipes_0.pdf" type="application/pdf; length=425179" title="TD IPA-DI wipes.pdf">Technical Data Sheet IPA/DI wipes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=САЛФЕТКИ IPA/DI" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ru/979" title="САЛФЕТКИ IPA/DI" class="nid">979</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_Stencil%20Clean%20Tub.jpg" width="200" height="200" alt="IF Stencil Clean Wipes"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_Stencil%20Clean%20Bag.jpg" width="200" height="200" alt="IF Stencil Clean Refil bag"/></div>
                        <div class="product-name">
                          <h3>ТРАФАРЕТНЫЕ ОЧИЩАЮЩИЕ САЛФЕТКИ</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon09"></div>
                              <p>Для очистки трафаретов</p>
                            </li>
                            <li>
                              <div class="icon11"></div>
                              <p>Спиртовые</p>
                            </li>
                            <li>
                              <div class="icon30"></div>
                              <p>С защитой от статического электричества</p>
                            </li>
                            <ul></ul>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Пропитанные очищающие салфетки Interflux® в контейнерах с откидными крышками и пачках многоразового использования для удаления
                            <strong>паяльной пасты</strong>
                            и незатвердевших
                            <strong>SMT-адгезивов</strong>
                            с трафаретов и инструментов.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Пропитанные очищающие салфетки Interflux® в контейнерах с откидными крышками и пачках многоразового использования для удаления паяльной пасты и незатвердевших SMT-адгезивов с трафаретов и инструментов.<br/>
                            материал не содержит ворса, нетканый<br/>
                            размер одной салфетки: 15 x 21см<br/>
                            100 салфеток/рулон
                          </p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Stencil%20clean%20wipes-DE.pdf" type="application/pdf; length=421028" title="TD Stencil clean wipes-DE.pdf">Technisches Datenblatt Stencil Clean Wipes</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Stencil%20clean%20wipes-FR_0.pdf" type="application/pdf; length=427631" title="TD Stencil clean wipes-FR.pdf">Fiche technique Stencil Clean Wipes</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Stencil%20clean%20wipes.pdf" type="application/pdf; length=417010" title="TD Stencil clean wipes.pdf">Technical Data Sheet Stencil Clean Wipes</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=ТРАФАРЕТНЫЕ ОЧИЩАЮЩИЕ САЛФЕТКИ" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ru/980" title="ТРАФАРЕТНЫЕ ОЧИЩАЮЩИЕ САЛФЕТКИ" class="nid">980</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_ISC%208020_0.jpg" width="200" height="200" alt="ISC 8020"/></div>
                        <div class="product-name">
                          <h3>ISC 8020</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>трафаретная жидкость для очистки
                          </h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon09"></div>
                              <p>Для трафаретной печати</p>
                            </li>
                            <li>
                              <div class="icon11"></div>
                              <p>Спиртовая</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Interflux® ISC 8020 представляет собой жидкость для очистки устройств трафаретной печати.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Interflux® ISC 8020 представляет собой жидкость для очистки устройств трафаретной печати.<br/>
                            Для удаления паяльной пасты и незатвердевших SMT - адгезивов.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20ISC%208020-DE.pdf" type="application/pdf; length=346604" title="TD ISC 8020-DE.pdf">Technisches Datenblatt ISC 8020</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20ISC%208020.pdf" type="application/pdf; length=344448" title="TD ISC 8020.pdf">Technical Data Sheet ISC 8020</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=ISC 8020" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ru/981" title="ISC 8020" class="nid">981</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs29">Очистка паяльной ванны</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_15 product-row-group view-dom-id-963b071cf26541c4a4364f0463cd41c5">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/IF%20910_final2.png" width="200" height="200" alt="IF 910 de-oxidation oil"/></div>
                        <div class="product-name">
                          <h3>IF 910</h3>
                        </div>
                        <div class="product-name-extra">
                          <h3>масло деоксидант</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Для пайки волной</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Для лужения</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Для пайки окунанием</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Для процессов SnPb(Ag)</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Для сплавов без свинца</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Масло -деоксидант Interflux® IF 910 отделяет окись от хорошего припоя в ванне для пайки.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Масло деоксидант  Interflux® IF 910 отделяет окись от хорошего припоя в ванне для пайки.<br/>
                            Сниженное потребление припоя.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20IF%20910-DE.pdf" type="application/pdf; length=526614" title="TD IF 910-DE.pdf">Technisches Datenblatt IF 910</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20IF%20910-FR_0.pdf" type="application/pdf; length=495807" title="TD IF 910-FR.pdf">Fiche technique IF 910</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20IF%20910.pdf" type="application/pdf; length=484684" title="TD IF 910.pdf">Technical Data Sheet IF 910</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=IF 910" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ru/982" title="IF 910" class="nid">982</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_AOP%20lead-free.jpg" width="200" height="200" alt="Anti-oxidant pellets"/><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/CLP_AOP%20SnPb.jpg" width="200" height="200" alt=""/></div>
                        <div class="product-name">
                          <h3>ПРОТИВООКИСЛИТЕЛЬНЫЕ ГРАНУЛЫ</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Для пайки волной</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Для избирательной пайки</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Для лужения</p>
                            </li>
                            <li>
                              <div class="icon15"></div>
                              <p>Для процессов SnPb(Ag)</p>
                            </li>
                            <li>
                              <div class="icon16"></div>
                              <p>Для процессов без использования свинца</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Противоокислительные гранулы Interflux® снижают до минимума формирование окисей в ваннах для пайки без свинца и ваннах для пайки с SnPb(Ag).
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Противоокислительные гранулы Interflux® снижают до минимума формирование окисей в ваннах для пайки без свинца и ваннах для пайки с SnPb(Ag).<br/>
                            Используется в качестве добавки к ваннам для пайки<br/>
                            Для сплавов с SnPb(Ag) (голубой ярлык) или без свинца (зеленый ярлык)<br/>
                            Противоокислительные гранулы не рекомендуются к использованию в закрытых инертных средах и для припойных сплавов с Ni.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Anti-oxidant%20pellets-DE.pdf" type="application/pdf; length=366742" title="TD Anti-oxidant pellets-DE.pdf">Technisches Datenblatt Anti-oxidant pellets</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Anti-oxidant%20pellets-FR_0.pdf" type="application/pdf; length=371501" title="TD Anti-oxidant pellets-FR.pdf">Fiche technique Anti-oxidant pellets</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Anti-oxidant%20pellets.pdf" type="application/pdf; length=364659" title="TD Anti-oxidant pellets.pdf">Technical Data Sheet Anti-oxidant pellets</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=ПРОТИВООКИСЛИТЕЛЬНЫЕ ГРАНУЛЫ" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ru/983" title="ПРОТИВООКИСЛИТЕЛЬНЫЕ ГРАНУЛЫ" class="nid">983</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-views pane-selective-soldering">
                <h2 class="pane-title">
                  <div class="fs30">Тип сплава припоя</div>
                </h2>
                <div class="pane-content">
                  <div class="view view-selective-soldering view-id-selective_soldering view-display-id-page_14 product-row-group view-dom-id-47a8a1e865b203ae1f842c5f5988520c">
                    <div class="bg-left"></div>
                    <div class="bg-top"></div>
                    <div class="bg-bottom"></div>
                    <div class="view-content">
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/solder%20bars_0.jpg" width="200" height="200" alt="solder bars"/></div>
                        <div class="product-name">
                          <h3>ПРИПОЙ В СЛИТКАХ</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Для пайки волной</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Для избирательной пайки</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Для лужения</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Для пайки окунанием</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>СЛИТКИ Припоя Interflux® изготовлены  из металлов с высоким уровнем очистки и низким окислением в сплавах с SnPb(Ag) и без свинца.
                          </p>
                        </div>
                        <div class="product-details">
                          <p>СЛИТКИ Припоя Interflux® изготовлены из металлов с высоким уровнем очистки и низким окислением в сплавах SnPb(Ag) и без свинца.
                          </p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Lead-free%20alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20SnPb%28Ag%29-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Lead-free%20alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20SnPb%28Ag%29-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Lead-free%20alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20SnPb%28Ag%29-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/General%20info%20-%20lead%20free%20alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=ПРИПОЙ В СЛИТКАХ" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ru/984" title="ПРИПОЙ В СЛИТКАХ" class="nid">984</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/plain%20wire%202mm-4kg-5.png" width="200" height="200" alt="Plain Solder Wire"/></div>
                        <div class="product-name">
                          <h3>ПРОВОЛОЧНЫЙ ПРИПОЙ БЕЗ ФЛЮСА</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon02"></div>
                              <p>Для избирательной пайки</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Для лужения</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Для пайки окунанием</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Проволочный припой Interflux® для автоматической подачи припоя в системы избирательной пайки при использовании сплавов без содержания свинца и сплавов  SnPb(Ag).
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Проволочный припой Interflux® для автоматической подачи припоя в системы избирательной пайки при использовании сплавов без содержания свинца и сплавов  SnPb(Ag).<br/>
                            Диаметр проволоки: 2мм/ 3мм<br/>
                            В катушках весом 4кг/1кг<br/>
                            Размер катушки весом 4кг: 125мм x 125мм (диаметр x длина)
                          </p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Lead-free%20alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20SnPb%28Ag%29-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Lead-free%20alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20SnPb%28Ag%29-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Lead-free%20alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20SnPb%28Ag%29-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/General%20info%20-%20lead%20free%20alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=ПРОВОЛОЧНЫЙ ПРИПОЙ БЕЗ ФЛЮСА" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ru/985" title="ПРОВОЛОЧНЫЙ ПРИПОЙ БЕЗ ФЛЮСА" class="nid">985</a>
                      </div>
                      <div class="product-row">
                        <div class="product-images"><img typeof="foaf:Image" src="http://www.interflux.com/sites/default/files/grenailles.png" width="200" height="200" alt="Solder Grenailles"/></div>
                        <div class="product-name">
                          <h3>ГРАНУЛЫ ПРИПОЯ</h3>
                        </div>
                        <div class="product-features">
                          <ul>
                            <li>
                              <div class="icon01"></div>
                              <p>Для пайки волной</p>
                            </li>
                            <li>
                              <div class="icon02"></div>
                              <p>Для избирательной пайки</p>
                            </li>
                            <li>
                              <div class="icon04"></div>
                              <p>Для ремонта</p>
                            </li>
                            <li>
                              <div class="icon05"></div>
                              <p>Для луженияg</p>
                            </li>
                            <li>
                              <div class="icon10"></div>
                              <p>Для пайки окунанием</p>
                            </li>
                          </ul>
                        </div>
                        <div class="product-summary">
                          <p>Гранулы Припоя Interflux® представляют собой небольшие таблетки припоя, которые удобно использовать в ваннах для припоя в сплавах без содержания свинца и сплавах SnPb(Ag).
                          </p>
                        </div>
                        <div class="product-details">
                          <p>Гранулы Припоя Interflux® представляют собой небольшие таблетки припоя, которые удобно использовать в ваннах для припоя в сплавах без содержания свинца и сплавах SnPb(Ag).
                          </p>
                          <p>Размер: примерно 1см x 1см.</p>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20Lead-free%20alloys-DE.pdf" type="application/pdf; length=1102143" title="TD Lead-free alloys-DE.pdf">Technisches Datenblatt Bleifreie Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link de">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/de/TD%20SnPb%28Ag%29-alloys-DE.pdf" type="application/pdf; length=386682" title="TD SnPb(Ag)-alloys-DE.pdf">Technisches Datenblatt SnPb(Ag) Legierungen</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20Lead-free%20alloys-FR.pdf" type="application/pdf; length=1108289" title="TD Lead-free alloys-FR.pdf">Fiche Technique Alliages sans plomb</a>
                          </span>
                        </div>
                        <div class="product-document-link fr">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/fr/TD%20SnPb%28Ag%29-alloys-FR.pdf" type="application/pdf; length=391174" title="TD SnPb(Ag)-alloys-FR.pdf">Fiche technique alliages SnPb(Ag)</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20Lead-free%20alloys.pdf" type="application/pdf; length=1175053" title="TD Lead-free alloys.pdf">Technical Data Sheet Lead-free solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/TD%20SnPb%28Ag%29-alloys_0.pdf" type="application/pdf; length=423778" title="TD SnPb(Ag)-alloys.pdf">Technical Data Sheet SnPb(Ag) solder alloys</a>
                          </span>
                        </div>
                        <div class="product-document-link en">
                          <span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png"/>
                            <a href="http://www.interflux.com/sites/default/files/documents/en/General%20info%20-%20lead%20free%20alloys.pdf" type="application/pdf; length=154170" title="General info - lead free alloys.pdf">Short properties overview</a>
                          </span>
                        </div>
                        <div class="product-contact-link">
                          <a href="mailto:technischedienst@interflux.com?Subject=ГРАНУЛЫ ПРИПОЯ" target="_blank" rel="nofollow">Contact us for more info / demo / samples</a>
                        </div>
                        <a href="/ru/993" title="ГРАНУЛЫ ПРИПОЯ" class="nid">993</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="block-block-17" class="block block-block library-reference last even">
          <div class="inner-block">
            <p>Не можете найти продукт? Для получения полного списка продуктов, проверьте нашу
              <a href="/ru/documents">библиотеку</a>
            </p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
{% endblock %}